In [150]:
import pandas as pd
import numpy as np
import awswrangler as wr

from application.modeling.constants import MY_SESSION, S3_CLIENT
from application.modeling import interest_income, income_statement

pd.options.display.max_columns = None
pd.options.display.max_rows = 100
pd.options.display.float_format = "{:,.2f}".format

In [151]:
bucket_name = "zimnat-budgeting"
project_id = 1

In [152]:
loan_book_df = wr.s3.read_parquet(
    f"s3://{bucket_name}/project_{project_id}/intermediate/loan_book_df.parquet",
    boto3_session=MY_SESSION,
)
loan_book_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
Opening Balance,"2,800,000.00","3,290,884.89","3,939,949.50","4,776,015.80","5,605,722.35","6,525,866.29","7,619,098.27","8,907,215.83","10,431,721.00","12,149,649.10","14,209,051.27","16,505,707.34"
New Disbursements,"490,000.00","592,000.00","706,000.00","610,000.00","622,000.00","712,000.00","808,000.00","1,010,000.00","1,160,000.00","1,450,000.00","1,585,000.00","1,585,000.00"
Capital Repayments,884.89,"57,064.61","130,066.30","219,706.55","298,143.94","381,231.98","480,117.56","514,505.17","557,928.09","609,402.17","711,656.07","842,349.66"
Closing Balance,"3,290,884.89","3,939,949.50","4,776,015.80","5,605,722.35","6,525,866.29","7,619,098.27","8,907,215.83","10,431,721.00","12,149,649.10","14,209,051.27","16,505,707.34","18,933,057.01"