## **Imports**

In [39]:
import pandas as pd
import numpy as np
import importlib
from application.modeling import disbursements
from application.modeling import interest_income
from application.modeling import other_income
from application.modeling import helper
from application.modeling import depreciation
from application.modeling import expenses
from application.modeling import income_statement
from application.modeling import direct_cashflow
from application.modeling import balance_sheet
from application.modeling import statement_of_cashflows
from application.modeling import loan_book
from application.modeling import borrowings

pd.options.display.max_columns = None
pd.options.display.max_rows = 100
pd.options.display.float_format = "{:,.2f}".format

## **Inputs**

In [40]:
VALUATION_DATE = "2023-01"
MONTHS_TO_FORECAST = 12
IMTT = 0.01

In [41]:
parameters = pd.read_csv("./data_templates/parameters.csv", index_col=0)
parameters.columns = pd.period_range(VALUATION_DATE,periods=int(parameters.columns[-1]), freq="M")
parameters.head()

,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12
NEW_INVENTORY,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
INVENTORY_USED,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
NEW_INTERGROUP_RECEIVABLES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
NEW_OTHER_PAYABLES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
NEW_OTHER_RECEIVABLES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [42]:
details_of_existing_assets = pd.read_csv("./data_templates/details_of_existing_assets.csv")
details_of_existing_assets

,asset,depreciation,net_book_value,remaining_useful_life,cost,useful_life_when_purchased,method
0,Vehicles,0.10,10000,5,20000,10,straight_line
1,Buildings,0.03,50000,20,80000,25,straight_line
2,Computers,0.10,10000,5,20000,10,straight_line
3,Furniture,0.03,50000,20,80000,25,straight_line

In [43]:
details_of_new_assets = pd.read_csv("./data_templates/details_of_new_assets.csv")
details_of_new_assets

,asset,depreciation,net_book_value,remaining_useful_life,method,purchase_date,cost
0,Vehicles,0.20,10000,5,straight_line,01/06/2023,10000
1,Buildings,0.05,50000,20,straight_line,01/09/2023,50000

In [44]:
details_of_existing_long_term_borrowing = pd.read_csv("./data_templates/details_of_existing_long_term_borrowing.csv")
details_of_existing_long_term_borrowing

,Effective Date,Institution,Nominal Amount,Interest Rate,Tenure,Repayment Frequency,Frequency,Method
0,31/12/2022,ZIMNAT LIFE ASSURANCE,376455,0.06,60,Monthly (P+I),12,reducing_balance
1,06/05/2022,MASAWARA,5613,0.06,60,Monthly (P+I),12,reducing_balance
2,31/12/2022,Grandre,160000,0.06,36,Quaterly (I+Bullet P),4,straight_line
3,31/12/2022,MINERVA,15000,0.08,36,Bullet (P+I),0,straight_line
4,10/09/2022,ZAM-CARGO,364000,0.05,36,Annually(I) Principal rollover,12,straight_line
5,05/04/2023,ZIMNAT LIFE ASSURANCE,30000,0.14,24,Monthly (P+I),4,reducing_balance

In [45]:
details_of_new_long_term_borrowing = pd.read_csv("./data_templates/details_of_new_long_term_borrowing.csv")
details_of_new_long_term_borrowing

,Effective Date,Institution,Nominal Amount,Interest Rate,Tenure,Repayment Frequency,Frequency,Method
0,31/12/2023,ZIMNAT LIFE ASSURANCE,376455,0.06,60,Monthly (P+I),12,reducing_balance
1,06/05/2024,MASAWARA,5613,0.06,60,Monthly (P+I),12,reducing_balance

In [46]:
details_of_new_short_term_borrowing = pd.read_csv("./data_templates/details_of_new_short_term_borrowing.csv")
details_of_new_short_term_borrowing

,Effective Date,Institution,Nominal Amount,Interest Rate,Tenure,Repayment Frequency,Frequency,Method
0,31/12/2023,ZIMNAT LIFE ASSURANCE,376455,0.06,12,Monthly (P+I),12,reducing_balance
1,06/05/2024,MASAWARA,5613,0.06,12,Monthly (P+I),12,reducing_balance

In [47]:
details_of_existing_short_term_borrowing = pd.read_csv("./data_templates/details_of_existing_short_term_borrowing.csv")
details_of_existing_short_term_borrowing

,Effective Date,Institution,Nominal Amount,Interest Rate,Tenure,Repayment Frequency,Frequency,Method
0,24/04/2023,FCB,"120,383.84",0.18,3,Bullet (P+I),0,straight_line
1,02/03/2023,ZIMNAT LIFE ASSURANCE,"50,000.00",0.14,6,Monthly (P+I),12,reducing_balance
2,31/12/2022,Zimnat Life Assurance,"20,000.00",0.08,12,Annually(I) Principal rollover,1,straight_line
3,31/12/2022,ZLA-Cargo,"124,575.00",0.10,12,Annually(I) Principal rollover,1,straight_line
4,31/12/2022,ZIMNAT LION INSURANCE,"50,000.00",0.08,12,Bi-annual(I)Principal at maturity,2,straight_line
5,31/12/2022,ZIMNAT LION INSURANCE,"92,800.00",0.06,12,Bi-annual(I)Principal at maturity,2,straight_line
6,31/12/2022,Grandre,"100,000.00",0.12,12,Quaterly (I+Bullet P),4,straight_line
7,23/04/2023,FCB,"18,429.93",1.50,12,Bullet (P+I),0,straight_line
8,17/12/2022,NURTURE,"500,000.00",0.20,12,Quaterly (I+Bullet P),4,straight_line
9,26/01/2023,NMB,"450,000.00",0.18,12,Quaterly (I+Bullet P),4,straight_line
10,29/03/2023,BERAMASAMBA,"30,000.00",0.06,12,Bi-annual(I)Principal at maturity,2,straight_line
11,24/03/2023,DANDEMUTANDE,"25,000.00",0.06,12,Bullet (P+I),0,straight_line

In [48]:
static_inputs_income_statement = pd.read_csv("./data_templates/static_inputs_income_statement.csv", index_col=0)
static_inputs_income_statement

,Jan-23,Feb-23,Mar-23,Apr-23,May-23,Jun-23,Jul-23,Aug-23,Sep-23,Oct-23,Nov-23,Dec-23
CILL,13152,11585,13943,17555,13073,11021,13843,17989,19692,16873,15675,10161
Bonus Provision,14297,10995,17629,19467,11016,17869,16439,17892,16863,17916,18529,10878
Retrenchments,19268,14887,14859,16331,18571,18684,17208,15276,12062,10064,18006,12568
Staff Welfare,15463,12027,12695,19687,15258,15618,16736,10391,15892,13561,16184,13099
Donations,16278,18392,13104,17215,12454,18996,12731,18154,19762,15056,18110,13840
Legal Fees,0,0,0,0,0,0,0,0,0,0,0,0
Strategic Expenses,0,0,0,0,0,0,0,0,0,0,0,0
Rental Income,0,0,0,0,0,0,0,0,0,0,0,0
Interest Received,0,0,0,0,0,0,0,0,0,0,0,0
Dividends Received,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Inv Properties,0,0,0,0,0,0,0,0,0,0,0,0
Exchange Gains/(Losses),0,0,0,0,0,0,0,0,0,0,0,0
Admin Fees,0,0,0,0,0,0,0,0,0,0,0,0
Fair Value Adjustments,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Equities,0,0,0,0,0,0,0,0,0,0,0,0
2% Taxation,0,0,0,0,0,0,0,0,0,0,0,0
Third Party,0,0,0,0,0,0,0,0,0,0,0,0

In [49]:
variable_inputs_income_statement = pd.read_csv("./data_templates/variable_inputs_income_statement.csv", index_col=0)
variable_inputs_income_statement

,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,Jan-23
Training,6028,5502,9493,5870,9488,5206
Travel Costs,6484,5863,7790,5563,9191,6757
Entertainment,6678,8242,9636,6059,6722,8314
Marketing Costs,8157,7625,7729,6597,8060,7693
Group Marketing Costs,9891,8627,6363,6981,6663,6529
Rental Costs,7038,8302,7237,6306,9029,7675
Subscriptions,6282,5709,9744,9413,8748,9779
Insurance,5663,6998,8445,8743,6495,8304
Repairs And Maintenance,8763,6853,9659,6291,8581,8457
Utilities,6636,8696,7999,8152,5698,7160
Stationery,9097,9737,5854,8474,6707,7777
Admin Costs,6733,9931,8510,5202,8255,9218
IT Costs,9496,5766,9389,7327,7931,5197
Masawara Mgt Fee,6930,8582,5608,8272,6147,9282
Fines And Penalties,8397,7511,6794,5659,7811,6369
Auditors Remuneration,6986,5146,8219,7911,6734,6843
Directors Fees,5488,7976,6959,7385,7919,9736
Consultancy Fees,6802,9061,8369,5262,5623,6016
Telephones,8643,9976,7049,8723,9548,8108
Cellphones,9090,7056,8170,6682,7255,6154
Internet,9499,8191,6696,8991,9723,9682
Courier,6648,6445,9199,8923,5253,8183
Fuel,7557,5098,7200,7961,9973,9433
Motor Vehicle Maintenance Costs,8777,7869,8234,8791,5956,9067
Bank Charges,5160,9493,6300,9911,8987,6527
Zimnat Grp Shared Costs Recovery Exp,6218,9496,9735,8104,7735,9555

In [50]:
opening_balances = pd.read_csv("./data_templates/opening_balances.csv")
opening_balances

,TRADE_RECEIVABLES,TRADE_PAYABLES,LOAN_BOOK,CASH_ON_HAND,ISSUED_SHARE_CAPITAL,SHARE_PREMIUM,OTHER_COMPONENTS_OF_EQUITY,TREASURY_SHARES,RETAINED_EARNINGS,LONG_TERM_LOANS,SHORT_TERM_LOANS,INTERCOMPANY_LOANS,DEFERED_TAXATION,OTHER_RECEIVABLES,OTHER_PAYABLES,PROVISION_FOR_TAXATION,PROVISION_FOR_CREDIT_LOSS,INVESTMENT_IN_SUBSIDIARIES,INVESTMENT_IN_ASSOCIATES,INVESTMENT_PROPERTIES,EQUITY_INVESTMENTS,LONG_TERM_MONEY_MARKET_INVESTMENTS,LOANS_TO_RELATED_ENTITIES,TREASURY_SHARES.1,INTANGIBLE_ASSETS,INVENTORIES,OTHER_RECEIVABLES.1,INTERGROUP_RECEIVABLES,SHORT_TERM_MONEY_MARKET_INVESTMENTS
0,1000000,940000,2800000,331000,7000,110,0,0,200000,200000,50000,1000,0,0,0,0,10000,0,10000,0,20000,0,0,0,0,0,0,0,0

In [51]:
existing_loans = pd.read_csv("./data_templates/existing_loans.csv", index_col=0)
existing_loans

,disbursement_date,maturity_date,loan_amount,frequency,loan_term_months,remaining_term_months,interest_rate,repayment_amount,outstanding_balance,admin_fee_percentage,credit_insurance_fee_percentage
loan_number,,,,,,,,,,,
40b0775c,43536,46386,2400,12,94,48,0.00,31.39,"1,351.78",0.06,0.05
f5c36555,43873,46386,4600,12,83,48,0.01,92.11,"3,246.86",0.06,0.07
75656bce,44068,46386,2400,12,77,48,0.01,47.81,"1,739.68",0.08,0.05
a7222f00,44611,46021,3800,12,47,36,0.00,83.95,"2,935.72",0.09,0.08
ad00cbf5,43747,46751,5000,12,99,60,0.00,52.09,"3,066.98",0.07,0.05
321ec75b,44137,46751,1700,12,86,60,0.00,24.25,"1,258.85",0.08,0.10
6747e1d4,43606,46021,1600,12,80,36,0.01,31.43,911.36,0.05,0.10
5131c13c,44591,46386,1000,12,60,48,0.01,20.90,835.18,0.05,0.08
a7222f00_1,43520,46021,1200,12,83,36,0.01,18.50,595.83,0.06,0.05
1ae65220,43754,45291,3800,12,51,13,0.01,101.71,"1,211.71",0.05,0.07
7aaaa107,44238,46021,4000,12,59,36,0.00,76.35,"2,552.98",0.08,0.06
d3d56735,44028,45291,2800,12,42,13,0.00,67.15,870.89,0.10,0.09
c71f64fd,44104,46021,2400,12,64,36,0.01,52.18,"1,548.68",0.10,0.09
d3d56735_1,43860,45291,3400,12,48,13,0.01,81.71,"1,019.01",0.05,0.05
c5f5db38,44019,46021,3800,12,66,36,0.01,89.56,"2,502.70",0.06,0.06
99e2b327,44350,46021,4900,12,55,36,0.01,128.21,"3,608.75",0.07,0.05
e66b480c,43938,46751,4300,12,93,60,0.01,77.56,"3,286.75",0.08,0.06
14c22098,44189,46021,1500,12,61,36,0.01,30.47,963.24,0.09,0.05
b89a6836,44385,45291,1900,12,30,13,0.00,68.35,858.30,0.08,0.09

## **New Disbursements**

In [52]:
new_disbursements_df  = disbursements.calculate_new_disbursements(parameters=parameters)
new_disbursements_df

,b2b_disbursements,sme_disbursements,consumer_ssb_disbursements,consumer_pvt_disbursements,total
2023-01,"10,000.00","360,000.00","48,000.00","60,000.00","490,000.00"
2023-02,"10,000.00","432,000.00","60,000.00","75,000.00","592,000.00"
2023-03,"10,000.00","480,000.00","72,000.00","108,000.00","706,000.00"
2023-04,"10,000.00","360,000.00","80,000.00","120,000.00","610,000.00"
2023-05,"10,000.00","324,000.00","96,000.00","144,000.00","622,000.00"
2023-06,"10,000.00","378,000.00","96,000.00","162,000.00","712,000.00"
2023-07,"10,000.00","420,000.00","112,000.00","189,000.00","808,000.00"
2023-08,"10,000.00","595,000.00","120,000.00","202,500.00","1,010,000.00"
2023-09,"10,000.00","700,000.00","120,000.00","225,000.00","1,160,000.00"
2023-10,"10,000.00","990,000.00","120,000.00","225,000.00","1,450,000.00"
2023-11,"10,000.00","1,125,000.00","120,000.00","225,000.00","1,585,000.00"
2023-12,"10,000.00","1,125,000.00","120,000.00","225,000.00","1,585,000.00"

### **Calculate Repayment Amount For New Disbursements**

In [53]:
monthly_repayment_new_disbursements_df = interest_income.calculate_monthly_repayments_new_disbursements(new_disbursements_df=new_disbursements_df, parameters=parameters)
monthly_repayment_new_disbursements_df

,sme_monthly_repayment,b2b_monthly_repayment,consumer_ssb_monthly_repayment,consumer_pvt_monthly_repayment,total
2023-01,"81,451.18","1,627.45","8,006.34","10,007.93","101,092.91"
2023-02,"97,741.42","1,627.45","10,007.93","12,509.91","121,886.71"
2023-03,"108,601.58","1,627.45","12,009.51","18,014.27","140,252.81"
2023-04,"81,451.18","1,627.45","11,172.05","16,758.08","111,008.77"
2023-05,"73,306.06","1,627.45","13,406.46","20,109.69","108,449.68"
2023-06,"85,523.74","1,627.45","13,406.46","22,623.41","123,181.06"
2023-07,"95,026.38","1,627.45","15,640.87","26,393.97","138,688.68"
2023-08,"134,620.70","1,627.45","14,887.07","28,279.26","179,414.48"
2023-09,"158,377.30","1,627.45","14,887.07","31,421.40","206,313.22"
2023-10,"223,990.75","1,627.45","13,705.47","31,421.40","270,745.08"
2023-11,"254,534.94","1,627.45","13,705.47","31,421.40","301,289.27"
2023-12,"254,534.94","1,627.45","13,705.47","31,421.40","301,289.27"

### **Generate Loan Schedules For New Disbursements**

In [54]:
loan_schedules_for_all_new_disbursements = (
    interest_income.generate_loan_schedules_for_all_new_disbursements(
        new_disbursements_df=new_disbursements_df,
        parameters=parameters,
        monthly_repayment_new_disbursements_df=monthly_repayment_new_disbursements_df,
        months_to_forecast=MONTHS_TO_FORECAST,
    )
)
loan_schedules_for_all_new_disbursements.keys()

dict_keys(['sme_loan_schedules', 'b2b_loan_schedules', 'consumer_ssb_loan_schedules', 'consumer_pvt_loan_schedules'])

### **Capital Repayment New Disbursement**

In [55]:
capital_repayment_new_disbursements_df = interest_income.generate_capital_repayment_new_disbursements_df(loan_schedules_for_all_new_disbursements=loan_schedules_for_all_new_disbursements)
capital_repayment_new_disbursements_df

,sme_capital_repayments,b2b_capital_repayments,consumer_pvt_capital_repayments,consumer_ssb_capital_repayments,total
Feb-2023,"47,251.18",627.45,"4,607.93","3,686.34","56,172.91"
Mar-2023,"108,441.46","1,317.65","10,782.55","8,626.04","129,167.71"
Apr-2023,"181,744.98","2,076.87","20,047.25","14,931.90","218,801.00"
May-2023,"246,261.93","2,912.01","27,809.58","20,247.82","297,231.35"
Jun-2023,"312,182.88","3,830.67","37,462.14","26,836.59","380,312.28"
Jul-2023,"391,453.99","4,841.19","48,877.14","34,018.35","479,190.67"
Aug-2023,"402,317.32","5,952.76","62,660.06","42,640.87","513,571.01"
Sep-2023,"420,891.75","7,175.49","78,353.72","50,565.62","556,986.58"
Oct-2023,"444,152.19","8,520.50","96,576.95","59,203.59","608,453.22"
Nov-2023,"534,836.21","10,000.00","106,432.35","59,431.04","710,699.61"
Dec-2023,"659,999.53","10,000.00","114,672.75","57,677.38","842,349.66"
Jan-2024,"784,835.69","10,000.00","118,150.42","53,764.31","966,750.42"

### **Interest Income New Disbursements**

In [56]:
interest_income_new_disbursements_df = interest_income.generate_interest_income_new_disbursements_df(
    loan_schedules_for_all_new_disbursements=loan_schedules_for_all_new_disbursements
)

interest_income_new_disbursements_df

,sme_interest_income,b2b_interest_income,consumer_pvt_interest_income,consumer_ssb_interest_income,total
Feb-2023,"34,200.00","1,000.00","5,400.00","4,320.00","44,920.00"
Mar-2023,"70,751.14","1,937.25","11,735.29","9,388.23","93,811.91"
Apr-2023,"106,049.20","2,805.49","20,484.86","15,091.89","144,431.43"
May-2023,"122,983.43","3,597.80","29,480.60","20,948.01","177,009.85"
Jun-2023,"130,368.54","4,306.60","39,937.74","27,765.71","202,378.60"
Jul-2023,"136,621.17","4,923.53","51,146.15","33,990.42","226,681.27"
Aug-2023,"139,333.04","5,439.41","63,757.21","41,008.77","249,538.43"
Sep-2023,"157,637.89","5,844.14","76,342.80","47,971.09","287,795.92"
Oct-2023,"184,153.18","6,126.59","89,540.97","54,220.18","334,040.92"
Nov-2023,"236,008.72","6,274.54","101,099.04","59,691.86","403,074.16"
Dec-2023,"292,074.28","6,274.54","111,770.13","65,143.07","475,262.01"
Jan-2024,"336,249.32","6,274.54","121,699.58","70,752.10","534,975.55"

### **Calculate Admin Fee On New Disbursements**

In [57]:
admin_fee_for_all_new_disbursements_df = other_income.calculate_admin_fee_for_all_new_disbursements(
    new_disbursements_df=new_disbursements_df,
    parameters=parameters,
    months_to_forecast=MONTHS_TO_FORECAST,
)

admin_fee_for_all_new_disbursements_df

,sme_admin_fee,b2b_admin_fee,consumer_ssb_admin_fee,consumer_pvt_admin_fee,total
Jan-2023,"3,000.00",10.00,184.62,272.73,"3,467.34"
Feb-2023,"6,600.00",20.00,415.38,613.64,"7,649.02"
Mar-2023,"10,600.00",30.00,692.31,"1,104.55","12,426.85"
Apr-2023,"13,600.00",40.00,"1,000.00","1,650.00","16,290.00"
May-2023,"16,300.00",50.00,"1,369.23","2,304.55","20,023.78"
Jun-2023,"19,450.00",60.00,"1,738.46","3,040.91","24,289.37"
Jul-2023,"19,950.00",70.00,"2,169.23","3,900.00","26,089.23"
Aug-2023,"21,308.33",80.00,"2,630.77","4,820.45","28,839.56"
Sep-2023,"23,141.67",90.00,"3,092.31","5,843.18","32,167.16"
Oct-2023,"28,391.67",100.00,"3,553.85","6,865.91","38,911.42"
Nov-2023,"35,066.67",100.00,"4,015.38","7,888.64","47,070.69"
Dec-2023,"41,291.67",100.00,"4,476.92","8,638.64","54,507.23"

### **Calculate Credit Life Insurance On New Disbursement**

In [58]:
credit_insurance_fee_for_all_new_disbursements = other_income.calculate_credit_insurance_fee_for_all_new_disbursements(
        new_disbursements_df=new_disbursements_df,
        parameters=parameters,
        months_to_forecast=MONTHS_TO_FORECAST,
    )

credit_insurance_fee_for_all_new_disbursements

,sme_credit_insurance_fee,b2b_credit_insurance_fee,consumer_ssb_credit_insurance_fee,consumer_pvt_credit_insurance_fee,total
Jan-2023,"1,200.00",0.00,73.85,109.09,"1,382.94"
Feb-2023,"2,640.00",0.00,166.15,245.45,"3,051.61"
Mar-2023,"4,240.00",0.00,276.92,441.82,"4,958.74"
Apr-2023,"5,440.00",0.00,400.00,660.00,"6,500.00"
May-2023,"6,520.00",0.00,547.69,921.82,"7,989.51"
Jun-2023,"7,780.00",0.00,695.38,"1,216.36","9,691.75"
Jul-2023,"7,980.00",0.00,867.69,"1,560.00","10,407.69"
Aug-2023,"8,523.33",0.00,"1,052.31","1,928.18","11,503.82"
Sep-2023,"9,256.67",0.00,"1,236.92","2,337.27","12,830.86"
Oct-2023,"11,356.67",0.00,"1,421.54","2,746.36","15,524.57"
Nov-2023,"14,026.67",0.00,"1,606.15","3,155.45","18,788.28"
Dec-2023,"16,516.67",0.00,"1,790.77","3,455.45","21,762.89"

### **Calculate For Credit Loss For New Disbursements**

In [59]:
provision_for_credit_loss_for_all_new_disbursements = (
    expenses.calculate_provision_for_credit_loss_for_all_new_disbursements(
        new_disbursements_df=new_disbursements_df, parameters=parameters
    )
)
provision_for_credit_loss_for_all_new_disbursements

,sme_provision_for_credit_loss,b2b_provision_for_credit_loss,consumer_ssb_provision_for_credit_loss,consumer_pvt_provision_for_credit_loss,total
Jan-2023,"7,200.00",100.00,960.00,"1,800.00","10,060.00"
Feb-2023,"8,640.00",100.00,"1,200.00","2,250.00","12,190.00"
Mar-2023,"9,600.00",100.00,"1,440.00","3,240.00","14,380.00"
Apr-2023,"7,200.00",100.00,"1,600.00","3,600.00","12,500.00"
May-2023,"6,480.00",100.00,"1,920.00","4,320.00","12,820.00"
Jun-2023,"7,560.00",100.00,"1,920.00","4,860.00","14,440.00"
Jul-2023,"8,400.00",100.00,"2,240.00","5,670.00","16,410.00"
Aug-2023,"11,900.00",100.00,"2,400.00","6,075.00","20,475.00"
Sep-2023,"14,000.00",100.00,"2,400.00","6,750.00","23,250.00"
Oct-2023,"19,800.00",100.00,"2,400.00","6,750.00","29,050.00"
Nov-2023,"22,500.00",100.00,"2,400.00","6,750.00","31,750.00"
Dec-2023,"22,500.00",100.00,"2,400.00","6,750.00","31,750.00"

## **Existing Loans**

### **Generate Loan Schedules For Existing Loans**

In [60]:
existing_loans_schedules = interest_income.generate_loan_schedules_existing_loans(
    outstanding_balance=existing_loans["outstanding_balance"],
    interest_rate_monthly=existing_loans["interest_rate"],
    repayment_amount_monthly=existing_loans["repayment_amount"],
    valuation_date=VALUATION_DATE, 
    months_to_project=MONTHS_TO_FORECAST,
)
existing_loans_schedules.keys()

dict_keys(['interest', 'capital_repayment', 'outstanding_at_start'])

### **Capital Repayment for Existing Loans**

In [61]:
capital_repayment_existing_loans = existing_loans_schedules['capital_repayment'].sum()
capital_repayment_existing_loans

Jan-2023   884.89
Feb-2023   891.70
Mar-2023   898.59
Apr-2023   905.55
May-2023   912.59
Jun-2023   919.70
Jul-2023   926.89
Aug-2023   934.16
Sep-2023   941.52
Oct-2023   948.95
Nov-2023   956.47
Dec-2023     0.00
dtype: float64

### **Intererest Income For Existing Loans**

In [62]:
interest_income_existing_loans = existing_loans_schedules['interest'].sum()
interest_income_existing_loans

Jan-2023   290.78
Feb-2023   283.97
Mar-2023   277.09
Apr-2023   270.13
May-2023   263.09
Jun-2023   255.98
Jul-2023   248.78
Aug-2023   241.51
Sep-2023   234.16
Oct-2023   226.73
Nov-2023   219.21
Dec-2023     0.00
dtype: float64

### **Calculate Other Income Existing Loans**

In [63]:
other_income_existing_loans_df = other_income.calculate_other_income_existing_loans(existing_loans=existing_loans, valuation_date=VALUATION_DATE, months_to_forecast=MONTHS_TO_FORECAST)
other_income_existing_loans_df

          credit_insurance_fee_existing_loans  admin_fee_existing_loans  total
Jan-2023                                61.55                     66.22 127.78
Feb-2023                                61.55                     66.22 127.78
Mar-2023                                61.55                     66.22 127.78
Apr-2023                                61.55                     66.22 127.78
May-2023                                61.55                     66.22 127.78
Jun-2023                                61.55                     66.22 127.78
Jul-2023                                61.55                     66.22 127.78
Aug-2023                                61.55                     66.22 127.78
Sep-2023                                61.55                     66.22 127.78
Oct-2023                                61.55                     66.22 127.78
Nov-2023                                61.55                     66.22 127.78
Dec-2023                                61.55                     66.22 127.78

## **Interest Income**

In [64]:
total_interest_income = interest_income.aggregate_new_and_existing_loans_interest_income(
    interest_income_new_disbursements_df=interest_income_new_disbursements_df,
    interest_income_existing_loans= interest_income_existing_loans,
    valuation_date= VALUATION_DATE, 
    months_to_forecast= MONTHS_TO_FORECAST
)
total_interest_income

Jan-2023       290.78
Feb-2023    45,203.97
Mar-2023    94,088.99
Apr-2023   144,701.56
May-2023   177,272.94
Jun-2023   202,634.57
Jul-2023   226,930.05
Aug-2023   249,779.94
Sep-2023   288,030.08
Oct-2023   334,267.64
Nov-2023   403,293.37
Dec-2023   475,262.01
dtype: float64

## **Other Income**

In [65]:
other_income_df = other_income.aggregate_other_income(
    admin_fee_for_all_new_disbursements_df=admin_fee_for_all_new_disbursements_df,
    admin_fee_existing_loans=other_income_existing_loans_df['admin_fee_existing_loans'],
    credit_insurance_fee_existing_loans=other_income_existing_loans_df['credit_insurance_fee_existing_loans'],
    credit_insurance_fee_for_all_new_disbursements_df=credit_insurance_fee_for_all_new_disbursements, 
    valuation_date=VALUATION_DATE, 
    months_to_forecast=MONTHS_TO_FORECAST
)
other_income_df

          admin_fee  credit_insurance_fee      total
Jan-2023   7,000.91              2,827.43   9,828.34
Feb-2023  15,364.26              6,164.77  21,529.03
Mar-2023  24,919.93              9,979.04  34,898.96
Apr-2023  32,646.22             13,061.55  45,707.78
May-2023  40,113.77             16,040.57  56,154.35
Jun-2023  48,644.96             19,445.05  68,090.01
Jul-2023  52,244.68             20,876.94  73,121.62
Aug-2023  57,745.34             23,069.20  80,814.54
Sep-2023  64,400.53             25,723.28  90,123.81
Oct-2023  77,889.07             31,110.69 108,999.76
Nov-2023  94,207.60             37,638.10 131,845.70
Dec-2023 109,080.67             43,587.33 152,668.01

## **Depreciation**

In [66]:
depreciations_and_nbvs = depreciation.calculate_depreciations_and_nbvs(
    details_of_existing_assets=details_of_existing_assets,
    details_of_new_assets=details_of_new_assets,
    valuation_date=VALUATION_DATE,
    months_to_forecast=MONTHS_TO_FORECAST
)
depreciations_and_nbvs.keys()

dict_keys(['nbvs', 'dpns'])

In [67]:
depreciations_and_nbvs['nbvs']

          Buildings  Computers  Furniture  Vehicles      total
Jan-2023  47,500.00   8,000.00  47,500.00  8,000.00 111,000.00
Feb-2023  45,000.00   6,000.00  45,000.00  6,000.00 102,000.00
Mar-2023  42,500.00   4,000.00  42,500.00  4,000.00  93,000.00
Apr-2023  40,000.00   2,000.00  40,000.00  2,000.00  84,000.00
May-2023  37,500.00       0.00  37,500.00      0.00  75,000.00
Jun-2023  35,000.00       0.00  35,000.00  8,000.00  78,000.00
Jul-2023  32,500.00       0.00  32,500.00  6,000.00  71,000.00
Aug-2023  30,000.00       0.00  30,000.00  4,000.00  64,000.00
Sep-2023  75,000.00       0.00  27,500.00  2,000.00 104,500.00
Oct-2023  70,000.00       0.00  25,000.00      0.00  95,000.00
Nov-2023  65,000.00       0.00  22,500.00      0.00  87,500.00
Dec-2023  60,000.00       0.00  20,000.00      0.00  80,000.00

In [68]:
depreciations_and_nbvs['dpns']

          Buildings  Computers  Furniture  Vehicles    total
Jan-2023   2,500.00   2,000.00   2,500.00  2,000.00 9,000.00
Feb-2023   2,500.00   2,000.00   2,500.00  2,000.00 9,000.00
Mar-2023   2,500.00   2,000.00   2,500.00  2,000.00 9,000.00
Apr-2023   2,500.00   2,000.00   2,500.00  2,000.00 9,000.00
May-2023   2,500.00   2,000.00   2,500.00  2,000.00 9,000.00
Jun-2023   2,500.00       0.00   2,500.00  2,000.00 7,000.00
Jul-2023   2,500.00       0.00   2,500.00  2,000.00 7,000.00
Aug-2023   2,500.00       0.00   2,500.00  2,000.00 7,000.00
Sep-2023   5,000.00       0.00   2,500.00  2,000.00 9,500.00
Oct-2023   5,000.00       0.00   2,500.00  2,000.00 9,500.00
Nov-2023   5,000.00       0.00   2,500.00      0.00 7,500.00
Dec-2023   5,000.00       0.00   2,500.00      0.00 7,500.00

## **Salaries**

In [69]:
salaries_and_pension_and_statutory_contributions_df  = expenses.calculate_salaries_and_pension_and_statutory_contributions(
    new_disbursements_df=new_disbursements_df,
    parameters=parameters,
    months_to_forecast=MONTHS_TO_FORECAST,
    valuation_date=VALUATION_DATE,
)
salaries_and_pension_and_statutory_contributions_df

,agent_commission,credit_officer_salaries,credit_officer_commission,other_staff_salaries,total,pensions_and_statutory_contributions
Jan-2023,"5,400.00",600.00,"3,600.00","17,000.00","26,600.00","3,021.76"
Feb-2023,"6,750.00",600.00,"4,320.00","17,000.00","28,670.00","3,256.91"
Mar-2023,"9,000.00",600.00,"4,800.00","17,000.00","31,400.00","3,567.04"
Apr-2023,"10,000.00",600.00,"3,600.00","17,000.00","31,200.00","3,544.32"
May-2023,"12,000.00",900.00,"3,240.00","17,000.00","33,140.00","3,764.70"
Jun-2023,"12,900.00",900.00,"3,780.00","17,000.00","34,580.00","3,928.29"
Jul-2023,"15,050.00","1,200.00","4,200.00","17,000.00","37,450.00","4,254.32"
Aug-2023,"16,125.00","1,400.00","5,950.00","17,000.00","40,475.00","4,597.96"
Sep-2023,"17,250.00","1,400.00","7,000.00","17,000.00","42,650.00","4,845.04"
Oct-2023,"17,250.00","1,800.00","9,900.00","17,000.00","45,950.00","5,219.92"
Nov-2023,"17,250.00","1,800.00","11,250.00","17,000.00","47,300.00","5,373.28"
Dec-2023,"17,250.00","1,800.00","11,250.00","17,000.00","47,300.00","5,373.28"

## **Provisions**

In [70]:
provision_for_credit_loss_for_all_new_disbursements = (
    expenses.calculate_provision_for_credit_loss_for_all_new_disbursements(
        new_disbursements_df=new_disbursements_df, parameters=parameters
    )
)
provision_for_credit_loss_for_all_new_disbursements

,sme_provision_for_credit_loss,b2b_provision_for_credit_loss,consumer_ssb_provision_for_credit_loss,consumer_pvt_provision_for_credit_loss,total
Jan-2023,"7,200.00",100.00,960.00,"1,800.00","10,060.00"
Feb-2023,"8,640.00",100.00,"1,200.00","2,250.00","12,190.00"
Mar-2023,"9,600.00",100.00,"1,440.00","3,240.00","14,380.00"
Apr-2023,"7,200.00",100.00,"1,600.00","3,600.00","12,500.00"
May-2023,"6,480.00",100.00,"1,920.00","4,320.00","12,820.00"
Jun-2023,"7,560.00",100.00,"1,920.00","4,860.00","14,440.00"
Jul-2023,"8,400.00",100.00,"2,240.00","5,670.00","16,410.00"
Aug-2023,"11,900.00",100.00,"2,400.00","6,075.00","20,475.00"
Sep-2023,"14,000.00",100.00,"2,400.00","6,750.00","23,250.00"
Oct-2023,"19,800.00",100.00,"2,400.00","6,750.00","29,050.00"
Nov-2023,"22,500.00",100.00,"2,400.00","6,750.00","31,750.00"
Dec-2023,"22,500.00",100.00,"2,400.00","6,750.00","31,750.00"

## **Calculating Finance Costs**

In [106]:
def to_snake_case(columns:pd.Index):
    return columns.str.strip().str.lower().str.replace(" ","_")

In [107]:
details_of_existing_long_term_borrowing.columns = to_snake_case(details_of_existing_long_term_borrowing.columns)
details_of_existing_short_term_borrowing.columns = to_snake_case(details_of_existing_short_term_borrowing.columns)
details_of_new_short_term_borrowing.columns = to_snake_case(details_of_new_short_term_borrowing.columns)
details_of_new_long_term_borrowing.columns = to_snake_case(details_of_new_long_term_borrowing.columns)

In [108]:
details_of_long_term_borrowings = pd.concat(
    [details_of_existing_long_term_borrowing, details_of_new_long_term_borrowing]
).reset_index(drop=True)
details_of_long_term_borrowings

,effective_date,institution,nominal_amount,interest_rate,tenure,repayment_frequency,frequency,method
0,31/12/2022,ZIMNAT LIFE ASSURANCE,376455,0.06,60,Monthly (P+I),12,reducing_balance
1,06/05/2022,MASAWARA,5613,0.06,60,Monthly (P+I),12,reducing_balance
2,31/12/2022,Grandre,160000,0.06,36,Quaterly (I+Bullet P),4,straight_line
3,31/12/2022,MINERVA,15000,0.08,36,Bullet (P+I),0,straight_line
4,10/09/2022,ZAM-CARGO,364000,0.05,36,Annually(I) Principal rollover,12,straight_line
5,05/04/2023,ZIMNAT LIFE ASSURANCE,30000,0.14,24,Monthly (P+I),4,reducing_balance
6,31/12/2023,ZIMNAT LIFE ASSURANCE,376455,0.06,60,Monthly (P+I),12,reducing_balance
7,06/05/2024,MASAWARA,5613,0.06,60,Monthly (P+I),12,reducing_balance

In [109]:
details_of_existing_short_term_borrowing

,effective_date,institution,nominal_amount,interest_rate,tenure,repayment_frequency,frequency,method
0,24/04/2023,FCB,"120,383.84",0.18,3,Bullet (P+I),0,straight_line
1,02/03/2023,ZIMNAT LIFE ASSURANCE,"50,000.00",0.14,6,Monthly (P+I),12,reducing_balance
2,31/12/2022,Zimnat Life Assurance,"20,000.00",0.08,12,Annually(I) Principal rollover,1,straight_line
3,31/12/2022,ZLA-Cargo,"124,575.00",0.10,12,Annually(I) Principal rollover,1,straight_line
4,31/12/2022,ZIMNAT LION INSURANCE,"50,000.00",0.08,12,Bi-annual(I)Principal at maturity,2,straight_line
5,31/12/2022,ZIMNAT LION INSURANCE,"92,800.00",0.06,12,Bi-annual(I)Principal at maturity,2,straight_line
6,31/12/2022,Grandre,"100,000.00",0.12,12,Quaterly (I+Bullet P),4,straight_line
7,23/04/2023,FCB,"18,429.93",1.50,12,Bullet (P+I),0,straight_line
8,17/12/2022,NURTURE,"500,000.00",0.20,12,Quaterly (I+Bullet P),4,straight_line
9,26/01/2023,NMB,"450,000.00",0.18,12,Quaterly (I+Bullet P),4,straight_line
10,29/03/2023,BERAMASAMBA,"30,000.00",0.06,12,Bi-annual(I)Principal at maturity,2,straight_line
11,24/03/2023,DANDEMUTANDE,"25,000.00",0.06,12,Bullet (P+I),0,straight_line

In [110]:
details_of_new_short_term_borrowing

,effective_date,institution,nominal_amount,interest_rate,tenure,repayment_frequency,frequency,method
0,31/12/2023,ZIMNAT LIFE ASSURANCE,376455,0.06,12,Monthly (P+I),12,reducing_balance
1,06/05/2024,MASAWARA,5613,0.06,12,Monthly (P+I),12,reducing_balance

In [111]:
details_of_short_term_borrowings = pd.concat(
    [details_of_existing_short_term_borrowing, details_of_new_short_term_borrowing]
).reset_index(drop=True)
details_of_short_term_borrowings

,effective_date,institution,nominal_amount,interest_rate,tenure,repayment_frequency,frequency,method
0,24/04/2023,FCB,"120,383.84",0.18,3,Bullet (P+I),0,straight_line
1,02/03/2023,ZIMNAT LIFE ASSURANCE,"50,000.00",0.14,6,Monthly (P+I),12,reducing_balance
2,31/12/2022,Zimnat Life Assurance,"20,000.00",0.08,12,Annually(I) Principal rollover,1,straight_line
3,31/12/2022,ZLA-Cargo,"124,575.00",0.10,12,Annually(I) Principal rollover,1,straight_line
4,31/12/2022,ZIMNAT LION INSURANCE,"50,000.00",0.08,12,Bi-annual(I)Principal at maturity,2,straight_line
5,31/12/2022,ZIMNAT LION INSURANCE,"92,800.00",0.06,12,Bi-annual(I)Principal at maturity,2,straight_line
6,31/12/2022,Grandre,"100,000.00",0.12,12,Quaterly (I+Bullet P),4,straight_line
7,23/04/2023,FCB,"18,429.93",1.50,12,Bullet (P+I),0,straight_line
8,17/12/2022,NURTURE,"500,000.00",0.20,12,Quaterly (I+Bullet P),4,straight_line
9,26/01/2023,NMB,"450,000.00",0.18,12,Quaterly (I+Bullet P),4,straight_line
10,29/03/2023,BERAMASAMBA,"30,000.00",0.06,12,Bi-annual(I)Principal at maturity,2,straight_line
11,24/03/2023,DANDEMUTANDE,"25,000.00",0.06,12,Bullet (P+I),0,straight_line
12,31/12/2023,ZIMNAT LIFE ASSURANCE,"376,455.00",0.06,12,Monthly (P+I),12,reducing_balance
13,06/05/2024,MASAWARA,"5,613.00",0.06,12,Monthly (P+I),12,reducing_balance

In [115]:
long_term_borrowings_schedules = borrowings.calculate_borrowings_schedules(details_of_long_term_borrowings)
long_term_borrowings_schedules.keys()

dict_keys(['interest_payments', 'capital_repayments'])

In [117]:
short_term_borrowings_schedules = borrowings.calculate_borrowings_schedules(details_of_short_term_borrowings)
short_term_borrowings_schedules.keys()

dict_keys(['interest_payments', 'capital_repayments'])

In [118]:
capital_repayment_borrowings_df = pd.concat(
    [
        long_term_borrowings_schedules["capital_repayments"],
        short_term_borrowings_schedules["capital_repayments"],
    ],
).fillna(0)

capital_repayment_borrowings_df.loc['total'] = capital_repayment_borrowings_df.sum()

In [119]:
finance_costs_df = pd.concat(
    [
        long_term_borrowings_schedules["interest_payments"],
        short_term_borrowings_schedules["interest_payments"],
    ],
).fillna(0)


finance_costs_df.loc["total"] = finance_costs_df.sum()
finance_costs_df

,May-2022,Jun-2022,Jul-2022,Aug-2022,Sep-2022,Oct-2022,Nov-2022,Dec-2022,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023,Jan-2024,Feb-2024,Mar-2024,Apr-2024,May-2024,Jun-2024,Jul-2024,Aug-2024,Sep-2024,Oct-2024,Nov-2024,Dec-2024,Jan-2025,Feb-2025,Mar-2025,Apr-2025,May-2025,Jun-2025,Jul-2025,Aug-2025,Sep-2025,Oct-2025,Nov-2025,Dec-2025,Jan-2026,Feb-2026,Mar-2026,Apr-2026,May-2026,Jun-2026,Jul-2026,Aug-2026,Sep-2026,Oct-2026,Nov-2026,Dec-2026,Jan-2027,Feb-2027,Mar-2027,Apr-2027,May-2027,Jun-2027,Jul-2027,Aug-2027,Sep-2027,Oct-2027,Nov-2027,Dec-2027,Jan-2028,Feb-2028,Mar-2028,Apr-2028,May-2028,Jun-2028,Jul-2028,Aug-2028,Sep-2028,Oct-2028,Nov-2028,Dec-2028,Jan-2029,Feb-2029,Mar-2029,Apr-2029
Grandre,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"2,400.00",0.00,0.00,"2,400.00",0.00,0.00,"2,400.00",0.00,0.00,"2,400.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
MINERVA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZAM-CARGO,0.00,0.00,0.00,0.00,"1,516.67","1,516.67","1,516.67","1,516.67","1,516.67","1,516.67","1,516.67","1,516.67","1,516.67","1,516.67","1,516.67","1,516.67",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZIMNAT LIFE ASSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"1,832.41","1,806.04","1,779.54","1,752.91","1,726.16","1,699.27","1,672.25","1,645.10","1,617.82","1,590.40","1,562.85","1,535.17","1,507.35","1,479.40","1,451.31","1,423.08","1,394.72","1,366.22","1,337.58","1,308.80","1,279.88","1,250.82","1,221.61","1,192.27","1,162.78","1,133.15","1,103.38","1,073.46","1,043.39","1,013.18",982.82,952.32,921.66,890.86,859.90,828.80,797.54,766.13,734.57,702.86,670.99,638.96,606.78,574.45,541.95,509.30,476.49,443.52,410.39,377.09,343.64,310.02,276.24,242.29,208.18,173.90,139.46,104.85,70.07,35.12,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
MASAWARA,27.32,26.93,26.53,26.14,25.74,25.34,24.93,24.53,24.12,23.71,23.30,22.89,22.47,22.06,21.64,21.22,20.80,20.37,19.94,19.51,19.08,18.65,18.21,17.78,17.34,16.90,16.45,16.01,15.56,15.11,14.65,14.20,13.74,13.28,12.82,12.36,11.89,11.42,10.95,10.48,10.00,9.53,9.05,8.57,8.08,7.59,7.10,6.61,6.12,5.62,5.12,4.62,4.12,3.61,3.10,2.59,2.08,1.56,1.04,0.52,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZIMNAT LIFE ASSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,998.98,0.00,0.00,887.95,0.00,0.00,773.22,0.00,0.00,654.67,0.00,0.00,532.17,0.00,0.00,405.59,0.00,0.00,274.80,0.00,0.00,139.65,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZIMNAT LIFE ASSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"1,832.41","1,806.04","1,779.54","1,752.91","1,726.16","1,699.27","1,672.25","1,645.10","1,617.82","1,590.40","1,562.85","1,535.17","1,507.35","1,479.40","1,451.31","1,423.08","1,394.72","1,366.22","1,337.58","1,308.80","1,279.88","1,250.82","1,221.61","1,192.27","1,162.78","1,133.15","1,103.38","1,073.46","1,043.39","1,013.18",982.82,952.32,921.66,890.86,859.90,828.80,797.54,766.13,734.57,702.86,670.99,638.96,606.78,574.45,541.95,509.30,476.49,443.52,410.39,377.09,343.64,310.02,276.24,242.29,208.18,173.90,139.46,104.85,70.07,35.12,0.00,0.00,0.00,0.00
MASAWARA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,27.32,26.93,26.53,26.14,25.74,25.34,24.93,24.53,24.12,23.71,23.30,22.89,22.47,22.06,21.64,21.22,20.80,20.37,19.94,19.51,19.08,18.65,18.21,17.78,17.34,16.90,16.45,16.01,15.56,15.11,14.65,14.20,13.74,13.28,12.82,12.36,11.89,11.42,10.95,10.48,10.00,9.53,9.05,8.57,8.08,7.59,7.10,6.61,6.12,5.62,5.12,4.62,4.12,3.61,3.10,2.59,2.08,1.56,1.04,0.52
FCB,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Zimnat Life Assurance,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"1,600.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZLA-Cargo,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"12,457.50",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZIMNAT LION INSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"2,000.00",0.00,0.00,0.00,0.00,0.00,"2,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZIMNAT LION INSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"2,784.00",0.00,0.00,0.00,0.00,0.00,"2,784.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Grandre,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"3,000.00",0.00,0.00,"3,000.00",0.00,0.00,"3,000.00",0.00,0.00,"3,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
FCB,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
NURTURE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"25,000.00",0.00,0.00,"25,000.00",0.00,0.00,"25,000.00",0.00,0.00,"25,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
NMB,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"20,250.00",0.00,0.00,"20,250.00",0.00,0.00,"20,250.00",0.00,0.00,"20,250.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
BERAMASAMBA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,900.00,0.00,0.00,0.00,0.00,0.00,900.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
DANDEMUTANDE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZIMNAT LIFE ASSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,548.94,459.93,369.94,278.97,186.99,94.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZIMNAT LIFE ASSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"1,832.41","1,683.76","1,534.38","1,384.27","1,233.43","1,081.86",929.55,776.50,622.71,468.16,312.86,156.81,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
MASAWARA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,27.32,25.11,22.88,20.64,18.39,16.13,13.86,11.58,9.28,6.98,4.66,2.34,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
total,27.32,26.93,26.53,26.14,"1,542.40","1,542.00","1,541.60","26,541.20","3,373.20","3,346.42","54,518.45","3,752.40","3,635.24","59,949.94","3,397.55","3,276.99","54,076.56","1,610.77","1,582.79","46,819.40","5,191.26","4,987.85","6,338.11","4,578.04","4,426.29","4,748.45","4,005.24","3,793.18","3,985.67","3,365.95","3,150.78","3,209.35","2,717.28","2,656.53","2,735.12","2,534.12","2,472.48","2,412.88","2,352.99","2,292.81","2,232.34","2,171.57","2,110.51","2,049.15","1,987.49","1,925.53","1,863.27","1,800.70","1,737.84","1,674.66","1,611.18","1,547.39","1,483.29","1,418.88","1,354.15","1,289.11","1,223.75","1,158.07","1,092.08","1,025.76",959.12,892.68,825.92,758.83,691.42,623.68,555.60,487.20,418.47,384.69,350.74,316.63,282.36,247.92,213.31,178.53,143.58,108.46,73.17,37.71,2.08,1.56,1.04,0.52

## **Income Statement**

In [120]:
income_statement_index = pd.read_csv("./data_templates/income_statement_index.csv")
income_statement_index

                                INCOME_STATEMENT
0                                Interest Income
1                                   Other Income
2                                  Total Revenue
3                            MANAGEMENT EXPENSES
4                                    STAFF COSTS
5                                       Salaries
6             Pensions & Statutory Contributions
7                                       Training
8                                Bonus Provision
9                                  Retrenchments
10                                 Staff Welfare
11                                          CILL
12                             Total Staff Costs
13                        TRAVEL & ENTERTAINMENT
14                                  Travel Costs
15                                 Entertainment
16                  Total Travel & Entertainment
17                MARKETING AND PUBLIC RELATIONS
18                               Marketing Costs
19                         Group Marketing Costs
20                                     Donations
21          Total Marketing And Public Relations
22                                  OFFICE COSTS
23                                  Rental Costs
24                                 Subscriptions
25                                     Insurance
26                       Repairs And Maintenance
27                                     Utilities
28                                    Stationery
29                                   Admin Costs
30                                      IT Costs
31                              Masawara Mgt Fee
32                           Fines And Penalties
33                            Total Office Costs
34                             PROFESSIONAL FEES
35                         Auditors Remuneration
36                                    Legal Fees
37                            Strategic Expenses
38                                Directors Fees
39                              Consultancy Fees
40                       Total Professional Fees
41                           COMMUNICATION COSTS
42                                    Telephones
43                                    Cellphones
44                                      Internet
45                                       Courier
46                     Total Communication Costs
47                           MOTOR VEHICLE COSTS
48                                          Fuel
49               Motor Vehicle Maintenance Costs
50                     Total Motor Vehicle Costs
51                                   OTHER COSTS
52                                  Depreciation
53                                  Bank Charges
54          Zimnat Grp Shared Costs Recovery Exp
55                                    Provisions
56                          Business Acquisition
57                             Total Other Costs
58                                TOTAL EXPENSES
59                                        EBIDTA
60                             INVESTMENT INCOME
61                                 Rental Income
62                             Interest Received
63                            Dividends Received
64                        Fair Value Adjustments
65  Realised Gains On Disposal Of Inv Properties
66        Realised Gains On Disposal Of Equities
67                       Exchange Gains/(Losses)
68                                    Admin Fees
69                       Total Investment Income
70                                 FINANCE COSTS
71                                 Finance Costs
72                                   Third Party
73                           Total Finance Costs
74                    PROFIT / (LOSS) BEFORE TAX
75                                      Taxation
76                                   2% Taxation
77                      PROFIT/(LOSS) FOR PERIOD

In [121]:
income_statement_df = income_statement.generate_income_statement_template(
    income_statement_index=income_statement_index,
    valuation_date=VALUATION_DATE,
    months_to_forecast=MONTHS_TO_FORECAST,
)
income_statement_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
INCOME_STATEMENT,,,,,,,,,,,,
Interest Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Revenue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MANAGEMENT EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAFF COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salaries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pensions & Statutory Contributions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Training,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bonus Provision,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Retrenchments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Staff Welfare,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CILL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Staff Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRAVEL & ENTERTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Travel & Entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MARKETING AND PUBLIC RELATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marketing Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Group Marketing Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Donations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Marketing And Public Relations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OFFICE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Subscriptions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Insurance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Repairs And Maintenance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stationery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Admin Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IT Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Masawara Mgt Fee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fines And Penalties,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Office Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFESSIONAL FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auditors Remuneration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Legal Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strategic Expenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Directors Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Consultancy Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Professional Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COMMUNICATION COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telephones,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cellphones,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Internet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Courier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Communication Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MOTOR VEHICLE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Motor Vehicle Maintenance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Motor Vehicle Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OTHER COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bank Charges,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimnat Grp Shared Costs Recovery Exp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Provisions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Business Acquisition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Other Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EBIDTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INVESTMENT INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Received,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dividends Received,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fair Value Adjustments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realised Gains On Disposal Of Inv Properties,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realised Gains On Disposal Of Equities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Exchange Gains/(Losses),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Admin Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Investment Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FINANCE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Third Party,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFIT / (LOSS) BEFORE TAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2% Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFIT/(LOSS) FOR PERIOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Calculate Variable Expenses**

In [122]:
variable_expenses = expenses.calculate_variable_expenses(
    variable_inputs_income_statement=variable_inputs_income_statement,
    parameters=parameters,
    valuation_date=VALUATION_DATE,
    months_to_forecast=MONTHS_TO_FORECAST,
)
variable_expenses

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
Training,"7,069.79","7,211.19","7,355.41","7,502.52","7,652.57","7,805.62","7,961.73","8,120.97","8,283.39","8,449.05","8,618.03","8,790.40"
Travel Costs,"7,080.16","7,221.76","7,366.20","7,513.52","7,663.79","7,817.07","7,973.41","8,132.88","8,295.54","8,461.45","8,630.68","8,803.29"
Entertainment,"7,760.67","7,915.88","8,074.20","8,235.69","8,400.40","8,568.41","8,739.77","8,914.57","9,092.86","9,274.72","9,460.21","9,649.42"
Marketing Costs,"7,796.37","7,952.30","8,111.34","8,273.57","8,439.04","8,607.82","8,779.98","8,955.58","9,134.69","9,317.38","9,503.73","9,693.81"
Group Marketing Costs,"7,659.18","7,812.36","7,968.61","8,127.98","8,290.54","8,456.35","8,625.48","8,797.99","8,973.95","9,153.43","9,336.50","9,523.23"
Rental Costs,"7,749.79","7,904.79","8,062.88","8,224.14","8,388.62","8,556.39","8,727.52","8,902.07","9,080.11","9,261.72","9,446.95","9,635.89"
Subscriptions,"8,444.75","8,613.64","8,785.92","8,961.64","9,140.87","9,323.69","9,510.16","9,700.36","9,894.37","10,092.26","10,294.10","10,499.99"
Insurance,"7,590.16","7,741.96","7,896.80","8,054.74","8,215.83","8,380.15","8,547.75","8,718.71","8,893.08","9,070.94","9,252.36","9,437.41"
Repairs And Maintenance,"8,262.68","8,427.93","8,596.49","8,768.42","8,943.79","9,122.67","9,305.12","9,491.22","9,681.05","9,874.67","10,072.16","10,273.60"
Utilities,"7,537.97","7,688.73","7,842.50","7,999.35","8,159.34","8,322.53","8,488.98","8,658.76","8,831.93","9,008.57","9,188.74","9,372.52"
Stationery,"8,099.82","8,261.82","8,427.05","8,595.59","8,767.51","8,942.86","9,121.71","9,304.15","9,490.23","9,680.03","9,873.64","10,071.11"
Admin Costs,"8,134.33","8,297.02","8,462.96","8,632.22","8,804.86","8,980.96","9,160.58","9,343.79","9,530.66","9,721.28","9,915.70","10,114.02"
IT Costs,"7,668.02","7,821.38","7,977.81","8,137.36","8,300.11","8,466.11","8,635.44","8,808.14","8,984.31","9,163.99","9,347.27","9,534.22"
Masawara Mgt Fee,"7,619.57","7,771.96","7,927.40","8,085.95","8,247.67","8,412.62","8,580.87","8,752.49","8,927.54","9,106.09","9,288.21","9,473.98"
Fines And Penalties,"7,231.97","7,376.61","7,524.14","7,674.62","7,828.12","7,984.68","8,144.37","8,307.26","8,473.41","8,642.87","8,815.73","8,992.05"
Auditors Remuneration,"7,112.63","7,254.88","7,399.98","7,547.98","7,698.94","7,852.92","8,009.98","8,170.18","8,333.58","8,500.25","8,670.26","8,843.66"
Directors Fees,"7,728.71","7,883.28","8,040.95","8,201.77","8,365.80","8,533.12","8,703.78","8,877.86","9,055.42","9,236.52","9,421.25","9,609.68"
Consultancy Fees,"6,992.61","7,132.46","7,275.11","7,420.61","7,569.03","7,720.41","7,874.81","8,032.31","8,192.96","8,356.82","8,523.95","8,694.43"
Telephones,"8,847.99","9,024.95","9,205.45","9,389.56","9,577.35","9,768.90","9,964.27","10,163.56","10,366.83","10,574.17","10,785.65","11,001.36"
Cellphones,"7,549.19","7,700.17","7,854.18","8,011.26","8,171.49","8,334.92","8,501.61","8,671.65","8,845.08","9,021.98","9,202.42","9,386.47"
Internet,"8,972.94","9,152.40","9,335.45","9,522.16","9,712.60","9,906.85","10,104.99","10,307.09","10,513.23","10,723.49","10,937.96","11,156.72"
Courier,"7,590.67","7,742.48","7,897.33","8,055.28","8,216.39","8,380.71","8,548.33","8,719.29","8,893.68","9,071.55","9,252.98","9,438.04"
Fuel,"8,027.74","8,188.29","8,352.06","8,519.10","8,689.48","8,863.27","9,040.54","9,221.35","9,405.78","9,593.89","9,785.77","9,981.49"
Motor Vehicle Maintenance Costs,"8,277.98","8,443.54","8,612.41","8,784.66","8,960.35","9,139.56","9,322.35","9,508.80","9,698.97","9,892.95","10,090.81","10,292.63"
Bank Charges,"7,884.26","8,041.95","8,202.78","8,366.84","8,534.18","8,704.86","8,878.96","9,056.54","9,237.67","9,422.42","9,610.87","9,803.09"
Zimnat Grp Shared Costs Recovery Exp,"8,643.31","8,816.18","8,992.50","9,172.35","9,355.80","9,542.91","9,733.77","9,928.45","10,127.02","10,329.56","10,536.15","10,746.87"

### **Calculate Change In Provision For Credit Loss**

In [123]:
change_in_provision_for_credit_loss = (
    expenses.calculate_change_in_provision_for_credit_loss(
        provision_for_credit_loss=provision_for_credit_loss_for_all_new_disbursements['total'],
        provision_for_credit_loss_opening_balances=float(
            opening_balances["PROVISION_FOR_CREDIT_LOSS"].iat[0]
        ),
        valuation_date=VALUATION_DATE, 
        months_to_forecast=MONTHS_TO_FORECAST
    )
)

change_in_provision_for_credit_loss

Jan-2023       60.00
Feb-2023    2,130.00
Mar-2023    2,190.00
Apr-2023   -1,880.00
May-2023      320.00
Jun-2023    1,620.00
Jul-2023    1,970.00
Aug-2023    4,065.00
Sep-2023    2,775.00
Oct-2023    5,800.00
Nov-2023    2,700.00
Dec-2023        0.00
Name: total, dtype: float64

### **Calculate Business Acquisition**

In [124]:
business_acquisition = expenses.calculate_business_acqusition(
    business_acquisition_percent=parameters.loc['BUSINESS_ACQUISITION_PERCENT'],
    agent_contribution_percent=parameters.loc['AGENT_CONTRIBUTION_PERCENT'],
    consumer_ssb_disbursements=new_disbursements_df['consumer_ssb_disbursements'],
    consumer_pvt_disbursements=new_disbursements_df['consumer_pvt_disbursements'],
)
business_acquisition

Jan-2023   1,620.00
Feb-2023   2,025.00
Mar-2023   2,484.00
Apr-2023   2,760.00
May-2023   3,312.00
Jun-2023   3,366.00
Jul-2023   3,927.00
Aug-2023   4,207.50
Sep-2023   4,275.00
Oct-2023   4,275.00
Nov-2023   4,275.00
Dec-2023   4,275.00
dtype: float64

### **Insert Revenue**

In [125]:
income_statement_df = income_statement.insert_revenue(
    income_statement=income_statement_df,
    interest_income=total_interest_income,
    other_income=other_income_df['total'],
)

income_statement_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
INCOME_STATEMENT,,,,,,,,,,,,
Interest Income,290.78,"45,203.97","94,088.99","144,701.56","177,272.94","202,634.57","226,930.05","249,779.94","288,030.08","334,267.64","403,293.37","475,262.01"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Total Revenue,"10,119.12","66,733.01","128,987.96","190,409.33","233,427.29","270,724.58","300,051.67","330,594.47","378,153.89","443,267.40","535,139.07","627,930.02"
MANAGEMENT EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAFF COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salaries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pensions & Statutory Contributions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Training,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bonus Provision,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Retrenchments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Staff Welfare,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CILL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Staff Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRAVEL & ENTERTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Travel & Entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MARKETING AND PUBLIC RELATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marketing Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Group Marketing Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Donations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Marketing And Public Relations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OFFICE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Subscriptions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Insurance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Repairs And Maintenance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stationery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Admin Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IT Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Masawara Mgt Fee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fines And Penalties,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Office Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFESSIONAL FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auditors Remuneration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Legal Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strategic Expenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Directors Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Consultancy Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Professional Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COMMUNICATION COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telephones,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cellphones,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Internet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Courier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Communication Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MOTOR VEHICLE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Motor Vehicle Maintenance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Motor Vehicle Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OTHER COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bank Charges,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimnat Grp Shared Costs Recovery Exp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Provisions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Business Acquisition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Other Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EBIDTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INVESTMENT INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Received,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dividends Received,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fair Value Adjustments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realised Gains On Disposal Of Inv Properties,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realised Gains On Disposal Of Equities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Exchange Gains/(Losses),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Admin Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Investment Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FINANCE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Third Party,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFIT / (LOSS) BEFORE TAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2% Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFIT/(LOSS) FOR PERIOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Insert Static And Variable Inputs**

In [126]:
income_statement_df = income_statement.insert_static_and_variable_inputs(
    income_statement=income_statement_df,
    static_inputs_income_statement=static_inputs_income_statement,
    variable_expenses=variable_expenses,
)
income_statement_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
INCOME_STATEMENT,,,,,,,,,,,,
Interest Income,290.78,"45,203.97","94,088.99","144,701.56","177,272.94","202,634.57","226,930.05","249,779.94","288,030.08","334,267.64","403,293.37","475,262.01"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Total Revenue,"10,119.12","66,733.01","128,987.96","190,409.33","233,427.29","270,724.58","300,051.67","330,594.47","378,153.89","443,267.40","535,139.07","627,930.02"
MANAGEMENT EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAFF COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salaries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pensions & Statutory Contributions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Training,"7,069.79","7,211.19","7,355.41","7,502.52","7,652.57","7,805.62","7,961.73","8,120.97","8,283.39","8,449.05","8,618.03","8,790.40"
Bonus Provision,14297,10995,17629,19467,11016,17869,16439,17892,16863,17916,18529,10878
Retrenchments,19268,14887,14859,16331,18571,18684,17208,15276,12062,10064,18006,12568
Staff Welfare,15463,12027,12695,19687,15258,15618,16736,10391,15892,13561,16184,13099
CILL,13152,11585,13943,17555,13073,11021,13843,17989,19692,16873,15675,10161
Total Staff Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRAVEL & ENTERTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel Costs,"7,080.16","7,221.76","7,366.20","7,513.52","7,663.79","7,817.07","7,973.41","8,132.88","8,295.54","8,461.45","8,630.68","8,803.29"
Entertainment,"7,760.67","7,915.88","8,074.20","8,235.69","8,400.40","8,568.41","8,739.77","8,914.57","9,092.86","9,274.72","9,460.21","9,649.42"
Total Travel & Entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MARKETING AND PUBLIC RELATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marketing Costs,"7,796.37","7,952.30","8,111.34","8,273.57","8,439.04","8,607.82","8,779.98","8,955.58","9,134.69","9,317.38","9,503.73","9,693.81"
Group Marketing Costs,"7,659.18","7,812.36","7,968.61","8,127.98","8,290.54","8,456.35","8,625.48","8,797.99","8,973.95","9,153.43","9,336.50","9,523.23"
Donations,16278,18392,13104,17215,12454,18996,12731,18154,19762,15056,18110,13840
Total Marketing And Public Relations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OFFICE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Costs,"7,749.79","7,904.79","8,062.88","8,224.14","8,388.62","8,556.39","8,727.52","8,902.07","9,080.11","9,261.72","9,446.95","9,635.89"
Subscriptions,"8,444.75","8,613.64","8,785.92","8,961.64","9,140.87","9,323.69","9,510.16","9,700.36","9,894.37","10,092.26","10,294.10","10,499.99"
Insurance,"7,590.16","7,741.96","7,896.80","8,054.74","8,215.83","8,380.15","8,547.75","8,718.71","8,893.08","9,070.94","9,252.36","9,437.41"
Repairs And Maintenance,"8,262.68","8,427.93","8,596.49","8,768.42","8,943.79","9,122.67","9,305.12","9,491.22","9,681.05","9,874.67","10,072.16","10,273.60"
Utilities,"7,537.97","7,688.73","7,842.50","7,999.35","8,159.34","8,322.53","8,488.98","8,658.76","8,831.93","9,008.57","9,188.74","9,372.52"
Stationery,"8,099.82","8,261.82","8,427.05","8,595.59","8,767.51","8,942.86","9,121.71","9,304.15","9,490.23","9,680.03","9,873.64","10,071.11"
Admin Costs,"8,134.33","8,297.02","8,462.96","8,632.22","8,804.86","8,980.96","9,160.58","9,343.79","9,530.66","9,721.28","9,915.70","10,114.02"
IT Costs,"7,668.02","7,821.38","7,977.81","8,137.36","8,300.11","8,466.11","8,635.44","8,808.14","8,984.31","9,163.99","9,347.27","9,534.22"
Masawara Mgt Fee,"7,619.57","7,771.96","7,927.40","8,085.95","8,247.67","8,412.62","8,580.87","8,752.49","8,927.54","9,106.09","9,288.21","9,473.98"
Fines And Penalties,"7,231.97","7,376.61","7,524.14","7,674.62","7,828.12","7,984.68","8,144.37","8,307.26","8,473.41","8,642.87","8,815.73","8,992.05"
Total Office Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFESSIONAL FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auditors Remuneration,"7,112.63","7,254.88","7,399.98","7,547.98","7,698.94","7,852.92","8,009.98","8,170.18","8,333.58","8,500.25","8,670.26","8,843.66"
Legal Fees,0,0,0,0,0,0,0,0,0,0,0,0
Strategic Expenses,0,0,0,0,0,0,0,0,0,0,0,0
Directors Fees,"7,728.71","7,883.28","8,040.95","8,201.77","8,365.80","8,533.12","8,703.78","8,877.86","9,055.42","9,236.52","9,421.25","9,609.68"
Consultancy Fees,"6,992.61","7,132.46","7,275.11","7,420.61","7,569.03","7,720.41","7,874.81","8,032.31","8,192.96","8,356.82","8,523.95","8,694.43"
Total Professional Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COMMUNICATION COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telephones,"8,847.99","9,024.95","9,205.45","9,389.56","9,577.35","9,768.90","9,964.27","10,163.56","10,366.83","10,574.17","10,785.65","11,001.36"
Cellphones,"7,549.19","7,700.17","7,854.18","8,011.26","8,171.49","8,334.92","8,501.61","8,671.65","8,845.08","9,021.98","9,202.42","9,386.47"
Internet,"8,972.94","9,152.40","9,335.45","9,522.16","9,712.60","9,906.85","10,104.99","10,307.09","10,513.23","10,723.49","10,937.96","11,156.72"
Courier,"7,590.67","7,742.48","7,897.33","8,055.28","8,216.39","8,380.71","8,548.33","8,719.29","8,893.68","9,071.55","9,252.98","9,438.04"
Total Communication Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MOTOR VEHICLE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel,"8,027.74","8,188.29","8,352.06","8,519.10","8,689.48","8,863.27","9,040.54","9,221.35","9,405.78","9,593.89","9,785.77","9,981.49"
Motor Vehicle Maintenance Costs,"8,277.98","8,443.54","8,612.41","8,784.66","8,960.35","9,139.56","9,322.35","9,508.80","9,698.97","9,892.95","10,090.81","10,292.63"
Total Motor Vehicle Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OTHER COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bank Charges,"7,884.26","8,041.95","8,202.78","8,366.84","8,534.18","8,704.86","8,878.96","9,056.54","9,237.67","9,422.42","9,610.87","9,803.09"
Zimnat Grp Shared Costs Recovery Exp,"8,643.31","8,816.18","8,992.50","9,172.35","9,355.80","9,542.91","9,733.77","9,928.45","10,127.02","10,329.56","10,536.15","10,746.87"
Provisions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Business Acquisition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Other Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EBIDTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INVESTMENT INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Income,0,0,0,0,0,0,0,0,0,0,0,0
Interest Received,0,0,0,0,0,0,0,0,0,0,0,0
Dividends Received,0,0,0,0,0,0,0,0,0,0,0,0
Fair Value Adjustments,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Inv Properties,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Equities,0,0,0,0,0,0,0,0,0,0,0,0
Exchange Gains/(Losses),0,0,0,0,0,0,0,0,0,0,0,0
Admin Fees,0,0,0,0,0,0,0,0,0,0,0,0
Total Investment Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FINANCE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Third Party,0,0,0,0,0,0,0,0,0,0,0,0
Total Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFIT / (LOSS) BEFORE TAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2% Taxation,0,0,0,0,0,0,0,0,0,0,0,0
PROFIT/(LOSS) FOR PERIOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Insert Salaries and Pensions And Statutory Contributions**

In [127]:
income_statement_df = income_statement.insert_salaries_and_pensions_and_statutory_contributions(
    income_statement=income_statement_df,
    salaries_and_pension_and_statutory_contributions_df = salaries_and_pension_and_statutory_contributions_df,
)

income_statement_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
INCOME_STATEMENT,,,,,,,,,,,,
Interest Income,290.78,"45,203.97","94,088.99","144,701.56","177,272.94","202,634.57","226,930.05","249,779.94","288,030.08","334,267.64","403,293.37","475,262.01"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Total Revenue,"10,119.12","66,733.01","128,987.96","190,409.33","233,427.29","270,724.58","300,051.67","330,594.47","378,153.89","443,267.40","535,139.07","627,930.02"
MANAGEMENT EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAFF COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salaries,"26,600.00","28,670.00","31,400.00","31,200.00","33,140.00","34,580.00","37,450.00","40,475.00","42,650.00","45,950.00","47,300.00","47,300.00"
Pensions & Statutory Contributions,"3,021.76","3,256.91","3,567.04","3,544.32","3,764.70","3,928.29","4,254.32","4,597.96","4,845.04","5,219.92","5,373.28","5,373.28"
Training,"7,069.79","7,211.19","7,355.41","7,502.52","7,652.57","7,805.62","7,961.73","8,120.97","8,283.39","8,449.05","8,618.03","8,790.40"
Bonus Provision,14297,10995,17629,19467,11016,17869,16439,17892,16863,17916,18529,10878
Retrenchments,19268,14887,14859,16331,18571,18684,17208,15276,12062,10064,18006,12568
Staff Welfare,15463,12027,12695,19687,15258,15618,16736,10391,15892,13561,16184,13099
CILL,13152,11585,13943,17555,13073,11021,13843,17989,19692,16873,15675,10161
Total Staff Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRAVEL & ENTERTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel Costs,"7,080.16","7,221.76","7,366.20","7,513.52","7,663.79","7,817.07","7,973.41","8,132.88","8,295.54","8,461.45","8,630.68","8,803.29"
Entertainment,"7,760.67","7,915.88","8,074.20","8,235.69","8,400.40","8,568.41","8,739.77","8,914.57","9,092.86","9,274.72","9,460.21","9,649.42"
Total Travel & Entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MARKETING AND PUBLIC RELATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marketing Costs,"7,796.37","7,952.30","8,111.34","8,273.57","8,439.04","8,607.82","8,779.98","8,955.58","9,134.69","9,317.38","9,503.73","9,693.81"
Group Marketing Costs,"7,659.18","7,812.36","7,968.61","8,127.98","8,290.54","8,456.35","8,625.48","8,797.99","8,973.95","9,153.43","9,336.50","9,523.23"
Donations,16278,18392,13104,17215,12454,18996,12731,18154,19762,15056,18110,13840
Total Marketing And Public Relations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OFFICE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Costs,"7,749.79","7,904.79","8,062.88","8,224.14","8,388.62","8,556.39","8,727.52","8,902.07","9,080.11","9,261.72","9,446.95","9,635.89"
Subscriptions,"8,444.75","8,613.64","8,785.92","8,961.64","9,140.87","9,323.69","9,510.16","9,700.36","9,894.37","10,092.26","10,294.10","10,499.99"
Insurance,"7,590.16","7,741.96","7,896.80","8,054.74","8,215.83","8,380.15","8,547.75","8,718.71","8,893.08","9,070.94","9,252.36","9,437.41"
Repairs And Maintenance,"8,262.68","8,427.93","8,596.49","8,768.42","8,943.79","9,122.67","9,305.12","9,491.22","9,681.05","9,874.67","10,072.16","10,273.60"
Utilities,"7,537.97","7,688.73","7,842.50","7,999.35","8,159.34","8,322.53","8,488.98","8,658.76","8,831.93","9,008.57","9,188.74","9,372.52"
Stationery,"8,099.82","8,261.82","8,427.05","8,595.59","8,767.51","8,942.86","9,121.71","9,304.15","9,490.23","9,680.03","9,873.64","10,071.11"
Admin Costs,"8,134.33","8,297.02","8,462.96","8,632.22","8,804.86","8,980.96","9,160.58","9,343.79","9,530.66","9,721.28","9,915.70","10,114.02"
IT Costs,"7,668.02","7,821.38","7,977.81","8,137.36","8,300.11","8,466.11","8,635.44","8,808.14","8,984.31","9,163.99","9,347.27","9,534.22"
Masawara Mgt Fee,"7,619.57","7,771.96","7,927.40","8,085.95","8,247.67","8,412.62","8,580.87","8,752.49","8,927.54","9,106.09","9,288.21","9,473.98"
Fines And Penalties,"7,231.97","7,376.61","7,524.14","7,674.62","7,828.12","7,984.68","8,144.37","8,307.26","8,473.41","8,642.87","8,815.73","8,992.05"
Total Office Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFESSIONAL FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auditors Remuneration,"7,112.63","7,254.88","7,399.98","7,547.98","7,698.94","7,852.92","8,009.98","8,170.18","8,333.58","8,500.25","8,670.26","8,843.66"
Legal Fees,0,0,0,0,0,0,0,0,0,0,0,0
Strategic Expenses,0,0,0,0,0,0,0,0,0,0,0,0
Directors Fees,"7,728.71","7,883.28","8,040.95","8,201.77","8,365.80","8,533.12","8,703.78","8,877.86","9,055.42","9,236.52","9,421.25","9,609.68"
Consultancy Fees,"6,992.61","7,132.46","7,275.11","7,420.61","7,569.03","7,720.41","7,874.81","8,032.31","8,192.96","8,356.82","8,523.95","8,694.43"
Total Professional Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COMMUNICATION COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telephones,"8,847.99","9,024.95","9,205.45","9,389.56","9,577.35","9,768.90","9,964.27","10,163.56","10,366.83","10,574.17","10,785.65","11,001.36"
Cellphones,"7,549.19","7,700.17","7,854.18","8,011.26","8,171.49","8,334.92","8,501.61","8,671.65","8,845.08","9,021.98","9,202.42","9,386.47"
Internet,"8,972.94","9,152.40","9,335.45","9,522.16","9,712.60","9,906.85","10,104.99","10,307.09","10,513.23","10,723.49","10,937.96","11,156.72"
Courier,"7,590.67","7,742.48","7,897.33","8,055.28","8,216.39","8,380.71","8,548.33","8,719.29","8,893.68","9,071.55","9,252.98","9,438.04"
Total Communication Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MOTOR VEHICLE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel,"8,027.74","8,188.29","8,352.06","8,519.10","8,689.48","8,863.27","9,040.54","9,221.35","9,405.78","9,593.89","9,785.77","9,981.49"
Motor Vehicle Maintenance Costs,"8,277.98","8,443.54","8,612.41","8,784.66","8,960.35","9,139.56","9,322.35","9,508.80","9,698.97","9,892.95","10,090.81","10,292.63"
Total Motor Vehicle Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OTHER COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bank Charges,"7,884.26","8,041.95","8,202.78","8,366.84","8,534.18","8,704.86","8,878.96","9,056.54","9,237.67","9,422.42","9,610.87","9,803.09"
Zimnat Grp Shared Costs Recovery Exp,"8,643.31","8,816.18","8,992.50","9,172.35","9,355.80","9,542.91","9,733.77","9,928.45","10,127.02","10,329.56","10,536.15","10,746.87"
Provisions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Business Acquisition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Other Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EBIDTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INVESTMENT INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Income,0,0,0,0,0,0,0,0,0,0,0,0
Interest Received,0,0,0,0,0,0,0,0,0,0,0,0
Dividends Received,0,0,0,0,0,0,0,0,0,0,0,0
Fair Value Adjustments,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Inv Properties,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Equities,0,0,0,0,0,0,0,0,0,0,0,0
Exchange Gains/(Losses),0,0,0,0,0,0,0,0,0,0,0,0
Admin Fees,0,0,0,0,0,0,0,0,0,0,0,0
Total Investment Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FINANCE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Third Party,0,0,0,0,0,0,0,0,0,0,0,0
Total Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFIT / (LOSS) BEFORE TAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2% Taxation,0,0,0,0,0,0,0,0,0,0,0,0
PROFIT/(LOSS) FOR PERIOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Insert Depreciation**

In [128]:
income_statement_df = income_statement.insert_depreciation(
    income_statement=income_statement_df, depreciation=depreciations_and_nbvs['dpns']['total'])

### **Insert Change in Provision For Credit Loss**

In [129]:
income_statement_df = income_statement.insert_credit_loss_provision(
    income_statement=income_statement_df, 
    change_in_provisin_for_credit_loss=change_in_provision_for_credit_loss,
)

In [130]:
provision_for_credit_loss  = provision_for_credit_loss_for_all_new_disbursements['total']
provision_for_credit_loss

Jan-2023   10,060.00
Feb-2023   12,190.00
Mar-2023   14,380.00
Apr-2023   12,500.00
May-2023   12,820.00
Jun-2023   14,440.00
Jul-2023   16,410.00
Aug-2023   20,475.00
Sep-2023   23,250.00
Oct-2023   29,050.00
Nov-2023   31,750.00
Dec-2023   31,750.00
Name: total, dtype: float64

### **Insert Business Acquisition**

In [131]:
income_statement_df = income_statement.insert_business_acquisition(
    income_statement=income_statement_df, business_acquisition=business_acquisition)

### **Aggregations**

In [132]:
income_statement_df = income_statement.aggregate_staff_costs(income_statement_df)
income_statement_df = income_statement.aggregate_travel_and_entertainment(income_statement_df)
income_statement_df = income_statement.aggregate_marketing_and_public_relations(income_statement_df)
income_statement_df = income_statement.aggregate_office_costs(income_statement_df)
income_statement_df = income_statement.aggregate_professional_fees(income_statement_df)
income_statement_df = income_statement.aggregate_communication_costs(income_statement_df)
income_statement_df = income_statement.aggregate_motor_vehicle_costs(income_statement_df)
income_statement_df = income_statement.aggregate_other_costs(income_statement_df)
income_statement_df = income_statement.aggregate_investment_income(income_statement_df)
income_statement_df = income_statement.aggregate_finance_costs(income_statement_df)

### **Calculating Total Expenses and EBIDTA**

In [133]:
income_statement_df = income_statement.calculate_total_expenses(income_statement_df)
income_statement_df = income_statement.calculate_ebidta(income_statement_df)

### **Insert Finance Cost**

In [134]:
income_statement_df.loc["Finance Costs"] = finance_costs_df.loc["total"]
income_statement_df.loc["Finance Costs"] = income_statement_df.loc[
    "Finance Costs"
].fillna(0)
income_statement_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
INCOME_STATEMENT,,,,,,,,,,,,
Interest Income,290.78,"45,203.97","94,088.99","144,701.56","177,272.94","202,634.57","226,930.05","249,779.94","288,030.08","334,267.64","403,293.37","475,262.01"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Total Revenue,"10,119.12","66,733.01","128,987.96","190,409.33","233,427.29","270,724.58","300,051.67","330,594.47","378,153.89","443,267.40","535,139.07","627,930.02"
MANAGEMENT EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAFF COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salaries,"26,600.00","28,670.00","31,400.00","31,200.00","33,140.00","34,580.00","37,450.00","40,475.00","42,650.00","45,950.00","47,300.00","47,300.00"
Pensions & Statutory Contributions,"3,021.76","3,256.91","3,567.04","3,544.32","3,764.70","3,928.29","4,254.32","4,597.96","4,845.04","5,219.92","5,373.28","5,373.28"
Training,"7,069.79","7,211.19","7,355.41","7,502.52","7,652.57","7,805.62","7,961.73","8,120.97","8,283.39","8,449.05","8,618.03","8,790.40"
Bonus Provision,14297,10995,17629,19467,11016,17869,16439,17892,16863,17916,18529,10878
Retrenchments,19268,14887,14859,16331,18571,18684,17208,15276,12062,10064,18006,12568
Staff Welfare,15463,12027,12695,19687,15258,15618,16736,10391,15892,13561,16184,13099
CILL,13152,11585,13943,17555,13073,11021,13843,17989,19692,16873,15675,10161
Total Staff Costs,"98,871.55","88,632.10","101,448.45","115,286.84","102,475.27","109,505.91","113,892.05","114,741.93","120,287.43","118,032.97","129,685.31","108,169.68"
TRAVEL & ENTERTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel Costs,"7,080.16","7,221.76","7,366.20","7,513.52","7,663.79","7,817.07","7,973.41","8,132.88","8,295.54","8,461.45","8,630.68","8,803.29"
Entertainment,"7,760.67","7,915.88","8,074.20","8,235.69","8,400.40","8,568.41","8,739.77","8,914.57","9,092.86","9,274.72","9,460.21","9,649.42"
Total Travel & Entertainment,"14,840.83","15,137.65","15,440.40","15,749.21","16,064.19","16,385.48","16,713.19","17,047.45","17,388.40","17,736.17","18,090.89","18,452.71"
MARKETING AND PUBLIC RELATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marketing Costs,"7,796.37","7,952.30","8,111.34","8,273.57","8,439.04","8,607.82","8,779.98","8,955.58","9,134.69","9,317.38","9,503.73","9,693.81"
Group Marketing Costs,"7,659.18","7,812.36","7,968.61","8,127.98","8,290.54","8,456.35","8,625.48","8,797.99","8,973.95","9,153.43","9,336.50","9,523.23"
Donations,16278,18392,13104,17215,12454,18996,12731,18154,19762,15056,18110,13840
Total Marketing And Public Relations,"31,733.55","34,156.66","29,183.95","33,616.55","29,183.58","36,060.18","30,136.46","35,907.57","37,870.64","33,526.81","36,950.23","33,057.03"
OFFICE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Costs,"7,749.79","7,904.79","8,062.88","8,224.14","8,388.62","8,556.39","8,727.52","8,902.07","9,080.11","9,261.72","9,446.95","9,635.89"
Subscriptions,"8,444.75","8,613.64","8,785.92","8,961.64","9,140.87","9,323.69","9,510.16","9,700.36","9,894.37","10,092.26","10,294.10","10,499.99"
Insurance,"7,590.16","7,741.96","7,896.80","8,054.74","8,215.83","8,380.15","8,547.75","8,718.71","8,893.08","9,070.94","9,252.36","9,437.41"
Repairs And Maintenance,"8,262.68","8,427.93","8,596.49","8,768.42","8,943.79","9,122.67","9,305.12","9,491.22","9,681.05","9,874.67","10,072.16","10,273.60"
Utilities,"7,537.97","7,688.73","7,842.50","7,999.35","8,159.34","8,322.53","8,488.98","8,658.76","8,831.93","9,008.57","9,188.74","9,372.52"
Stationery,"8,099.82","8,261.82","8,427.05","8,595.59","8,767.51","8,942.86","9,121.71","9,304.15","9,490.23","9,680.03","9,873.64","10,071.11"
Admin Costs,"8,134.33","8,297.02","8,462.96","8,632.22","8,804.86","8,980.96","9,160.58","9,343.79","9,530.66","9,721.28","9,915.70","10,114.02"
IT Costs,"7,668.02","7,821.38","7,977.81","8,137.36","8,300.11","8,466.11","8,635.44","8,808.14","8,984.31","9,163.99","9,347.27","9,534.22"
Masawara Mgt Fee,"7,619.57","7,771.96","7,927.40","8,085.95","8,247.67","8,412.62","8,580.87","8,752.49","8,927.54","9,106.09","9,288.21","9,473.98"
Fines And Penalties,"7,231.97","7,376.61","7,524.14","7,674.62","7,828.12","7,984.68","8,144.37","8,307.26","8,473.41","8,642.87","8,815.73","8,992.05"
Total Office Costs,"78,339.06","79,905.84","81,503.96","83,134.04","84,796.72","86,492.65","88,222.51","89,986.96","91,786.69","93,622.43","95,494.88","97,404.77"
PROFESSIONAL FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auditors Remuneration,"7,112.63","7,254.88","7,399.98","7,547.98","7,698.94","7,852.92","8,009.98","8,170.18","8,333.58","8,500.25","8,670.26","8,843.66"
Legal Fees,0,0,0,0,0,0,0,0,0,0,0,0
Strategic Expenses,0,0,0,0,0,0,0,0,0,0,0,0
Directors Fees,"7,728.71","7,883.28","8,040.95","8,201.77","8,365.80","8,533.12","8,703.78","8,877.86","9,055.42","9,236.52","9,421.25","9,609.68"
Consultancy Fees,"6,992.61","7,132.46","7,275.11","7,420.61","7,569.03","7,720.41","7,874.81","8,032.31","8,192.96","8,356.82","8,523.95","8,694.43"
Total Professional Fees,"21,833.95","22,270.63","22,716.04","23,170.36","23,633.77","24,106.45","24,588.57","25,080.35","25,581.95","26,093.59","26,615.46","27,147.77"
COMMUNICATION COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telephones,"8,847.99","9,024.95","9,205.45","9,389.56","9,577.35","9,768.90","9,964.27","10,163.56","10,366.83","10,574.17","10,785.65","11,001.36"
Cellphones,"7,549.19","7,700.17","7,854.18","8,011.26","8,171.49","8,334.92","8,501.61","8,671.65","8,845.08","9,021.98","9,202.42","9,386.47"
Internet,"8,972.94","9,152.40","9,335.45","9,522.16","9,712.60","9,906.85","10,104.99","10,307.09","10,513.23","10,723.49","10,937.96","11,156.72"
Courier,"7,590.67","7,742.48","7,897.33","8,055.28","8,216.39","8,380.71","8,548.33","8,719.29","8,893.68","9,071.55","9,252.98","9,438.04"
Total Communication Costs,"32,960.79","33,620.01","34,292.41","34,978.25","35,677.82","36,391.38","37,119.20","37,861.59","38,618.82","39,391.20","40,179.02","40,982.60"
MOTOR VEHICLE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel,"8,027.74","8,188.29","8,352.06","8,519.10","8,689.48","8,863.27","9,040.54","9,221.35","9,405.78","9,593.89","9,785.77","9,981.49"
Motor Vehicle Maintenance Costs,"8,277.98","8,443.54","8,612.41","8,784.66","8,960.35","9,139.56","9,322.35","9,508.80","9,698.97","9,892.95","10,090.81","10,292.63"
Total Motor Vehicle Costs,"16,305.72","16,631.83","16,964.47","17,303.76","17,649.84","18,002.83","18,362.89","18,730.15","19,104.75","19,486.84","19,876.58","20,274.11"
OTHER COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,"9,000.00","9,000.00","9,000.00","9,000.00","9,000.00","7,000.00","7,000.00","7,000.00","9,500.00","9,500.00","7,500.00","7,500.00"
Bank Charges,"7,884.26","8,041.95","8,202.78","8,366.84","8,534.18","8,704.86","8,878.96","9,056.54","9,237.67","9,422.42","9,610.87","9,803.09"
Zimnat Grp Shared Costs Recovery Exp,"8,643.31","8,816.18","8,992.50","9,172.35","9,355.80","9,542.91","9,733.77","9,928.45","10,127.02","10,329.56","10,536.15","10,746.87"
Provisions,60.00,"2,130.00","2,190.00","-1,880.00",320.00,"1,620.00","1,970.00","4,065.00","2,775.00","5,800.00","2,700.00",0.00
Business Acquisition,"1,620.00","2,025.00","2,484.00","2,760.00","3,312.00","3,366.00","3,927.00","4,207.50","4,275.00","4,275.00","4,275.00","4,275.00"
Total Other Costs,"27,207.57","30,013.12","30,869.28","27,419.19","30,521.97","30,233.77","31,509.73","34,257.48","35,914.68","39,326.98","34,622.02","32,324.96"
TOTAL EXPENSES,"322,093.02","320,367.84","332,418.96","350,658.20","340,003.16","357,178.64","360,544.60","373,613.46","386,553.36","387,216.99","401,514.39","377,813.63"
EBIDTA,"-311,973.90","-253,634.83","-203,431.00","-160,248.87","-106,575.88","-86,454.05","-60,492.92","-43,018.99","-8,399.47","56,050.41","133,624.68","250,116.39"
INVESTMENT INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Income,0,0,0,0,0,0,0,0,0,0,0,0
Interest Received,0,0,0,0,0,0,0,0,0,0,0,0
Dividends Received,0,0,0,0,0,0,0,0,0,0,0,0
Fair Value Adjustments,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Inv Properties,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Equities,0,0,0,0,0,0,0,0,0,0,0,0
Exchange Gains/(Losses),0,0,0,0,0,0,0,0,0,0,0,0
Admin Fees,0,0,0,0,0,0,0,0,0,0,0,0
Total Investment Income,0,0,0,0,0,0,0,0,0,0,0,0
FINANCE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finance Costs,"3,373.20","3,346.42","54,518.45","3,752.40","3,635.24","59,949.94","3,397.55","3,276.99","54,076.56","1,610.77","1,582.79","46,819.40"
Third Party,0,0,0,0,0,0,0,0,0,0,0,0
Total Finance Costs,0,0,0,0,0,0,0,0,0,0,0,0
PROFIT / (LOSS) BEFORE TAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2% Taxation,0,0,0,0,0,0,0,0,0,0,0,0
PROFIT/(LOSS) FOR PERIOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Aggregate Finance Cost**

In [135]:
income_statement_df = income_statement.aggregate_finance_costs(income_statement_df)

### **Calculate Profit Before Tax**

In [136]:
income_statement_df = income_statement.calculate_profit_before_tax(income_statement_df)

### **Calculate Tax**

In [137]:
income_statement_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
INCOME_STATEMENT,,,,,,,,,,,,
Interest Income,290.78,"45,203.97","94,088.99","144,701.56","177,272.94","202,634.57","226,930.05","249,779.94","288,030.08","334,267.64","403,293.37","475,262.01"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Total Revenue,"10,119.12","66,733.01","128,987.96","190,409.33","233,427.29","270,724.58","300,051.67","330,594.47","378,153.89","443,267.40","535,139.07","627,930.02"
MANAGEMENT EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAFF COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salaries,"26,600.00","28,670.00","31,400.00","31,200.00","33,140.00","34,580.00","37,450.00","40,475.00","42,650.00","45,950.00","47,300.00","47,300.00"
Pensions & Statutory Contributions,"3,021.76","3,256.91","3,567.04","3,544.32","3,764.70","3,928.29","4,254.32","4,597.96","4,845.04","5,219.92","5,373.28","5,373.28"
Training,"7,069.79","7,211.19","7,355.41","7,502.52","7,652.57","7,805.62","7,961.73","8,120.97","8,283.39","8,449.05","8,618.03","8,790.40"
Bonus Provision,14297,10995,17629,19467,11016,17869,16439,17892,16863,17916,18529,10878
Retrenchments,19268,14887,14859,16331,18571,18684,17208,15276,12062,10064,18006,12568
Staff Welfare,15463,12027,12695,19687,15258,15618,16736,10391,15892,13561,16184,13099
CILL,13152,11585,13943,17555,13073,11021,13843,17989,19692,16873,15675,10161
Total Staff Costs,"98,871.55","88,632.10","101,448.45","115,286.84","102,475.27","109,505.91","113,892.05","114,741.93","120,287.43","118,032.97","129,685.31","108,169.68"
TRAVEL & ENTERTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel Costs,"7,080.16","7,221.76","7,366.20","7,513.52","7,663.79","7,817.07","7,973.41","8,132.88","8,295.54","8,461.45","8,630.68","8,803.29"
Entertainment,"7,760.67","7,915.88","8,074.20","8,235.69","8,400.40","8,568.41","8,739.77","8,914.57","9,092.86","9,274.72","9,460.21","9,649.42"
Total Travel & Entertainment,"14,840.83","15,137.65","15,440.40","15,749.21","16,064.19","16,385.48","16,713.19","17,047.45","17,388.40","17,736.17","18,090.89","18,452.71"
MARKETING AND PUBLIC RELATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marketing Costs,"7,796.37","7,952.30","8,111.34","8,273.57","8,439.04","8,607.82","8,779.98","8,955.58","9,134.69","9,317.38","9,503.73","9,693.81"
Group Marketing Costs,"7,659.18","7,812.36","7,968.61","8,127.98","8,290.54","8,456.35","8,625.48","8,797.99","8,973.95","9,153.43","9,336.50","9,523.23"
Donations,16278,18392,13104,17215,12454,18996,12731,18154,19762,15056,18110,13840
Total Marketing And Public Relations,"31,733.55","34,156.66","29,183.95","33,616.55","29,183.58","36,060.18","30,136.46","35,907.57","37,870.64","33,526.81","36,950.23","33,057.03"
OFFICE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Costs,"7,749.79","7,904.79","8,062.88","8,224.14","8,388.62","8,556.39","8,727.52","8,902.07","9,080.11","9,261.72","9,446.95","9,635.89"
Subscriptions,"8,444.75","8,613.64","8,785.92","8,961.64","9,140.87","9,323.69","9,510.16","9,700.36","9,894.37","10,092.26","10,294.10","10,499.99"
Insurance,"7,590.16","7,741.96","7,896.80","8,054.74","8,215.83","8,380.15","8,547.75","8,718.71","8,893.08","9,070.94","9,252.36","9,437.41"
Repairs And Maintenance,"8,262.68","8,427.93","8,596.49","8,768.42","8,943.79","9,122.67","9,305.12","9,491.22","9,681.05","9,874.67","10,072.16","10,273.60"
Utilities,"7,537.97","7,688.73","7,842.50","7,999.35","8,159.34","8,322.53","8,488.98","8,658.76","8,831.93","9,008.57","9,188.74","9,372.52"
Stationery,"8,099.82","8,261.82","8,427.05","8,595.59","8,767.51","8,942.86","9,121.71","9,304.15","9,490.23","9,680.03","9,873.64","10,071.11"
Admin Costs,"8,134.33","8,297.02","8,462.96","8,632.22","8,804.86","8,980.96","9,160.58","9,343.79","9,530.66","9,721.28","9,915.70","10,114.02"
IT Costs,"7,668.02","7,821.38","7,977.81","8,137.36","8,300.11","8,466.11","8,635.44","8,808.14","8,984.31","9,163.99","9,347.27","9,534.22"
Masawara Mgt Fee,"7,619.57","7,771.96","7,927.40","8,085.95","8,247.67","8,412.62","8,580.87","8,752.49","8,927.54","9,106.09","9,288.21","9,473.98"
Fines And Penalties,"7,231.97","7,376.61","7,524.14","7,674.62","7,828.12","7,984.68","8,144.37","8,307.26","8,473.41","8,642.87","8,815.73","8,992.05"
Total Office Costs,"78,339.06","79,905.84","81,503.96","83,134.04","84,796.72","86,492.65","88,222.51","89,986.96","91,786.69","93,622.43","95,494.88","97,404.77"
PROFESSIONAL FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auditors Remuneration,"7,112.63","7,254.88","7,399.98","7,547.98","7,698.94","7,852.92","8,009.98","8,170.18","8,333.58","8,500.25","8,670.26","8,843.66"
Legal Fees,0,0,0,0,0,0,0,0,0,0,0,0
Strategic Expenses,0,0,0,0,0,0,0,0,0,0,0,0
Directors Fees,"7,728.71","7,883.28","8,040.95","8,201.77","8,365.80","8,533.12","8,703.78","8,877.86","9,055.42","9,236.52","9,421.25","9,609.68"
Consultancy Fees,"6,992.61","7,132.46","7,275.11","7,420.61","7,569.03","7,720.41","7,874.81","8,032.31","8,192.96","8,356.82","8,523.95","8,694.43"
Total Professional Fees,"21,833.95","22,270.63","22,716.04","23,170.36","23,633.77","24,106.45","24,588.57","25,080.35","25,581.95","26,093.59","26,615.46","27,147.77"
COMMUNICATION COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telephones,"8,847.99","9,024.95","9,205.45","9,389.56","9,577.35","9,768.90","9,964.27","10,163.56","10,366.83","10,574.17","10,785.65","11,001.36"
Cellphones,"7,549.19","7,700.17","7,854.18","8,011.26","8,171.49","8,334.92","8,501.61","8,671.65","8,845.08","9,021.98","9,202.42","9,386.47"
Internet,"8,972.94","9,152.40","9,335.45","9,522.16","9,712.60","9,906.85","10,104.99","10,307.09","10,513.23","10,723.49","10,937.96","11,156.72"
Courier,"7,590.67","7,742.48","7,897.33","8,055.28","8,216.39","8,380.71","8,548.33","8,719.29","8,893.68","9,071.55","9,252.98","9,438.04"
Total Communication Costs,"32,960.79","33,620.01","34,292.41","34,978.25","35,677.82","36,391.38","37,119.20","37,861.59","38,618.82","39,391.20","40,179.02","40,982.60"
MOTOR VEHICLE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel,"8,027.74","8,188.29","8,352.06","8,519.10","8,689.48","8,863.27","9,040.54","9,221.35","9,405.78","9,593.89","9,785.77","9,981.49"
Motor Vehicle Maintenance Costs,"8,277.98","8,443.54","8,612.41","8,784.66","8,960.35","9,139.56","9,322.35","9,508.80","9,698.97","9,892.95","10,090.81","10,292.63"
Total Motor Vehicle Costs,"16,305.72","16,631.83","16,964.47","17,303.76","17,649.84","18,002.83","18,362.89","18,730.15","19,104.75","19,486.84","19,876.58","20,274.11"
OTHER COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,"9,000.00","9,000.00","9,000.00","9,000.00","9,000.00","7,000.00","7,000.00","7,000.00","9,500.00","9,500.00","7,500.00","7,500.00"
Bank Charges,"7,884.26","8,041.95","8,202.78","8,366.84","8,534.18","8,704.86","8,878.96","9,056.54","9,237.67","9,422.42","9,610.87","9,803.09"
Zimnat Grp Shared Costs Recovery Exp,"8,643.31","8,816.18","8,992.50","9,172.35","9,355.80","9,542.91","9,733.77","9,928.45","10,127.02","10,329.56","10,536.15","10,746.87"
Provisions,60.00,"2,130.00","2,190.00","-1,880.00",320.00,"1,620.00","1,970.00","4,065.00","2,775.00","5,800.00","2,700.00",0.00
Business Acquisition,"1,620.00","2,025.00","2,484.00","2,760.00","3,312.00","3,366.00","3,927.00","4,207.50","4,275.00","4,275.00","4,275.00","4,275.00"
Total Other Costs,"27,207.57","30,013.12","30,869.28","27,419.19","30,521.97","30,233.77","31,509.73","34,257.48","35,914.68","39,326.98","34,622.02","32,324.96"
TOTAL EXPENSES,"322,093.02","320,367.84","332,418.96","350,658.20","340,003.16","357,178.64","360,544.60","373,613.46","386,553.36","387,216.99","401,514.39","377,813.63"
EBIDTA,"-311,973.90","-253,634.83","-203,431.00","-160,248.87","-106,575.88","-86,454.05","-60,492.92","-43,018.99","-8,399.47","56,050.41","133,624.68","250,116.39"
INVESTMENT INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Income,0,0,0,0,0,0,0,0,0,0,0,0
Interest Received,0,0,0,0,0,0,0,0,0,0,0,0
Dividends Received,0,0,0,0,0,0,0,0,0,0,0,0
Fair Value Adjustments,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Inv Properties,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Equities,0,0,0,0,0,0,0,0,0,0,0,0
Exchange Gains/(Losses),0,0,0,0,0,0,0,0,0,0,0,0
Admin Fees,0,0,0,0,0,0,0,0,0,0,0,0
Total Investment Income,0,0,0,0,0,0,0,0,0,0,0,0
FINANCE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finance Costs,"3,373.20","3,346.42","54,518.45","3,752.40","3,635.24","59,949.94","3,397.55","3,276.99","54,076.56","1,610.77","1,582.79","46,819.40"
Third Party,0,0,0,0,0,0,0,0,0,0,0,0
Total Finance Costs,"3,373.20","3,346.42","54,518.45","3,752.40","3,635.24","59,949.94","3,397.55","3,276.99","54,076.56","1,610.77","1,582.79","46,819.40"
PROFIT / (LOSS) BEFORE TAX,"-315,347.11","-256,981.25","-257,949.46","-164,001.27","-110,211.12","-146,404.00","-63,890.47","-46,295.98","-62,476.03","54,439.64","132,041.89","203,296.99"
Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2% Taxation,0,0,0,0,0,0,0,0,0,0,0,0
PROFIT/(LOSS) FOR PERIOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [138]:
income_statement_df = income_statement.calculate_tax(income_statement=income_statement_df,tax_rate=parameters.loc['TAX_RATE'])
income_statement_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
INCOME_STATEMENT,,,,,,,,,,,,
Interest Income,290.78,"45,203.97","94,088.99","144,701.56","177,272.94","202,634.57","226,930.05","249,779.94","288,030.08","334,267.64","403,293.37","475,262.01"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Total Revenue,"10,119.12","66,733.01","128,987.96","190,409.33","233,427.29","270,724.58","300,051.67","330,594.47","378,153.89","443,267.40","535,139.07","627,930.02"
MANAGEMENT EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAFF COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salaries,"26,600.00","28,670.00","31,400.00","31,200.00","33,140.00","34,580.00","37,450.00","40,475.00","42,650.00","45,950.00","47,300.00","47,300.00"
Pensions & Statutory Contributions,"3,021.76","3,256.91","3,567.04","3,544.32","3,764.70","3,928.29","4,254.32","4,597.96","4,845.04","5,219.92","5,373.28","5,373.28"
Training,"7,069.79","7,211.19","7,355.41","7,502.52","7,652.57","7,805.62","7,961.73","8,120.97","8,283.39","8,449.05","8,618.03","8,790.40"
Bonus Provision,14297,10995,17629,19467,11016,17869,16439,17892,16863,17916,18529,10878
Retrenchments,19268,14887,14859,16331,18571,18684,17208,15276,12062,10064,18006,12568
Staff Welfare,15463,12027,12695,19687,15258,15618,16736,10391,15892,13561,16184,13099
CILL,13152,11585,13943,17555,13073,11021,13843,17989,19692,16873,15675,10161
Total Staff Costs,"98,871.55","88,632.10","101,448.45","115,286.84","102,475.27","109,505.91","113,892.05","114,741.93","120,287.43","118,032.97","129,685.31","108,169.68"
TRAVEL & ENTERTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel Costs,"7,080.16","7,221.76","7,366.20","7,513.52","7,663.79","7,817.07","7,973.41","8,132.88","8,295.54","8,461.45","8,630.68","8,803.29"
Entertainment,"7,760.67","7,915.88","8,074.20","8,235.69","8,400.40","8,568.41","8,739.77","8,914.57","9,092.86","9,274.72","9,460.21","9,649.42"
Total Travel & Entertainment,"14,840.83","15,137.65","15,440.40","15,749.21","16,064.19","16,385.48","16,713.19","17,047.45","17,388.40","17,736.17","18,090.89","18,452.71"
MARKETING AND PUBLIC RELATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marketing Costs,"7,796.37","7,952.30","8,111.34","8,273.57","8,439.04","8,607.82","8,779.98","8,955.58","9,134.69","9,317.38","9,503.73","9,693.81"
Group Marketing Costs,"7,659.18","7,812.36","7,968.61","8,127.98","8,290.54","8,456.35","8,625.48","8,797.99","8,973.95","9,153.43","9,336.50","9,523.23"
Donations,16278,18392,13104,17215,12454,18996,12731,18154,19762,15056,18110,13840
Total Marketing And Public Relations,"31,733.55","34,156.66","29,183.95","33,616.55","29,183.58","36,060.18","30,136.46","35,907.57","37,870.64","33,526.81","36,950.23","33,057.03"
OFFICE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Costs,"7,749.79","7,904.79","8,062.88","8,224.14","8,388.62","8,556.39","8,727.52","8,902.07","9,080.11","9,261.72","9,446.95","9,635.89"
Subscriptions,"8,444.75","8,613.64","8,785.92","8,961.64","9,140.87","9,323.69","9,510.16","9,700.36","9,894.37","10,092.26","10,294.10","10,499.99"
Insurance,"7,590.16","7,741.96","7,896.80","8,054.74","8,215.83","8,380.15","8,547.75","8,718.71","8,893.08","9,070.94","9,252.36","9,437.41"
Repairs And Maintenance,"8,262.68","8,427.93","8,596.49","8,768.42","8,943.79","9,122.67","9,305.12","9,491.22","9,681.05","9,874.67","10,072.16","10,273.60"
Utilities,"7,537.97","7,688.73","7,842.50","7,999.35","8,159.34","8,322.53","8,488.98","8,658.76","8,831.93","9,008.57","9,188.74","9,372.52"
Stationery,"8,099.82","8,261.82","8,427.05","8,595.59","8,767.51","8,942.86","9,121.71","9,304.15","9,490.23","9,680.03","9,873.64","10,071.11"
Admin Costs,"8,134.33","8,297.02","8,462.96","8,632.22","8,804.86","8,980.96","9,160.58","9,343.79","9,530.66","9,721.28","9,915.70","10,114.02"
IT Costs,"7,668.02","7,821.38","7,977.81","8,137.36","8,300.11","8,466.11","8,635.44","8,808.14","8,984.31","9,163.99","9,347.27","9,534.22"
Masawara Mgt Fee,"7,619.57","7,771.96","7,927.40","8,085.95","8,247.67","8,412.62","8,580.87","8,752.49","8,927.54","9,106.09","9,288.21","9,473.98"
Fines And Penalties,"7,231.97","7,376.61","7,524.14","7,674.62","7,828.12","7,984.68","8,144.37","8,307.26","8,473.41","8,642.87","8,815.73","8,992.05"
Total Office Costs,"78,339.06","79,905.84","81,503.96","83,134.04","84,796.72","86,492.65","88,222.51","89,986.96","91,786.69","93,622.43","95,494.88","97,404.77"
PROFESSIONAL FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auditors Remuneration,"7,112.63","7,254.88","7,399.98","7,547.98","7,698.94","7,852.92","8,009.98","8,170.18","8,333.58","8,500.25","8,670.26","8,843.66"
Legal Fees,0,0,0,0,0,0,0,0,0,0,0,0
Strategic Expenses,0,0,0,0,0,0,0,0,0,0,0,0
Directors Fees,"7,728.71","7,883.28","8,040.95","8,201.77","8,365.80","8,533.12","8,703.78","8,877.86","9,055.42","9,236.52","9,421.25","9,609.68"
Consultancy Fees,"6,992.61","7,132.46","7,275.11","7,420.61","7,569.03","7,720.41","7,874.81","8,032.31","8,192.96","8,356.82","8,523.95","8,694.43"
Total Professional Fees,"21,833.95","22,270.63","22,716.04","23,170.36","23,633.77","24,106.45","24,588.57","25,080.35","25,581.95","26,093.59","26,615.46","27,147.77"
COMMUNICATION COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telephones,"8,847.99","9,024.95","9,205.45","9,389.56","9,577.35","9,768.90","9,964.27","10,163.56","10,366.83","10,574.17","10,785.65","11,001.36"
Cellphones,"7,549.19","7,700.17","7,854.18","8,011.26","8,171.49","8,334.92","8,501.61","8,671.65","8,845.08","9,021.98","9,202.42","9,386.47"
Internet,"8,972.94","9,152.40","9,335.45","9,522.16","9,712.60","9,906.85","10,104.99","10,307.09","10,513.23","10,723.49","10,937.96","11,156.72"
Courier,"7,590.67","7,742.48","7,897.33","8,055.28","8,216.39","8,380.71","8,548.33","8,719.29","8,893.68","9,071.55","9,252.98","9,438.04"
Total Communication Costs,"32,960.79","33,620.01","34,292.41","34,978.25","35,677.82","36,391.38","37,119.20","37,861.59","38,618.82","39,391.20","40,179.02","40,982.60"
MOTOR VEHICLE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel,"8,027.74","8,188.29","8,352.06","8,519.10","8,689.48","8,863.27","9,040.54","9,221.35","9,405.78","9,593.89","9,785.77","9,981.49"
Motor Vehicle Maintenance Costs,"8,277.98","8,443.54","8,612.41","8,784.66","8,960.35","9,139.56","9,322.35","9,508.80","9,698.97","9,892.95","10,090.81","10,292.63"
Total Motor Vehicle Costs,"16,305.72","16,631.83","16,964.47","17,303.76","17,649.84","18,002.83","18,362.89","18,730.15","19,104.75","19,486.84","19,876.58","20,274.11"
OTHER COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,"9,000.00","9,000.00","9,000.00","9,000.00","9,000.00","7,000.00","7,000.00","7,000.00","9,500.00","9,500.00","7,500.00","7,500.00"
Bank Charges,"7,884.26","8,041.95","8,202.78","8,366.84","8,534.18","8,704.86","8,878.96","9,056.54","9,237.67","9,422.42","9,610.87","9,803.09"
Zimnat Grp Shared Costs Recovery Exp,"8,643.31","8,816.18","8,992.50","9,172.35","9,355.80","9,542.91","9,733.77","9,928.45","10,127.02","10,329.56","10,536.15","10,746.87"
Provisions,60.00,"2,130.00","2,190.00","-1,880.00",320.00,"1,620.00","1,970.00","4,065.00","2,775.00","5,800.00","2,700.00",0.00
Business Acquisition,"1,620.00","2,025.00","2,484.00","2,760.00","3,312.00","3,366.00","3,927.00","4,207.50","4,275.00","4,275.00","4,275.00","4,275.00"
Total Other Costs,"27,207.57","30,013.12","30,869.28","27,419.19","30,521.97","30,233.77","31,509.73","34,257.48","35,914.68","39,326.98","34,622.02","32,324.96"
TOTAL EXPENSES,"322,093.02","320,367.84","332,418.96","350,658.20","340,003.16","357,178.64","360,544.60","373,613.46","386,553.36","387,216.99","401,514.39","377,813.63"
EBIDTA,"-311,973.90","-253,634.83","-203,431.00","-160,248.87","-106,575.88","-86,454.05","-60,492.92","-43,018.99","-8,399.47","56,050.41","133,624.68","250,116.39"
INVESTMENT INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Income,0,0,0,0,0,0,0,0,0,0,0,0
Interest Received,0,0,0,0,0,0,0,0,0,0,0,0
Dividends Received,0,0,0,0,0,0,0,0,0,0,0,0
Fair Value Adjustments,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Inv Properties,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Equities,0,0,0,0,0,0,0,0,0,0,0,0
Exchange Gains/(Losses),0,0,0,0,0,0,0,0,0,0,0,0
Admin Fees,0,0,0,0,0,0,0,0,0,0,0,0
Total Investment Income,0,0,0,0,0,0,0,0,0,0,0,0
FINANCE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finance Costs,"3,373.20","3,346.42","54,518.45","3,752.40","3,635.24","59,949.94","3,397.55","3,276.99","54,076.56","1,610.77","1,582.79","46,819.40"
Third Party,0,0,0,0,0,0,0,0,0,0,0,0
Total Finance Costs,"3,373.20","3,346.42","54,518.45","3,752.40","3,635.24","59,949.94","3,397.55","3,276.99","54,076.56","1,610.77","1,582.79","46,819.40"
PROFIT / (LOSS) BEFORE TAX,"-315,347.11","-256,981.25","-257,949.46","-164,001.27","-110,211.12","-146,404.00","-63,890.47","-46,295.98","-62,476.03","54,439.64","132,041.89","203,296.99"
Taxation,0,0,0,0,0,0,0,0,0,"13,609.91","33,010.47","50,824.25"
2% Taxation,0,0,0,0,0,0,0,0,0,0,0,0
PROFIT/(LOSS) FOR PERIOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## **Direct Cashflow**

In [139]:
direct_cashflow_df = direct_cashflow.generate_direct_cashflow_template(
    valuation_date=VALUATION_DATE, months_to_forecast=MONTHS_TO_FORECAST
)

direct_cashflow_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
CASH INFLOWS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Short Term Borrowing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Long Term Borrowing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Capital Repayment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Receipts From Receivables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Purchase Of Inventory,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Issue Of Equity And Intercompany Loans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Purchase Of Other Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Cash Inflows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CASH OUTFLOWS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Disbursements,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Capital Repayment On Borrowings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Operating Expenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Capital Expenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Payments To Payables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sale Of Equity And Repayments On Intercompany Loans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sale Of Other Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dividend Paid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tax Paid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Cash Outflows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Net Increase/Decrease In Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Opening Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Closing Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Insert Available Direct Cashflow Items**

#### **From Parameters**

In [140]:
direct_cashflow_df.loc[
    "Receipts From Receivables"
] = helper.change_period_index_to_strftime(
    helper.add_series(
        [
            parameters.loc["RECEIPTS_FROM_OTHER_RECEIVABLES"],
            parameters.loc["RECEIPTS_FROM_TRADE_RECEIVABLES"],
            parameters.loc["RECEIPTS_FROM_INTERGROUP_RECEIVABLES"],
        ]
    )
)

direct_cashflow_df.loc[
    "Purchase Of Inventory"
] = helper.change_period_index_to_strftime(parameters.loc["NEW_INVENTORY"])
direct_cashflow_df.loc[
    "Payments To Payables"
] = -helper.change_period_index_to_strftime(
    helper.add_series(
        [
            parameters.loc["PAYMENTS_TO_TRADE_PAYABLES"],
            parameters.loc["PAYMENTS_TO_OTHER_PAYABLES"],
        ]
    )
)

direct_cashflow_df.loc["Dividend Paid"] = -helper.change_period_index_to_strftime(
    parameters.loc["DIVIDEND_PAID"]
)

#### **From Calculations/Income Statement**

In [141]:
direct_cashflow_df.loc['Interest Income'] = income_statement_df.loc['Interest Income']
direct_cashflow_df.loc['Other Income'] = income_statement_df.loc['Other Income']
direct_cashflow_df.loc['Interest Expense'] = -income_statement_df.loc['Finance Costs']
direct_cashflow_df.loc['Disbursements'] = -helper.change_period_index_to_strftime(new_disbursements_df['total'])

In [142]:
direct_cashflow_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
CASH INFLOWS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Short Term Borrowing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Long Term Borrowing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Capital Repayment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Income,290.78,"45,203.97","94,088.99","144,701.56","177,272.94","202,634.57","226,930.05","249,779.94","288,030.08","334,267.64","403,293.37","475,262.01"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Receipts From Receivables,"1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00"
Purchase Of Inventory,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Issue Of Equity And Intercompany Loans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Purchase Of Other Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Cash Inflows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CASH OUTFLOWS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Disbursements,"-490,000.00","-592,000.00","-706,000.00","-610,000.00","-622,000.00","-712,000.00","-808,000.00","-1,010,000.00","-1,160,000.00","-1,450,000.00","-1,585,000.00","-1,585,000.00"
Interest Expense,"-3,373.20","-3,346.42","-54,518.45","-3,752.40","-3,635.24","-59,949.94","-3,397.55","-3,276.99","-54,076.56","-1,610.77","-1,582.79","-46,819.40"
Capital Repayment On Borrowings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Operating Expenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Capital Expenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Payments To Payables,"-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00"
Sale Of Equity And Repayments On Intercompany Loans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sale Of Other Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dividend Paid,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-100.00
Tax Paid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Cash Outflows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Net Increase/Decrease In Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Opening Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Closing Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Equity and Intercompany Loans**

In [143]:
direct_cashflow_df = direct_cashflow.add_equity_and_intercompany_loans(
    parameters=parameters, direct_cashflow_df=direct_cashflow_df
)

### **Other Assets**

In [144]:
direct_cashflow_df = direct_cashflow.add_other_assets(
    parameters=parameters, direct_cashflow_df=direct_cashflow_df
)

### **Tax Paid**

In [145]:
tax_schedule = direct_cashflow.generate_tax_schedule(
    taxation=income_statement_df.loc["Taxation"],
    opening_balance=opening_balances["DEFERED_TAXATION"].iat[0],
    valuation_date=VALUATION_DATE,
    months_to_forecast=MONTHS_TO_FORECAST,
)
tax_schedule

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
Opening Balance,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"13,609.91","46,620.38"
Tax Charged,0,0,0,0,0,0,0,0,0,"13,609.91","33,010.47","50,824.25"
Tax Paid,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,"-97,444.63"
Closing Balance,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"13,609.91","46,620.38",0.00

In [146]:
direct_cashflow_df.loc['Tax Paid'] = tax_schedule.loc['Tax Paid']

### **Calculate Operating Expenses**

In [147]:
operating_expenses = direct_cashflow.calculate_operating_expenses(income_statement=income_statement_df)
operating_expenses

Jan-2023   298,736.02
Feb-2023   298,242.84
Mar-2023   303,599.96
Apr-2023   324,071.20
May-2023   319,667.16
Jun-2023   330,689.64
Jul-2023   335,135.60
Aug-2023   344,656.46
Sep-2023   357,415.36
Oct-2023   354,000.99
Nov-2023   372,785.39
Dec-2023   359,435.63
dtype: object

### **Insert Operating Expenses**

In [148]:
direct_cashflow_df.loc['Operating Expenses']  = -operating_expenses
direct_cashflow_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
CASH INFLOWS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Short Term Borrowing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Long Term Borrowing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Capital Repayment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Income,290.78,"45,203.97","94,088.99","144,701.56","177,272.94","202,634.57","226,930.05","249,779.94","288,030.08","334,267.64","403,293.37","475,262.01"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Receipts From Receivables,"1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00"
Purchase Of Inventory,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Issue Of Equity And Intercompany Loans,"1,000.00",0.00,0.00,0.00,0.00,"1,000.00",0.00,"2,000.00",0.00,100.00,0.00,0.00
Purchase Of Other Assets,0.00,0.00,0.00,0.00,"10,000.00","1,000.00","1,000.00",0.00,"5,000.00",0.00,0.00,"10,000.00"
Total Cash Inflows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CASH OUTFLOWS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Disbursements,"-490,000.00","-592,000.00","-706,000.00","-610,000.00","-622,000.00","-712,000.00","-808,000.00","-1,010,000.00","-1,160,000.00","-1,450,000.00","-1,585,000.00","-1,585,000.00"
Interest Expense,"-3,373.20","-3,346.42","-54,518.45","-3,752.40","-3,635.24","-59,949.94","-3,397.55","-3,276.99","-54,076.56","-1,610.77","-1,582.79","-46,819.40"
Capital Repayment On Borrowings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Operating Expenses,"-298,736.02","-298,242.84","-303,599.96","-324,071.20","-319,667.16","-330,689.64","-335,135.60","-344,656.46","-357,415.36","-354,000.99","-372,785.39","-359,435.63"
Capital Expenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Payments To Payables,"-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00"
Sale Of Equity And Repayments On Intercompany Loans,0.00,0.00,"-1,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Sale Of Other Assets,0.00,"-1,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Dividend Paid,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-100.00
Tax Paid,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,"-97,444.63"
Total Cash Outflows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Net Increase/Decrease In Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Opening Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Closing Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Calculate Capital Expenses**

In [149]:
capital_expenses = direct_cashflow.calculate_capital_expenses(
    details_of_new_assets=details_of_new_assets,
    valuation_date=VALUATION_DATE,
    months_to_forecast=MONTHS_TO_FORECAST,
)

capital_expenses

Jan-2023        0
Feb-2023        0
Mar-2023        0
Apr-2023        0
May-2023        0
Jun-2023    10000
Jul-2023        0
Aug-2023        0
Sep-2023    50000
Oct-2023        0
Nov-2023        0
Dec-2023        0
Name: cost, dtype: int64

### **Insert Capital Expenses**

In [150]:
direct_cashflow_df.loc['Capital Expenses'] = -capital_expenses

In [151]:
importlib.reload(direct_cashflow)

### **Calculate Direct Cashflow Borrowings**

In [153]:
details_of_new_long_term_borrowing

,effective_date,institution,nominal_amount,interest_rate,tenure,repayment_frequency,frequency,method
0,31/12/2023,ZIMNAT LIFE ASSURANCE,376455,0.06,60,Monthly (P+I),12,reducing_balance
1,06/05/2024,MASAWARA,5613,0.06,60,Monthly (P+I),12,reducing_balance

In [156]:
long_and_short_term_borrowing_df = (
    direct_cashflow.calculate_long_and_short_term_borrowing_for_direct_cashflow(
        details_of_new_long_term_borrowing=details_of_new_long_term_borrowing,
        details_of_new_short_term_borrowing=details_of_new_short_term_borrowing,
        valuation_date=VALUATION_DATE,
        months_to_forecast=MONTHS_TO_FORECAST,
    )
)

long_and_short_term_borrowing_df

          long_term_borrowing  short_term_borrowing   total
Jan-2023                    0                     0       0
Feb-2023                    0                     0       0
Mar-2023                    0                     0       0
Apr-2023                    0                     0       0
May-2023                    0                     0       0
Jun-2023                    0                     0       0
Jul-2023                    0                     0       0
Aug-2023                    0                     0       0
Sep-2023                    0                     0       0
Oct-2023                    0                     0       0
Nov-2023                    0                     0       0
Dec-2023               376455                376455  752910

### **Insert Direct Cashflow Borrowing**

In [158]:
direct_cashflow_df.loc['Short Term Borrowing'] = long_and_short_term_borrowing_df['short_term_borrowing']
direct_cashflow_df.loc['Long Term Borrowing'] = long_and_short_term_borrowing_df['long_term_borrowing']

In [159]:
direct_cashflow_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
CASH INFLOWS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Short Term Borrowing,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"376,455.00"
Long Term Borrowing,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"376,455.00"
Capital Repayment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Income,290.78,"45,203.97","94,088.99","144,701.56","177,272.94","202,634.57","226,930.05","249,779.94","288,030.08","334,267.64","403,293.37","475,262.01"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Receipts From Receivables,"1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00"
Purchase Of Inventory,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Issue Of Equity And Intercompany Loans,"1,000.00",0.00,0.00,0.00,0.00,"1,000.00",0.00,"2,000.00",0.00,100.00,0.00,0.00
Purchase Of Other Assets,0.00,0.00,0.00,0.00,"10,000.00","1,000.00","1,000.00",0.00,"5,000.00",0.00,0.00,"10,000.00"
Total Cash Inflows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CASH OUTFLOWS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Disbursements,"-490,000.00","-592,000.00","-706,000.00","-610,000.00","-622,000.00","-712,000.00","-808,000.00","-1,010,000.00","-1,160,000.00","-1,450,000.00","-1,585,000.00","-1,585,000.00"
Interest Expense,"-3,373.20","-3,346.42","-54,518.45","-3,752.40","-3,635.24","-59,949.94","-3,397.55","-3,276.99","-54,076.56","-1,610.77","-1,582.79","-46,819.40"
Capital Repayment On Borrowings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Operating Expenses,"-298,736.02","-298,242.84","-303,599.96","-324,071.20","-319,667.16","-330,689.64","-335,135.60","-344,656.46","-357,415.36","-354,000.99","-372,785.39","-359,435.63"
Capital Expenses,0.00,0.00,0.00,0.00,0.00,"-10,000.00",0.00,0.00,"-50,000.00",0.00,0.00,0.00
Payments To Payables,"-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00"
Sale Of Equity And Repayments On Intercompany Loans,0.00,0.00,"-1,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Sale Of Other Assets,0.00,"-1,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Dividend Paid,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-100.00
Tax Paid,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,"-97,444.63"
Total Cash Outflows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Net Increase/Decrease In Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Opening Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Closing Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Calculate Capital Repayments**

In [160]:
capital_repayment = helper.add_series(
[existing_loans_schedules['capital_repayment'].sum()
    , capital_repayment_new_disbursements_df['total']]
)

capital_repayment

Jan-2023       884.89
Feb-2023    57,064.61
Mar-2023   130,066.30
Apr-2023   219,706.55
May-2023   298,143.94
Jun-2023   381,231.98
Jul-2023   480,117.56
Aug-2023   514,505.17
Sep-2023   557,928.09
Oct-2023   609,402.17
Nov-2023   711,656.07
Dec-2023   842,349.66
Jan-2024   966,750.42
dtype: float64

### **Insert Capital Repayment**

In [161]:
direct_cashflow_df.loc['Capital Repayment'] = capital_repayment

### **Calculate Capital Repayments on Borrowings**

In [162]:
capital_repayment_borrowings_df

,May-2022,Jun-2022,Jul-2022,Aug-2022,Sep-2022,Oct-2022,Nov-2022,Dec-2022,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023,Jan-2024,Feb-2024,Mar-2024,Apr-2024,May-2024,Jun-2024,Jul-2024,Aug-2024,Sep-2024,Oct-2024,Nov-2024,Dec-2024,Jan-2025,Feb-2025,Mar-2025,Apr-2025,May-2025,Jun-2025,Jul-2025,Aug-2025,Sep-2025,Oct-2025,Nov-2025,Dec-2025,Jan-2026,Feb-2026,Mar-2026,Apr-2026,May-2026,Jun-2026,Jul-2026,Aug-2026,Sep-2026,Oct-2026,Nov-2026,Dec-2026,Jan-2027,Feb-2027,Mar-2027,Apr-2027,May-2027,Jun-2027,Jul-2027,Aug-2027,Sep-2027,Oct-2027,Nov-2027,Dec-2027,Jan-2028,Feb-2028,Mar-2028,Apr-2028,May-2028,Jun-2028,Jul-2028,Aug-2028,Sep-2028,Oct-2028,Nov-2028,Dec-2028,Jan-2029,Feb-2029,Mar-2029,Apr-2029
Grandre,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"160,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
MINERVA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"15,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZAM-CARGO,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"364,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZIMNAT LIFE ASSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"5,417.73","5,444.10","5,470.60","5,497.23","5,523.98","5,550.87","5,577.89","5,605.04","5,632.32","5,659.74","5,687.29","5,714.97","5,742.79","5,770.74","5,798.83","5,827.06","5,855.42","5,883.92","5,912.56","5,941.34","5,970.26","5,999.32","6,028.53","6,057.87","6,087.36","6,116.99","6,146.76","6,176.68","6,206.75","6,236.96","6,267.32","6,297.82","6,328.48","6,359.28","6,390.24","6,421.34","6,452.60","6,484.01","6,515.57","6,547.28","6,579.15","6,611.18","6,643.36","6,675.69","6,708.19","6,740.84","6,773.65","6,806.62","6,839.76","6,873.05","6,906.50","6,940.12","6,973.90","7,007.85","7,041.96","7,076.24","7,110.68","7,145.29","7,180.07","7,215.02",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
MASAWARA,80.78,81.17,81.57,81.96,82.36,82.76,83.17,83.57,83.98,84.39,84.80,85.21,85.63,86.04,86.46,86.88,87.31,87.73,88.16,88.59,89.02,89.45,89.89,90.32,90.76,91.21,91.65,92.10,92.54,92.99,93.45,93.90,94.36,94.82,95.28,95.74,96.21,96.68,97.15,97.62,98.10,98.57,99.05,99.54,100.02,100.51,101.00,101.49,101.98,102.48,102.98,103.48,103.98,104.49,105.00,105.51,106.02,106.54,107.06,107.58,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZIMNAT LIFE ASSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"3,334.39",0.00,0.00,"3,445.43",0.00,0.00,"3,560.16",0.00,0.00,"3,678.71",0.00,0.00,"3,801.21",0.00,0.00,"3,927.79",0.00,0.00,"4,058.58",0.00,0.00,"4,193.73",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZIMNAT LIFE ASSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"5,417.73","5,444.10","5,470.60","5,497.23","5,523.98","5,550.87","5,577.89","5,605.04","5,632.32","5,659.74","5,687.29","5,714.97","5,742.79","5,770.74","5,798.83","5,827.06","5,855.42","5,883.92","5,912.56","5,941.34","5,970.26","5,999.32","6,028.53","6,057.87","6,087.36","6,116.99","6,146.76","6,176.68","6,206.75","6,236.96","6,267.32","6,297.82","6,328.48","6,359.28","6,390.24","6,421.34","6,452.60","6,484.01","6,515.57","6,547.28","6,579.15","6,611.18","6,643.36","6,675.69","6,708.19","6,740.84","6,773.65","6,806.62","6,839.76","6,873.05","6,906.50","6,940.12","6,973.90","7,007.85","7,041.96","7,076.24","7,110.68","7,145.29","7,180.07","7,215.02",0.00,0.00,0.00,0.00
MASAWARA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,80.78,81.17,81.57,81.96,82.36,82.76,83.17,83.57,83.98,84.39,84.80,85.21,85.63,86.04,86.46,86.88,87.31,87.73,88.16,88.59,89.02,89.45,89.89,90.32,90.76,91.21,91.65,92.10,92.54,92.99,93.45,93.90,94.36,94.82,95.28,95.74,96.21,96.68,97.15,97.62,98.10,98.57,99.05,99.54,100.02,100.51,101.00,101.49,101.98,102.48,102.98,103.48,103.98,104.49,105.00,105.51,106.02,106.54,107.06,107.58
FCB,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"120,383.84",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Zimnat Life Assurance,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"20,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZLA-Cargo,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"124,575.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZIMNAT LION INSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"50,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZIMNAT LION INSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"92,800.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Grandre,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"100,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
FCB,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"18,429.93",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
NURTURE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"500,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
NMB,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"450,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
BERAMASAMBA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"30,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
DANDEMUTANDE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"25,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZIMNAT LIFE ASSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"8,107.52","8,196.53","8,286.52","8,377.50","8,469.47","8,562.46",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZIMNAT LIFE ASSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"30,540.23","30,688.89","30,838.26","30,988.37","31,139.21","31,290.78","31,443.09","31,596.14","31,749.94","31,904.48","32,059.78","32,215.83",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
MASAWARA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,455.36,457.58,459.80,462.04,464.29,466.55,468.82,471.10,473.40,475.70,478.02,480.34,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
total,80.78,81.17,81.57,81.96,82.36,82.76,83.17,83.57,"5,501.71","5,528.49","13,662.92","13,778.97","13,896.13","17,348.81","14,133.82","14,254.38","9,165.06","5,747.47","5,775.45","1,017,122.56","41,789.76","41,993.18","45,876.29","42,402.98","43,145.52","47,156.74","43,566.57","43,778.63","47,919.51","44,205.85","44,421.03","572,125.76","12,481.88","12,542.64","16,797.42","12,665.04","12,244.01","12,303.60","12,363.49","12,423.67","12,484.15","12,544.91","12,605.98","551,667.34","12,728.99","12,790.95","12,853.21","12,915.78","12,978.65","13,041.82","13,105.30","13,169.09","13,233.19","13,297.61","13,362.33","13,427.38","13,492.73","13,558.41","13,624.41","13,690.72","13,649.26","13,715.70","13,782.46","13,849.55","13,916.96","13,984.71","14,052.78","14,121.18","6,939.78","6,973.55","7,007.50","7,041.61","7,075.88","7,110.33","7,144.94","7,179.71","7,214.66","7,249.78","7,285.07","7,320.53",106.02,106.54,107.06,107.58

### **Insert Capital Repayment on New Borrowings**

In [163]:
direct_cashflow_df.loc[
    "Capital Repayment On Borrowings"
] = -capital_repayment_borrowings_df.loc["total"]

direct_cashflow_df.loc["Capital Repayment On Borrowings"] = direct_cashflow_df.loc[
    "Capital Repayment On Borrowings"
].fillna(0)

### **Calculate Direct Cashflow Totals**

In [ ]:
direct_cashflow_df

In [164]:
direct_cashflow_df.loc["Total Cash Inflows"] = direct_cashflow_df.iloc[
    direct_cashflow_df.index.get_loc("CASH INFLOWS")
    + 1 : direct_cashflow_df.index.get_loc("Total Cash Inflows")
].sum()


direct_cashflow_df.loc["Total Cash Outflows"] = direct_cashflow_df.iloc[
    direct_cashflow_df.index.get_loc("CASH OUTFLOWS")
    + 1 : direct_cashflow_df.index.get_loc("Total Cash Outflows")
].sum()

direct_cashflow_df.loc["Net Increase/Decrease In Cash"] = (
    direct_cashflow_df.loc["Total Cash Inflows"]
    + direct_cashflow_df.loc["Total Cash Outflows"]
)

### **Calculate Opening and Closing Balances**

In [165]:
direct_cashflow_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
CASH INFLOWS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Short Term Borrowing,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"376,455.00"
Long Term Borrowing,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"376,455.00"
Capital Repayment,884.89,"57,064.61","130,066.30","219,706.55","298,143.94","381,231.98","480,117.56","514,505.17","557,928.09","609,402.17","711,656.07","842,349.66"
Interest Income,290.78,"45,203.97","94,088.99","144,701.56","177,272.94","202,634.57","226,930.05","249,779.94","288,030.08","334,267.64","403,293.37","475,262.01"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Receipts From Receivables,"1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00"
Purchase Of Inventory,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Issue Of Equity And Intercompany Loans,"1,000.00",0.00,0.00,0.00,0.00,"1,000.00",0.00,"2,000.00",0.00,100.00,0.00,0.00
Purchase Of Other Assets,0.00,0.00,0.00,0.00,"10,000.00","1,000.00","1,000.00",0.00,"5,000.00",0.00,0.00,"10,000.00"
Total Cash Inflows,"13,004.01","124,797.62","260,054.26","411,115.88","542,571.22","654,956.56","782,169.24","848,099.65","942,081.99","1,053,769.57","1,247,795.14","2,234,189.69"
CASH OUTFLOWS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Disbursements,"-490,000.00","-592,000.00","-706,000.00","-610,000.00","-622,000.00","-712,000.00","-808,000.00","-1,010,000.00","-1,160,000.00","-1,450,000.00","-1,585,000.00","-1,585,000.00"
Interest Expense,"-3,373.20","-3,346.42","-54,518.45","-3,752.40","-3,635.24","-59,949.94","-3,397.55","-3,276.99","-54,076.56","-1,610.77","-1,582.79","-46,819.40"
Capital Repayment On Borrowings,"-5,501.71","-5,528.49","-13,662.92","-13,778.97","-13,896.13","-17,348.81","-14,133.82","-14,254.38","-9,165.06","-5,747.47","-5,775.45","-1,017,122.56"
Operating Expenses,"-298,736.02","-298,242.84","-303,599.96","-324,071.20","-319,667.16","-330,689.64","-335,135.60","-344,656.46","-357,415.36","-354,000.99","-372,785.39","-359,435.63"
Capital Expenses,0.00,0.00,0.00,0.00,0.00,"-10,000.00",0.00,0.00,"-50,000.00",0.00,0.00,0.00
Payments To Payables,"-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00"
Sale Of Equity And Repayments On Intercompany Loans,0.00,0.00,"-1,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Sale Of Other Assets,0.00,"-1,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Dividend Paid,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-100.00
Tax Paid,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,"-97,444.63"
Total Cash Outflows,"-798,610.93","-901,117.75","-1,079,781.33","-952,602.57","-960,198.53","-1,130,988.39","-1,161,666.97","-1,373,187.83","-1,631,656.98","-1,812,359.23","-1,966,143.63","-3,106,922.22"
Net Increase/Decrease In Cash,"-785,606.92","-776,320.13","-819,727.08","-541,486.69","-417,627.31","-476,031.82","-379,497.73","-525,088.18","-689,574.99","-758,589.66","-718,348.49","-872,732.53"
Opening Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Closing Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [166]:
direct_cashflow_df= direct_cashflow.calculate_opening_and_closing_balances_for_direct_cashflows(
direct_cashflow=direct_cashflow_df, 
cash_on_hand_opening_balance= opening_balances['CASH_ON_HAND'].iat[0]
)

direct_cashflow_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
CASH INFLOWS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Short Term Borrowing,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"376,455.00"
Long Term Borrowing,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"376,455.00"
Capital Repayment,884.89,"57,064.61","130,066.30","219,706.55","298,143.94","381,231.98","480,117.56","514,505.17","557,928.09","609,402.17","711,656.07","842,349.66"
Interest Income,290.78,"45,203.97","94,088.99","144,701.56","177,272.94","202,634.57","226,930.05","249,779.94","288,030.08","334,267.64","403,293.37","475,262.01"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Receipts From Receivables,"1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00"
Purchase Of Inventory,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Issue Of Equity And Intercompany Loans,"1,000.00",0.00,0.00,0.00,0.00,"1,000.00",0.00,"2,000.00",0.00,100.00,0.00,0.00
Purchase Of Other Assets,0.00,0.00,0.00,0.00,"10,000.00","1,000.00","1,000.00",0.00,"5,000.00",0.00,0.00,"10,000.00"
Total Cash Inflows,"13,004.01","124,797.62","260,054.26","411,115.88","542,571.22","654,956.56","782,169.24","848,099.65","942,081.99","1,053,769.57","1,247,795.14","2,234,189.69"
CASH OUTFLOWS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Disbursements,"-490,000.00","-592,000.00","-706,000.00","-610,000.00","-622,000.00","-712,000.00","-808,000.00","-1,010,000.00","-1,160,000.00","-1,450,000.00","-1,585,000.00","-1,585,000.00"
Interest Expense,"-3,373.20","-3,346.42","-54,518.45","-3,752.40","-3,635.24","-59,949.94","-3,397.55","-3,276.99","-54,076.56","-1,610.77","-1,582.79","-46,819.40"
Capital Repayment On Borrowings,"-5,501.71","-5,528.49","-13,662.92","-13,778.97","-13,896.13","-17,348.81","-14,133.82","-14,254.38","-9,165.06","-5,747.47","-5,775.45","-1,017,122.56"
Operating Expenses,"-298,736.02","-298,242.84","-303,599.96","-324,071.20","-319,667.16","-330,689.64","-335,135.60","-344,656.46","-357,415.36","-354,000.99","-372,785.39","-359,435.63"
Capital Expenses,0.00,0.00,0.00,0.00,0.00,"-10,000.00",0.00,0.00,"-50,000.00",0.00,0.00,0.00
Payments To Payables,"-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00","-1,000.00"
Sale Of Equity And Repayments On Intercompany Loans,0.00,0.00,"-1,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Sale Of Other Assets,0.00,"-1,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Dividend Paid,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-100.00
Tax Paid,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,"-97,444.63"
Total Cash Outflows,"-798,610.93","-901,117.75","-1,079,781.33","-952,602.57","-960,198.53","-1,130,988.39","-1,161,666.97","-1,373,187.83","-1,631,656.98","-1,812,359.23","-1,966,143.63","-3,106,922.22"
Net Increase/Decrease In Cash,"-785,606.92","-776,320.13","-819,727.08","-541,486.69","-417,627.31","-476,031.82","-379,497.73","-525,088.18","-689,574.99","-758,589.66","-718,348.49","-872,732.53"
Opening Balance,"331,000.00","-454,606.92","-1,230,927.05","-2,050,654.13","-2,592,140.82","-3,009,768.13","-3,485,799.95","-3,865,297.69","-4,390,385.87","-5,079,960.86","-5,838,550.52","-6,556,899.01"
Closing Balance,"-454,606.92","-1,230,927.05","-2,050,654.13","-2,592,140.82","-3,009,768.13","-3,485,799.95","-3,865,297.69","-4,390,385.87","-5,079,960.86","-5,838,550.52","-6,556,899.01","-7,429,631.54"

### **Calculate IMTT (2% Tax)**

In [167]:
income_statement_df.loc['2% Taxation']  = -direct_cashflow_df.loc['Total Cash Outflows']*IMTT

## **Calculate Profit and Loss for the Period**

In [168]:
income_statement_df = income_statement.calculate_profit_or_loss_for_period(income_statement_df)
income_statement_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
INCOME_STATEMENT,,,,,,,,,,,,
Interest Income,290.78,"45,203.97","94,088.99","144,701.56","177,272.94","202,634.57","226,930.05","249,779.94","288,030.08","334,267.64","403,293.37","475,262.01"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Total Revenue,"10,119.12","66,733.01","128,987.96","190,409.33","233,427.29","270,724.58","300,051.67","330,594.47","378,153.89","443,267.40","535,139.07","627,930.02"
MANAGEMENT EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAFF COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salaries,"26,600.00","28,670.00","31,400.00","31,200.00","33,140.00","34,580.00","37,450.00","40,475.00","42,650.00","45,950.00","47,300.00","47,300.00"
Pensions & Statutory Contributions,"3,021.76","3,256.91","3,567.04","3,544.32","3,764.70","3,928.29","4,254.32","4,597.96","4,845.04","5,219.92","5,373.28","5,373.28"
Training,"7,069.79","7,211.19","7,355.41","7,502.52","7,652.57","7,805.62","7,961.73","8,120.97","8,283.39","8,449.05","8,618.03","8,790.40"
Bonus Provision,14297,10995,17629,19467,11016,17869,16439,17892,16863,17916,18529,10878
Retrenchments,19268,14887,14859,16331,18571,18684,17208,15276,12062,10064,18006,12568
Staff Welfare,15463,12027,12695,19687,15258,15618,16736,10391,15892,13561,16184,13099
CILL,13152,11585,13943,17555,13073,11021,13843,17989,19692,16873,15675,10161
Total Staff Costs,"98,871.55","88,632.10","101,448.45","115,286.84","102,475.27","109,505.91","113,892.05","114,741.93","120,287.43","118,032.97","129,685.31","108,169.68"
TRAVEL & ENTERTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel Costs,"7,080.16","7,221.76","7,366.20","7,513.52","7,663.79","7,817.07","7,973.41","8,132.88","8,295.54","8,461.45","8,630.68","8,803.29"
Entertainment,"7,760.67","7,915.88","8,074.20","8,235.69","8,400.40","8,568.41","8,739.77","8,914.57","9,092.86","9,274.72","9,460.21","9,649.42"
Total Travel & Entertainment,"14,840.83","15,137.65","15,440.40","15,749.21","16,064.19","16,385.48","16,713.19","17,047.45","17,388.40","17,736.17","18,090.89","18,452.71"
MARKETING AND PUBLIC RELATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marketing Costs,"7,796.37","7,952.30","8,111.34","8,273.57","8,439.04","8,607.82","8,779.98","8,955.58","9,134.69","9,317.38","9,503.73","9,693.81"
Group Marketing Costs,"7,659.18","7,812.36","7,968.61","8,127.98","8,290.54","8,456.35","8,625.48","8,797.99","8,973.95","9,153.43","9,336.50","9,523.23"
Donations,16278,18392,13104,17215,12454,18996,12731,18154,19762,15056,18110,13840
Total Marketing And Public Relations,"31,733.55","34,156.66","29,183.95","33,616.55","29,183.58","36,060.18","30,136.46","35,907.57","37,870.64","33,526.81","36,950.23","33,057.03"
OFFICE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Costs,"7,749.79","7,904.79","8,062.88","8,224.14","8,388.62","8,556.39","8,727.52","8,902.07","9,080.11","9,261.72","9,446.95","9,635.89"
Subscriptions,"8,444.75","8,613.64","8,785.92","8,961.64","9,140.87","9,323.69","9,510.16","9,700.36","9,894.37","10,092.26","10,294.10","10,499.99"
Insurance,"7,590.16","7,741.96","7,896.80","8,054.74","8,215.83","8,380.15","8,547.75","8,718.71","8,893.08","9,070.94","9,252.36","9,437.41"
Repairs And Maintenance,"8,262.68","8,427.93","8,596.49","8,768.42","8,943.79","9,122.67","9,305.12","9,491.22","9,681.05","9,874.67","10,072.16","10,273.60"
Utilities,"7,537.97","7,688.73","7,842.50","7,999.35","8,159.34","8,322.53","8,488.98","8,658.76","8,831.93","9,008.57","9,188.74","9,372.52"
Stationery,"8,099.82","8,261.82","8,427.05","8,595.59","8,767.51","8,942.86","9,121.71","9,304.15","9,490.23","9,680.03","9,873.64","10,071.11"
Admin Costs,"8,134.33","8,297.02","8,462.96","8,632.22","8,804.86","8,980.96","9,160.58","9,343.79","9,530.66","9,721.28","9,915.70","10,114.02"
IT Costs,"7,668.02","7,821.38","7,977.81","8,137.36","8,300.11","8,466.11","8,635.44","8,808.14","8,984.31","9,163.99","9,347.27","9,534.22"
Masawara Mgt Fee,"7,619.57","7,771.96","7,927.40","8,085.95","8,247.67","8,412.62","8,580.87","8,752.49","8,927.54","9,106.09","9,288.21","9,473.98"
Fines And Penalties,"7,231.97","7,376.61","7,524.14","7,674.62","7,828.12","7,984.68","8,144.37","8,307.26","8,473.41","8,642.87","8,815.73","8,992.05"
Total Office Costs,"78,339.06","79,905.84","81,503.96","83,134.04","84,796.72","86,492.65","88,222.51","89,986.96","91,786.69","93,622.43","95,494.88","97,404.77"
PROFESSIONAL FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auditors Remuneration,"7,112.63","7,254.88","7,399.98","7,547.98","7,698.94","7,852.92","8,009.98","8,170.18","8,333.58","8,500.25","8,670.26","8,843.66"
Legal Fees,0,0,0,0,0,0,0,0,0,0,0,0
Strategic Expenses,0,0,0,0,0,0,0,0,0,0,0,0
Directors Fees,"7,728.71","7,883.28","8,040.95","8,201.77","8,365.80","8,533.12","8,703.78","8,877.86","9,055.42","9,236.52","9,421.25","9,609.68"
Consultancy Fees,"6,992.61","7,132.46","7,275.11","7,420.61","7,569.03","7,720.41","7,874.81","8,032.31","8,192.96","8,356.82","8,523.95","8,694.43"
Total Professional Fees,"21,833.95","22,270.63","22,716.04","23,170.36","23,633.77","24,106.45","24,588.57","25,080.35","25,581.95","26,093.59","26,615.46","27,147.77"
COMMUNICATION COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telephones,"8,847.99","9,024.95","9,205.45","9,389.56","9,577.35","9,768.90","9,964.27","10,163.56","10,366.83","10,574.17","10,785.65","11,001.36"
Cellphones,"7,549.19","7,700.17","7,854.18","8,011.26","8,171.49","8,334.92","8,501.61","8,671.65","8,845.08","9,021.98","9,202.42","9,386.47"
Internet,"8,972.94","9,152.40","9,335.45","9,522.16","9,712.60","9,906.85","10,104.99","10,307.09","10,513.23","10,723.49","10,937.96","11,156.72"
Courier,"7,590.67","7,742.48","7,897.33","8,055.28","8,216.39","8,380.71","8,548.33","8,719.29","8,893.68","9,071.55","9,252.98","9,438.04"
Total Communication Costs,"32,960.79","33,620.01","34,292.41","34,978.25","35,677.82","36,391.38","37,119.20","37,861.59","38,618.82","39,391.20","40,179.02","40,982.60"
MOTOR VEHICLE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel,"8,027.74","8,188.29","8,352.06","8,519.10","8,689.48","8,863.27","9,040.54","9,221.35","9,405.78","9,593.89","9,785.77","9,981.49"
Motor Vehicle Maintenance Costs,"8,277.98","8,443.54","8,612.41","8,784.66","8,960.35","9,139.56","9,322.35","9,508.80","9,698.97","9,892.95","10,090.81","10,292.63"
Total Motor Vehicle Costs,"16,305.72","16,631.83","16,964.47","17,303.76","17,649.84","18,002.83","18,362.89","18,730.15","19,104.75","19,486.84","19,876.58","20,274.11"
OTHER COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,"9,000.00","9,000.00","9,000.00","9,000.00","9,000.00","7,000.00","7,000.00","7,000.00","9,500.00","9,500.00","7,500.00","7,500.00"
Bank Charges,"7,884.26","8,041.95","8,202.78","8,366.84","8,534.18","8,704.86","8,878.96","9,056.54","9,237.67","9,422.42","9,610.87","9,803.09"
Zimnat Grp Shared Costs Recovery Exp,"8,643.31","8,816.18","8,992.50","9,172.35","9,355.80","9,542.91","9,733.77","9,928.45","10,127.02","10,329.56","10,536.15","10,746.87"
Provisions,60.00,"2,130.00","2,190.00","-1,880.00",320.00,"1,620.00","1,970.00","4,065.00","2,775.00","5,800.00","2,700.00",0.00
Business Acquisition,"1,620.00","2,025.00","2,484.00","2,760.00","3,312.00","3,366.00","3,927.00","4,207.50","4,275.00","4,275.00","4,275.00","4,275.00"
Total Other Costs,"27,207.57","30,013.12","30,869.28","27,419.19","30,521.97","30,233.77","31,509.73","34,257.48","35,914.68","39,326.98","34,622.02","32,324.96"
TOTAL EXPENSES,"322,093.02","320,367.84","332,418.96","350,658.20","340,003.16","357,178.64","360,544.60","373,613.46","386,553.36","387,216.99","401,514.39","377,813.63"
EBIDTA,"-311,973.90","-253,634.83","-203,431.00","-160,248.87","-106,575.88","-86,454.05","-60,492.92","-43,018.99","-8,399.47","56,050.41","133,624.68","250,116.39"
INVESTMENT INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Income,0,0,0,0,0,0,0,0,0,0,0,0
Interest Received,0,0,0,0,0,0,0,0,0,0,0,0
Dividends Received,0,0,0,0,0,0,0,0,0,0,0,0
Fair Value Adjustments,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Inv Properties,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Equities,0,0,0,0,0,0,0,0,0,0,0,0
Exchange Gains/(Losses),0,0,0,0,0,0,0,0,0,0,0,0
Admin Fees,0,0,0,0,0,0,0,0,0,0,0,0
Total Investment Income,0,0,0,0,0,0,0,0,0,0,0,0
FINANCE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finance Costs,"3,373.20","3,346.42","54,518.45","3,752.40","3,635.24","59,949.94","3,397.55","3,276.99","54,076.56","1,610.77","1,582.79","46,819.40"
Third Party,0,0,0,0,0,0,0,0,0,0,0,0
Total Finance Costs,"3,373.20","3,346.42","54,518.45","3,752.40","3,635.24","59,949.94","3,397.55","3,276.99","54,076.56","1,610.77","1,582.79","46,819.40"
PROFIT / (LOSS) BEFORE TAX,"-315,347.11","-256,981.25","-257,949.46","-164,001.27","-110,211.12","-146,404.00","-63,890.47","-46,295.98","-62,476.03","54,439.64","132,041.89","203,296.99"
Taxation,0,0,0,0,0,0,0,0,0,"13,609.91","33,010.47","50,824.25"
2% Taxation,"7,986.11","9,011.18","10,797.81","9,526.03","9,601.99","11,309.88","11,616.67","13,731.88","16,316.57","18,123.59","19,661.44","31,069.22"
PROFIT/(LOSS) FOR PERIOD,"-323,333.22","-265,992.43","-268,747.27","-173,527.30","-119,813.10","-157,713.88","-75,507.14","-60,027.86","-78,792.60","22,706.14","79,369.98","121,403.52"

## **Loan Book**

In [169]:
loan_book_df = loan_book.generate_loan_book_template(
    valuation_date=VALUATION_DATE, months_to_forecast=MONTHS_TO_FORECAST
)
loan_book_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
Opening Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
New Disbursements,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Repayments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Closing Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Insert Loan Book Items**

In [170]:
capital_repayment_existing_loans = existing_loans_schedules['capital_repayment'].sum()
capital_repayment_existing_loans

Jan-2023   884.89
Feb-2023   891.70
Mar-2023   898.59
Apr-2023   905.55
May-2023   912.59
Jun-2023   919.70
Jul-2023   926.89
Aug-2023   934.16
Sep-2023   941.52
Oct-2023   948.95
Nov-2023   956.47
Dec-2023     0.00
dtype: float64

In [171]:
total_capital_repayments = loan_book.aggregate_new_and_existing_loans_capital_repayments(
    capital_repayments_new_disbursements_df = capital_repayment_new_disbursements_df,
    capital_repayments_existing_loans = capital_repayment_existing_loans,
    valuation_date = VALUATION_DATE,
    months_to_forecast = MONTHS_TO_FORECAST,
)
total_capital_repayments

Jan-2023       884.89
Feb-2023    57,064.61
Mar-2023   130,066.30
Apr-2023   219,706.55
May-2023   298,143.94
Jun-2023   381,231.98
Jul-2023   480,117.56
Aug-2023   514,505.17
Sep-2023   557,928.09
Oct-2023   609,402.17
Nov-2023   711,656.07
Dec-2023   842,349.66
dtype: float64

In [172]:
loan_book_df = loan_book.insert_loan_book_items(
    loan_book=loan_book_df,
    opening_balance_on_loan_book=float(opening_balances["LOAN_BOOK"].iat[0]),
    total_interest_income=total_interest_income,
    total_capital_repayments=total_capital_repayments,
    disbursements=helper.change_period_index_to_strftime(new_disbursements_df["total"]),
)
loan_book_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
Opening Balance,"2,800,000.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
New Disbursements,"490,000.00","592,000.00","706,000.00","610,000.00","622,000.00","712,000.00","808,000.00","1,010,000.00","1,160,000.00","1,450,000.00","1,585,000.00","1,585,000.00"
Repayments,"-1,175.68","-102,268.58","-224,155.29","-364,408.11","-475,416.87","-583,866.55","-707,047.61","-764,285.11","-845,958.18","-943,669.82","-1,114,949.44","-1,317,611.68"
Interest Income,290.78,"45,203.97","94,088.99","144,701.56","177,272.94","202,634.57","226,930.05","249,779.94","288,030.08","334,267.64","403,293.37","475,262.01"
Closing Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Calculate Opening and Closing Balances for Loan Book**

In [173]:
loan_book_df = helper.calculate_opening_and_closing_balances(loan_book_df)
loan_book_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
Opening Balance,"2,800,000.00","3,289,115.11","3,824,050.50","4,399,984.20","4,790,277.65","5,114,133.71","5,444,901.73","5,772,784.17","6,268,279.00","6,870,350.90","7,710,948.73","8,584,292.66"
New Disbursements,"490,000.00","592,000.00","706,000.00","610,000.00","622,000.00","712,000.00","808,000.00","1,010,000.00","1,160,000.00","1,450,000.00","1,585,000.00","1,585,000.00"
Repayments,"-1,175.68","-102,268.58","-224,155.29","-364,408.11","-475,416.87","-583,866.55","-707,047.61","-764,285.11","-845,958.18","-943,669.82","-1,114,949.44","-1,317,611.68"
Interest Income,290.78,"45,203.97","94,088.99","144,701.56","177,272.94","202,634.57","226,930.05","249,779.94","288,030.08","334,267.64","403,293.37","475,262.01"
Closing Balance,"3,289,115.11","3,824,050.50","4,399,984.20","4,790,277.65","5,114,133.71","5,444,901.73","5,772,784.17","6,268,279.00","6,870,350.90","7,710,948.73","8,584,292.66","9,326,942.99"

## **Balance Sheet**

In [174]:
balance_sheet_df = balance_sheet.generate_balance_sheet_template(
    valuation_date=VALUATION_DATE,
    months_to_forecast=MONTHS_TO_FORECAST,
)

balance_sheet_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
STATEMENT_OF_FINANCIAL_POSITION,,,,,,,,,,,,
ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NON CURRENT ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Property Plant And Equipment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Intangible Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investment In Subsidiaries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investment In Associates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investment Properties,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Equity Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Long Term Money Market Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Loans To Related Entities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Non Current Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CURRENT ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Inventories,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Intergroup Receivables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Loan Book,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Trade Receivables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other Receivables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cash On Hand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Short Term Money Market Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Current Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EQUITY AND LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CAPITAL AND RESERVES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Issued Share Capital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Share Premium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other Components Of Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Treasury Shares,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Retained Earnings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Capital And Reserves,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NON CURRENT LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Loans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Intercompany Loans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Deferred Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Non Current Liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CURRENT LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Trade Payables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other Payables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Borrowings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Provision For Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Provisions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Current Liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL EQUITY AND LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CHECK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Insert Available Balance Sheet Items**

In [175]:
depreciations_and_nbvs.keys()

dict_keys(['nbvs', 'dpns'])

In [178]:
balance_sheet_df.loc["Property Plant And Equipment"] = depreciations_and_nbvs["nbvs"][
    "total"
]

balance_sheet_df.loc["Loan Book"] = loan_book_df.loc["Closing Balance"]

balance_sheet_df.loc["Cash On Hand"] = direct_cashflow_df.loc["Closing Balance"]

balance_sheet_df.loc[
    "Provisions"
] = provision_for_credit_loss_for_all_new_disbursements["total"]


balance_sheet_df.loc["Provision For Taxation"] = helper.change_period_index_to_strftime(
    parameters.loc["PROVISION_FOR_TAX"]
)



balance_sheet_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
STATEMENT_OF_FINANCIAL_POSITION,,,,,,,,,,,,
ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NON CURRENT ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Property Plant And Equipment,"111,000.00","102,000.00","93,000.00","84,000.00","75,000.00","78,000.00","71,000.00","64,000.00","104,500.00","95,000.00","87,500.00","80,000.00"
Intangible Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investment In Subsidiaries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investment In Associates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investment Properties,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Equity Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Long Term Money Market Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Loans To Related Entities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Non Current Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CURRENT ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Inventories,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Intergroup Receivables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Loan Book,"3,289,115.11","3,824,050.50","4,399,984.20","4,790,277.65","5,114,133.71","5,444,901.73","5,772,784.17","6,268,279.00","6,870,350.90","7,710,948.73","8,584,292.66","9,326,942.99"
Trade Receivables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other Receivables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cash On Hand,"-454,606.92","-1,230,927.05","-2,050,654.13","-2,592,140.82","-3,009,768.13","-3,485,799.95","-3,865,297.69","-4,390,385.87","-5,079,960.86","-5,838,550.52","-6,556,899.01","-7,429,631.54"
Short Term Money Market Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Current Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EQUITY AND LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CAPITAL AND RESERVES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Issued Share Capital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Share Premium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other Components Of Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Treasury Shares,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Retained Earnings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Capital And Reserves,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NON CURRENT LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Loans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Intercompany Loans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Deferred Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Non Current Liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CURRENT LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Trade Payables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other Payables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Borrowings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Provision For Taxation,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Provisions,"10,060.00","12,190.00","14,380.00","12,500.00","12,820.00","14,440.00","16,410.00","20,475.00","23,250.00","29,050.00","31,750.00","31,750.00"
Current Liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL EQUITY AND LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CHECK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Generate Borrowings Schedules**

Dec-2022   25,000.00
Mar-2023   48,798.94
Apr-2023      459.93
May-2023      369.94
Jun-2023   53,312.97
Jul-2023      186.99
Aug-2023       94.01
Sep-2023   49,150.00
Dec-2023   42,091.50
Jan-2024    1,832.41
Feb-2024    1,683.76
Mar-2024    2,434.38
Apr-2024    1,384.27
May-2024    1,260.76
Jun-2024    1,106.97
Jul-2024      952.43
Aug-2024      797.14
Sep-2024      641.10
Oct-2024      484.29
Nov-2024      326.72
Dec-2024      168.39
Jan-2025        9.28
Feb-2025        6.98
Mar-2025        4.66
Apr-2025        2.34
dtype: float64

In [183]:
short_term_loans_schedules = balance_sheet.calculate_short_term_loans_schedules(
    long_and_short_term_borrowing_df=long_and_short_term_borrowing_df,
    capital_repayment_on_borrowings_df=short_term_borrowings_schedules['interest_payments'].sum(),
    opening_balances=opening_balances,
    valuation_date=VALUATION_DATE, 
    months_to_forecast=MONTHS_TO_FORECAST
)

short_term_loans_schedules

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
Opening Balance,50000,"-182,560.17","-415,120.33","-647,680.50","-880,240.66","-1,112,800.83","-1,345,360.99","-1,577,921.16","-1,810,481.33","-2,043,041.49","-2,275,601.66","-2,508,161.82"
Borrowings,0,0,0,0,0,0,0,0,0,0,0,376455
Repayments,"-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17"
Closing Balance,"-182,560.17","-415,120.33","-647,680.50","-880,240.66","-1,112,800.83","-1,345,360.99","-1,577,921.16","-1,810,481.33","-2,043,041.49","-2,275,601.66","-2,508,161.82","-2,364,266.99"

In [184]:
capital_repayment_borrowings_df

,May-2022,Jun-2022,Jul-2022,Aug-2022,Sep-2022,Oct-2022,Nov-2022,Dec-2022,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023,Jan-2024,Feb-2024,Mar-2024,Apr-2024,May-2024,Jun-2024,Jul-2024,Aug-2024,Sep-2024,Oct-2024,Nov-2024,Dec-2024,Jan-2025,Feb-2025,Mar-2025,Apr-2025,May-2025,Jun-2025,Jul-2025,Aug-2025,Sep-2025,Oct-2025,Nov-2025,Dec-2025,Jan-2026,Feb-2026,Mar-2026,Apr-2026,May-2026,Jun-2026,Jul-2026,Aug-2026,Sep-2026,Oct-2026,Nov-2026,Dec-2026,Jan-2027,Feb-2027,Mar-2027,Apr-2027,May-2027,Jun-2027,Jul-2027,Aug-2027,Sep-2027,Oct-2027,Nov-2027,Dec-2027,Jan-2028,Feb-2028,Mar-2028,Apr-2028,May-2028,Jun-2028,Jul-2028,Aug-2028,Sep-2028,Oct-2028,Nov-2028,Dec-2028,Jan-2029,Feb-2029,Mar-2029,Apr-2029
Grandre,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"160,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
MINERVA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"15,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZAM-CARGO,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"364,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZIMNAT LIFE ASSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"5,417.73","5,444.10","5,470.60","5,497.23","5,523.98","5,550.87","5,577.89","5,605.04","5,632.32","5,659.74","5,687.29","5,714.97","5,742.79","5,770.74","5,798.83","5,827.06","5,855.42","5,883.92","5,912.56","5,941.34","5,970.26","5,999.32","6,028.53","6,057.87","6,087.36","6,116.99","6,146.76","6,176.68","6,206.75","6,236.96","6,267.32","6,297.82","6,328.48","6,359.28","6,390.24","6,421.34","6,452.60","6,484.01","6,515.57","6,547.28","6,579.15","6,611.18","6,643.36","6,675.69","6,708.19","6,740.84","6,773.65","6,806.62","6,839.76","6,873.05","6,906.50","6,940.12","6,973.90","7,007.85","7,041.96","7,076.24","7,110.68","7,145.29","7,180.07","7,215.02",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
MASAWARA,80.78,81.17,81.57,81.96,82.36,82.76,83.17,83.57,83.98,84.39,84.80,85.21,85.63,86.04,86.46,86.88,87.31,87.73,88.16,88.59,89.02,89.45,89.89,90.32,90.76,91.21,91.65,92.10,92.54,92.99,93.45,93.90,94.36,94.82,95.28,95.74,96.21,96.68,97.15,97.62,98.10,98.57,99.05,99.54,100.02,100.51,101.00,101.49,101.98,102.48,102.98,103.48,103.98,104.49,105.00,105.51,106.02,106.54,107.06,107.58,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZIMNAT LIFE ASSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"3,334.39",0.00,0.00,"3,445.43",0.00,0.00,"3,560.16",0.00,0.00,"3,678.71",0.00,0.00,"3,801.21",0.00,0.00,"3,927.79",0.00,0.00,"4,058.58",0.00,0.00,"4,193.73",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZIMNAT LIFE ASSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"5,417.73","5,444.10","5,470.60","5,497.23","5,523.98","5,550.87","5,577.89","5,605.04","5,632.32","5,659.74","5,687.29","5,714.97","5,742.79","5,770.74","5,798.83","5,827.06","5,855.42","5,883.92","5,912.56","5,941.34","5,970.26","5,999.32","6,028.53","6,057.87","6,087.36","6,116.99","6,146.76","6,176.68","6,206.75","6,236.96","6,267.32","6,297.82","6,328.48","6,359.28","6,390.24","6,421.34","6,452.60","6,484.01","6,515.57","6,547.28","6,579.15","6,611.18","6,643.36","6,675.69","6,708.19","6,740.84","6,773.65","6,806.62","6,839.76","6,873.05","6,906.50","6,940.12","6,973.90","7,007.85","7,041.96","7,076.24","7,110.68","7,145.29","7,180.07","7,215.02",0.00,0.00,0.00,0.00
MASAWARA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,80.78,81.17,81.57,81.96,82.36,82.76,83.17,83.57,83.98,84.39,84.80,85.21,85.63,86.04,86.46,86.88,87.31,87.73,88.16,88.59,89.02,89.45,89.89,90.32,90.76,91.21,91.65,92.10,92.54,92.99,93.45,93.90,94.36,94.82,95.28,95.74,96.21,96.68,97.15,97.62,98.10,98.57,99.05,99.54,100.02,100.51,101.00,101.49,101.98,102.48,102.98,103.48,103.98,104.49,105.00,105.51,106.02,106.54,107.06,107.58
FCB,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"120,383.84",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Zimnat Life Assurance,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"20,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZLA-Cargo,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"124,575.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZIMNAT LION INSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"50,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZIMNAT LION INSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"92,800.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Grandre,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"100,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
FCB,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"18,429.93",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
NURTURE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"500,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
NMB,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"450,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
BERAMASAMBA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"30,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
DANDEMUTANDE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"25,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZIMNAT LIFE ASSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"8,107.52","8,196.53","8,286.52","8,377.50","8,469.47","8,562.46",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ZIMNAT LIFE ASSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"30,540.23","30,688.89","30,838.26","30,988.37","31,139.21","31,290.78","31,443.09","31,596.14","31,749.94","31,904.48","32,059.78","32,215.83",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
MASAWARA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,455.36,457.58,459.80,462.04,464.29,466.55,468.82,471.10,473.40,475.70,478.02,480.34,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
total,80.78,81.17,81.57,81.96,82.36,82.76,83.17,83.57,"5,501.71","5,528.49","13,662.92","13,778.97","13,896.13","17,348.81","14,133.82","14,254.38","9,165.06","5,747.47","5,775.45","1,017,122.56","41,789.76","41,993.18","45,876.29","42,402.98","43,145.52","47,156.74","43,566.57","43,778.63","47,919.51","44,205.85","44,421.03","572,125.76","12,481.88","12,542.64","16,797.42","12,665.04","12,244.01","12,303.60","12,363.49","12,423.67","12,484.15","12,544.91","12,605.98","551,667.34","12,728.99","12,790.95","12,853.21","12,915.78","12,978.65","13,041.82","13,105.30","13,169.09","13,233.19","13,297.61","13,362.33","13,427.38","13,492.73","13,558.41","13,624.41","13,690.72","13,649.26","13,715.70","13,782.46","13,849.55","13,916.96","13,984.71","14,052.78","14,121.18","6,939.78","6,973.55","7,007.50","7,041.61","7,075.88","7,110.33","7,144.94","7,179.71","7,214.66","7,249.78","7,285.07","7,320.53",106.02,106.54,107.06,107.58

In [185]:
long_and_short_term_borrowing_df

          long_term_borrowing  short_term_borrowing   total
Jan-2023                    0                     0       0
Feb-2023                    0                     0       0
Mar-2023                    0                     0       0
Apr-2023                    0                     0       0
May-2023                    0                     0       0
Jun-2023                    0                     0       0
Jul-2023                    0                     0       0
Aug-2023                    0                     0       0
Sep-2023                    0                     0       0
Oct-2023                    0                     0       0
Nov-2023                    0                     0       0
Dec-2023               376455                376455  752910

In [188]:
long_term_loans_schedules = balance_sheet.calculate_long_term_loans_schedules(
    long_and_short_term_borrowing_df=long_and_short_term_borrowing_df,
    capital_repayment_on_borrowings_df=long_term_borrowings_schedules['interest_payments'].sum(),
    opening_balances=opening_balances,
    valuation_date=VALUATION_DATE, 
    months_to_forecast=MONTHS_TO_FORECAST
)

long_term_loans_schedules

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
Opening Balance,200000,"196,626.80","193,280.38","187,560.86","184,268.39","181,003.09","174,366.12","171,155.56","167,972.58","163,046.01","161,435.24","159,852.45"
Borrowings,0,0,0,0,0,0,0,0,0,0,0,376455
Repayments,"-3,373.20","-3,346.42","-5,719.51","-3,292.47","-3,265.30","-6,636.98","-3,210.56","-3,182.98","-4,926.56","-1,610.77","-1,582.79","-4,727.90"
Closing Balance,"196,626.80","193,280.38","187,560.86","184,268.39","181,003.09","174,366.12","171,155.56","167,972.58","163,046.01","161,435.24","159,852.45","531,579.55"

### **Insert Borrowings and Loans**

In [189]:
balance_sheet_df.loc["Loans"] = long_term_loans_schedules.loc['Closing Balance']
balance_sheet_df.loc["Borrowings"] = short_term_loans_schedules.loc['Closing Balance']

### **Generate Receivables and Payables Schedules**

In [190]:
trade_receivables_schedule = balance_sheet.generate_receivables_schedule(
    opening_receivables=opening_balances["TRADE_RECEIVABLES"].iat[0],
    receipts_from_receivables=parameters.loc["RECEIPTS_FROM_TRADE_RECEIVABLES"],
    new_receivables=parameters.loc["NEW_TRADE_RECEIVABLES"],
    months_to_forecast=MONTHS_TO_FORECAST,
    valuation_date=VALUATION_DATE,
)

other_receivables_schedule = balance_sheet.generate_receivables_schedule(
    opening_receivables=opening_balances["OTHER_RECEIVABLES"].iat[0],
    receipts_from_receivables=parameters.loc["RECEIPTS_FROM_OTHER_RECEIVABLES"],
    new_receivables=parameters.loc["NEW_OTHER_RECEIVABLES"],
    months_to_forecast=MONTHS_TO_FORECAST,
    valuation_date=VALUATION_DATE,
)

intergroup_receivables_schedule = balance_sheet.generate_receivables_schedule(
    opening_receivables=opening_balances["INTERGROUP_RECEIVABLES"].iat[0],
    receipts_from_receivables=parameters.loc["RECEIPTS_FROM_INTERGROUP_RECEIVABLES"],
    new_receivables=parameters.loc["NEW_INTERGROUP_RECEIVABLES"],
    months_to_forecast=MONTHS_TO_FORECAST,
    valuation_date=VALUATION_DATE,
)

trade_payables_schedule = balance_sheet.generate_payables_schedule(
    opening_payables=opening_balances["TRADE_PAYABLES"].iat[0],
    payments_to_payables=parameters.loc["PAYMENTS_TO_TRADE_PAYABLES"],
    new_payables=parameters.loc["NEW_TRADE_PAYABLES"],
    months_to_forecast=MONTHS_TO_FORECAST,
    valuation_date=VALUATION_DATE,
)

other_payables_schedule = balance_sheet.generate_payables_schedule(
    opening_payables=opening_balances["OTHER_PAYABLES"].iat[0],
    payments_to_payables=parameters.loc["PAYMENTS_TO_OTHER_PAYABLES"],
    new_payables=parameters.loc["NEW_OTHER_PAYABLES"],
    months_to_forecast=MONTHS_TO_FORECAST,
    valuation_date=VALUATION_DATE,
)


balance_sheet_df.loc["Trade Payables"] = trade_payables_schedule.loc["Closing Balance"]
balance_sheet_df.loc["Other Payables"] = other_payables_schedule.loc["Closing Balance"]

balance_sheet_df.loc["Trade Receivables"] = trade_receivables_schedule.loc[
    "Closing Balance"
]

balance_sheet_df.loc["Other Receivables"] = other_receivables_schedule.loc[
    "Closing Balance"
]

balance_sheet_df.loc["Intergroup Receivables"] = intergroup_receivables_schedule.loc[
    "Closing Balance"
]


balance_sheet_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
STATEMENT_OF_FINANCIAL_POSITION,,,,,,,,,,,,
ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NON CURRENT ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Property Plant And Equipment,"111,000.00","102,000.00","93,000.00","84,000.00","75,000.00","78,000.00","71,000.00","64,000.00","104,500.00","95,000.00","87,500.00","80,000.00"
Intangible Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investment In Subsidiaries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investment In Associates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investment Properties,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Equity Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Long Term Money Market Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Loans To Related Entities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Non Current Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CURRENT ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Inventories,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Intergroup Receivables,0,0,0,0,0,0,0,0,0,0,0,0
Loan Book,"3,289,115.11","3,824,050.50","4,399,984.20","4,790,277.65","5,114,133.71","5,444,901.73","5,772,784.17","6,268,279.00","6,870,350.90","7,710,948.73","8,584,292.66","9,326,942.99"
Trade Receivables,999500,999000,998500,998000,997500,997000,996500,996000,995500,995000,994500,994000
Other Receivables,0,0,0,0,0,0,0,0,0,0,0,0
Cash On Hand,"-454,606.92","-1,230,927.05","-2,050,654.13","-2,592,140.82","-3,009,768.13","-3,485,799.95","-3,865,297.69","-4,390,385.87","-5,079,960.86","-5,838,550.52","-6,556,899.01","-7,429,631.54"
Short Term Money Market Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Current Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EQUITY AND LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CAPITAL AND RESERVES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Issued Share Capital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Share Premium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other Components Of Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Treasury Shares,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Retained Earnings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Capital And Reserves,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NON CURRENT LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Loans,"196,626.80","193,280.38","187,560.86","184,268.39","181,003.09","174,366.12","171,155.56","167,972.58","163,046.01","161,435.24","159,852.45","531,579.55"
Intercompany Loans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Deferred Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Non Current Liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CURRENT LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Trade Payables,939500,939000,938500,938000,937500,937000,936500,936000,935500,935000,934500,934000
Other Payables,0,0,0,0,0,0,0,0,0,0,0,0
Borrowings,"-182,560.17","-415,120.33","-647,680.50","-880,240.66","-1,112,800.83","-1,345,360.99","-1,577,921.16","-1,810,481.33","-2,043,041.49","-2,275,601.66","-2,508,161.82","-2,364,266.99"
Provision For Taxation,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Provisions,"10,060.00","12,190.00","14,380.00","12,500.00","12,820.00","14,440.00","16,410.00","20,475.00","23,250.00","29,050.00","31,750.00","31,750.00"
Current Liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL EQUITY AND LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CHECK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [191]:
balance_sheet_df.loc['Deferred Taxation'] = tax_schedule.loc['Closing Balance']

In [192]:
inventories_schedule = balance_sheet.generate_inventories_schedule(
    opening_inventories=opening_balances["INVENTORIES"].iat[0],
    new_inventories=parameters.loc["NEW_INVENTORY"],
    inventories_used=parameters.loc["INVENTORY_USED"],
    valuation_date=VALUATION_DATE,
    months_to_forecast=MONTHS_TO_FORECAST,
)

inventories_schedule

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
Opening Balance,0,0,0,0,0,0,0,0,0,0,0,0
New Inventories,0,0,0,0,0,0,0,0,0,0,0,0
Inventories Used,0,0,0,0,0,0,0,0,0,0,0,0
Closing Balance,0,0,0,0,0,0,0,0,0,0,0,0

In [193]:
balance_sheet_df.loc['Inventories']  = inventories_schedule.loc['Closing Balance']

### **Equity and Intercompany Loans**

In [194]:
balance_sheet_df.loc["Issued Share Capital"] = helper.change_period_index_to_strftime(
    parameters.loc["SHARE_CAPITAL"].cumsum()
    + opening_balances["ISSUED_SHARE_CAPITAL"].iat[0]
)

balance_sheet_df.loc["Intercompany Loans"] = helper.change_period_index_to_strftime(
    parameters.loc["INTERCOMPANY_LOANS"].cumsum()
    + opening_balances["INTERCOMPANY_LOANS"].iat[0]
)


balance_sheet_df.loc["Share Premium"] = helper.change_period_index_to_strftime(
    parameters.loc["SHARE_PREMIUM"].cumsum() + opening_balances["SHARE_PREMIUM"].iat[0]
)

balance_sheet_df.loc[
    "Other Components Of Equity"
] = helper.change_period_index_to_strftime(
    parameters.loc["OTHER_COMPONENTS_OF_EQUITY"].cumsum()
    + opening_balances["OTHER_COMPONENTS_OF_EQUITY"].iat[0]
)

balance_sheet_df.loc["Treasury Shares"] = helper.change_period_index_to_strftime(
    parameters.loc["TREASURY_SHARES"].cumsum()
    + opening_balances["TREASURY_SHARES"].iat[0]
)

balance_sheet_df.loc["Retained Earnings"] = (
    income_statement_df.loc["PROFIT/(LOSS) FOR PERIOD"]
    - helper.change_period_index_to_strftime(parameters.loc["DIVIDEND_PAID"])
).cumsum()

balance_sheet_df.loc["Capital And Reserves"] = balance_sheet_df.loc[
    "Issued Share Capital":"Retained Earnings"
].sum()

### **Other Assets**

In [195]:
balance_sheet_df.loc["Intangible Assets"] = helper.change_period_index_to_strftime(
    parameters.loc["INTANGIBLE_ASSETS"].cumsum()
    + opening_balances["INTANGIBLE_ASSETS"].iat[0]
)

balance_sheet_df.loc[
    "Investment In Subsidiaries"
] = helper.change_period_index_to_strftime(
    parameters.loc["INVESTMENT_IN_SUBSIDIARIES"].cumsum()
    + opening_balances["INVESTMENT_IN_SUBSIDIARIES"].iat[0]
)

balance_sheet_df.loc[
    "Investment In Associates"
] = helper.change_period_index_to_strftime(
    parameters.loc["INVESTMENT_IN_ASSOCIATES"].cumsum()
    + opening_balances["INVESTMENT_IN_ASSOCIATES"].iat[0]
)

balance_sheet_df.loc["Investment Properties"] = helper.change_period_index_to_strftime(
    parameters.loc["INVESTMENT_PROPERTIES"].cumsum()
    + opening_balances["INVESTMENT_PROPERTIES"].iat[0]
)

balance_sheet_df.loc["Equity Investments"] = helper.change_period_index_to_strftime(
    parameters.loc["EQUITY_INVESTMENTS"].cumsum()
    + opening_balances["EQUITY_INVESTMENTS"].iat[0]
)

balance_sheet_df.loc[
    "Long Term Money Market Investments"
] = helper.change_period_index_to_strftime(
    parameters.loc["LONG_TERM_MONEY_MARKET_INVESTMENTS"].cumsum()
    + opening_balances["LONG_TERM_MONEY_MARKET_INVESTMENTS"].iat[0]
)

balance_sheet_df.loc[
    "Short Term Money Market Investments"
] = helper.change_period_index_to_strftime(
    parameters.loc["SHORT_TERM_MONEY_MARKET_INVESTMENTS"].cumsum()
    + opening_balances["SHORT_TERM_MONEY_MARKET_INVESTMENTS"].iat[0]
)

balance_sheet_df.loc[
    "Loans To Related Entities"
] = helper.change_period_index_to_strftime(
    parameters.loc["LOANS_TO_RELATED_ENTITIES"].cumsum()
    + opening_balances["LOANS_TO_RELATED_ENTITIES"].iat[0]
)

In [196]:
balance_sheet_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
STATEMENT_OF_FINANCIAL_POSITION,,,,,,,,,,,,
ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NON CURRENT ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Property Plant And Equipment,"111,000.00","102,000.00","93,000.00","84,000.00","75,000.00","78,000.00","71,000.00","64,000.00","104,500.00","95,000.00","87,500.00","80,000.00"
Intangible Assets,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Investment In Subsidiaries,0.00,"-1,000.00","-1,000.00","-1,000.00","9,000.00","9,000.00","9,000.00","9,000.00","9,000.00","9,000.00","9,000.00","9,000.00"
Investment In Associates,"10,000.00","10,000.00","10,000.00","10,000.00","10,000.00","10,000.00","11,000.00","11,000.00","11,000.00","11,000.00","11,000.00","11,000.00"
Investment Properties,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"5,000.00","5,000.00","5,000.00","5,000.00"
Equity Investments,"20,000.00","20,000.00","20,000.00","20,000.00","20,000.00","21,000.00","21,000.00","21,000.00","21,000.00","21,000.00","21,000.00","31,000.00"
Long Term Money Market Investments,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Loans To Related Entities,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Non Current Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CURRENT ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Inventories,0,0,0,0,0,0,0,0,0,0,0,0
Intergroup Receivables,0,0,0,0,0,0,0,0,0,0,0,0
Loan Book,"3,289,115.11","3,824,050.50","4,399,984.20","4,790,277.65","5,114,133.71","5,444,901.73","5,772,784.17","6,268,279.00","6,870,350.90","7,710,948.73","8,584,292.66","9,326,942.99"
Trade Receivables,999500,999000,998500,998000,997500,997000,996500,996000,995500,995000,994500,994000
Other Receivables,0,0,0,0,0,0,0,0,0,0,0,0
Cash On Hand,"-454,606.92","-1,230,927.05","-2,050,654.13","-2,592,140.82","-3,009,768.13","-3,485,799.95","-3,865,297.69","-4,390,385.87","-5,079,960.86","-5,838,550.52","-6,556,899.01","-7,429,631.54"
Short Term Money Market Investments,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Current Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EQUITY AND LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CAPITAL AND RESERVES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Issued Share Capital,"7,000.00","7,000.00","7,000.00","7,000.00","7,000.00","8,000.00","8,000.00","8,000.00","8,000.00","8,100.00","8,100.00","8,100.00"
Share Premium,110.00,110.00,110.00,110.00,110.00,110.00,110.00,110.00,110.00,110.00,110.00,110.00
Other Components Of Equity,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"2,000.00","2,000.00","2,000.00","2,000.00","2,000.00"
Treasury Shares,"1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00"
Retained Earnings,"-323,333.22","-589,325.65","-858,072.92","-1,031,600.22","-1,151,413.32","-1,309,127.20","-1,384,634.34","-1,444,662.20","-1,523,454.80","-1,500,748.66","-1,421,378.68","-1,300,075.16"
Capital And Reserves,"-315,223.22","-581,215.65","-849,962.92","-1,023,490.22","-1,143,303.32","-1,300,017.20","-1,375,524.34","-1,433,552.20","-1,512,344.80","-1,489,538.66","-1,410,168.68","-1,288,865.16"
NON CURRENT LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Loans,"196,626.80","193,280.38","187,560.86","184,268.39","181,003.09","174,366.12","171,155.56","167,972.58","163,046.01","161,435.24","159,852.45","531,579.55"
Intercompany Loans,"1,000.00","1,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Deferred Taxation,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"13,609.91","46,620.38",0.00
Non Current Liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CURRENT LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Trade Payables,939500,939000,938500,938000,937500,937000,936500,936000,935500,935000,934500,934000
Other Payables,0,0,0,0,0,0,0,0,0,0,0,0
Borrowings,"-182,560.17","-415,120.33","-647,680.50","-880,240.66","-1,112,800.83","-1,345,360.99","-1,577,921.16","-1,810,481.33","-2,043,041.49","-2,275,601.66","-2,508,161.82","-2,364,266.99"
Provision For Taxation,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Provisions,"10,060.00","12,190.00","14,380.00","12,500.00","12,820.00","14,440.00","16,410.00","20,475.00","23,250.00","29,050.00","31,750.00","31,750.00"
Current Liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL EQUITY AND LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CHECK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Calculate Totals**

In [197]:
balance_sheet_df = balance_sheet.sum_financial_statements_totals(balance_sheet_df)
balance_sheet_df = balance_sheet.calculate_final_balances(balance_sheet_df=balance_sheet_df)
balance_sheet_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
STATEMENT_OF_FINANCIAL_POSITION,,,,,,,,,,,,
ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NON CURRENT ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Property Plant And Equipment,"111,000.00","102,000.00","93,000.00","84,000.00","75,000.00","78,000.00","71,000.00","64,000.00","104,500.00","95,000.00","87,500.00","80,000.00"
Intangible Assets,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Investment In Subsidiaries,0.00,"-1,000.00","-1,000.00","-1,000.00","9,000.00","9,000.00","9,000.00","9,000.00","9,000.00","9,000.00","9,000.00","9,000.00"
Investment In Associates,"10,000.00","10,000.00","10,000.00","10,000.00","10,000.00","10,000.00","11,000.00","11,000.00","11,000.00","11,000.00","11,000.00","11,000.00"
Investment Properties,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"5,000.00","5,000.00","5,000.00","5,000.00"
Equity Investments,"20,000.00","20,000.00","20,000.00","20,000.00","20,000.00","21,000.00","21,000.00","21,000.00","21,000.00","21,000.00","21,000.00","31,000.00"
Long Term Money Market Investments,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Loans To Related Entities,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Non Current Assets,"141,000.00","131,000.00","122,000.00","113,000.00","114,000.00","118,000.00","112,000.00","105,000.00","150,500.00","141,000.00","133,500.00","136,000.00"
CURRENT ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Inventories,0,0,0,0,0,0,0,0,0,0,0,0
Intergroup Receivables,0,0,0,0,0,0,0,0,0,0,0,0
Loan Book,"3,289,115.11","3,824,050.50","4,399,984.20","4,790,277.65","5,114,133.71","5,444,901.73","5,772,784.17","6,268,279.00","6,870,350.90","7,710,948.73","8,584,292.66","9,326,942.99"
Trade Receivables,999500,999000,998500,998000,997500,997000,996500,996000,995500,995000,994500,994000
Other Receivables,0,0,0,0,0,0,0,0,0,0,0,0
Cash On Hand,"-454,606.92","-1,230,927.05","-2,050,654.13","-2,592,140.82","-3,009,768.13","-3,485,799.95","-3,865,297.69","-4,390,385.87","-5,079,960.86","-5,838,550.52","-6,556,899.01","-7,429,631.54"
Short Term Money Market Investments,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Current Assets,"3,834,008.19","3,592,123.45","3,347,830.07","3,196,136.83","3,101,865.58","2,956,101.78","2,903,986.49","2,873,893.13","2,785,890.04","2,867,398.21","3,021,893.65","2,891,311.45"
TOTAL ASSETS,"3,975,008.19","3,723,123.45","3,469,830.07","3,309,136.83","3,215,865.58","3,074,101.78","3,015,986.49","2,978,893.13","2,936,390.04","3,008,398.21","3,155,393.65","3,027,311.45"
EQUITY AND LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CAPITAL AND RESERVES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Issued Share Capital,"7,000.00","7,000.00","7,000.00","7,000.00","7,000.00","8,000.00","8,000.00","8,000.00","8,000.00","8,100.00","8,100.00","8,100.00"
Share Premium,110.00,110.00,110.00,110.00,110.00,110.00,110.00,110.00,110.00,110.00,110.00,110.00
Other Components Of Equity,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"2,000.00","2,000.00","2,000.00","2,000.00","2,000.00"
Treasury Shares,"1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00"
Retained Earnings,"-323,333.22","-589,325.65","-858,072.92","-1,031,600.22","-1,151,413.32","-1,309,127.20","-1,384,634.34","-1,444,662.20","-1,523,454.80","-1,500,748.66","-1,421,378.68","-1,300,075.16"
Capital And Reserves,"-315,223.22","-581,215.65","-849,962.92","-1,023,490.22","-1,143,303.32","-1,300,017.20","-1,375,524.34","-1,433,552.20","-1,512,344.80","-1,489,538.66","-1,410,168.68","-1,288,865.16"
NON CURRENT LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Loans,"196,626.80","193,280.38","187,560.86","184,268.39","181,003.09","174,366.12","171,155.56","167,972.58","163,046.01","161,435.24","159,852.45","531,579.55"
Intercompany Loans,"1,000.00","1,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Deferred Taxation,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"13,609.91","46,620.38",0.00
Non Current Liabilities,"197,626.80","194,280.38","187,560.86","184,268.39","181,003.09","174,366.12","171,155.56","167,972.58","163,046.01","175,045.15","206,472.83","531,579.55"
CURRENT LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Trade Payables,939500,939000,938500,938000,937500,937000,936500,936000,935500,935000,934500,934000
Other Payables,0,0,0,0,0,0,0,0,0,0,0,0
Borrowings,"-182,560.17","-415,120.33","-647,680.50","-880,240.66","-1,112,800.83","-1,345,360.99","-1,577,921.16","-1,810,481.33","-2,043,041.49","-2,275,601.66","-2,508,161.82","-2,364,266.99"
Provision For Taxation,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Provisions,"10,060.00","12,190.00","14,380.00","12,500.00","12,820.00","14,440.00","16,410.00","20,475.00","23,250.00","29,050.00","31,750.00","31,750.00"
Current Liabilities,"766,999.83","536,069.67","305,199.50","70,259.34","-162,480.83","-393,920.99","-625,011.16","-854,006.33","-1,084,291.49","-1,311,551.66","-1,541,911.82","-1,398,516.99"
TOTAL EQUITY AND LIABILITIES,"649,403.42","149,134.40","-357,202.55","-768,962.49","-1,124,781.06","-1,519,572.08","-1,829,379.94","-2,119,585.94","-2,433,590.27","-2,626,045.16","-2,745,607.67","-2,155,802.60"
CHECK,False,False,False,False,False,False,False,False,False,False,False,False

## **Indirect Cashflow**

In [209]:
statement_of_cashflow_df = (
    statement_of_cashflows.generate_statement_of_cashflow_template(
        VALUATION_DATE, MONTHS_TO_FORECAST
    )
)

### **Insert Available Balances**

In [211]:
statement_of_cashflow_df.loc['Profit/(loss) Per I/S'] = income_statement_df.loc['PROFIT/(LOSS) FOR PERIOD']
statement_of_cashflow_df.loc['Depreciation'] = income_statement_df.loc['Depreciation']
statement_of_cashflow_df.loc['Dividend Paid'] = helper.change_period_index_to_strftime(parameters.loc["DIVIDEND_PAID"])
statement_of_cashflow_df.loc['Treasury Movements'] = helper.change_period_index_to_strftime(parameters.loc["TREASURY_MOVEMENTS"])
statement_of_cashflow_df.loc['Interest Expense Accrued'] = helper.change_period_index_to_strftime(parameters.loc["INTEREST_EXPENSE_ACCRUED"])
statement_of_cashflow_df.loc['Other Non-Cash Items'] = helper.change_period_index_to_strftime(parameters.loc["OTHER_NON_CASH_ITEMS"])
statement_of_cashflow_df.loc['Interest Paid'] = -finance_costs_df.loc['total']
statement_of_cashflow_df.loc['Tax Paid'] = tax_schedule.loc['Tax Paid']
statement_of_cashflow_df.loc['Repayment Of Borrowings'] = -capital_repayment_borrowings_df.loc['total']
statement_of_cashflow_df.loc['Purchase Of Fixed Assets'] = capital_expenses
statement_of_cashflow_df.loc["Increase/(Decrease) In Short Term Borrowings"] = (
    short_term_loans_schedules.loc["Closing Balance"]
    - short_term_loans_schedules.loc["Opening Balance"]
)
statement_of_cashflow_df.loc["Increase/(Decrease) In Long Term Borrowings"] = (
    long_term_loans_schedules.loc["Closing Balance"]
    - long_term_loans_schedules.loc["Opening Balance"]
)
statement_of_cashflow_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
STATEMENT_OF_CASHFLOWS,,,,,,,,,,,,
Profit/(loss) Per I/S,"-323,333.22","-265,992.43","-268,747.27","-173,527.30","-119,813.10","-157,713.88","-75,507.14","-60,027.86","-78,792.60","22,706.14","79,369.98","121,403.52"
Treasury Movements,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Adjustments For:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,"9,000.00","9,000.00","9,000.00","9,000.00","9,000.00","7,000.00","7,000.00","7,000.00","9,500.00","9,500.00","7,500.00","7,500.00"
Interest Expense Accrued,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Other Non-Cash Items,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Cash From Operations Before WC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Working Capital Movements,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(Increase)/Decrease In Receivables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Increase/(Decrease) In Payables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(Increase)/Decrease In Loan Book (Principle),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(Increase)/Decrease In Loan Book (Interest),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Increase/(Decrease) In Borrowings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cash From Operations After WC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Paid,"-3,373.20","-3,346.42","-54,518.45","-3,752.40","-3,635.24","-59,949.94","-3,397.55","-3,276.99","-54,076.56","-1,610.77","-1,582.79","-46,819.40"
Tax Paid,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,"-97,444.63"
Net Cash Flow From Operations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CASH FLOW FROM INVESTING ACTIVITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Purchase Of Fixed Assets,0,0,0,0,0,10000,0,0,50000,0,0,0
Cash Flow From Investing Activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CASH FLOW FROM FINANCING ACTIVITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Increase/(Decrease) In Long Term Borrowings,"-3,373.20","-3,346.42","-5,719.51","-3,292.47","-3,265.30","-6,636.98","-3,210.56","-3,182.98","-4,926.56","-1,610.77","-1,582.79","371,727.10"
Increase/(Decrease) In Short Term Borrowings,"-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","143,894.83"
Repayment Of Borrowings,"-5,501.71","-5,528.49","-13,662.92","-13,778.97","-13,896.13","-17,348.81","-14,133.82","-14,254.38","-9,165.06","-5,747.47","-5,775.45","-1,017,122.56"
Dividend Paid,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,100.00
Cash Flow From Financing Activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Net Increase/(Decrease) In Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cash At Beginning Of Period,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cash At End Of Period,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [212]:
statement_of_cashflow_df.loc['Cash From Operations Before WC'] = statement_of_cashflow_df.iloc[
    statement_of_cashflow_df.index.get_loc("STATEMENT_OF_CASHFLOWS") + 1: statement_of_cashflow_df.index.get_loc('Cash From Operations Before WC')
].sum()

KeyError: 'STATEMENT_OF_CASHFLOWS'

In [213]:

statement_of_cashflow_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
STATEMENT_OF_CASHFLOWS,,,,,,,,,,,,
Profit/(loss) Per I/S,"-323,333.22","-265,992.43","-268,747.27","-173,527.30","-119,813.10","-157,713.88","-75,507.14","-60,027.86","-78,792.60","22,706.14","79,369.98","121,403.52"
Treasury Movements,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Adjustments For:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,"9,000.00","9,000.00","9,000.00","9,000.00","9,000.00","7,000.00","7,000.00","7,000.00","9,500.00","9,500.00","7,500.00","7,500.00"
Interest Expense Accrued,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Other Non-Cash Items,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Cash From Operations Before WC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Working Capital Movements,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(Increase)/Decrease In Receivables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Increase/(Decrease) In Payables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(Increase)/Decrease In Loan Book (Principle),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(Increase)/Decrease In Loan Book (Interest),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Increase/(Decrease) In Borrowings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cash From Operations After WC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Paid,"-3,373.20","-3,346.42","-54,518.45","-3,752.40","-3,635.24","-59,949.94","-3,397.55","-3,276.99","-54,076.56","-1,610.77","-1,582.79","-46,819.40"
Tax Paid,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,"-97,444.63"
Net Cash Flow From Operations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CASH FLOW FROM INVESTING ACTIVITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Purchase Of Fixed Assets,0,0,0,0,0,10000,0,0,50000,0,0,0
Cash Flow From Investing Activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CASH FLOW FROM FINANCING ACTIVITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Increase/(Decrease) In Long Term Borrowings,"-3,373.20","-3,346.42","-5,719.51","-3,292.47","-3,265.30","-6,636.98","-3,210.56","-3,182.98","-4,926.56","-1,610.77","-1,582.79","371,727.10"
Increase/(Decrease) In Short Term Borrowings,"-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","143,894.83"
Repayment Of Borrowings,"-5,501.71","-5,528.49","-13,662.92","-13,778.97","-13,896.13","-17,348.81","-14,133.82","-14,254.38","-9,165.06","-5,747.47","-5,775.45","-1,017,122.56"
Dividend Paid,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,100.00
Cash Flow From Financing Activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Net Increase/(Decrease) In Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cash At Beginning Of Period,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cash At End Of Period,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Working Capital Movements**

In [215]:
change_in_receivables = (
    other_receivables_schedule.loc["Closing Balance"]
    - other_receivables_schedule.loc["Opening Balance"]
    + trade_receivables_schedule.loc["Closing Balance"]
    - trade_receivables_schedule.loc["Opening Balance"]
    + intergroup_receivables_schedule.loc["Closing Balance"]
    - intergroup_receivables_schedule.loc["Opening Balance"]
)
change_in_receivables

Jan-2023   -500
Feb-2023   -500
Mar-2023   -500
Apr-2023   -500
May-2023   -500
Jun-2023   -500
Jul-2023   -500
Aug-2023   -500
Sep-2023   -500
Oct-2023   -500
Nov-2023   -500
Dec-2023   -500
dtype: int64

In [216]:
change_in_payables = (
    trade_payables_schedule.loc["Closing Balance"]
    - trade_payables_schedule.loc["Opening Balance"]
    + other_payables_schedule.loc["Closing Balance"]
    - other_payables_schedule.loc["Opening Balance"]
)
change_in_payables

Jan-2023   -500
Feb-2023   -500
Mar-2023   -500
Apr-2023   -500
May-2023   -500
Jun-2023   -500
Jul-2023   -500
Aug-2023   -500
Sep-2023   -500
Oct-2023   -500
Nov-2023   -500
Dec-2023   -500
dtype: int64

In [217]:
change_in_loan_book_principle = loan_book_df.loc["New Disbursements":"Repayments"].sum()
change_in_loan_book_principle

Jan-2023   488,824.32
Feb-2023   489,731.42
Mar-2023   481,844.71
Apr-2023   245,591.89
May-2023   146,583.13
Jun-2023   128,133.45
Jul-2023   100,952.39
Aug-2023   245,714.89
Sep-2023   314,041.82
Oct-2023   506,330.18
Nov-2023   470,050.56
Dec-2023   267,388.32
dtype: object

In [218]:
change_in_loan_book_interest = loan_book_df.loc['Interest Income']
change_in_loan_book_interest

Jan-2023       290.78
Feb-2023    45,203.97
Mar-2023    94,088.99
Apr-2023   144,701.56
May-2023   177,272.94
Jun-2023   202,634.57
Jul-2023   226,930.05
Aug-2023   249,779.94
Sep-2023   288,030.08
Oct-2023   334,267.64
Nov-2023   403,293.37
Dec-2023   475,262.01
Name: Interest Income, dtype: object

In [219]:
borrowings_schedule = long_term_loans_schedules + short_term_loans_schedules
change_in_borrowings = borrowings_schedule.loc['Closing Balance'] - borrowings_schedule.loc['Opening Balance']
change_in_borrowings

Jan-2023   -235,933.37
Feb-2023   -235,906.59
Mar-2023   -238,279.68
Apr-2023   -235,852.64
May-2023   -235,825.46
Jun-2023   -239,197.14
Jul-2023   -235,770.72
Aug-2023   -235,743.15
Sep-2023   -237,486.73
Oct-2023   -234,170.94
Nov-2023   -234,142.96
Dec-2023    515,621.93
dtype: object

In [220]:
statement_of_cashflow_df.loc['(Increase)/Decrease In Receivables'] = change_in_receivables
statement_of_cashflow_df.loc['Increase/(Decrease) In Payables'] = change_in_payables
statement_of_cashflow_df.loc['(Increase)/Decrease In Loan Book (Principle)'] = change_in_loan_book_principle
statement_of_cashflow_df.loc['(Increase)/Decrease In Loan Book (Interest)'] = change_in_loan_book_interest
statement_of_cashflow_df.loc['Increase/(Decrease) In Borrowings'] = change_in_borrowings

In [221]:
statement_of_cashflow_df.loc["Cash From Operations After WC"] = (
    statement_of_cashflow_df.loc["Cash From Operations Before WC"]
    + statement_of_cashflow_df.iloc[
        statement_of_cashflow_df.index.get_loc("Working Capital Movements")
        + 1 : statement_of_cashflow_df.index.get_loc("Cash From Operations After WC")
    ].sum()
)

In [222]:
statement_of_cashflow_df.loc[
    "Net Cash Flow From Operations"
] = statement_of_cashflow_df.loc["Cash From Operations After WC":"Tax Paid"].sum()

In [223]:
statement_of_cashflow_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
STATEMENT_OF_CASHFLOWS,,,,,,,,,,,,
Profit/(loss) Per I/S,"-323,333.22","-265,992.43","-268,747.27","-173,527.30","-119,813.10","-157,713.88","-75,507.14","-60,027.86","-78,792.60","22,706.14","79,369.98","121,403.52"
Treasury Movements,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Adjustments For:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,"9,000.00","9,000.00","9,000.00","9,000.00","9,000.00","7,000.00","7,000.00","7,000.00","9,500.00","9,500.00","7,500.00","7,500.00"
Interest Expense Accrued,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Other Non-Cash Items,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Cash From Operations Before WC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Working Capital Movements,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(Increase)/Decrease In Receivables,-500,-500,-500,-500,-500,-500,-500,-500,-500,-500,-500,-500
Increase/(Decrease) In Payables,-500,-500,-500,-500,-500,-500,-500,-500,-500,-500,-500,-500
(Increase)/Decrease In Loan Book (Principle),"488,824.32","489,731.42","481,844.71","245,591.89","146,583.13","128,133.45","100,952.39","245,714.89","314,041.82","506,330.18","470,050.56","267,388.32"
(Increase)/Decrease In Loan Book (Interest),290.78,"45,203.97","94,088.99","144,701.56","177,272.94","202,634.57","226,930.05","249,779.94","288,030.08","334,267.64","403,293.37","475,262.01"
Increase/(Decrease) In Borrowings,"-235,933.37","-235,906.59","-238,279.68","-235,852.64","-235,825.46","-239,197.14","-235,770.72","-235,743.15","-237,486.73","-234,170.94","-234,142.96","515,621.93"
Cash From Operations After WC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Paid,"-3,373.20","-3,346.42","-54,518.45","-3,752.40","-3,635.24","-59,949.94","-3,397.55","-3,276.99","-54,076.56","-1,610.77","-1,582.79","-46,819.40"
Tax Paid,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,"-97,444.63"
Net Cash Flow From Operations,"-3,373.20","-3,346.42","-54,518.45","-3,752.40","-3,635.24","-59,949.94","-3,397.55","-3,276.99","-54,076.56","-1,610.77","-1,582.79","-144,264.03"
CASH FLOW FROM INVESTING ACTIVITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Purchase Of Fixed Assets,0,0,0,0,0,10000,0,0,50000,0,0,0
Cash Flow From Investing Activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CASH FLOW FROM FINANCING ACTIVITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Increase/(Decrease) In Long Term Borrowings,"-3,373.20","-3,346.42","-5,719.51","-3,292.47","-3,265.30","-6,636.98","-3,210.56","-3,182.98","-4,926.56","-1,610.77","-1,582.79","371,727.10"
Increase/(Decrease) In Short Term Borrowings,"-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","143,894.83"
Repayment Of Borrowings,"-5,501.71","-5,528.49","-13,662.92","-13,778.97","-13,896.13","-17,348.81","-14,133.82","-14,254.38","-9,165.06","-5,747.47","-5,775.45","-1,017,122.56"
Dividend Paid,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,100.00
Cash Flow From Financing Activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Net Increase/(Decrease) In Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cash At Beginning Of Period,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cash At End Of Period,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Calculating Totals**

In [224]:
statement_of_cashflow_df = balance_sheet.sum_financial_statements_totals(statement_of_cashflow_df)


statement_of_cashflow_df.loc['Net Increase/(Decrease) In Cash'] = (
    statement_of_cashflow_df.loc["Net Cash Flow From Operations"]
    + statement_of_cashflow_df.loc["Cash Flow From Investing Activities"]
    + statement_of_cashflow_df.loc["Cash Flow From Financing Activities"]
)
statement_of_cashflow_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
STATEMENT_OF_CASHFLOWS,,,,,,,,,,,,
Profit/(loss) Per I/S,"-323,333.22","-265,992.43","-268,747.27","-173,527.30","-119,813.10","-157,713.88","-75,507.14","-60,027.86","-78,792.60","22,706.14","79,369.98","121,403.52"
Treasury Movements,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Adjustments For:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,"9,000.00","9,000.00","9,000.00","9,000.00","9,000.00","7,000.00","7,000.00","7,000.00","9,500.00","9,500.00","7,500.00","7,500.00"
Interest Expense Accrued,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Other Non-Cash Items,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Cash From Operations Before WC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Working Capital Movements,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(Increase)/Decrease In Receivables,-500,-500,-500,-500,-500,-500,-500,-500,-500,-500,-500,-500
Increase/(Decrease) In Payables,-500,-500,-500,-500,-500,-500,-500,-500,-500,-500,-500,-500
(Increase)/Decrease In Loan Book (Principle),"488,824.32","489,731.42","481,844.71","245,591.89","146,583.13","128,133.45","100,952.39","245,714.89","314,041.82","506,330.18","470,050.56","267,388.32"
(Increase)/Decrease In Loan Book (Interest),290.78,"45,203.97","94,088.99","144,701.56","177,272.94","202,634.57","226,930.05","249,779.94","288,030.08","334,267.64","403,293.37","475,262.01"
Increase/(Decrease) In Borrowings,"-235,933.37","-235,906.59","-238,279.68","-235,852.64","-235,825.46","-239,197.14","-235,770.72","-235,743.15","-237,486.73","-234,170.94","-234,142.96","515,621.93"
Cash From Operations After WC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Paid,"-3,373.20","-3,346.42","-54,518.45","-3,752.40","-3,635.24","-59,949.94","-3,397.55","-3,276.99","-54,076.56","-1,610.77","-1,582.79","-46,819.40"
Tax Paid,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,"-97,444.63"
Net Cash Flow From Operations,"-3,373.20","-3,346.42","-54,518.45","-3,752.40","-3,635.24","-59,949.94","-3,397.55","-3,276.99","-54,076.56","-1,610.77","-1,582.79","-144,264.03"
CASH FLOW FROM INVESTING ACTIVITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Purchase Of Fixed Assets,0,0,0,0,0,10000,0,0,50000,0,0,0
Cash Flow From Investing Activities,0,0,0,0,0,10000,0,0,50000,0,0,0
CASH FLOW FROM FINANCING ACTIVITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Increase/(Decrease) In Long Term Borrowings,"-3,373.20","-3,346.42","-5,719.51","-3,292.47","-3,265.30","-6,636.98","-3,210.56","-3,182.98","-4,926.56","-1,610.77","-1,582.79","371,727.10"
Increase/(Decrease) In Short Term Borrowings,"-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","143,894.83"
Repayment Of Borrowings,"-5,501.71","-5,528.49","-13,662.92","-13,778.97","-13,896.13","-17,348.81","-14,133.82","-14,254.38","-9,165.06","-5,747.47","-5,775.45","-1,017,122.56"
Dividend Paid,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,100.00
Cash Flow From Financing Activities,"-241,435.07","-241,435.07","-251,942.59","-249,631.61","-249,721.59","-256,545.95","-249,904.55","-249,997.53","-246,651.79","-239,918.41","-239,918.41","-501,400.63"
Net Increase/(Decrease) In Cash,"-244,808.28","-244,781.50","-306,461.05","-253,384.01","-253,356.84","-306,495.89","-253,302.09","-253,274.52","-250,728.35","-241,529.18","-241,501.20","-645,664.66"
Cash At Beginning Of Period,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cash At End Of Period,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Calculating Cash at End and Beginning of Period**

In [225]:
statement_of_cashflow_df = (
    statement_of_cashflows.calculate_cash_at_end_and_beginning_of_period(
        statement_of_cashflow_df=statement_of_cashflow_df,
        opening_balances=opening_balances,
    )
)
statement_of_cashflow_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
STATEMENT_OF_CASHFLOWS,,,,,,,,,,,,
Profit/(loss) Per I/S,"-323,333.22","-265,992.43","-268,747.27","-173,527.30","-119,813.10","-157,713.88","-75,507.14","-60,027.86","-78,792.60","22,706.14","79,369.98","121,403.52"
Treasury Movements,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Adjustments For:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,"9,000.00","9,000.00","9,000.00","9,000.00","9,000.00","7,000.00","7,000.00","7,000.00","9,500.00","9,500.00","7,500.00","7,500.00"
Interest Expense Accrued,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Other Non-Cash Items,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Cash From Operations Before WC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Working Capital Movements,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(Increase)/Decrease In Receivables,-500,-500,-500,-500,-500,-500,-500,-500,-500,-500,-500,-500
Increase/(Decrease) In Payables,-500,-500,-500,-500,-500,-500,-500,-500,-500,-500,-500,-500
(Increase)/Decrease In Loan Book (Principle),"488,824.32","489,731.42","481,844.71","245,591.89","146,583.13","128,133.45","100,952.39","245,714.89","314,041.82","506,330.18","470,050.56","267,388.32"
(Increase)/Decrease In Loan Book (Interest),290.78,"45,203.97","94,088.99","144,701.56","177,272.94","202,634.57","226,930.05","249,779.94","288,030.08","334,267.64","403,293.37","475,262.01"
Increase/(Decrease) In Borrowings,"-235,933.37","-235,906.59","-238,279.68","-235,852.64","-235,825.46","-239,197.14","-235,770.72","-235,743.15","-237,486.73","-234,170.94","-234,142.96","515,621.93"
Cash From Operations After WC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Paid,"-3,373.20","-3,346.42","-54,518.45","-3,752.40","-3,635.24","-59,949.94","-3,397.55","-3,276.99","-54,076.56","-1,610.77","-1,582.79","-46,819.40"
Tax Paid,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,"-97,444.63"
Net Cash Flow From Operations,"-3,373.20","-3,346.42","-54,518.45","-3,752.40","-3,635.24","-59,949.94","-3,397.55","-3,276.99","-54,076.56","-1,610.77","-1,582.79","-144,264.03"
CASH FLOW FROM INVESTING ACTIVITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Purchase Of Fixed Assets,0,0,0,0,0,10000,0,0,50000,0,0,0
Cash Flow From Investing Activities,0,0,0,0,0,10000,0,0,50000,0,0,0
CASH FLOW FROM FINANCING ACTIVITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Increase/(Decrease) In Long Term Borrowings,"-3,373.20","-3,346.42","-5,719.51","-3,292.47","-3,265.30","-6,636.98","-3,210.56","-3,182.98","-4,926.56","-1,610.77","-1,582.79","371,727.10"
Increase/(Decrease) In Short Term Borrowings,"-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","-232,560.17","143,894.83"
Repayment Of Borrowings,"-5,501.71","-5,528.49","-13,662.92","-13,778.97","-13,896.13","-17,348.81","-14,133.82","-14,254.38","-9,165.06","-5,747.47","-5,775.45","-1,017,122.56"
Dividend Paid,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,100.00
Cash Flow From Financing Activities,"-241,435.07","-241,435.07","-251,942.59","-249,631.61","-249,721.59","-256,545.95","-249,904.55","-249,997.53","-246,651.79","-239,918.41","-239,918.41","-501,400.63"
Net Increase/(Decrease) In Cash,"-244,808.28","-244,781.50","-306,461.05","-253,384.01","-253,356.84","-306,495.89","-253,302.09","-253,274.52","-250,728.35","-241,529.18","-241,501.20","-645,664.66"
Cash At Beginning Of Period,331000,"86,191.72","-158,589.77","-465,050.82","-718,434.83","-971,791.66","-1,278,287.56","-1,531,589.65","-1,784,864.17","-2,035,592.52","-2,277,121.70","-2,518,622.90"
Cash At End Of Period,"86,191.72","-158,589.77","-465,050.82","-718,434.83","-971,791.66","-1,278,287.56","-1,531,589.65","-1,784,864.17","-2,035,592.52","-2,277,121.70","-2,518,622.90","-3,164,287.55"