In [20]:
import pandas as pd
import awswrangler as wr
from application.modeling.constants import MY_SESSION, S3_CLIENT, FileStage

pd.options.display.max_columns = None
pd.options.display.max_rows = 100
pd.options.display.float_format = "{:,.2f}".format

In [21]:
bucket_name = "zimnat-budgeting"
tenant_name = bucket_name
project_id = 1
VALUATION_DATE = "2023-01"
MONTHS_TO_FORECAST = 12

In [22]:
file_stage = FileStage.raw

parameters = wr.s3.read_parquet(
    f"s3://{bucket_name}/project_{project_id}/{file_stage.value}/parameters.parquet",
    boto3_session=MY_SESSION,
)
parameters

,Unnamed:_0,1,2,3,4,5,6,7,8,9,10,11,12
0,WORKING_CAPITAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NEW_TRADE_PAYABLES,500.00,500.00,500.00,500.00,500.00,500.00,500.00,500.00,500.00,500.00,500.00,500.00
2,NEW_TRADE_RECEIVABLES,500.00,500.00,500.00,500.00,500.00,500.00,500.00,500.00,500.00,500.00,500.00,500.00
3,RECEIPTS_FROM_TRADE_RECEIVABLES,"1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00"
4,PAYMENTS_TO_TRADE_PAYABLES,"1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00"
5,TRADE_RECEIVABLES_PROVISION_FOR_BAD_DEBTS,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6,INVENTORIES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
7,INTERGROUP_RECEIVABLES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8,OTHER_RECEIVABLES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,OTHER_PAYABLES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,INTANGIBLE_ASSETS,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
12,ISSUE_OF_SHARES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,100.00,0.00,0.00
13,INVESTMENT_IN_SUBSIDIARIES,0.00,0.00,0.00,0.00,"10,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00
14,INVESTMENT_IN_ASSOCIATES,0.00,0.00,0.00,0.00,0.00,0.00,"1,000.00",0.00,0.00,0.00,0.00,0.00
15,INVESTMENT_PROPERTIES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"5,000.00",0.00,0.00,0.00
16,EQUITY_INVESTMENTS,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"10,000.00"
17,LONG_TERM_MONEY_MARKET_INVESTMENTS,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
18,SHORT_TERM_MONEY_MARKET_INVESTMENTS,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
19,LOANS_TO_RELATED_ENTITIES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
20,TREASURY_SHARES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
21,DIVIDEND_PAID,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,100.00
22,PROVISION_FOR_TAX,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
23,INTERCOMPANY_LOANS,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
24,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,INFLATION_RATE,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
26,OTHER_STAFF_SALARY,"17,000.00","17,000.00","17,000.00","17,000.00","17,000.00","17,000.00","17,000.00","17,000.00","17,000.00","17,000.00","17,000.00","17,000.00"
27,PENSION_AND_STATUROTY_CONTRIBUTIONS_PERCENT,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.11
28,TAX_RATE,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25
29,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,AGENT_COMMISSION,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
31,AGENT_CONTRIBUTION_PERCENT,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10
32,AGENT_SALARY,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00
33,BUSINESS_ACQUISITION_PERCENT,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03
34,CREDIT_OFFICER_COMMISSION,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
35,CREDIT_OFFICER_SALARY,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
36,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,B2B_ADMINISTRATION_FEE,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
38,B2B_DISBURSEMENTS,"10,000.00","10,000.00","10,000.00","10,000.00","10,000.00","10,000.00","10,000.00","10,000.00","10,000.00","10,000.00","10,000.00","10,000.00"
39,B2B_AVERAGE_LOAN_TERM,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00
40,B2B_INTEREST_RATE,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10
41,B2B_PROVISION_FOR_CREDIT_LOSS,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
42,B2B_CREDIT_INSURANCE_FEE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
43,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,CONSUMER_PVT_ADMINISTRATION_FEE,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
45,CONSUMER_PVT_AVERAGE_LOAN_SIZE,"1,000.00","1,000.00","1,200.00","1,200.00","1,200.00","1,350.00","1,350.00","1,350.00","1,500.00","1,500.00","1,500.00","1,500.00"
46,CONSUMER_PVT_AVERAGE_LOAN_TERM,9.00,9.00,9.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00
47,CONSUMER_PVT_INTEREST_RATE,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09
48,CONSUMER_PVT_PROVISION_FOR_CREDIT_LOSS,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03
49,CONSUMER_PVT_NUMBER_OF_AGENTS,12.00,15.00,18.00,20.00,24.00,24.00,28.00,30.00,30.00,30.00,30.00,30.00
50,CONSUMER_PVT_CREDIT_INSURANCE_FEE,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
51,CONSUMER_PVT_NUMBER_OF_LOANS_PER_AGENT,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00
52,CONSUMER_PVT_RENEWAL_RATE,0.00,0.00,0.00,0.90,0.90,0.90,0.90,0.90,0.90,0.90,0.90,0.90
53,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,CONSUMER_SSB_ADMINISTRATION_FEE,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
55,CONSUMER_SSB_AVERAGE_LOAN_SIZE,400.00,400.00,400.00,400.00,400.00,400.00,400.00,400.00,400.00,400.00,400.00,400.00
56,CONSUMER_SSB_AVERAGE_LOAN_TERM,9.00,9.00,9.00,12.00,12.00,12.00,12.00,15.00,15.00,18.00,18.00,18.00
57,CONSUMER_SSB_CREDIT_INSURANCE_FEE,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
58,CONSUMER_SSB_INTEREST_RATE,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09
59,CONSUMER_SSB_NUMBER_OF_AGENTS,12.00,15.00,18.00,20.00,24.00,24.00,28.00,30.00,30.00,30.00,30.00,30.00
60,CONSUMER_SSB_NUMBER_OF_LOANS_PER_AGENT,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00
61,CONSUMER_SSB_RENEWAL_RATE,0.00,0.00,0.00,0.90,0.90,0.90,0.90,0.90,0.90,0.90,0.90,0.90
62,CONSUMER_SSB_PROVISION_FOR_CREDIT_LOSS,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
63,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,SME_ADMINISTRATION_FEE,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
65,SME_AVERAGE_LOAN_SIZE,"4,000.00","4,000.00","4,000.00","3,000.00","3,000.00","3,000.00","2,500.00","2,500.00","2,500.00","2,500.00","2,500.00","2,500.00"
66,SME_AVERAGE_LOAN_TERM,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00
67,SME_CREDIT_INSURANCE_FEE,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
68,SME_INTEREST_RATE,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10
69,SME_NUMBER_OF_CREDIT_OFFICERS,6.00,6.00,6.00,6.00,9.00,9.00,12.00,14.00,14.00,18.00,18.00,18.00
70,SME_NUMBER_OF_LOANS_PER_CREDIT_OFFICER,15.00,18.00,20.00,20.00,12.00,14.00,14.00,17.00,20.00,22.00,25.00,25.00
71,SME_PROVISION_FOR_CREDIT_LOSS,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
72,SME_RENEWAL_RATE,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85

In [23]:
from application.modeling import constants, helper


parameters = helper.read_parameters_file(
    tenant_name=tenant_name,
    project_id=project_id,
    boto3_session=constants.MY_SESSION,
    valuation_date=VALUATION_DATE,
)

In [26]:
helper.change_period_index_to_strftime(
    parameters.loc['DIVIDEND_PAID']
)

Jan-2023     0.00
Feb-2023     0.00
Mar-2023     0.00
Apr-2023     0.00
May-2023     0.00
Jun-2023     0.00
Jul-2023     0.00
Aug-2023     0.00
Sep-2023     0.00
Oct-2023     0.00
Nov-2023     0.00
Dec-2023   100.00
Name: DIVIDEND_PAID, dtype: float64

In [25]:
parameters.loc['DIVIDEND_PAID']

2023-01     0.00
2023-02     0.00
2023-03     0.00
2023-04     0.00
2023-05     0.00
2023-06     0.00
2023-07     0.00
2023-08     0.00
2023-09     0.00
2023-10     0.00
2023-11     0.00
2023-12   100.00
Name: DIVIDEND_PAID, dtype: float64