In [3]:
import pandas as pd
import awswrangler as wr
from application.modeling import helper
from application.modeling.constants import MY_SESSION, S3_CLIENT, FileStage, IntermediateFiles
from application.modeling import constants
pd.options.display.max_columns = None
pd.options.display.max_rows = 100
pd.options.display.float_format = "{:,.2f}".format

In [12]:
bucket_name = "carlos-test-budgeting"
project_id = 1
file_stage = constants.FileStage.raw
file_name = constants.RawFiles.details_of_long_term_borrowing
df = wr.s3.read_parquet(
    f"s3://{bucket_name}/project_{project_id}/{file_stage.value}/{file_name.value}.parquet",
    boto3_session=MY_SESSION,
)

df

,effective_date,institution,nominal_amount,interest_rate,tenure,repayment_frequency,frequency,method
0,31/12/2022,ZIMNAT LIFE ASSURANCE,"376,455.00",0.06,60,Monthly (P+I),12,reducing_balance
1,06/05/2022,MASAWARA,"5,613.00",0.06,60,Monthly (P+I),12,reducing_balance
2,31/12/2022,Grandre,"160,000.00",0.06,36,Quaterly (I+Bullet P),4,straight_line
3,31/12/2022,MINERVA,"15,000.00",0.08,36,Bullet (P+I),0,straight_line
4,10/09/2022,ZAM-CARGO,"364,000.00",0.05,36,Annually(I) Principal rollover,12,straight_line
5,05/04/2023,ZIMNAT LIFE ASSURANCE,"30,000.00",0.14,24,Monthly (P+I),12,reducing_balance
6,31/12/2022,ZLA-Cargo,"124,575.00",0.10,12,Annually(I) Principal rollover,1,straight_line
7,31/12/2022,ZIMNAT LION INSURANCE,"50,000.00",0.08,12,Bi-annual(I)Principal at maturity,2,straight_line
8,31/12/2022,ZIMNAT LION INSURANCE,"92,800.00",0.06,12,Bi-annual(I)Principal at maturity,2,straight_line
9,29/03/2023,BERAMASAMBA,"30,000.00",0.06,12,Bi-annual(I)Principal at maturity,2,straight_line
10,31/10/2023,CARLOS_FINANCE,"10,000.00",0.10,6,Bullet (P+I),12,straight_line