In [2]:
import pandas as pd
import awswrangler as wr
from application.modeling import helper
from application.modeling.constants import MY_SESSION, S3_CLIENT, FileStage, IntermediateFiles
from application.modeling import constants
pd.options.display.max_columns = None
pd.options.display.max_rows = 100
pd.options.display.float_format = "{:,.2f}".format

In [4]:
bucket_name = "claxon-actuaries-budgeting"
project_id = 65
file_stage = constants.FileStage.raw
file_name = constants.RawFiles.details_of_short_term_borrowing
df = wr.s3.read_parquet(
    f"s3://{bucket_name}/project_{project_id}/{file_stage.value}/{file_name.value}.parquet",
    boto3_session=MY_SESSION,
)

df

,effective_date,institution,nominal_amount,interest_rate,tenure,repayment_frequency,frequency,method
0,24/04/2023,FCB,"120,383.84",0.18,3,Bullet (P+I),0,straight_line
1,02/03/2023,ZIMNAT LIFE ASSURANCE,"50,000.00",0.14,6,Monthly (P+I),12,reducing_balance
2,31/12/2022,Zimnat Life Assurance,"20,000.00",0.08,12,Annually(I) Principal rollover,1,straight_line
3,31/12/2022,Grandre,"100,000.00",0.12,12,Quaterly (I+Bullet P),4,straight_line
4,23/04/2023,FCB,"18,429.93",1.50,12,Bullet (P+I),0,straight_line
5,17/12/2022,NURTURE,"500,000.00",0.20,12,Quaterly (I+Bullet P),4,straight_line
6,26/01/2023,NMB,"450,000.00",0.18,12,Quaterly (I+Bullet P),4,straight_line
7,24/03/2023,DANDEMUTANDE,"25,000.00",0.06,12,Bullet (P+I),0,straight_line
8,30/11/2023,KALTECH,"6,000,000.00",0.00,24,Bullet,1,straight_line
9,01/12/2023,KARL TECH,"6,000,000.00",0.00,24,0,1,straight_line
10,10/11/2023,KARL LIFE,"10,000.00",0.00,12,Bullet Monthly,0,straight_line
11,01/01/2024,TESTING WITH DOCS,"10,000.00",0.01,12,Something Something,12,straight_line