In [11]:
import pandas as pd
import awswrangler as wr
from application.modeling import helper
from application.modeling.constants import MY_SESSION, S3_CLIENT, FileStage


pd.options.display.max_columns = None
pd.options.display.max_rows = 100
pd.options.display.float_format = "{:,.2f}".format

In [12]:
bucket_name = "zimnat-budgeting"
tenant_name = bucket_name
project_id = 1
VALUATION_DATE = "2023-01"
MONTHS_TO_FORECAST = 12

In [13]:
file_stage = FileStage.intermediate
new_disbursements_df = wr.s3.read_parquet(
    f"s3://{bucket_name}/project_{project_id}/{file_stage.value}/new_disbursements_df.parquet",
    boto3_session=MY_SESSION,
)
new_disbursements_df

,b2b_disbursements,sme_disbursements,consumer_ssb_disbursements,consumer_pvt_disbursements,total
2023-01,"10,000.00","360,000.00","48,000.00","60,000.00","490,000.00"
2023-02,"10,000.00","432,000.00","60,000.00","75,000.00","592,000.00"
2023-03,"10,000.00","480,000.00","72,000.00","108,000.00","706,000.00"
2023-04,"10,000.00","360,000.00","80,000.00","120,000.00","610,000.00"
2023-05,"10,000.00","324,000.00","96,000.00","144,000.00","622,000.00"
2023-06,"10,000.00","378,000.00","96,000.00","162,000.00","712,000.00"
2023-07,"10,000.00","420,000.00","112,000.00","189,000.00","808,000.00"
2023-08,"10,000.00","595,000.00","120,000.00","202,500.00","1,010,000.00"
2023-09,"10,000.00","700,000.00","120,000.00","225,000.00","1,160,000.00"
2023-10,"10,000.00","990,000.00","120,000.00","225,000.00","1,450,000.00"
2023-11,"10,000.00","1,125,000.00","120,000.00","225,000.00","1,585,000.00"
2023-12,"10,000.00","1,125,000.00","120,000.00","225,000.00","1,585,000.00"

In [10]:
new_disbursements_df.index

Index(['2023-01', '2023-02', '2023-03', '2023-04', '2023-05', '2023-06',
       '2023-07', '2023-08', '2023-09', '2023-10', '2023-11', '2023-12'],
      dtype='string')

In [15]:
helper.change_period_index_to_strftime(new_disbursements_df)

,b2b_disbursements,sme_disbursements,consumer_ssb_disbursements,consumer_pvt_disbursements,total
Jan-2023,"10,000.00","360,000.00","48,000.00","60,000.00","490,000.00"
Feb-2023,"10,000.00","432,000.00","60,000.00","75,000.00","592,000.00"
Mar-2023,"10,000.00","480,000.00","72,000.00","108,000.00","706,000.00"
Apr-2023,"10,000.00","360,000.00","80,000.00","120,000.00","610,000.00"
May-2023,"10,000.00","324,000.00","96,000.00","144,000.00","622,000.00"
Jun-2023,"10,000.00","378,000.00","96,000.00","162,000.00","712,000.00"
Jul-2023,"10,000.00","420,000.00","112,000.00","189,000.00","808,000.00"
Aug-2023,"10,000.00","595,000.00","120,000.00","202,500.00","1,010,000.00"
Sep-2023,"10,000.00","700,000.00","120,000.00","225,000.00","1,160,000.00"
Oct-2023,"10,000.00","990,000.00","120,000.00","225,000.00","1,450,000.00"
Nov-2023,"10,000.00","1,125,000.00","120,000.00","225,000.00","1,585,000.00"
Dec-2023,"10,000.00","1,125,000.00","120,000.00","225,000.00","1,585,000.00"