## **Imports**

In [284]:
import pandas as pd
import numpy as np
import importlib
from application.modeling import disbursements
from application.modeling import interest_income
from application.modeling import other_income
from application.modeling import helper
from application.modeling import depreciation
from application.modeling import expenses
from application.modeling import income_statement
from application.modeling import direct_cashflow
pd.options.display.max_columns = None
pd.options.display.max_rows = 100
pd.options.display.float_format = "{:,.2f}".format

## **Inputs**

In [285]:
VALUATION_DATE = "2023-01"
MONTHS_TO_FORECAST = 12
IMTT = 0.01

In [286]:
parameters = pd.read_csv("./data_templates/parameters.csv", index_col=0)
parameters.columns = pd.period_range(VALUATION_DATE,periods=int(parameters.columns[-1]), freq="M")
parameters

,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12
AGENT_CONTRIBUTION_PERCENT,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10
BUSINESS_ACQUISITION_PERCENT,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03
INFLATION_RATE,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
MONTHS_TO_FORECAST,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00
PENSION_AND_STATUROTY_CONTRIBUTIONS_PERCENT,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.11
TAX_RATE,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25
AGENT_COMMISSION,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
AGENT_SALARY,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00
CREDIT_OFFICER_COMMISSION,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
CREDIT_OFFICER_SALARY,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
OTHER_STAFF_SALARY,"17,000.00","17,000.00","17,000.00","17,000.00","17,000.00","17,000.00","17,000.00","17,000.00","17,000.00","17,000.00","17,000.00","17,000.00"
RECEIPTS_FROM_TRADE_RECEIVABLES,"1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00"
NEW_TRADE_RECEIVABLES,500.00,500.00,500.00,500.00,500.00,500.00,500.00,500.00,500.00,500.00,500.00,500.00
TRADE_RECEIVABLES_PROVISION_FOR_BAD_DEBTS,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
PAYMENTS_TO_TRADE_PAYABLES,"1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00"
NEW_TRADE_PAYABLES,500.00,500.00,500.00,500.00,500.00,500.00,500.00,500.00,500.00,500.00,500.00,500.00
ISSUE_OF_SHARES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,100.00,0.00,0.00
TAX_PAID,"5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00"
DIVIDEND_PAID,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,100.00
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
B2B_ADMINISTRATION_FEE,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
B2B_DISBURSEMENTS,"10,000.00","10,000.00","10,000.00","10,000.00","10,000.00","10,000.00","10,000.00","10,000.00","10,000.00","10,000.00","10,000.00","10,000.00"
B2B_AVERAGE_LOAN_TERM,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00
B2B_INTEREST_RATE,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10
B2B_PROVISION_FOR_CREDIT_LOSS,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
B2B_CREDIT_INSURANCE_FEE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CONSUMER_PVT_ADMINISTRATION_FEE,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
CONSUMER_PVT_AVERAGE_LOAN_SIZE,"1,000.00","1,000.00","1,200.00","1,200.00","1,200.00","1,350.00","1,350.00","1,350.00","1,500.00","1,500.00","1,500.00","1,500.00"
CONSUMER_PVT_AVERAGE_LOAN_TERM,9.00,9.00,9.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00
CONSUMER_PVT_INTEREST_RATE,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09
CONSUMER_PVT_PROVISION_FOR_CREDIT_LOSS,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03
CONSUMER_PVT_NUMBER_OF_AGENTS,12.00,15.00,18.00,20.00,24.00,24.00,28.00,30.00,30.00,30.00,30.00,30.00
CONSUMER_PVT_CREDIT_INSURANCE_FEE,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
CONSUMER_PVT_NUMBER_OF_LOANS_PER_AGENT,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00
CONSUMER_PVT_RENEWAL_RATE,0.00,0.00,0.00,0.90,0.90,0.90,0.90,0.90,0.90,0.90,0.90,0.90
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CONSUMER_SSB_ADMINISTRATION_FEE,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
CONSUMER_SSB_AVERAGE_LOAN_SIZE,400.00,400.00,400.00,400.00,400.00,400.00,400.00,400.00,400.00,400.00,400.00,400.00
CONSUMER_SSB_AVERAGE_LOAN_TERM,9.00,9.00,9.00,12.00,12.00,12.00,12.00,15.00,15.00,18.00,18.00,18.00
CONSUMER_SSB_CREDIT_INSURANCE_FEE,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
CONSUMER_SSB_INTEREST_RATE,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09
CONSUMER_SSB_NUMBER_OF_AGENTS,12.00,15.00,18.00,20.00,24.00,24.00,28.00,30.00,30.00,30.00,30.00,30.00
CONSUMER_SSB_NUMBER_OF_LOANS_PER_AGENT,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00
CONSUMER_SSB_RENEWAL_RATE,0.00,0.00,0.00,0.90,0.90,0.90,0.90,0.90,0.90,0.90,0.90,0.90
CONSUMER_SSB_PROVISION_FOR_CREDIT_LOSS,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SME_ADMINISTRATION_FEE,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
SME_AVERAGE_LOAN_SIZE,"4,000.00","4,000.00","4,000.00","3,000.00","3,000.00","3,000.00","2,500.00","2,500.00","2,500.00","2,500.00","2,500.00","2,500.00"
SME_AVERAGE_LOAN_TERM,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00
SME_CREDIT_INSURANCE_FEE,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
SME_INTEREST_RATE,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10,0.10
SME_NUMBER_OF_CREDIT_OFFICERS,6.00,6.00,6.00,6.00,9.00,9.00,12.00,14.00,14.00,18.00,18.00,18.00
SME_NUMBER_OF_LOANS_PER_CREDIT_OFFICER,15.00,18.00,20.00,20.00,12.00,14.00,14.00,17.00,20.00,22.00,25.00,25.00
SME_PROVISION_FOR_CREDIT_LOSS,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
SME_RENEWAL_RATE,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85

In [287]:
details_of_existing_assets = pd.read_csv("./data_templates/details_of_existing_assets.csv")
details_of_existing_assets

,asset,depreciation,net_book_value,remaining_useful_life,cost,useful_life_when_purchased,method
0,Vehicles,0.20,10000,5,20000,10,straight_line
1,Buildings,0.10,50000,20,80000,25,reducing_balance

In [288]:
details_of_new_assets = pd.read_csv("./data_templates/details_of_new_assets.csv")
details_of_new_assets

,asset,depreciation,net_book_value,remaining_useful_life,method,purchase_date,cost
0,Vehicle,0.25,10000,5,reducing_balance,01/06/2023,10000
1,Building,0.10,50000,20,reducing_balance,01/09/2023,50000

In [289]:
details_of_existing_long_term_borrowing = pd.read_csv("./data_templates/details_of_existing_long_term_borrowing.csv")
details_of_existing_long_term_borrowing

,company,principal,interest_rate,remaining_loan_term,loan_term,method
0,Zimnat Lion Insurance,92800,0.06,60,60,straight_line
1,Zimnat Lion Insurance,50000,0.06,12,12,straight_line
2,Grandre,160000,0.06,36,36,straight_line
3,Minerva,15000,0.08,36,36,straight_line
4,Masawara,5613,0.06,60,60,straight_line
5,Zam-Cargo,364000,0.05,36,36,straight_line

In [290]:
details_of_new_long_term_borrowing = pd.read_csv("./data_templates/details_of_new_long_term_borrowing.csv")
details_of_new_long_term_borrowing

,company,principal,interest_rate,loan_term,remaining_loan_term,loan_start_date,method
0,ZMF,200000,0.34,36,36,01/08/2023,straight_line
1,ZAM,400000,0.25,60,60,01/09/2023,straight_line
2,NBS,500000,0.18,24,24,01/10/2023,straight_line
3,ZB,500000,0.21,18,18,01/10/2023,straight_line

In [291]:
details_of_new_short_term_borrowing = pd.read_csv("./data_templates/details_of_new_short_term_borrowing.csv")
details_of_new_short_term_borrowing

,company,principal,interest_rate,loan_term,remaining_loan_term,loan_start_date,method
0,ZMF,200000,0.34,12,12,01/07/2023,straight_line
1,ZAM,400000,0.25,12,12,01/07/2023,reducing_balance
2,NBS,500000,0.18,12,12,01/09/2023,straight_line
3,ZB,500000,0.21,12,12,01/10/2023,straight_line

In [292]:
details_of_existing_short_term_borrowing = pd.read_csv("./data_templates/details_of_existing_short_term_borrowing.csv")
details_of_existing_short_term_borrowing

,company,principal,interest_rate,remaining_loan_term,loan_term,method
0,Zimnat Life,50000,0.14,10,12,straight_line
1,Zimnat Life,30000,0.13,12,12,straight_line
2,Grandre,100000,0.12,7,12,straight_line
3,FCB,120383,0.18,5,12,straight_line
4,Nurture,500000,0.25,8,12,straight_line
5,NMB,450000,0.22,11,12,straight_line
6,Beramasamba,30000,0.13,3,12,straight_line
7,Dandemutande,25000,0.12,7,12,reducing_balance

In [293]:
static_inputs_income_statement = pd.read_csv("./data_templates/static_inputs_income_statement.csv", index_col=0)
static_inputs_income_statement

,Jan-23,Feb-23,Mar-23,Apr-23,May-23,Jun-23,Jul-23,Aug-23,Sep-23,Oct-23,Nov-23,Dec-23
CILL,13152,11585,13943,17555,13073,11021,13843,17989,19692,16873,15675,10161
Bonus Provision,14297,10995,17629,19467,11016,17869,16439,17892,16863,17916,18529,10878
Retrenchments,19268,14887,14859,16331,18571,18684,17208,15276,12062,10064,18006,12568
Staff Welfare,15463,12027,12695,19687,15258,15618,16736,10391,15892,13561,16184,13099
Donations,16278,18392,13104,17215,12454,18996,12731,18154,19762,15056,18110,13840
Legal Fees,0,0,0,0,0,0,0,0,0,0,0,0
Strategic Expenses,0,0,0,0,0,0,0,0,0,0,0,0
Rental Income,0,0,0,0,0,0,0,0,0,0,0,0
Interest Received,0,0,0,0,0,0,0,0,0,0,0,0
Dividends Received,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Inv Properties,0,0,0,0,0,0,0,0,0,0,0,0
Exchange Gains/(Losses),0,0,0,0,0,0,0,0,0,0,0,0
Admin Fees,0,0,0,0,0,0,0,0,0,0,0,0
Fair Value Adjustments,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Equities,0,0,0,0,0,0,0,0,0,0,0,0
2% Taxation,0,0,0,0,0,0,0,0,0,0,0,0
Third Party,0,0,0,0,0,0,0,0,0,0,0,0

In [294]:
variable_inputs_income_statement = pd.read_csv("./data_templates/variable_inputs_income_statement.csv", index_col=0)
variable_inputs_income_statement

,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,Jan-23
Training,6028,5502,9493,5870,9488,5206
Travel Costs,6484,5863,7790,5563,9191,6757
Entertainment,6678,8242,9636,6059,6722,8314
Marketing Costs,8157,7625,7729,6597,8060,7693
Group Marketing Costs,9891,8627,6363,6981,6663,6529
Rental Costs,7038,8302,7237,6306,9029,7675
Subscriptions,6282,5709,9744,9413,8748,9779
Insurance,5663,6998,8445,8743,6495,8304
Repairs And Maintenance,8763,6853,9659,6291,8581,8457
Utilities,6636,8696,7999,8152,5698,7160
Stationery,9097,9737,5854,8474,6707,7777
Admin Costs,6733,9931,8510,5202,8255,9218
IT Costs,9496,5766,9389,7327,7931,5197
Masawara Mgt Fee,6930,8582,5608,8272,6147,9282
Fines And Penalties,8397,7511,6794,5659,7811,6369
Auditors Remuneration,6986,5146,8219,7911,6734,6843
Directors Fees,5488,7976,6959,7385,7919,9736
Consultancy Fees,6802,9061,8369,5262,5623,6016
Telephones,8643,9976,7049,8723,9548,8108
Cellphones,9090,7056,8170,6682,7255,6154
Internet,9499,8191,6696,8991,9723,9682
Courier,6648,6445,9199,8923,5253,8183
Fuel,7557,5098,7200,7961,9973,9433
Motor Vehicle Maintenance Costs,8777,7869,8234,8791,5956,9067
Bank Charges,5160,9493,6300,9911,8987,6527
Zimnat Grp Shared Costs Recovery Exp,6218,9496,9735,8104,7735,9555

In [295]:
opening_balances = pd.read_csv("./data_templates/opening_balances.csv")
opening_balances

,TRADE_RECEIVABLES,TRADE_PAYABLES,LOAN_BOOK,CASH_ON_HAND,ISSUED_SHARE_CAPITAL,SHARE_PREMIUM,OTHER_COMPONENTS_OF_EQUITY,TREASURY_SHARES,RETAINED_EARNINGS,LONG_TERM_LOANS,SHORT_TERM_LOANS,INTERCOMPANY_LOANS,DEFERED_TAXATION,OTHER_RECEIVABLES,OTHER_PAYABLES,PROVISION_FOR_TAXATION,PROVISION_FOR_CREDIT_LOSS
0,1000000,940000,2800000,331000,7000,110,0,0,200000,200000,50000,0,0,0,0,0,10000

In [296]:
existing_loans = pd.read_csv("./data_templates/existing_loans.csv", index_col=0)
existing_loans

,disbursement_date,maturity_date,loan_amount,frequency,loan_term_months,remaining_term_months,interest_rate,repayment_amount,outstanding_balance,admin_fee_percentage,credit_insurance_fee_percentage
loan_number,,,,,,,,,,,
40b0775c,43536,46386,2400,12,94,48,0.00,31.39,"1,351.78",0.06,0.05
f5c36555,43873,46386,4600,12,83,48,0.01,92.11,"3,246.86",0.06,0.07
75656bce,44068,46386,2400,12,77,48,0.01,47.81,"1,739.68",0.08,0.05
a7222f00,44611,46021,3800,12,47,36,0.00,83.95,"2,935.72",0.09,0.08
ad00cbf5,43747,46751,5000,12,99,60,0.00,52.09,"3,066.98",0.07,0.05
321ec75b,44137,46751,1700,12,86,60,0.00,24.25,"1,258.85",0.08,0.10
6747e1d4,43606,46021,1600,12,80,36,0.01,31.43,911.36,0.05,0.10
5131c13c,44591,46386,1000,12,60,48,0.01,20.90,835.18,0.05,0.08
a7222f00_1,43520,46021,1200,12,83,36,0.01,18.50,595.83,0.06,0.05
1ae65220,43754,45291,3800,12,51,13,0.01,101.71,"1,211.71",0.05,0.07
7aaaa107,44238,46021,4000,12,59,36,0.00,76.35,"2,552.98",0.08,0.06
d3d56735,44028,45291,2800,12,42,13,0.00,67.15,870.89,0.10,0.09
c71f64fd,44104,46021,2400,12,64,36,0.01,52.18,"1,548.68",0.10,0.09
d3d56735_1,43860,45291,3400,12,48,13,0.01,81.71,"1,019.01",0.05,0.05
c5f5db38,44019,46021,3800,12,66,36,0.01,89.56,"2,502.70",0.06,0.06
99e2b327,44350,46021,4900,12,55,36,0.01,128.21,"3,608.75",0.07,0.05
e66b480c,43938,46751,4300,12,93,60,0.01,77.56,"3,286.75",0.08,0.06
14c22098,44189,46021,1500,12,61,36,0.01,30.47,963.24,0.09,0.05
b89a6836,44385,45291,1900,12,30,13,0.00,68.35,858.30,0.08,0.09

## **New Disbursements**

In [297]:
new_disbursements_df  = disbursements.calculate_new_disbursements(parameters=parameters)
new_disbursements_df

,b2b_disbursements,sme_disbursements,consumer_ssb_disbursements,consumer_pvt_disbursements,total
2023-01,"10,000.00","360,000.00","48,000.00","60,000.00","490,000.00"
2023-02,"10,000.00","432,000.00","60,000.00","75,000.00","592,000.00"
2023-03,"10,000.00","480,000.00","72,000.00","108,000.00","706,000.00"
2023-04,"10,000.00","360,000.00","80,000.00","120,000.00","610,000.00"
2023-05,"10,000.00","324,000.00","96,000.00","144,000.00","622,000.00"
2023-06,"10,000.00","378,000.00","96,000.00","162,000.00","712,000.00"
2023-07,"10,000.00","420,000.00","112,000.00","189,000.00","808,000.00"
2023-08,"10,000.00","595,000.00","120,000.00","202,500.00","1,010,000.00"
2023-09,"10,000.00","700,000.00","120,000.00","225,000.00","1,160,000.00"
2023-10,"10,000.00","990,000.00","120,000.00","225,000.00","1,450,000.00"
2023-11,"10,000.00","1,125,000.00","120,000.00","225,000.00","1,585,000.00"
2023-12,"10,000.00","1,125,000.00","120,000.00","225,000.00","1,585,000.00"

### **Calculate Repayment Amount For New Disbursements**

In [298]:
monthly_repayment_new_disbursements_df = interest_income.calculate_monthly_repayments_new_disbursements(new_disbursements_df=new_disbursements_df, parameters=parameters)
monthly_repayment_new_disbursements_df

,sme_monthly_repayment,b2b_monthly_repayment,consumer_ssb_monthly_repayment,consumer_pvt_monthly_repayment
2023-01,"81,451.18","1,627.45","8,006.34","10,007.93"
2023-02,"97,741.42","1,627.45","10,007.93","12,509.91"
2023-03,"108,601.58","1,627.45","12,009.51","18,014.27"
2023-04,"81,451.18","1,627.45","11,172.05","16,758.08"
2023-05,"73,306.06","1,627.45","13,406.46","20,109.69"
2023-06,"85,523.74","1,627.45","13,406.46","22,623.41"
2023-07,"95,026.38","1,627.45","15,640.87","26,393.97"
2023-08,"134,620.70","1,627.45","14,887.07","28,279.26"
2023-09,"158,377.30","1,627.45","14,887.07","31,421.40"
2023-10,"223,990.75","1,627.45","13,705.47","31,421.40"
2023-11,"254,534.94","1,627.45","13,705.47","31,421.40"
2023-12,"254,534.94","1,627.45","13,705.47","31,421.40"

### **Generate Loan Schedules For New Disbursements**

In [299]:
loan_schedules_for_all_new_disbursements = (
    interest_income.generate_loan_schedules_for_all_new_disbursements(
        new_disbursements_df=new_disbursements_df,
        parameters=parameters,
        monthly_repayment_new_disbursements_df=monthly_repayment_new_disbursements_df,
        months_to_forecast=MONTHS_TO_FORECAST,
    )
)
loan_schedules_for_all_new_disbursements.keys()

dict_keys(['sme_loan_schedules', 'b2b_loan_schedules', 'consumer_ssb_loan_schedules', 'consumer_pvt_loan_schedules'])

### **Capital Repayment New Disbursement**

In [300]:
capital_repayment_new_disbursements_df = interest_income.generate_capital_repayment_new_disbursements_df(loan_schedules_for_all_new_disbursements=loan_schedules_for_all_new_disbursements)
capital_repayment_new_disbursements_df

,sme_capital_repayments,b2b_capital_repayments,consumer_pvt_capital_repayments,consumer_ssb_capital_repayments,total
Feb-2023,"47,251.18",627.45,"4,607.93","3,686.34","56,172.91"
Mar-2023,"108,441.46","1,317.65","10,782.55","8,626.04","129,167.71"
Apr-2023,"181,744.98","2,076.87","20,047.25","14,931.90","218,801.00"
May-2023,"246,261.93","2,912.01","27,809.58","20,247.82","297,231.35"
Jun-2023,"312,182.88","3,830.67","37,462.14","26,836.59","380,312.28"
Jul-2023,"391,453.99","4,841.19","48,877.14","34,018.35","479,190.67"
Aug-2023,"402,317.32","5,952.76","62,660.06","42,640.87","513,571.01"
Sep-2023,"420,891.75","7,175.49","78,353.72","50,565.62","556,986.58"
Oct-2023,"444,152.19","8,520.50","96,576.95","59,203.59","608,453.22"
Nov-2023,"534,836.21","10,000.00","106,432.35","59,431.04","710,699.61"
Dec-2023,"659,999.53","10,000.00","114,672.75","57,677.38","842,349.66"
Jan-2024,"784,835.69","10,000.00","118,150.42","53,764.31","966,750.42"

### **Interest Income New Disbursements**

In [301]:
interest_income_new_disbursements_df = interest_income.generate_interest_income_new_disbursements_df(
    loan_schedules_for_all_new_disbursements=loan_schedules_for_all_new_disbursements
)
interest_income_new_disbursements_df

,sme_interest_income,b2b_interest_income,consumer_pvt_interest_income,consumer_ssb_interest_income,total
Feb-2023,"34,200.00","1,000.00","5,400.00","4,320.00","44,920.00"
Mar-2023,"70,751.14","1,937.25","11,735.29","9,388.23","93,811.91"
Apr-2023,"106,049.20","2,805.49","20,484.86","15,091.89","144,431.43"
May-2023,"122,983.43","3,597.80","29,480.60","20,948.01","177,009.85"
Jun-2023,"130,368.54","4,306.60","39,937.74","27,765.71","202,378.60"
Jul-2023,"136,621.17","4,923.53","51,146.15","33,990.42","226,681.27"
Aug-2023,"139,333.04","5,439.41","63,757.21","41,008.77","249,538.43"
Sep-2023,"157,637.89","5,844.14","76,342.80","47,971.09","287,795.92"
Oct-2023,"184,153.18","6,126.59","89,540.97","54,220.18","334,040.92"
Nov-2023,"236,008.72","6,274.54","101,099.04","59,691.86","403,074.16"
Dec-2023,"292,074.28","6,274.54","111,770.13","65,143.07","475,262.01"
Jan-2024,"336,249.32","6,274.54","121,699.58","70,752.10","534,975.55"

### **Calculate Admin Fee On New Disbursements**

In [302]:
admin_fee_for_all_new_disbursements_df = other_income.calculate_admin_fee_for_all_new_disbursements(
    new_disbursements_df=new_disbursements_df,
    parameters=parameters,
    months_to_forecast=MONTHS_TO_FORECAST,
)
admin_fee_for_all_new_disbursements_df

,sme_admin_fee,b2b_admin_fee,consumer_ssb_admin_fee,consumer_pvt_admin_fee,total
Jan-2023,"3,000.00",10.00,184.62,272.73,"3,467.34"
Feb-2023,"6,600.00",20.00,415.38,613.64,"7,649.02"
Mar-2023,"10,600.00",30.00,692.31,"1,104.55","12,426.85"
Apr-2023,"13,600.00",40.00,"1,000.00","1,650.00","16,290.00"
May-2023,"16,300.00",50.00,"1,369.23","2,304.55","20,023.78"
Jun-2023,"19,450.00",60.00,"1,738.46","3,040.91","24,289.37"
Jul-2023,"19,950.00",70.00,"2,169.23","3,900.00","26,089.23"
Aug-2023,"21,308.33",80.00,"2,630.77","4,820.45","28,839.56"
Sep-2023,"23,141.67",90.00,"3,092.31","5,843.18","32,167.16"
Oct-2023,"28,391.67",100.00,"3,553.85","6,865.91","38,911.42"
Nov-2023,"35,066.67",100.00,"4,015.38","7,888.64","47,070.69"
Dec-2023,"41,291.67",100.00,"4,476.92","8,638.64","54,507.23"

### **Calculate Credit Life Insurance On New Disbursement**

In [303]:
credit_insurance_fee_for_all_new_disbursements = (
    other_income.calculate_credit_insurance_fee_for_all_new_disbursements(
        new_disbursements_df=new_disbursements_df,
        parameters=parameters,
        months_to_forecast=MONTHS_TO_FORECAST,
    )
)

credit_insurance_fee_for_all_new_disbursements

,sme_credit_insurance_fee,b2b_credit_insurance_fee,consumer_ssb_credit_insurance_fee,consumer_pvt_credit_insurance_fee,total
Jan-2023,"1,200.00",0.00,73.85,109.09,"1,382.94"
Feb-2023,"2,640.00",0.00,166.15,245.45,"3,051.61"
Mar-2023,"4,240.00",0.00,276.92,441.82,"4,958.74"
Apr-2023,"5,440.00",0.00,400.00,660.00,"6,500.00"
May-2023,"6,520.00",0.00,547.69,921.82,"7,989.51"
Jun-2023,"7,780.00",0.00,695.38,"1,216.36","9,691.75"
Jul-2023,"7,980.00",0.00,867.69,"1,560.00","10,407.69"
Aug-2023,"8,523.33",0.00,"1,052.31","1,928.18","11,503.82"
Sep-2023,"9,256.67",0.00,"1,236.92","2,337.27","12,830.86"
Oct-2023,"11,356.67",0.00,"1,421.54","2,746.36","15,524.57"
Nov-2023,"14,026.67",0.00,"1,606.15","3,155.45","18,788.28"
Dec-2023,"16,516.67",0.00,"1,790.77","3,455.45","21,762.89"

### **Calculate For Credit Loss For New Disbursements**

In [304]:
provision_for_credit_loss_for_all_new_disbursements = (
    expenses.calculate_provision_for_credit_loss_for_all_new_disbursements(
        new_disbursements_df=new_disbursements_df, parameters=parameters
    )
)
provision_for_credit_loss_for_all_new_disbursements

,sme_provision_for_credit_loss,b2b_provision_for_credit_loss,consumer_ssb_provision_for_credit_loss,consumer_pvt_provision_for_credit_loss,total
2023-01,"7,200.00",100.00,960.00,"1,800.00","10,060.00"
2023-02,"8,640.00",100.00,"1,200.00","2,250.00","12,190.00"
2023-03,"9,600.00",100.00,"1,440.00","3,240.00","14,380.00"
2023-04,"7,200.00",100.00,"1,600.00","3,600.00","12,500.00"
2023-05,"6,480.00",100.00,"1,920.00","4,320.00","12,820.00"
2023-06,"7,560.00",100.00,"1,920.00","4,860.00","14,440.00"
2023-07,"8,400.00",100.00,"2,240.00","5,670.00","16,410.00"
2023-08,"11,900.00",100.00,"2,400.00","6,075.00","20,475.00"
2023-09,"14,000.00",100.00,"2,400.00","6,750.00","23,250.00"
2023-10,"19,800.00",100.00,"2,400.00","6,750.00","29,050.00"
2023-11,"22,500.00",100.00,"2,400.00","6,750.00","31,750.00"
2023-12,"22,500.00",100.00,"2,400.00","6,750.00","31,750.00"

## **Existing Loans**

### **Generate Loan Schedules For Existing Loans**

In [305]:
existing_loans_schedules = interest_income.generate_loan_schedules_existing_loans(
    outstanding_balance=existing_loans["outstanding_balance"],
    interest_rate_monthly=existing_loans["interest_rate"],
    repayment_amount_monthly=existing_loans["repayment_amount"],
    valuation_date=VALUATION_DATE, 
    months_to_project=MONTHS_TO_FORECAST,
)
existing_loans_schedules.keys()

dict_keys(['interest', 'capital_repayment', 'outstanding_at_start'])

### **Capital Repayment for Existing Loans**

In [306]:
existing_loans_schedules['capital_repayment']

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
loan_number,,,,,,,,,,,,
40b0775c,25.29,25.40,25.51,25.63,25.74,25.86,25.98,26.10,26.21,26.33,26.45,0.00
f5c36555,48.67,49.32,49.98,50.65,51.33,52.01,52.71,53.41,54.13,54.85,55.59,0.00
75656bce,27.07,27.39,27.72,28.05,28.38,28.72,29.06,29.41,29.76,30.11,30.47,0.00
a7222f00,79.32,79.44,79.57,79.69,79.82,79.95,80.07,80.20,80.32,80.45,80.58,0.00
ad00cbf5,50.18,50.22,50.25,50.28,50.31,50.34,50.37,50.40,50.43,50.47,50.50,0.00
321ec75b,18.11,18.20,18.29,18.37,18.46,18.55,18.65,18.74,18.83,18.92,19.01,0.00
6747e1d4,20.32,20.56,20.81,21.07,21.33,21.59,21.85,22.11,22.38,22.66,22.93,0.00
5131c13c,14.44,14.55,14.66,14.77,14.89,15.00,15.12,15.24,15.35,15.47,15.59,0.00
a7222f00_1,14.84,14.93,15.02,15.11,15.21,15.30,15.39,15.49,15.58,15.68,15.78,0.00
1ae65220,86.31,87.41,88.52,89.64,90.78,91.94,93.10,94.29,95.49,96.70,97.93,0.00
7aaaa107,66.02,66.28,66.55,66.82,67.09,67.36,67.64,67.91,68.19,68.46,68.74,0.00
d3d56735,66.86,66.88,66.90,66.92,66.95,66.97,66.99,67.01,67.04,67.06,67.08,0.00
c71f64fd,35.41,35.79,36.18,36.57,36.97,37.37,37.77,38.18,38.59,39.01,39.43,0.00
d3d56735_1,75.61,76.06,76.52,76.97,77.44,77.90,78.37,78.84,79.31,79.78,80.26,0.00
c5f5db38,53.55,54.32,55.10,55.90,56.70,57.52,58.34,59.18,60.03,60.90,61.77,0.00
99e2b327,77.84,78.93,80.03,81.15,82.28,83.43,84.59,85.77,86.97,88.18,89.41,0.00
e66b480c,37.48,37.94,38.40,38.87,39.34,39.82,40.31,40.80,41.30,41.80,42.31,0.00
14c22098,23.54,23.71,23.88,24.05,24.22,24.40,24.57,24.75,24.93,25.11,25.29,0.00
b89a6836,64.07,64.39,64.71,65.03,65.36,65.68,66.01,66.34,66.67,67.01,67.34,0.00

In [307]:
capital_repayment_existing_loans = existing_loans_schedules['capital_repayment'].sum()
capital_repayment_existing_loans

Jan-2023   884.89
Feb-2023   891.70
Mar-2023   898.59
Apr-2023   905.55
May-2023   912.59
Jun-2023   919.70
Jul-2023   926.89
Aug-2023   934.16
Sep-2023   941.52
Oct-2023   948.95
Nov-2023   956.47
Dec-2023     0.00
dtype: float64

### **Intererest Income For Existing Loans**

In [308]:
interest_income_existing_loans = existing_loans_schedules['interest'].sum()
interest_income_existing_loans

Jan-2023   290.78
Feb-2023   283.97
Mar-2023   277.09
Apr-2023   270.13
May-2023   263.09
Jun-2023   255.98
Jul-2023   248.78
Aug-2023   241.51
Sep-2023   234.16
Oct-2023   226.73
Nov-2023   219.21
Dec-2023     0.00
dtype: float64

### **Calculate Other Income Existing Loans**

In [309]:
other_income_existing_loans_df = other_income.calculate_other_income_existing_loans(existing_loans=existing_loans, valuation_date=VALUATION_DATE, months_to_forecast=MONTHS_TO_FORECAST)
other_income_existing_loans_df

          credit_insurance_fee_existing_loans  admin_fee_existing_loans  total
Jan-2023                                61.55                     66.22 127.78
Feb-2023                                61.55                     66.22 127.78
Mar-2023                                61.55                     66.22 127.78
Apr-2023                                61.55                     66.22 127.78
May-2023                                61.55                     66.22 127.78
Jun-2023                                61.55                     66.22 127.78
Jul-2023                                61.55                     66.22 127.78
Aug-2023                                61.55                     66.22 127.78
Sep-2023                                61.55                     66.22 127.78
Oct-2023                                61.55                     66.22 127.78
Nov-2023                                61.55                     66.22 127.78
Dec-2023                                61.55                     66.22 127.78

## **Interest Income**

In [310]:
total_interest_income = interest_income.aggregate_new_and_existing_loans_interest_income(
    interest_income_new_disbursements_df=interest_income_new_disbursements_df,
    interest_income_existing_loans= interest_income_existing_loans,
    valuation_date= VALUATION_DATE, 
    months_to_forecast= MONTHS_TO_FORECAST
)
total_interest_income

Jan-2023       290.78
Feb-2023    90,123.97
Mar-2023   187,900.90
Apr-2023   289,132.99
May-2023   354,282.78
Jun-2023   405,013.17
Jul-2023   453,611.32
Aug-2023   499,318.37
Sep-2023   575,826.00
Oct-2023   668,308.56
Nov-2023   806,367.53
Dec-2023   950,524.03
dtype: float64

## **Other Income**

In [311]:
other_income_df = other_income.aggregate_other_income(
    admin_fee_for_all_new_disbursements_df=admin_fee_for_all_new_disbursements_df,
    admin_fee_existing_loans=other_income_existing_loans_df['admin_fee_existing_loans'],
    credit_insurance_fee_existing_loans=other_income_existing_loans_df['credit_insurance_fee_existing_loans'],
    credit_insurance_fee_for_all_new_disbursements_df=credit_insurance_fee_for_all_new_disbursements, 
    valuation_date=VALUATION_DATE, 
    months_to_forecast=MONTHS_TO_FORECAST
)
other_income_df

          admin_fee  credit_insurance_fee      total
Jan-2023   7,000.91              2,827.43   9,828.34
Feb-2023  15,364.26              6,164.77  21,529.03
Mar-2023  24,919.93              9,979.04  34,898.96
Apr-2023  32,646.22             13,061.55  45,707.78
May-2023  40,113.77             16,040.57  56,154.35
Jun-2023  48,644.96             19,445.05  68,090.01
Jul-2023  52,244.68             20,876.94  73,121.62
Aug-2023  57,745.34             23,069.20  80,814.54
Sep-2023  64,400.53             25,723.28  90,123.81
Oct-2023  77,889.07             31,110.69 108,999.76
Nov-2023  94,207.60             37,638.10 131,845.70
Dec-2023 109,080.67             43,587.33 152,668.01

## **Depreciation**

In [312]:
depreciations_and_nbvs = depreciation.calculate_depreciations_and_nbvs(
    details_of_existing_assets=details_of_existing_assets,
    details_of_new_assets=details_of_new_assets,
    valuation_date=VALUATION_DATE,
    months_to_forecast=MONTHS_TO_FORECAST
)
depreciations_and_nbvs.keys()

dict_keys(['nbvs', 'dpns'])

In [313]:
depreciations_and_nbvs['dpns']

          Building  Buildings  Vehicle  Vehicles     total
Jan-2023  5,000.00   5,000.00 2,500.00  2,000.00 14,500.00
Feb-2023  4,500.00   4,500.00 1,875.00  1,600.00 12,475.00
Mar-2023  4,050.00   4,050.00 1,406.25  1,280.00 10,786.25
Apr-2023  3,645.00   3,645.00 1,054.69  1,024.00  9,368.69
May-2023  3,280.50   3,280.50   791.02    819.20  8,171.22
Jun-2023  2,952.45   2,952.45     0.00      0.00  5,904.90
Jul-2023  2,657.20   2,657.20     0.00      0.00  5,314.41
Aug-2023  2,391.48   2,391.48     0.00      0.00  4,782.97
Sep-2023  2,152.34   2,152.34     0.00      0.00  4,304.67
Oct-2023  1,937.10   1,937.10     0.00      0.00  3,874.20
Nov-2023  1,743.39   1,743.39     0.00      0.00  3,486.78
Dec-2023  1,569.05   1,569.05     0.00      0.00  3,138.11

In [314]:
depreciations_and_nbvs['dpns']

          Building  Buildings  Vehicle  Vehicles     total
Jan-2023  5,000.00   5,000.00 2,500.00  2,000.00 14,500.00
Feb-2023  4,500.00   4,500.00 1,875.00  1,600.00 12,475.00
Mar-2023  4,050.00   4,050.00 1,406.25  1,280.00 10,786.25
Apr-2023  3,645.00   3,645.00 1,054.69  1,024.00  9,368.69
May-2023  3,280.50   3,280.50   791.02    819.20  8,171.22
Jun-2023  2,952.45   2,952.45     0.00      0.00  5,904.90
Jul-2023  2,657.20   2,657.20     0.00      0.00  5,314.41
Aug-2023  2,391.48   2,391.48     0.00      0.00  4,782.97
Sep-2023  2,152.34   2,152.34     0.00      0.00  4,304.67
Oct-2023  1,937.10   1,937.10     0.00      0.00  3,874.20
Nov-2023  1,743.39   1,743.39     0.00      0.00  3,486.78
Dec-2023  1,569.05   1,569.05     0.00      0.00  3,138.11

## **Salaries**

In [315]:
salaries_and_pension_and_statutory_contributions_df  = expenses.calculate_salaries_and_pension_and_statutory_contributions(
    new_disbursements_df=new_disbursements_df,
    parameters=parameters,
    months_to_forecast=MONTHS_TO_FORECAST,
    valuation_date=VALUATION_DATE,
)
salaries_and_pension_and_statutory_contributions_df

,agent_salaries,credit_officer_salaries,other_staff_salaries,total,pensions_and_statutory_contributions
Jan-2023,"6,000.00","4,200.00","17,000.00","27,200.00","3,089.92"
Feb-2023,"7,500.00","4,920.00","17,000.00","29,420.00","3,342.11"
Mar-2023,"9,900.00","5,400.00","17,000.00","32,300.00","3,669.28"
Apr-2023,"11,000.00","4,200.00","17,000.00","32,200.00","3,657.92"
May-2023,"13,200.00","4,140.00","17,000.00","34,340.00","3,901.02"
Jun-2023,"14,100.00","4,680.00","17,000.00","35,780.00","4,064.61"
Jul-2023,"16,450.00","5,400.00","17,000.00","38,850.00","4,413.36"
Aug-2023,"17,625.00","7,350.00","17,000.00","41,975.00","4,768.36"
Sep-2023,"18,750.00","8,400.00","17,000.00","44,150.00","5,015.44"
Oct-2023,"18,750.00","11,700.00","17,000.00","47,450.00","5,390.32"
Nov-2023,"18,750.00","13,050.00","17,000.00","48,800.00","5,543.68"
Dec-2023,"18,750.00","13,050.00","17,000.00","48,800.00","5,543.68"

## **Provisions**

In [316]:
trade_receivables_schedule = expenses.generate_trade_receivables_schedule(
    opening_trade_receivables=opening_balances['TRADE_RECEIVABLES'].iat[0], 
    receipts_from_trade_receivables=parameters.loc["RECEIPTS_FROM_TRADE_RECEIVABLES"], 
    new_trade_receivables=parameters.loc['NEW_TRADE_RECEIVABLES'], 
    months_to_forecast=MONTHS_TO_FORECAST, 
    valuation_date=VALUATION_DATE
)
trade_receivables_schedule

,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12
Opening Balance,1000000,999500,999000,998500,998000,997500,997000,996500,996000,995500,995000,994500
New Trade Receivables,500,500,500,500,500,500,500,500,500,500,500,500
Receipts From Trade Receivables,-1000,-1000,-1000,-1000,-1000,-1000,-1000,-1000,-1000,-1000,-1000,-1000
Closing Balance,999500,999000,998500,998000,997500,997000,996500,996000,995500,995000,994500,994000

In [317]:
provision_for_credit_loss_for_all_new_disbursements = (
    expenses.calculate_provision_for_credit_loss_for_all_new_disbursements(
        new_disbursements_df=new_disbursements_df, parameters=parameters
    )
)
provision_for_credit_loss_for_all_new_disbursements

,sme_provision_for_credit_loss,b2b_provision_for_credit_loss,consumer_ssb_provision_for_credit_loss,consumer_pvt_provision_for_credit_loss,total
2023-01,"7,200.00",100.00,960.00,"1,800.00","10,060.00"
2023-02,"8,640.00",100.00,"1,200.00","2,250.00","12,190.00"
2023-03,"9,600.00",100.00,"1,440.00","3,240.00","14,380.00"
2023-04,"7,200.00",100.00,"1,600.00","3,600.00","12,500.00"
2023-05,"6,480.00",100.00,"1,920.00","4,320.00","12,820.00"
2023-06,"7,560.00",100.00,"1,920.00","4,860.00","14,440.00"
2023-07,"8,400.00",100.00,"2,240.00","5,670.00","16,410.00"
2023-08,"11,900.00",100.00,"2,400.00","6,075.00","20,475.00"
2023-09,"14,000.00",100.00,"2,400.00","6,750.00","23,250.00"
2023-10,"19,800.00",100.00,"2,400.00","6,750.00","29,050.00"
2023-11,"22,500.00",100.00,"2,400.00","6,750.00","31,750.00"
2023-12,"22,500.00",100.00,"2,400.00","6,750.00","31,750.00"

In [318]:
provisions = expenses.calculate_provisions(
    trade_receivables_schedule=trade_receivables_schedule,
    provision_for_credit_loss_for_all_new_disbursements_df=provision_for_credit_loss_for_all_new_disbursements,
    parameters=parameters, 
    valuation_date=VALUATION_DATE, 
    months_to_forecast=MONTHS_TO_FORECAST
)

provisions

          provision_for_bad_debts  provision_for_credit_loss     total
Jan-2023                    99.95                  20,120.00 20,219.95
Feb-2023                    99.90                  24,380.00 24,479.90
Mar-2023                    99.85                  28,760.00 28,859.85
Apr-2023                    99.80                  25,000.00 25,099.80
May-2023                    99.75                  25,640.00 25,739.75
Jun-2023                    99.70                  28,880.00 28,979.70
Jul-2023                    99.65                  32,820.00 32,919.65
Aug-2023                    99.60                  40,950.00 41,049.60
Sep-2023                    99.55                  46,500.00 46,599.55
Oct-2023                    99.50                  58,100.00 58,199.50
Nov-2023                    99.45                  63,500.00 63,599.45
Dec-2023                    99.40                  63,500.00 63,599.40

### **Calculating Finance Costs**

In [319]:
finance_costs = expenses.calculate_finance_costs(
    details_of_existing_long_term_borrowing = details_of_existing_long_term_borrowing,
    details_of_existing_short_term_borrowing = details_of_existing_short_term_borrowing,
    details_of_new_short_term_borrowing = details_of_new_short_term_borrowing,
    details_of_new_long_term_borrowing =details_of_new_long_term_borrowing,
    valuation_date= VALUATION_DATE,
    months_to_forecast= MONTHS_TO_FORECAST,
)

finance_costs.loc['total']

Jan-2023   67,811.10
Feb-2023   67,811.10
Mar-2023   67,811.10
Apr-2023   67,486.10
May-2023   67,486.10
Jun-2023   65,680.36
Jul-2023   65,680.36
Aug-2023   64,430.36
Sep-2023   54,013.69
Oct-2023   54,013.69
Nov-2023   53,430.36
Dec-2023   45,180.36
Name: total, dtype: float64

## **Income Statement**

In [320]:
income_statement_index = pd.read_csv("./data_templates/income_statement_index.csv")
income_statement_index

                                INCOME_STATEMENT
0                                Interest Income
1                                   Other Income
2                                  Total Revenue
3                            MANAGEMENT EXPENSES
4                                    STAFF COSTS
5                                       Salaries
6             Pensions & Statutory Contributions
7                                       Training
8                                Bonus Provision
9                                  Retrenchments
10                                 Staff Welfare
11                                          CILL
12                             Total Staff Costs
13                        TRAVEL & ENTERTAINMENT
14                                  Travel Costs
15                                 Entertainment
16                  Total Travel & Entertainment
17                MARKETING AND PUBLIC RELATIONS
18                               Marketing Costs
19                         Group Marketing Costs
20                                     Donations
21          Total Marketing And Public Relations
22                                  OFFICE COSTS
23                                  Rental Costs
24                                 Subscriptions
25                                     Insurance
26                       Repairs And Maintenance
27                                     Utilities
28                                    Stationery
29                                   Admin Costs
30                                      IT Costs
31                              Masawara Mgt Fee
32                           Fines And Penalties
33                            Total Office Costs
34                             PROFESSIONAL FEES
35                         Auditors Remuneration
36                                    Legal Fees
37                            Strategic Expenses
38                                Directors Fees
39                              Consultancy Fees
40                       Total Professional Fees
41                           COMMUNICATION COSTS
42                                    Telephones
43                                    Cellphones
44                                      Internet
45                                       Courier
46                     Total Communication Costs
47                           MOTOR VEHICLE COSTS
48                                          Fuel
49               Motor Vehicle Maintenance Costs
50                     Total Motor Vehicle Costs
51                                   OTHER COSTS
52                                  Depreciation
53                                  Bank Charges
54          Zimnat Grp Shared Costs Recovery Exp
55                           Bad Debts Provision
56                          Business Acquisition
57                             Total Other Costs
58                                TOTAL EXPENSES
59                                        EBIDTA
60                             INVESTMENT INCOME
61                                 Rental Income
62                             Interest Received
63                            Dividends Received
64                        Fair Value Adjustments
65  Realised Gains On Disposal Of Inv Properties
66        Realised Gains On Disposal Of Equities
67                       Exchange Gains/(Losses)
68                                    Admin Fees
69                       Total Investment Income
70                                 FINANCE COSTS
71                                 Finance Costs
72                                   Third Party
73                           Total Finance Costs
74                    PROFIT / (LOSS) BEFORE TAX
75                                      Taxation
76                                   2% Taxation
77                      PROFIT/(LOSS) FOR PERIOD

In [321]:
importlib.reload(income_statement)

In [322]:
income_statement_df = income_statement.generate_income_statement_template(
    income_statement_index=income_statement_index,
    valuation_date=VALUATION_DATE,
    months_to_forecast=MONTHS_TO_FORECAST,
)
income_statement_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
INCOME_STATEMENT,,,,,,,,,,,,
Interest Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Revenue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MANAGEMENT EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAFF COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salaries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pensions & Statutory Contributions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Training,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bonus Provision,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Retrenchments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Staff Welfare,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CILL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Staff Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRAVEL & ENTERTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Travel & Entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MARKETING AND PUBLIC RELATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marketing Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Group Marketing Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Donations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Marketing And Public Relations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OFFICE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Subscriptions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Insurance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Repairs And Maintenance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stationery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Admin Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IT Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Masawara Mgt Fee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fines And Penalties,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Office Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFESSIONAL FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auditors Remuneration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Legal Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strategic Expenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Directors Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Consultancy Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Professional Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COMMUNICATION COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telephones,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cellphones,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Internet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Courier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Communication Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MOTOR VEHICLE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Motor Vehicle Maintenance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Motor Vehicle Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OTHER COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bank Charges,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimnat Grp Shared Costs Recovery Exp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bad Debts Provision,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Business Acquisition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Other Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EBIDTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INVESTMENT INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Received,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dividends Received,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fair Value Adjustments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realised Gains On Disposal Of Inv Properties,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realised Gains On Disposal Of Equities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Exchange Gains/(Losses),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Admin Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Investment Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FINANCE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Third Party,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFIT / (LOSS) BEFORE TAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2% Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFIT/(LOSS) FOR PERIOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Calculate Variable Expenses**

In [245]:
variable_expenses = expenses.calculate_variable_expenses(
    variable_inputs_income_statement=variable_inputs_income_statement,
    parameters=parameters,
    valuation_date=VALUATION_DATE,
    months_to_forecast=MONTHS_TO_FORECAST,
)
variable_expenses

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
Training,"7,069.79","7,211.19","7,355.41","7,502.52","7,652.57","7,805.62","7,961.73","8,120.97","8,283.39","8,449.05","8,618.03","8,790.40"
Travel Costs,"7,080.16","7,221.76","7,366.20","7,513.52","7,663.79","7,817.07","7,973.41","8,132.88","8,295.54","8,461.45","8,630.68","8,803.29"
Entertainment,"7,760.67","7,915.88","8,074.20","8,235.69","8,400.40","8,568.41","8,739.77","8,914.57","9,092.86","9,274.72","9,460.21","9,649.42"
Marketing Costs,"7,796.37","7,952.30","8,111.34","8,273.57","8,439.04","8,607.82","8,779.98","8,955.58","9,134.69","9,317.38","9,503.73","9,693.81"
Group Marketing Costs,"7,659.18","7,812.36","7,968.61","8,127.98","8,290.54","8,456.35","8,625.48","8,797.99","8,973.95","9,153.43","9,336.50","9,523.23"
Rental Costs,"7,749.79","7,904.79","8,062.88","8,224.14","8,388.62","8,556.39","8,727.52","8,902.07","9,080.11","9,261.72","9,446.95","9,635.89"
Subscriptions,"8,444.75","8,613.64","8,785.92","8,961.64","9,140.87","9,323.69","9,510.16","9,700.36","9,894.37","10,092.26","10,294.10","10,499.99"
Insurance,"7,590.16","7,741.96","7,896.80","8,054.74","8,215.83","8,380.15","8,547.75","8,718.71","8,893.08","9,070.94","9,252.36","9,437.41"
Repairs And Maintenance,"8,262.68","8,427.93","8,596.49","8,768.42","8,943.79","9,122.67","9,305.12","9,491.22","9,681.05","9,874.67","10,072.16","10,273.60"
Utilities,"7,537.97","7,688.73","7,842.50","7,999.35","8,159.34","8,322.53","8,488.98","8,658.76","8,831.93","9,008.57","9,188.74","9,372.52"
Stationery,"8,099.82","8,261.82","8,427.05","8,595.59","8,767.51","8,942.86","9,121.71","9,304.15","9,490.23","9,680.03","9,873.64","10,071.11"
Admin Costs,"8,134.33","8,297.02","8,462.96","8,632.22","8,804.86","8,980.96","9,160.58","9,343.79","9,530.66","9,721.28","9,915.70","10,114.02"
IT Costs,"7,668.02","7,821.38","7,977.81","8,137.36","8,300.11","8,466.11","8,635.44","8,808.14","8,984.31","9,163.99","9,347.27","9,534.22"
Masawara Mgt Fee,"7,619.57","7,771.96","7,927.40","8,085.95","8,247.67","8,412.62","8,580.87","8,752.49","8,927.54","9,106.09","9,288.21","9,473.98"
Fines And Penalties,"7,231.97","7,376.61","7,524.14","7,674.62","7,828.12","7,984.68","8,144.37","8,307.26","8,473.41","8,642.87","8,815.73","8,992.05"
Auditors Remuneration,"7,112.63","7,254.88","7,399.98","7,547.98","7,698.94","7,852.92","8,009.98","8,170.18","8,333.58","8,500.25","8,670.26","8,843.66"
Directors Fees,"7,728.71","7,883.28","8,040.95","8,201.77","8,365.80","8,533.12","8,703.78","8,877.86","9,055.42","9,236.52","9,421.25","9,609.68"
Consultancy Fees,"6,992.61","7,132.46","7,275.11","7,420.61","7,569.03","7,720.41","7,874.81","8,032.31","8,192.96","8,356.82","8,523.95","8,694.43"
Telephones,"8,847.99","9,024.95","9,205.45","9,389.56","9,577.35","9,768.90","9,964.27","10,163.56","10,366.83","10,574.17","10,785.65","11,001.36"
Cellphones,"7,549.19","7,700.17","7,854.18","8,011.26","8,171.49","8,334.92","8,501.61","8,671.65","8,845.08","9,021.98","9,202.42","9,386.47"
Internet,"8,972.94","9,152.40","9,335.45","9,522.16","9,712.60","9,906.85","10,104.99","10,307.09","10,513.23","10,723.49","10,937.96","11,156.72"
Courier,"7,590.67","7,742.48","7,897.33","8,055.28","8,216.39","8,380.71","8,548.33","8,719.29","8,893.68","9,071.55","9,252.98","9,438.04"
Fuel,"8,027.74","8,188.29","8,352.06","8,519.10","8,689.48","8,863.27","9,040.54","9,221.35","9,405.78","9,593.89","9,785.77","9,981.49"
Motor Vehicle Maintenance Costs,"8,277.98","8,443.54","8,612.41","8,784.66","8,960.35","9,139.56","9,322.35","9,508.80","9,698.97","9,892.95","10,090.81","10,292.63"
Bank Charges,"7,884.26","8,041.95","8,202.78","8,366.84","8,534.18","8,704.86","8,878.96","9,056.54","9,237.67","9,422.42","9,610.87","9,803.09"
Zimnat Grp Shared Costs Recovery Exp,"8,643.31","8,816.18","8,992.50","9,172.35","9,355.80","9,542.91","9,733.77","9,928.45","10,127.02","10,329.56","10,536.15","10,746.87"

### **Calculate Change In Provision For Credit Loss**

In [246]:
change_in_provisin_for_credit_loss = (
    expenses.calculate_change_in_provision_for_credit_loss(
        provision_for_credit_loss=provision_for_credit_loss_for_all_new_disbursements['total'],
        provision_for_credit_loss_opening_balances=float(
            opening_balances["PROVISION_FOR_CREDIT_LOSS"].iat[0]
        ),
        valuation_date=VALUATION_DATE, 
        months_to_forecast=MONTHS_TO_FORECAST
    )
)
change_in_provisin_for_credit_loss

Jan-2023       60.00
Feb-2023    2,130.00
Mar-2023    2,190.00
Apr-2023   -1,880.00
May-2023      320.00
Jun-2023    1,620.00
Jul-2023    1,970.00
Aug-2023    4,065.00
Sep-2023    2,775.00
Oct-2023    5,800.00
Nov-2023    2,700.00
Dec-2023        0.00
Name: total, dtype: float64

### **Calculate Business Acquisition**

In [247]:
new_disbursements_df.columns

Index(['b2b_disbursements', 'sme_disbursements', 'consumer_ssb_disbursements',
       'consumer_pvt_disbursements', 'total'],
      dtype='object')

In [248]:
business_acquisition = expenses.calculate_business_acqusition(
    business_acquisition_percent=parameters.loc['BUSINESS_ACQUISITION_PERCENT'],
    agent_contribution_percent=parameters.loc['AGENT_CONTRIBUTION_PERCENT'],
    consumer_ssb_disbursements=new_disbursements_df['consumer_ssb_disbursements'],
    consumer_pvt_disbursements=new_disbursements_df['consumer_pvt_disbursements'],
)
business_acquisition

Jan-2023   1,620.00
Feb-2023   2,025.00
Mar-2023   2,484.00
Apr-2023   2,760.00
May-2023   3,312.00
Jun-2023   3,366.00
Jul-2023   3,927.00
Aug-2023   4,207.50
Sep-2023   4,275.00
Oct-2023   4,275.00
Nov-2023   4,275.00
Dec-2023   4,275.00
dtype: float64

### **Insert Revenue**

In [249]:
income_statement_df = income_statement.insert_revenue(
    income_statement=income_statement_df,
    interest_income=total_interest_income,
    other_income=other_income_df['total'],
)
income_statement_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
INCOME_STATEMENT,,,,,,,,,,,,
Interest Income,290.78,"90,123.97","187,900.90","289,132.99","354,282.78","405,013.17","453,611.32","499,318.37","575,826.00","668,308.56","806,367.53","950,524.03"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Total Revenue,"10,119.12","111,653.01","222,799.87","334,840.76","410,437.13","473,103.18","526,732.94","580,132.90","665,949.82","777,308.31","938,213.23","1,103,192.04"
MANAGEMENT EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAFF COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salaries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pensions & Statutory Contributions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Training,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bonus Provision,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Retrenchments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Staff Welfare,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CILL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Staff Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRAVEL & ENTERTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Travel & Entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MARKETING AND PUBLIC RELATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marketing Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Group Marketing Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Donations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Marketing And Public Relations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OFFICE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Subscriptions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Insurance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Repairs And Maintenance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stationery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Admin Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IT Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Masawara Mgt Fee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fines And Penalties,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Office Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFESSIONAL FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auditors Remuneration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Legal Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strategic Expenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Directors Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Consultancy Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Professional Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COMMUNICATION COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telephones,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cellphones,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Internet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Courier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Communication Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MOTOR VEHICLE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Motor Vehicle Maintenance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Motor Vehicle Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OTHER COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bank Charges,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimnat Grp Shared Costs Recovery Exp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bad Debts Provision,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Business Acquisition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Other Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EBIDTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INVESTMENT INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Received,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dividends Received,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fair Value Adjustments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realised Gains On Disposal Of Inv Properties,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realised Gains On Disposal Of Equities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Exchange Gains/(Losses),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Admin Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Investment Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FINANCE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Third Party,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFIT / (LOSS) BEFORE TAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2% Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFIT/(LOSS) FOR PERIOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Insert Static And Variable Inputs**

In [250]:
income_statement_df = income_statement.insert_static_and_variable_inputs(
    income_statement=income_statement_df,
    static_inputs_income_statement=static_inputs_income_statement, variable_expenses=variable_expenses
)
income_statement_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
INCOME_STATEMENT,,,,,,,,,,,,
Interest Income,290.78,"90,123.97","187,900.90","289,132.99","354,282.78","405,013.17","453,611.32","499,318.37","575,826.00","668,308.56","806,367.53","950,524.03"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Total Revenue,"10,119.12","111,653.01","222,799.87","334,840.76","410,437.13","473,103.18","526,732.94","580,132.90","665,949.82","777,308.31","938,213.23","1,103,192.04"
MANAGEMENT EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAFF COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salaries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pensions & Statutory Contributions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Training,"7,069.79","7,211.19","7,355.41","7,502.52","7,652.57","7,805.62","7,961.73","8,120.97","8,283.39","8,449.05","8,618.03","8,790.40"
Bonus Provision,14297,10995,17629,19467,11016,17869,16439,17892,16863,17916,18529,10878
Retrenchments,19268,14887,14859,16331,18571,18684,17208,15276,12062,10064,18006,12568
Staff Welfare,15463,12027,12695,19687,15258,15618,16736,10391,15892,13561,16184,13099
CILL,13152,11585,13943,17555,13073,11021,13843,17989,19692,16873,15675,10161
Total Staff Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRAVEL & ENTERTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel Costs,"7,080.16","7,221.76","7,366.20","7,513.52","7,663.79","7,817.07","7,973.41","8,132.88","8,295.54","8,461.45","8,630.68","8,803.29"
Entertainment,"7,760.67","7,915.88","8,074.20","8,235.69","8,400.40","8,568.41","8,739.77","8,914.57","9,092.86","9,274.72","9,460.21","9,649.42"
Total Travel & Entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MARKETING AND PUBLIC RELATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marketing Costs,"7,796.37","7,952.30","8,111.34","8,273.57","8,439.04","8,607.82","8,779.98","8,955.58","9,134.69","9,317.38","9,503.73","9,693.81"
Group Marketing Costs,"7,659.18","7,812.36","7,968.61","8,127.98","8,290.54","8,456.35","8,625.48","8,797.99","8,973.95","9,153.43","9,336.50","9,523.23"
Donations,16278,18392,13104,17215,12454,18996,12731,18154,19762,15056,18110,13840
Total Marketing And Public Relations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OFFICE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Costs,"7,749.79","7,904.79","8,062.88","8,224.14","8,388.62","8,556.39","8,727.52","8,902.07","9,080.11","9,261.72","9,446.95","9,635.89"
Subscriptions,"8,444.75","8,613.64","8,785.92","8,961.64","9,140.87","9,323.69","9,510.16","9,700.36","9,894.37","10,092.26","10,294.10","10,499.99"
Insurance,"7,590.16","7,741.96","7,896.80","8,054.74","8,215.83","8,380.15","8,547.75","8,718.71","8,893.08","9,070.94","9,252.36","9,437.41"
Repairs And Maintenance,"8,262.68","8,427.93","8,596.49","8,768.42","8,943.79","9,122.67","9,305.12","9,491.22","9,681.05","9,874.67","10,072.16","10,273.60"
Utilities,"7,537.97","7,688.73","7,842.50","7,999.35","8,159.34","8,322.53","8,488.98","8,658.76","8,831.93","9,008.57","9,188.74","9,372.52"
Stationery,"8,099.82","8,261.82","8,427.05","8,595.59","8,767.51","8,942.86","9,121.71","9,304.15","9,490.23","9,680.03","9,873.64","10,071.11"
Admin Costs,"8,134.33","8,297.02","8,462.96","8,632.22","8,804.86","8,980.96","9,160.58","9,343.79","9,530.66","9,721.28","9,915.70","10,114.02"
IT Costs,"7,668.02","7,821.38","7,977.81","8,137.36","8,300.11","8,466.11","8,635.44","8,808.14","8,984.31","9,163.99","9,347.27","9,534.22"
Masawara Mgt Fee,"7,619.57","7,771.96","7,927.40","8,085.95","8,247.67","8,412.62","8,580.87","8,752.49","8,927.54","9,106.09","9,288.21","9,473.98"
Fines And Penalties,"7,231.97","7,376.61","7,524.14","7,674.62","7,828.12","7,984.68","8,144.37","8,307.26","8,473.41","8,642.87","8,815.73","8,992.05"
Total Office Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFESSIONAL FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auditors Remuneration,"7,112.63","7,254.88","7,399.98","7,547.98","7,698.94","7,852.92","8,009.98","8,170.18","8,333.58","8,500.25","8,670.26","8,843.66"
Legal Fees,0,0,0,0,0,0,0,0,0,0,0,0
Strategic Expenses,0,0,0,0,0,0,0,0,0,0,0,0
Directors Fees,"7,728.71","7,883.28","8,040.95","8,201.77","8,365.80","8,533.12","8,703.78","8,877.86","9,055.42","9,236.52","9,421.25","9,609.68"
Consultancy Fees,"6,992.61","7,132.46","7,275.11","7,420.61","7,569.03","7,720.41","7,874.81","8,032.31","8,192.96","8,356.82","8,523.95","8,694.43"
Total Professional Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COMMUNICATION COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telephones,"8,847.99","9,024.95","9,205.45","9,389.56","9,577.35","9,768.90","9,964.27","10,163.56","10,366.83","10,574.17","10,785.65","11,001.36"
Cellphones,"7,549.19","7,700.17","7,854.18","8,011.26","8,171.49","8,334.92","8,501.61","8,671.65","8,845.08","9,021.98","9,202.42","9,386.47"
Internet,"8,972.94","9,152.40","9,335.45","9,522.16","9,712.60","9,906.85","10,104.99","10,307.09","10,513.23","10,723.49","10,937.96","11,156.72"
Courier,"7,590.67","7,742.48","7,897.33","8,055.28","8,216.39","8,380.71","8,548.33","8,719.29","8,893.68","9,071.55","9,252.98","9,438.04"
Total Communication Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MOTOR VEHICLE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel,"8,027.74","8,188.29","8,352.06","8,519.10","8,689.48","8,863.27","9,040.54","9,221.35","9,405.78","9,593.89","9,785.77","9,981.49"
Motor Vehicle Maintenance Costs,"8,277.98","8,443.54","8,612.41","8,784.66","8,960.35","9,139.56","9,322.35","9,508.80","9,698.97","9,892.95","10,090.81","10,292.63"
Total Motor Vehicle Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OTHER COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bank Charges,"7,884.26","8,041.95","8,202.78","8,366.84","8,534.18","8,704.86","8,878.96","9,056.54","9,237.67","9,422.42","9,610.87","9,803.09"
Zimnat Grp Shared Costs Recovery Exp,"8,643.31","8,816.18","8,992.50","9,172.35","9,355.80","9,542.91","9,733.77","9,928.45","10,127.02","10,329.56","10,536.15","10,746.87"
Bad Debts Provision,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Business Acquisition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Other Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EBIDTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INVESTMENT INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Income,0,0,0,0,0,0,0,0,0,0,0,0
Interest Received,0,0,0,0,0,0,0,0,0,0,0,0
Dividends Received,0,0,0,0,0,0,0,0,0,0,0,0
Fair Value Adjustments,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Inv Properties,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Equities,0,0,0,0,0,0,0,0,0,0,0,0
Exchange Gains/(Losses),0,0,0,0,0,0,0,0,0,0,0,0
Admin Fees,0,0,0,0,0,0,0,0,0,0,0,0
Total Investment Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FINANCE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Third Party,0,0,0,0,0,0,0,0,0,0,0,0
Total Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFIT / (LOSS) BEFORE TAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2% Taxation,0,0,0,0,0,0,0,0,0,0,0,0
PROFIT/(LOSS) FOR PERIOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Insert Salaries and Pensions And Statutory Contributions**

In [251]:
income_statement_df = income_statement.insert_salaries_and_pensions_and_statutory_contributions(
    income_statement=income_statement_df,
    salaries_and_pension_and_statutory_contributions_df = salaries_and_pension_and_statutory_contributions_df,
)
income_statement_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
INCOME_STATEMENT,,,,,,,,,,,,
Interest Income,290.78,"90,123.97","187,900.90","289,132.99","354,282.78","405,013.17","453,611.32","499,318.37","575,826.00","668,308.56","806,367.53","950,524.03"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Total Revenue,"10,119.12","111,653.01","222,799.87","334,840.76","410,437.13","473,103.18","526,732.94","580,132.90","665,949.82","777,308.31","938,213.23","1,103,192.04"
MANAGEMENT EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAFF COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salaries,"27,200.00","29,420.00","32,300.00","32,200.00","34,340.00","35,780.00","38,850.00","41,975.00","44,150.00","47,450.00","48,800.00","48,800.00"
Pensions & Statutory Contributions,"3,089.92","3,342.11","3,669.28","3,657.92","3,901.02","4,064.61","4,413.36","4,768.36","5,015.44","5,390.32","5,543.68","5,543.68"
Training,"7,069.79","7,211.19","7,355.41","7,502.52","7,652.57","7,805.62","7,961.73","8,120.97","8,283.39","8,449.05","8,618.03","8,790.40"
Bonus Provision,14297,10995,17629,19467,11016,17869,16439,17892,16863,17916,18529,10878
Retrenchments,19268,14887,14859,16331,18571,18684,17208,15276,12062,10064,18006,12568
Staff Welfare,15463,12027,12695,19687,15258,15618,16736,10391,15892,13561,16184,13099
CILL,13152,11585,13943,17555,13073,11021,13843,17989,19692,16873,15675,10161
Total Staff Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRAVEL & ENTERTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel Costs,"7,080.16","7,221.76","7,366.20","7,513.52","7,663.79","7,817.07","7,973.41","8,132.88","8,295.54","8,461.45","8,630.68","8,803.29"
Entertainment,"7,760.67","7,915.88","8,074.20","8,235.69","8,400.40","8,568.41","8,739.77","8,914.57","9,092.86","9,274.72","9,460.21","9,649.42"
Total Travel & Entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MARKETING AND PUBLIC RELATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marketing Costs,"7,796.37","7,952.30","8,111.34","8,273.57","8,439.04","8,607.82","8,779.98","8,955.58","9,134.69","9,317.38","9,503.73","9,693.81"
Group Marketing Costs,"7,659.18","7,812.36","7,968.61","8,127.98","8,290.54","8,456.35","8,625.48","8,797.99","8,973.95","9,153.43","9,336.50","9,523.23"
Donations,16278,18392,13104,17215,12454,18996,12731,18154,19762,15056,18110,13840
Total Marketing And Public Relations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OFFICE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Costs,"7,749.79","7,904.79","8,062.88","8,224.14","8,388.62","8,556.39","8,727.52","8,902.07","9,080.11","9,261.72","9,446.95","9,635.89"
Subscriptions,"8,444.75","8,613.64","8,785.92","8,961.64","9,140.87","9,323.69","9,510.16","9,700.36","9,894.37","10,092.26","10,294.10","10,499.99"
Insurance,"7,590.16","7,741.96","7,896.80","8,054.74","8,215.83","8,380.15","8,547.75","8,718.71","8,893.08","9,070.94","9,252.36","9,437.41"
Repairs And Maintenance,"8,262.68","8,427.93","8,596.49","8,768.42","8,943.79","9,122.67","9,305.12","9,491.22","9,681.05","9,874.67","10,072.16","10,273.60"
Utilities,"7,537.97","7,688.73","7,842.50","7,999.35","8,159.34","8,322.53","8,488.98","8,658.76","8,831.93","9,008.57","9,188.74","9,372.52"
Stationery,"8,099.82","8,261.82","8,427.05","8,595.59","8,767.51","8,942.86","9,121.71","9,304.15","9,490.23","9,680.03","9,873.64","10,071.11"
Admin Costs,"8,134.33","8,297.02","8,462.96","8,632.22","8,804.86","8,980.96","9,160.58","9,343.79","9,530.66","9,721.28","9,915.70","10,114.02"
IT Costs,"7,668.02","7,821.38","7,977.81","8,137.36","8,300.11","8,466.11","8,635.44","8,808.14","8,984.31","9,163.99","9,347.27","9,534.22"
Masawara Mgt Fee,"7,619.57","7,771.96","7,927.40","8,085.95","8,247.67","8,412.62","8,580.87","8,752.49","8,927.54","9,106.09","9,288.21","9,473.98"
Fines And Penalties,"7,231.97","7,376.61","7,524.14","7,674.62","7,828.12","7,984.68","8,144.37","8,307.26","8,473.41","8,642.87","8,815.73","8,992.05"
Total Office Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFESSIONAL FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auditors Remuneration,"7,112.63","7,254.88","7,399.98","7,547.98","7,698.94","7,852.92","8,009.98","8,170.18","8,333.58","8,500.25","8,670.26","8,843.66"
Legal Fees,0,0,0,0,0,0,0,0,0,0,0,0
Strategic Expenses,0,0,0,0,0,0,0,0,0,0,0,0
Directors Fees,"7,728.71","7,883.28","8,040.95","8,201.77","8,365.80","8,533.12","8,703.78","8,877.86","9,055.42","9,236.52","9,421.25","9,609.68"
Consultancy Fees,"6,992.61","7,132.46","7,275.11","7,420.61","7,569.03","7,720.41","7,874.81","8,032.31","8,192.96","8,356.82","8,523.95","8,694.43"
Total Professional Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COMMUNICATION COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telephones,"8,847.99","9,024.95","9,205.45","9,389.56","9,577.35","9,768.90","9,964.27","10,163.56","10,366.83","10,574.17","10,785.65","11,001.36"
Cellphones,"7,549.19","7,700.17","7,854.18","8,011.26","8,171.49","8,334.92","8,501.61","8,671.65","8,845.08","9,021.98","9,202.42","9,386.47"
Internet,"8,972.94","9,152.40","9,335.45","9,522.16","9,712.60","9,906.85","10,104.99","10,307.09","10,513.23","10,723.49","10,937.96","11,156.72"
Courier,"7,590.67","7,742.48","7,897.33","8,055.28","8,216.39","8,380.71","8,548.33","8,719.29","8,893.68","9,071.55","9,252.98","9,438.04"
Total Communication Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MOTOR VEHICLE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel,"8,027.74","8,188.29","8,352.06","8,519.10","8,689.48","8,863.27","9,040.54","9,221.35","9,405.78","9,593.89","9,785.77","9,981.49"
Motor Vehicle Maintenance Costs,"8,277.98","8,443.54","8,612.41","8,784.66","8,960.35","9,139.56","9,322.35","9,508.80","9,698.97","9,892.95","10,090.81","10,292.63"
Total Motor Vehicle Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OTHER COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bank Charges,"7,884.26","8,041.95","8,202.78","8,366.84","8,534.18","8,704.86","8,878.96","9,056.54","9,237.67","9,422.42","9,610.87","9,803.09"
Zimnat Grp Shared Costs Recovery Exp,"8,643.31","8,816.18","8,992.50","9,172.35","9,355.80","9,542.91","9,733.77","9,928.45","10,127.02","10,329.56","10,536.15","10,746.87"
Bad Debts Provision,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Business Acquisition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Other Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EBIDTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INVESTMENT INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Income,0,0,0,0,0,0,0,0,0,0,0,0
Interest Received,0,0,0,0,0,0,0,0,0,0,0,0
Dividends Received,0,0,0,0,0,0,0,0,0,0,0,0
Fair Value Adjustments,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Inv Properties,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Equities,0,0,0,0,0,0,0,0,0,0,0,0
Exchange Gains/(Losses),0,0,0,0,0,0,0,0,0,0,0,0
Admin Fees,0,0,0,0,0,0,0,0,0,0,0,0
Total Investment Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FINANCE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Third Party,0,0,0,0,0,0,0,0,0,0,0,0
Total Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFIT / (LOSS) BEFORE TAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2% Taxation,0,0,0,0,0,0,0,0,0,0,0,0
PROFIT/(LOSS) FOR PERIOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Insert Depreciation**

In [252]:
income_statement_df = income_statement.insert_depreciation(
    income_statement=income_statement_df, depreciation=depreciations_and_nbvs['dpns']['total'])
income_statement_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
INCOME_STATEMENT,,,,,,,,,,,,
Interest Income,290.78,"90,123.97","187,900.90","289,132.99","354,282.78","405,013.17","453,611.32","499,318.37","575,826.00","668,308.56","806,367.53","950,524.03"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Total Revenue,"10,119.12","111,653.01","222,799.87","334,840.76","410,437.13","473,103.18","526,732.94","580,132.90","665,949.82","777,308.31","938,213.23","1,103,192.04"
MANAGEMENT EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAFF COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salaries,"27,200.00","29,420.00","32,300.00","32,200.00","34,340.00","35,780.00","38,850.00","41,975.00","44,150.00","47,450.00","48,800.00","48,800.00"
Pensions & Statutory Contributions,"3,089.92","3,342.11","3,669.28","3,657.92","3,901.02","4,064.61","4,413.36","4,768.36","5,015.44","5,390.32","5,543.68","5,543.68"
Training,"7,069.79","7,211.19","7,355.41","7,502.52","7,652.57","7,805.62","7,961.73","8,120.97","8,283.39","8,449.05","8,618.03","8,790.40"
Bonus Provision,14297,10995,17629,19467,11016,17869,16439,17892,16863,17916,18529,10878
Retrenchments,19268,14887,14859,16331,18571,18684,17208,15276,12062,10064,18006,12568
Staff Welfare,15463,12027,12695,19687,15258,15618,16736,10391,15892,13561,16184,13099
CILL,13152,11585,13943,17555,13073,11021,13843,17989,19692,16873,15675,10161
Total Staff Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRAVEL & ENTERTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel Costs,"7,080.16","7,221.76","7,366.20","7,513.52","7,663.79","7,817.07","7,973.41","8,132.88","8,295.54","8,461.45","8,630.68","8,803.29"
Entertainment,"7,760.67","7,915.88","8,074.20","8,235.69","8,400.40","8,568.41","8,739.77","8,914.57","9,092.86","9,274.72","9,460.21","9,649.42"
Total Travel & Entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MARKETING AND PUBLIC RELATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marketing Costs,"7,796.37","7,952.30","8,111.34","8,273.57","8,439.04","8,607.82","8,779.98","8,955.58","9,134.69","9,317.38","9,503.73","9,693.81"
Group Marketing Costs,"7,659.18","7,812.36","7,968.61","8,127.98","8,290.54","8,456.35","8,625.48","8,797.99","8,973.95","9,153.43","9,336.50","9,523.23"
Donations,16278,18392,13104,17215,12454,18996,12731,18154,19762,15056,18110,13840
Total Marketing And Public Relations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OFFICE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Costs,"7,749.79","7,904.79","8,062.88","8,224.14","8,388.62","8,556.39","8,727.52","8,902.07","9,080.11","9,261.72","9,446.95","9,635.89"
Subscriptions,"8,444.75","8,613.64","8,785.92","8,961.64","9,140.87","9,323.69","9,510.16","9,700.36","9,894.37","10,092.26","10,294.10","10,499.99"
Insurance,"7,590.16","7,741.96","7,896.80","8,054.74","8,215.83","8,380.15","8,547.75","8,718.71","8,893.08","9,070.94","9,252.36","9,437.41"
Repairs And Maintenance,"8,262.68","8,427.93","8,596.49","8,768.42","8,943.79","9,122.67","9,305.12","9,491.22","9,681.05","9,874.67","10,072.16","10,273.60"
Utilities,"7,537.97","7,688.73","7,842.50","7,999.35","8,159.34","8,322.53","8,488.98","8,658.76","8,831.93","9,008.57","9,188.74","9,372.52"
Stationery,"8,099.82","8,261.82","8,427.05","8,595.59","8,767.51","8,942.86","9,121.71","9,304.15","9,490.23","9,680.03","9,873.64","10,071.11"
Admin Costs,"8,134.33","8,297.02","8,462.96","8,632.22","8,804.86","8,980.96","9,160.58","9,343.79","9,530.66","9,721.28","9,915.70","10,114.02"
IT Costs,"7,668.02","7,821.38","7,977.81","8,137.36","8,300.11","8,466.11","8,635.44","8,808.14","8,984.31","9,163.99","9,347.27","9,534.22"
Masawara Mgt Fee,"7,619.57","7,771.96","7,927.40","8,085.95","8,247.67","8,412.62","8,580.87","8,752.49","8,927.54","9,106.09","9,288.21","9,473.98"
Fines And Penalties,"7,231.97","7,376.61","7,524.14","7,674.62","7,828.12","7,984.68","8,144.37","8,307.26","8,473.41","8,642.87","8,815.73","8,992.05"
Total Office Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFESSIONAL FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auditors Remuneration,"7,112.63","7,254.88","7,399.98","7,547.98","7,698.94","7,852.92","8,009.98","8,170.18","8,333.58","8,500.25","8,670.26","8,843.66"
Legal Fees,0,0,0,0,0,0,0,0,0,0,0,0
Strategic Expenses,0,0,0,0,0,0,0,0,0,0,0,0
Directors Fees,"7,728.71","7,883.28","8,040.95","8,201.77","8,365.80","8,533.12","8,703.78","8,877.86","9,055.42","9,236.52","9,421.25","9,609.68"
Consultancy Fees,"6,992.61","7,132.46","7,275.11","7,420.61","7,569.03","7,720.41","7,874.81","8,032.31","8,192.96","8,356.82","8,523.95","8,694.43"
Total Professional Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COMMUNICATION COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telephones,"8,847.99","9,024.95","9,205.45","9,389.56","9,577.35","9,768.90","9,964.27","10,163.56","10,366.83","10,574.17","10,785.65","11,001.36"
Cellphones,"7,549.19","7,700.17","7,854.18","8,011.26","8,171.49","8,334.92","8,501.61","8,671.65","8,845.08","9,021.98","9,202.42","9,386.47"
Internet,"8,972.94","9,152.40","9,335.45","9,522.16","9,712.60","9,906.85","10,104.99","10,307.09","10,513.23","10,723.49","10,937.96","11,156.72"
Courier,"7,590.67","7,742.48","7,897.33","8,055.28","8,216.39","8,380.71","8,548.33","8,719.29","8,893.68","9,071.55","9,252.98","9,438.04"
Total Communication Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MOTOR VEHICLE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel,"8,027.74","8,188.29","8,352.06","8,519.10","8,689.48","8,863.27","9,040.54","9,221.35","9,405.78","9,593.89","9,785.77","9,981.49"
Motor Vehicle Maintenance Costs,"8,277.98","8,443.54","8,612.41","8,784.66","8,960.35","9,139.56","9,322.35","9,508.80","9,698.97","9,892.95","10,090.81","10,292.63"
Total Motor Vehicle Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OTHER COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,"14,500.00","12,475.00","10,786.25","9,368.69","8,171.22","5,904.90","5,314.41","4,782.97","4,304.67","3,874.20","3,486.78","3,138.11"
Bank Charges,"7,884.26","8,041.95","8,202.78","8,366.84","8,534.18","8,704.86","8,878.96","9,056.54","9,237.67","9,422.42","9,610.87","9,803.09"
Zimnat Grp Shared Costs Recovery Exp,"8,643.31","8,816.18","8,992.50","9,172.35","9,355.80","9,542.91","9,733.77","9,928.45","10,127.02","10,329.56","10,536.15","10,746.87"
Bad Debts Provision,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Business Acquisition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Other Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EBIDTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INVESTMENT INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Income,0,0,0,0,0,0,0,0,0,0,0,0
Interest Received,0,0,0,0,0,0,0,0,0,0,0,0
Dividends Received,0,0,0,0,0,0,0,0,0,0,0,0
Fair Value Adjustments,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Inv Properties,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Equities,0,0,0,0,0,0,0,0,0,0,0,0
Exchange Gains/(Losses),0,0,0,0,0,0,0,0,0,0,0,0
Admin Fees,0,0,0,0,0,0,0,0,0,0,0,0
Total Investment Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FINANCE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Third Party,0,0,0,0,0,0,0,0,0,0,0,0
Total Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFIT / (LOSS) BEFORE TAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2% Taxation,0,0,0,0,0,0,0,0,0,0,0,0
PROFIT/(LOSS) FOR PERIOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Insert Bad Debts Provision and Change in Provision For Credit Loss**

In [253]:
income_statement_df = income_statement.insert_bad_debts_provision(
    income_statement=income_statement_df, 
    provision_for_bad_debts=provisions['provision_for_bad_debts'],
    change_in_provisin_for_credit_loss=change_in_provisin_for_credit_loss,
)

income_statement_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
INCOME_STATEMENT,,,,,,,,,,,,
Interest Income,290.78,"90,123.97","187,900.90","289,132.99","354,282.78","405,013.17","453,611.32","499,318.37","575,826.00","668,308.56","806,367.53","950,524.03"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Total Revenue,"10,119.12","111,653.01","222,799.87","334,840.76","410,437.13","473,103.18","526,732.94","580,132.90","665,949.82","777,308.31","938,213.23","1,103,192.04"
MANAGEMENT EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAFF COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salaries,"27,200.00","29,420.00","32,300.00","32,200.00","34,340.00","35,780.00","38,850.00","41,975.00","44,150.00","47,450.00","48,800.00","48,800.00"
Pensions & Statutory Contributions,"3,089.92","3,342.11","3,669.28","3,657.92","3,901.02","4,064.61","4,413.36","4,768.36","5,015.44","5,390.32","5,543.68","5,543.68"
Training,"7,069.79","7,211.19","7,355.41","7,502.52","7,652.57","7,805.62","7,961.73","8,120.97","8,283.39","8,449.05","8,618.03","8,790.40"
Bonus Provision,14297,10995,17629,19467,11016,17869,16439,17892,16863,17916,18529,10878
Retrenchments,19268,14887,14859,16331,18571,18684,17208,15276,12062,10064,18006,12568
Staff Welfare,15463,12027,12695,19687,15258,15618,16736,10391,15892,13561,16184,13099
CILL,13152,11585,13943,17555,13073,11021,13843,17989,19692,16873,15675,10161
Total Staff Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRAVEL & ENTERTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel Costs,"7,080.16","7,221.76","7,366.20","7,513.52","7,663.79","7,817.07","7,973.41","8,132.88","8,295.54","8,461.45","8,630.68","8,803.29"
Entertainment,"7,760.67","7,915.88","8,074.20","8,235.69","8,400.40","8,568.41","8,739.77","8,914.57","9,092.86","9,274.72","9,460.21","9,649.42"
Total Travel & Entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MARKETING AND PUBLIC RELATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marketing Costs,"7,796.37","7,952.30","8,111.34","8,273.57","8,439.04","8,607.82","8,779.98","8,955.58","9,134.69","9,317.38","9,503.73","9,693.81"
Group Marketing Costs,"7,659.18","7,812.36","7,968.61","8,127.98","8,290.54","8,456.35","8,625.48","8,797.99","8,973.95","9,153.43","9,336.50","9,523.23"
Donations,16278,18392,13104,17215,12454,18996,12731,18154,19762,15056,18110,13840
Total Marketing And Public Relations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OFFICE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Costs,"7,749.79","7,904.79","8,062.88","8,224.14","8,388.62","8,556.39","8,727.52","8,902.07","9,080.11","9,261.72","9,446.95","9,635.89"
Subscriptions,"8,444.75","8,613.64","8,785.92","8,961.64","9,140.87","9,323.69","9,510.16","9,700.36","9,894.37","10,092.26","10,294.10","10,499.99"
Insurance,"7,590.16","7,741.96","7,896.80","8,054.74","8,215.83","8,380.15","8,547.75","8,718.71","8,893.08","9,070.94","9,252.36","9,437.41"
Repairs And Maintenance,"8,262.68","8,427.93","8,596.49","8,768.42","8,943.79","9,122.67","9,305.12","9,491.22","9,681.05","9,874.67","10,072.16","10,273.60"
Utilities,"7,537.97","7,688.73","7,842.50","7,999.35","8,159.34","8,322.53","8,488.98","8,658.76","8,831.93","9,008.57","9,188.74","9,372.52"
Stationery,"8,099.82","8,261.82","8,427.05","8,595.59","8,767.51","8,942.86","9,121.71","9,304.15","9,490.23","9,680.03","9,873.64","10,071.11"
Admin Costs,"8,134.33","8,297.02","8,462.96","8,632.22","8,804.86","8,980.96","9,160.58","9,343.79","9,530.66","9,721.28","9,915.70","10,114.02"
IT Costs,"7,668.02","7,821.38","7,977.81","8,137.36","8,300.11","8,466.11","8,635.44","8,808.14","8,984.31","9,163.99","9,347.27","9,534.22"
Masawara Mgt Fee,"7,619.57","7,771.96","7,927.40","8,085.95","8,247.67","8,412.62","8,580.87","8,752.49","8,927.54","9,106.09","9,288.21","9,473.98"
Fines And Penalties,"7,231.97","7,376.61","7,524.14","7,674.62","7,828.12","7,984.68","8,144.37","8,307.26","8,473.41","8,642.87","8,815.73","8,992.05"
Total Office Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFESSIONAL FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auditors Remuneration,"7,112.63","7,254.88","7,399.98","7,547.98","7,698.94","7,852.92","8,009.98","8,170.18","8,333.58","8,500.25","8,670.26","8,843.66"
Legal Fees,0,0,0,0,0,0,0,0,0,0,0,0
Strategic Expenses,0,0,0,0,0,0,0,0,0,0,0,0
Directors Fees,"7,728.71","7,883.28","8,040.95","8,201.77","8,365.80","8,533.12","8,703.78","8,877.86","9,055.42","9,236.52","9,421.25","9,609.68"
Consultancy Fees,"6,992.61","7,132.46","7,275.11","7,420.61","7,569.03","7,720.41","7,874.81","8,032.31","8,192.96","8,356.82","8,523.95","8,694.43"
Total Professional Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COMMUNICATION COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telephones,"8,847.99","9,024.95","9,205.45","9,389.56","9,577.35","9,768.90","9,964.27","10,163.56","10,366.83","10,574.17","10,785.65","11,001.36"
Cellphones,"7,549.19","7,700.17","7,854.18","8,011.26","8,171.49","8,334.92","8,501.61","8,671.65","8,845.08","9,021.98","9,202.42","9,386.47"
Internet,"8,972.94","9,152.40","9,335.45","9,522.16","9,712.60","9,906.85","10,104.99","10,307.09","10,513.23","10,723.49","10,937.96","11,156.72"
Courier,"7,590.67","7,742.48","7,897.33","8,055.28","8,216.39","8,380.71","8,548.33","8,719.29","8,893.68","9,071.55","9,252.98","9,438.04"
Total Communication Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MOTOR VEHICLE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel,"8,027.74","8,188.29","8,352.06","8,519.10","8,689.48","8,863.27","9,040.54","9,221.35","9,405.78","9,593.89","9,785.77","9,981.49"
Motor Vehicle Maintenance Costs,"8,277.98","8,443.54","8,612.41","8,784.66","8,960.35","9,139.56","9,322.35","9,508.80","9,698.97","9,892.95","10,090.81","10,292.63"
Total Motor Vehicle Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OTHER COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,"14,500.00","12,475.00","10,786.25","9,368.69","8,171.22","5,904.90","5,314.41","4,782.97","4,304.67","3,874.20","3,486.78","3,138.11"
Bank Charges,"7,884.26","8,041.95","8,202.78","8,366.84","8,534.18","8,704.86","8,878.96","9,056.54","9,237.67","9,422.42","9,610.87","9,803.09"
Zimnat Grp Shared Costs Recovery Exp,"8,643.31","8,816.18","8,992.50","9,172.35","9,355.80","9,542.91","9,733.77","9,928.45","10,127.02","10,329.56","10,536.15","10,746.87"
Bad Debts Provision,159.95,"2,229.90","2,289.85","-1,780.20",419.75,"1,719.70","2,069.65","4,164.60","2,874.55","5,899.50","2,799.45",99.40
Business Acquisition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Other Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EBIDTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INVESTMENT INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Income,0,0,0,0,0,0,0,0,0,0,0,0
Interest Received,0,0,0,0,0,0,0,0,0,0,0,0
Dividends Received,0,0,0,0,0,0,0,0,0,0,0,0
Fair Value Adjustments,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Inv Properties,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Equities,0,0,0,0,0,0,0,0,0,0,0,0
Exchange Gains/(Losses),0,0,0,0,0,0,0,0,0,0,0,0
Admin Fees,0,0,0,0,0,0,0,0,0,0,0,0
Total Investment Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FINANCE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Third Party,0,0,0,0,0,0,0,0,0,0,0,0
Total Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFIT / (LOSS) BEFORE TAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2% Taxation,0,0,0,0,0,0,0,0,0,0,0,0
PROFIT/(LOSS) FOR PERIOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [254]:
provision_for_credit_loss  = provision_for_credit_loss_for_all_new_disbursements['total']
provision_for_credit_loss

2023-01   10,060.00
2023-02   12,190.00
2023-03   14,380.00
2023-04   12,500.00
2023-05   12,820.00
2023-06   14,440.00
2023-07   16,410.00
2023-08   20,475.00
2023-09   23,250.00
2023-10   29,050.00
2023-11   31,750.00
2023-12   31,750.00
Freq: M, Name: total, dtype: float64

### **Insert Business Acquisition**

In [255]:
income_statement_df = income_statement.insert_business_acquisition(
    income_statement=income_statement_df, business_acquisition=business_acquisition)
income_statement_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
INCOME_STATEMENT,,,,,,,,,,,,
Interest Income,290.78,"90,123.97","187,900.90","289,132.99","354,282.78","405,013.17","453,611.32","499,318.37","575,826.00","668,308.56","806,367.53","950,524.03"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Total Revenue,"10,119.12","111,653.01","222,799.87","334,840.76","410,437.13","473,103.18","526,732.94","580,132.90","665,949.82","777,308.31","938,213.23","1,103,192.04"
MANAGEMENT EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAFF COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salaries,"27,200.00","29,420.00","32,300.00","32,200.00","34,340.00","35,780.00","38,850.00","41,975.00","44,150.00","47,450.00","48,800.00","48,800.00"
Pensions & Statutory Contributions,"3,089.92","3,342.11","3,669.28","3,657.92","3,901.02","4,064.61","4,413.36","4,768.36","5,015.44","5,390.32","5,543.68","5,543.68"
Training,"7,069.79","7,211.19","7,355.41","7,502.52","7,652.57","7,805.62","7,961.73","8,120.97","8,283.39","8,449.05","8,618.03","8,790.40"
Bonus Provision,14297,10995,17629,19467,11016,17869,16439,17892,16863,17916,18529,10878
Retrenchments,19268,14887,14859,16331,18571,18684,17208,15276,12062,10064,18006,12568
Staff Welfare,15463,12027,12695,19687,15258,15618,16736,10391,15892,13561,16184,13099
CILL,13152,11585,13943,17555,13073,11021,13843,17989,19692,16873,15675,10161
Total Staff Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRAVEL & ENTERTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel Costs,"7,080.16","7,221.76","7,366.20","7,513.52","7,663.79","7,817.07","7,973.41","8,132.88","8,295.54","8,461.45","8,630.68","8,803.29"
Entertainment,"7,760.67","7,915.88","8,074.20","8,235.69","8,400.40","8,568.41","8,739.77","8,914.57","9,092.86","9,274.72","9,460.21","9,649.42"
Total Travel & Entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MARKETING AND PUBLIC RELATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marketing Costs,"7,796.37","7,952.30","8,111.34","8,273.57","8,439.04","8,607.82","8,779.98","8,955.58","9,134.69","9,317.38","9,503.73","9,693.81"
Group Marketing Costs,"7,659.18","7,812.36","7,968.61","8,127.98","8,290.54","8,456.35","8,625.48","8,797.99","8,973.95","9,153.43","9,336.50","9,523.23"
Donations,16278,18392,13104,17215,12454,18996,12731,18154,19762,15056,18110,13840
Total Marketing And Public Relations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OFFICE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Costs,"7,749.79","7,904.79","8,062.88","8,224.14","8,388.62","8,556.39","8,727.52","8,902.07","9,080.11","9,261.72","9,446.95","9,635.89"
Subscriptions,"8,444.75","8,613.64","8,785.92","8,961.64","9,140.87","9,323.69","9,510.16","9,700.36","9,894.37","10,092.26","10,294.10","10,499.99"
Insurance,"7,590.16","7,741.96","7,896.80","8,054.74","8,215.83","8,380.15","8,547.75","8,718.71","8,893.08","9,070.94","9,252.36","9,437.41"
Repairs And Maintenance,"8,262.68","8,427.93","8,596.49","8,768.42","8,943.79","9,122.67","9,305.12","9,491.22","9,681.05","9,874.67","10,072.16","10,273.60"
Utilities,"7,537.97","7,688.73","7,842.50","7,999.35","8,159.34","8,322.53","8,488.98","8,658.76","8,831.93","9,008.57","9,188.74","9,372.52"
Stationery,"8,099.82","8,261.82","8,427.05","8,595.59","8,767.51","8,942.86","9,121.71","9,304.15","9,490.23","9,680.03","9,873.64","10,071.11"
Admin Costs,"8,134.33","8,297.02","8,462.96","8,632.22","8,804.86","8,980.96","9,160.58","9,343.79","9,530.66","9,721.28","9,915.70","10,114.02"
IT Costs,"7,668.02","7,821.38","7,977.81","8,137.36","8,300.11","8,466.11","8,635.44","8,808.14","8,984.31","9,163.99","9,347.27","9,534.22"
Masawara Mgt Fee,"7,619.57","7,771.96","7,927.40","8,085.95","8,247.67","8,412.62","8,580.87","8,752.49","8,927.54","9,106.09","9,288.21","9,473.98"
Fines And Penalties,"7,231.97","7,376.61","7,524.14","7,674.62","7,828.12","7,984.68","8,144.37","8,307.26","8,473.41","8,642.87","8,815.73","8,992.05"
Total Office Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFESSIONAL FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auditors Remuneration,"7,112.63","7,254.88","7,399.98","7,547.98","7,698.94","7,852.92","8,009.98","8,170.18","8,333.58","8,500.25","8,670.26","8,843.66"
Legal Fees,0,0,0,0,0,0,0,0,0,0,0,0
Strategic Expenses,0,0,0,0,0,0,0,0,0,0,0,0
Directors Fees,"7,728.71","7,883.28","8,040.95","8,201.77","8,365.80","8,533.12","8,703.78","8,877.86","9,055.42","9,236.52","9,421.25","9,609.68"
Consultancy Fees,"6,992.61","7,132.46","7,275.11","7,420.61","7,569.03","7,720.41","7,874.81","8,032.31","8,192.96","8,356.82","8,523.95","8,694.43"
Total Professional Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COMMUNICATION COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telephones,"8,847.99","9,024.95","9,205.45","9,389.56","9,577.35","9,768.90","9,964.27","10,163.56","10,366.83","10,574.17","10,785.65","11,001.36"
Cellphones,"7,549.19","7,700.17","7,854.18","8,011.26","8,171.49","8,334.92","8,501.61","8,671.65","8,845.08","9,021.98","9,202.42","9,386.47"
Internet,"8,972.94","9,152.40","9,335.45","9,522.16","9,712.60","9,906.85","10,104.99","10,307.09","10,513.23","10,723.49","10,937.96","11,156.72"
Courier,"7,590.67","7,742.48","7,897.33","8,055.28","8,216.39","8,380.71","8,548.33","8,719.29","8,893.68","9,071.55","9,252.98","9,438.04"
Total Communication Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MOTOR VEHICLE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel,"8,027.74","8,188.29","8,352.06","8,519.10","8,689.48","8,863.27","9,040.54","9,221.35","9,405.78","9,593.89","9,785.77","9,981.49"
Motor Vehicle Maintenance Costs,"8,277.98","8,443.54","8,612.41","8,784.66","8,960.35","9,139.56","9,322.35","9,508.80","9,698.97","9,892.95","10,090.81","10,292.63"
Total Motor Vehicle Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OTHER COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,"14,500.00","12,475.00","10,786.25","9,368.69","8,171.22","5,904.90","5,314.41","4,782.97","4,304.67","3,874.20","3,486.78","3,138.11"
Bank Charges,"7,884.26","8,041.95","8,202.78","8,366.84","8,534.18","8,704.86","8,878.96","9,056.54","9,237.67","9,422.42","9,610.87","9,803.09"
Zimnat Grp Shared Costs Recovery Exp,"8,643.31","8,816.18","8,992.50","9,172.35","9,355.80","9,542.91","9,733.77","9,928.45","10,127.02","10,329.56","10,536.15","10,746.87"
Bad Debts Provision,159.95,"2,229.90","2,289.85","-1,780.20",419.75,"1,719.70","2,069.65","4,164.60","2,874.55","5,899.50","2,799.45",99.40
Business Acquisition,"1,620.00","2,025.00","2,484.00","2,760.00","3,312.00","3,366.00","3,927.00","4,207.50","4,275.00","4,275.00","4,275.00","4,275.00"
Total Other Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EBIDTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INVESTMENT INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Income,0,0,0,0,0,0,0,0,0,0,0,0
Interest Received,0,0,0,0,0,0,0,0,0,0,0,0
Dividends Received,0,0,0,0,0,0,0,0,0,0,0,0
Fair Value Adjustments,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Inv Properties,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Equities,0,0,0,0,0,0,0,0,0,0,0,0
Exchange Gains/(Losses),0,0,0,0,0,0,0,0,0,0,0,0
Admin Fees,0,0,0,0,0,0,0,0,0,0,0,0
Total Investment Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FINANCE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Third Party,0,0,0,0,0,0,0,0,0,0,0,0
Total Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROFIT / (LOSS) BEFORE TAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2% Taxation,0,0,0,0,0,0,0,0,0,0,0,0
PROFIT/(LOSS) FOR PERIOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Aggregations**

In [256]:
income_statement_df = income_statement.aggregate_staff_costs(income_statement_df)
income_statement_df = income_statement.aggregate_travel_and_entertainment(income_statement_df)
income_statement_df = income_statement.aggregate_marketing_and_public_relations(income_statement_df)
income_statement_df = income_statement.aggregate_office_costs(income_statement_df)
income_statement_df = income_statement.aggregate_professional_fees(income_statement_df)
income_statement_df = income_statement.aggregate_communication_costs(income_statement_df)
income_statement_df = income_statement.aggregate_motor_vehicle_costs(income_statement_df)
income_statement_df = income_statement.aggregate_other_costs(income_statement_df)
income_statement_df = income_statement.aggregate_investment_income(income_statement_df)
income_statement_df = income_statement.aggregate_finance_costs(income_statement_df)

### **Calculating Total Expenses and EBIDTA**

In [257]:
income_statement_df = income_statement.calculate_total_expenses(income_statement_df)
income_statement_df = income_statement.calculate_ebidta(income_statement_df)
income_statement_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
INCOME_STATEMENT,,,,,,,,,,,,
Interest Income,290.78,"90,123.97","187,900.90","289,132.99","354,282.78","405,013.17","453,611.32","499,318.37","575,826.00","668,308.56","806,367.53","950,524.03"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Total Revenue,"10,119.12","111,653.01","222,799.87","334,840.76","410,437.13","473,103.18","526,732.94","580,132.90","665,949.82","777,308.31","938,213.23","1,103,192.04"
MANAGEMENT EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAFF COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salaries,"27,200.00","29,420.00","32,300.00","32,200.00","34,340.00","35,780.00","38,850.00","41,975.00","44,150.00","47,450.00","48,800.00","48,800.00"
Pensions & Statutory Contributions,"3,089.92","3,342.11","3,669.28","3,657.92","3,901.02","4,064.61","4,413.36","4,768.36","5,015.44","5,390.32","5,543.68","5,543.68"
Training,"7,069.79","7,211.19","7,355.41","7,502.52","7,652.57","7,805.62","7,961.73","8,120.97","8,283.39","8,449.05","8,618.03","8,790.40"
Bonus Provision,14297,10995,17629,19467,11016,17869,16439,17892,16863,17916,18529,10878
Retrenchments,19268,14887,14859,16331,18571,18684,17208,15276,12062,10064,18006,12568
Staff Welfare,15463,12027,12695,19687,15258,15618,16736,10391,15892,13561,16184,13099
CILL,13152,11585,13943,17555,13073,11021,13843,17989,19692,16873,15675,10161
Total Staff Costs,"99,539.71","89,467.30","102,450.69","116,400.44","103,811.59","110,842.23","115,451.09","116,412.33","121,957.83","119,703.37","131,355.71","109,840.08"
TRAVEL & ENTERTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel Costs,"7,080.16","7,221.76","7,366.20","7,513.52","7,663.79","7,817.07","7,973.41","8,132.88","8,295.54","8,461.45","8,630.68","8,803.29"
Entertainment,"7,760.67","7,915.88","8,074.20","8,235.69","8,400.40","8,568.41","8,739.77","8,914.57","9,092.86","9,274.72","9,460.21","9,649.42"
Total Travel & Entertainment,"14,840.83","15,137.65","15,440.40","15,749.21","16,064.19","16,385.48","16,713.19","17,047.45","17,388.40","17,736.17","18,090.89","18,452.71"
MARKETING AND PUBLIC RELATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marketing Costs,"7,796.37","7,952.30","8,111.34","8,273.57","8,439.04","8,607.82","8,779.98","8,955.58","9,134.69","9,317.38","9,503.73","9,693.81"
Group Marketing Costs,"7,659.18","7,812.36","7,968.61","8,127.98","8,290.54","8,456.35","8,625.48","8,797.99","8,973.95","9,153.43","9,336.50","9,523.23"
Donations,16278,18392,13104,17215,12454,18996,12731,18154,19762,15056,18110,13840
Total Marketing And Public Relations,"31,733.55","34,156.66","29,183.95","33,616.55","29,183.58","36,060.18","30,136.46","35,907.57","37,870.64","33,526.81","36,950.23","33,057.03"
OFFICE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Costs,"7,749.79","7,904.79","8,062.88","8,224.14","8,388.62","8,556.39","8,727.52","8,902.07","9,080.11","9,261.72","9,446.95","9,635.89"
Subscriptions,"8,444.75","8,613.64","8,785.92","8,961.64","9,140.87","9,323.69","9,510.16","9,700.36","9,894.37","10,092.26","10,294.10","10,499.99"
Insurance,"7,590.16","7,741.96","7,896.80","8,054.74","8,215.83","8,380.15","8,547.75","8,718.71","8,893.08","9,070.94","9,252.36","9,437.41"
Repairs And Maintenance,"8,262.68","8,427.93","8,596.49","8,768.42","8,943.79","9,122.67","9,305.12","9,491.22","9,681.05","9,874.67","10,072.16","10,273.60"
Utilities,"7,537.97","7,688.73","7,842.50","7,999.35","8,159.34","8,322.53","8,488.98","8,658.76","8,831.93","9,008.57","9,188.74","9,372.52"
Stationery,"8,099.82","8,261.82","8,427.05","8,595.59","8,767.51","8,942.86","9,121.71","9,304.15","9,490.23","9,680.03","9,873.64","10,071.11"
Admin Costs,"8,134.33","8,297.02","8,462.96","8,632.22","8,804.86","8,980.96","9,160.58","9,343.79","9,530.66","9,721.28","9,915.70","10,114.02"
IT Costs,"7,668.02","7,821.38","7,977.81","8,137.36","8,300.11","8,466.11","8,635.44","8,808.14","8,984.31","9,163.99","9,347.27","9,534.22"
Masawara Mgt Fee,"7,619.57","7,771.96","7,927.40","8,085.95","8,247.67","8,412.62","8,580.87","8,752.49","8,927.54","9,106.09","9,288.21","9,473.98"
Fines And Penalties,"7,231.97","7,376.61","7,524.14","7,674.62","7,828.12","7,984.68","8,144.37","8,307.26","8,473.41","8,642.87","8,815.73","8,992.05"
Total Office Costs,"78,339.06","79,905.84","81,503.96","83,134.04","84,796.72","86,492.65","88,222.51","89,986.96","91,786.69","93,622.43","95,494.88","97,404.77"
PROFESSIONAL FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auditors Remuneration,"7,112.63","7,254.88","7,399.98","7,547.98","7,698.94","7,852.92","8,009.98","8,170.18","8,333.58","8,500.25","8,670.26","8,843.66"
Legal Fees,0,0,0,0,0,0,0,0,0,0,0,0
Strategic Expenses,0,0,0,0,0,0,0,0,0,0,0,0
Directors Fees,"7,728.71","7,883.28","8,040.95","8,201.77","8,365.80","8,533.12","8,703.78","8,877.86","9,055.42","9,236.52","9,421.25","9,609.68"
Consultancy Fees,"6,992.61","7,132.46","7,275.11","7,420.61","7,569.03","7,720.41","7,874.81","8,032.31","8,192.96","8,356.82","8,523.95","8,694.43"
Total Professional Fees,"21,833.95","22,270.63","22,716.04","23,170.36","23,633.77","24,106.45","24,588.57","25,080.35","25,581.95","26,093.59","26,615.46","27,147.77"
COMMUNICATION COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telephones,"8,847.99","9,024.95","9,205.45","9,389.56","9,577.35","9,768.90","9,964.27","10,163.56","10,366.83","10,574.17","10,785.65","11,001.36"
Cellphones,"7,549.19","7,700.17","7,854.18","8,011.26","8,171.49","8,334.92","8,501.61","8,671.65","8,845.08","9,021.98","9,202.42","9,386.47"
Internet,"8,972.94","9,152.40","9,335.45","9,522.16","9,712.60","9,906.85","10,104.99","10,307.09","10,513.23","10,723.49","10,937.96","11,156.72"
Courier,"7,590.67","7,742.48","7,897.33","8,055.28","8,216.39","8,380.71","8,548.33","8,719.29","8,893.68","9,071.55","9,252.98","9,438.04"
Total Communication Costs,"32,960.79","33,620.01","34,292.41","34,978.25","35,677.82","36,391.38","37,119.20","37,861.59","38,618.82","39,391.20","40,179.02","40,982.60"
MOTOR VEHICLE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel,"8,027.74","8,188.29","8,352.06","8,519.10","8,689.48","8,863.27","9,040.54","9,221.35","9,405.78","9,593.89","9,785.77","9,981.49"
Motor Vehicle Maintenance Costs,"8,277.98","8,443.54","8,612.41","8,784.66","8,960.35","9,139.56","9,322.35","9,508.80","9,698.97","9,892.95","10,090.81","10,292.63"
Total Motor Vehicle Costs,"16,305.72","16,631.83","16,964.47","17,303.76","17,649.84","18,002.83","18,362.89","18,730.15","19,104.75","19,486.84","19,876.58","20,274.11"
OTHER COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,"14,500.00","12,475.00","10,786.25","9,368.69","8,171.22","5,904.90","5,314.41","4,782.97","4,304.67","3,874.20","3,486.78","3,138.11"
Bank Charges,"7,884.26","8,041.95","8,202.78","8,366.84","8,534.18","8,704.86","8,878.96","9,056.54","9,237.67","9,422.42","9,610.87","9,803.09"
Zimnat Grp Shared Costs Recovery Exp,"8,643.31","8,816.18","8,992.50","9,172.35","9,355.80","9,542.91","9,733.77","9,928.45","10,127.02","10,329.56","10,536.15","10,746.87"
Bad Debts Provision,159.95,"2,229.90","2,289.85","-1,780.20",419.75,"1,719.70","2,069.65","4,164.60","2,874.55","5,899.50","2,799.45",99.40
Business Acquisition,"1,620.00","2,025.00","2,484.00","2,760.00","3,312.00","3,366.00","3,927.00","4,207.50","4,275.00","4,275.00","4,275.00","4,275.00"
Total Other Costs,"32,807.52","33,588.02","32,755.38","27,887.68","29,792.94","29,238.37","29,923.79","32,140.05","30,818.90","33,800.68","30,708.25","28,062.46"
TOTAL EXPENSES,"328,361.13","324,777.94","335,307.30","352,240.29","340,610.45","357,519.56","360,517.70","373,166.43","383,127.98","383,361.09","399,271.02","375,221.54"
EBIDTA,"-318,242.01","-213,124.93","-112,507.44","-17,399.53","69,826.68","115,583.62","166,215.25","206,966.47","282,821.83","393,947.22","538,942.21","727,970.50"
INVESTMENT INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Income,0,0,0,0,0,0,0,0,0,0,0,0
Interest Received,0,0,0,0,0,0,0,0,0,0,0,0
Dividends Received,0,0,0,0,0,0,0,0,0,0,0,0
Fair Value Adjustments,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Inv Properties,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Equities,0,0,0,0,0,0,0,0,0,0,0,0
Exchange Gains/(Losses),0,0,0,0,0,0,0,0,0,0,0,0
Admin Fees,0,0,0,0,0,0,0,0,0,0,0,0
Total Investment Income,0,0,0,0,0,0,0,0,0,0,0,0
FINANCE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finance Costs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Third Party,0,0,0,0,0,0,0,0,0,0,0,0
Total Finance Costs,0,0,0,0,0,0,0,0,0,0,0,0
PROFIT / (LOSS) BEFORE TAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2% Taxation,0,0,0,0,0,0,0,0,0,0,0,0
PROFIT/(LOSS) FOR PERIOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Insert Finance Cost**

In [258]:
income_statement_df.loc['Finance Costs'] = finance_costs.loc['total']

### **Aggregate Finance Cost**

In [259]:
income_statement_df = income_statement.aggregate_finance_costs(income_statement_df)
income_statement_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
INCOME_STATEMENT,,,,,,,,,,,,
Interest Income,290.78,"90,123.97","187,900.90","289,132.99","354,282.78","405,013.17","453,611.32","499,318.37","575,826.00","668,308.56","806,367.53","950,524.03"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Total Revenue,"10,119.12","111,653.01","222,799.87","334,840.76","410,437.13","473,103.18","526,732.94","580,132.90","665,949.82","777,308.31","938,213.23","1,103,192.04"
MANAGEMENT EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAFF COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salaries,"27,200.00","29,420.00","32,300.00","32,200.00","34,340.00","35,780.00","38,850.00","41,975.00","44,150.00","47,450.00","48,800.00","48,800.00"
Pensions & Statutory Contributions,"3,089.92","3,342.11","3,669.28","3,657.92","3,901.02","4,064.61","4,413.36","4,768.36","5,015.44","5,390.32","5,543.68","5,543.68"
Training,"7,069.79","7,211.19","7,355.41","7,502.52","7,652.57","7,805.62","7,961.73","8,120.97","8,283.39","8,449.05","8,618.03","8,790.40"
Bonus Provision,14297,10995,17629,19467,11016,17869,16439,17892,16863,17916,18529,10878
Retrenchments,19268,14887,14859,16331,18571,18684,17208,15276,12062,10064,18006,12568
Staff Welfare,15463,12027,12695,19687,15258,15618,16736,10391,15892,13561,16184,13099
CILL,13152,11585,13943,17555,13073,11021,13843,17989,19692,16873,15675,10161
Total Staff Costs,"99,539.71","89,467.30","102,450.69","116,400.44","103,811.59","110,842.23","115,451.09","116,412.33","121,957.83","119,703.37","131,355.71","109,840.08"
TRAVEL & ENTERTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel Costs,"7,080.16","7,221.76","7,366.20","7,513.52","7,663.79","7,817.07","7,973.41","8,132.88","8,295.54","8,461.45","8,630.68","8,803.29"
Entertainment,"7,760.67","7,915.88","8,074.20","8,235.69","8,400.40","8,568.41","8,739.77","8,914.57","9,092.86","9,274.72","9,460.21","9,649.42"
Total Travel & Entertainment,"14,840.83","15,137.65","15,440.40","15,749.21","16,064.19","16,385.48","16,713.19","17,047.45","17,388.40","17,736.17","18,090.89","18,452.71"
MARKETING AND PUBLIC RELATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marketing Costs,"7,796.37","7,952.30","8,111.34","8,273.57","8,439.04","8,607.82","8,779.98","8,955.58","9,134.69","9,317.38","9,503.73","9,693.81"
Group Marketing Costs,"7,659.18","7,812.36","7,968.61","8,127.98","8,290.54","8,456.35","8,625.48","8,797.99","8,973.95","9,153.43","9,336.50","9,523.23"
Donations,16278,18392,13104,17215,12454,18996,12731,18154,19762,15056,18110,13840
Total Marketing And Public Relations,"31,733.55","34,156.66","29,183.95","33,616.55","29,183.58","36,060.18","30,136.46","35,907.57","37,870.64","33,526.81","36,950.23","33,057.03"
OFFICE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Costs,"7,749.79","7,904.79","8,062.88","8,224.14","8,388.62","8,556.39","8,727.52","8,902.07","9,080.11","9,261.72","9,446.95","9,635.89"
Subscriptions,"8,444.75","8,613.64","8,785.92","8,961.64","9,140.87","9,323.69","9,510.16","9,700.36","9,894.37","10,092.26","10,294.10","10,499.99"
Insurance,"7,590.16","7,741.96","7,896.80","8,054.74","8,215.83","8,380.15","8,547.75","8,718.71","8,893.08","9,070.94","9,252.36","9,437.41"
Repairs And Maintenance,"8,262.68","8,427.93","8,596.49","8,768.42","8,943.79","9,122.67","9,305.12","9,491.22","9,681.05","9,874.67","10,072.16","10,273.60"
Utilities,"7,537.97","7,688.73","7,842.50","7,999.35","8,159.34","8,322.53","8,488.98","8,658.76","8,831.93","9,008.57","9,188.74","9,372.52"
Stationery,"8,099.82","8,261.82","8,427.05","8,595.59","8,767.51","8,942.86","9,121.71","9,304.15","9,490.23","9,680.03","9,873.64","10,071.11"
Admin Costs,"8,134.33","8,297.02","8,462.96","8,632.22","8,804.86","8,980.96","9,160.58","9,343.79","9,530.66","9,721.28","9,915.70","10,114.02"
IT Costs,"7,668.02","7,821.38","7,977.81","8,137.36","8,300.11","8,466.11","8,635.44","8,808.14","8,984.31","9,163.99","9,347.27","9,534.22"
Masawara Mgt Fee,"7,619.57","7,771.96","7,927.40","8,085.95","8,247.67","8,412.62","8,580.87","8,752.49","8,927.54","9,106.09","9,288.21","9,473.98"
Fines And Penalties,"7,231.97","7,376.61","7,524.14","7,674.62","7,828.12","7,984.68","8,144.37","8,307.26","8,473.41","8,642.87","8,815.73","8,992.05"
Total Office Costs,"78,339.06","79,905.84","81,503.96","83,134.04","84,796.72","86,492.65","88,222.51","89,986.96","91,786.69","93,622.43","95,494.88","97,404.77"
PROFESSIONAL FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auditors Remuneration,"7,112.63","7,254.88","7,399.98","7,547.98","7,698.94","7,852.92","8,009.98","8,170.18","8,333.58","8,500.25","8,670.26","8,843.66"
Legal Fees,0,0,0,0,0,0,0,0,0,0,0,0
Strategic Expenses,0,0,0,0,0,0,0,0,0,0,0,0
Directors Fees,"7,728.71","7,883.28","8,040.95","8,201.77","8,365.80","8,533.12","8,703.78","8,877.86","9,055.42","9,236.52","9,421.25","9,609.68"
Consultancy Fees,"6,992.61","7,132.46","7,275.11","7,420.61","7,569.03","7,720.41","7,874.81","8,032.31","8,192.96","8,356.82","8,523.95","8,694.43"
Total Professional Fees,"21,833.95","22,270.63","22,716.04","23,170.36","23,633.77","24,106.45","24,588.57","25,080.35","25,581.95","26,093.59","26,615.46","27,147.77"
COMMUNICATION COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telephones,"8,847.99","9,024.95","9,205.45","9,389.56","9,577.35","9,768.90","9,964.27","10,163.56","10,366.83","10,574.17","10,785.65","11,001.36"
Cellphones,"7,549.19","7,700.17","7,854.18","8,011.26","8,171.49","8,334.92","8,501.61","8,671.65","8,845.08","9,021.98","9,202.42","9,386.47"
Internet,"8,972.94","9,152.40","9,335.45","9,522.16","9,712.60","9,906.85","10,104.99","10,307.09","10,513.23","10,723.49","10,937.96","11,156.72"
Courier,"7,590.67","7,742.48","7,897.33","8,055.28","8,216.39","8,380.71","8,548.33","8,719.29","8,893.68","9,071.55","9,252.98","9,438.04"
Total Communication Costs,"32,960.79","33,620.01","34,292.41","34,978.25","35,677.82","36,391.38","37,119.20","37,861.59","38,618.82","39,391.20","40,179.02","40,982.60"
MOTOR VEHICLE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel,"8,027.74","8,188.29","8,352.06","8,519.10","8,689.48","8,863.27","9,040.54","9,221.35","9,405.78","9,593.89","9,785.77","9,981.49"
Motor Vehicle Maintenance Costs,"8,277.98","8,443.54","8,612.41","8,784.66","8,960.35","9,139.56","9,322.35","9,508.80","9,698.97","9,892.95","10,090.81","10,292.63"
Total Motor Vehicle Costs,"16,305.72","16,631.83","16,964.47","17,303.76","17,649.84","18,002.83","18,362.89","18,730.15","19,104.75","19,486.84","19,876.58","20,274.11"
OTHER COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,"14,500.00","12,475.00","10,786.25","9,368.69","8,171.22","5,904.90","5,314.41","4,782.97","4,304.67","3,874.20","3,486.78","3,138.11"
Bank Charges,"7,884.26","8,041.95","8,202.78","8,366.84","8,534.18","8,704.86","8,878.96","9,056.54","9,237.67","9,422.42","9,610.87","9,803.09"
Zimnat Grp Shared Costs Recovery Exp,"8,643.31","8,816.18","8,992.50","9,172.35","9,355.80","9,542.91","9,733.77","9,928.45","10,127.02","10,329.56","10,536.15","10,746.87"
Bad Debts Provision,159.95,"2,229.90","2,289.85","-1,780.20",419.75,"1,719.70","2,069.65","4,164.60","2,874.55","5,899.50","2,799.45",99.40
Business Acquisition,"1,620.00","2,025.00","2,484.00","2,760.00","3,312.00","3,366.00","3,927.00","4,207.50","4,275.00","4,275.00","4,275.00","4,275.00"
Total Other Costs,"32,807.52","33,588.02","32,755.38","27,887.68","29,792.94","29,238.37","29,923.79","32,140.05","30,818.90","33,800.68","30,708.25","28,062.46"
TOTAL EXPENSES,"328,361.13","324,777.94","335,307.30","352,240.29","340,610.45","357,519.56","360,517.70","373,166.43","383,127.98","383,361.09","399,271.02","375,221.54"
EBIDTA,"-318,242.01","-213,124.93","-112,507.44","-17,399.53","69,826.68","115,583.62","166,215.25","206,966.47","282,821.83","393,947.22","538,942.21","727,970.50"
INVESTMENT INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Income,0,0,0,0,0,0,0,0,0,0,0,0
Interest Received,0,0,0,0,0,0,0,0,0,0,0,0
Dividends Received,0,0,0,0,0,0,0,0,0,0,0,0
Fair Value Adjustments,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Inv Properties,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Equities,0,0,0,0,0,0,0,0,0,0,0,0
Exchange Gains/(Losses),0,0,0,0,0,0,0,0,0,0,0,0
Admin Fees,0,0,0,0,0,0,0,0,0,0,0,0
Total Investment Income,0,0,0,0,0,0,0,0,0,0,0,0
FINANCE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finance Costs,"67,811.10","67,811.10","67,811.10","67,486.10","67,486.10","65,680.36","65,680.36","64,430.36","54,013.69","54,013.69","53,430.36","45,180.36"
Third Party,0,0,0,0,0,0,0,0,0,0,0,0
Total Finance Costs,"67,811.10","67,811.10","67,811.10","67,486.10","67,486.10","65,680.36","65,680.36","64,430.36","54,013.69","54,013.69","53,430.36","45,180.36"
PROFIT / (LOSS) BEFORE TAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2% Taxation,0,0,0,0,0,0,0,0,0,0,0,0
PROFIT/(LOSS) FOR PERIOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Calculate Profit Before Tax**

In [260]:
income_statement_df = income_statement.calculate_profit_before_tax(income_statement_df)
income_statement_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
INCOME_STATEMENT,,,,,,,,,,,,
Interest Income,290.78,"90,123.97","187,900.90","289,132.99","354,282.78","405,013.17","453,611.32","499,318.37","575,826.00","668,308.56","806,367.53","950,524.03"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Total Revenue,"10,119.12","111,653.01","222,799.87","334,840.76","410,437.13","473,103.18","526,732.94","580,132.90","665,949.82","777,308.31","938,213.23","1,103,192.04"
MANAGEMENT EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAFF COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salaries,"27,200.00","29,420.00","32,300.00","32,200.00","34,340.00","35,780.00","38,850.00","41,975.00","44,150.00","47,450.00","48,800.00","48,800.00"
Pensions & Statutory Contributions,"3,089.92","3,342.11","3,669.28","3,657.92","3,901.02","4,064.61","4,413.36","4,768.36","5,015.44","5,390.32","5,543.68","5,543.68"
Training,"7,069.79","7,211.19","7,355.41","7,502.52","7,652.57","7,805.62","7,961.73","8,120.97","8,283.39","8,449.05","8,618.03","8,790.40"
Bonus Provision,14297,10995,17629,19467,11016,17869,16439,17892,16863,17916,18529,10878
Retrenchments,19268,14887,14859,16331,18571,18684,17208,15276,12062,10064,18006,12568
Staff Welfare,15463,12027,12695,19687,15258,15618,16736,10391,15892,13561,16184,13099
CILL,13152,11585,13943,17555,13073,11021,13843,17989,19692,16873,15675,10161
Total Staff Costs,"99,539.71","89,467.30","102,450.69","116,400.44","103,811.59","110,842.23","115,451.09","116,412.33","121,957.83","119,703.37","131,355.71","109,840.08"
TRAVEL & ENTERTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel Costs,"7,080.16","7,221.76","7,366.20","7,513.52","7,663.79","7,817.07","7,973.41","8,132.88","8,295.54","8,461.45","8,630.68","8,803.29"
Entertainment,"7,760.67","7,915.88","8,074.20","8,235.69","8,400.40","8,568.41","8,739.77","8,914.57","9,092.86","9,274.72","9,460.21","9,649.42"
Total Travel & Entertainment,"14,840.83","15,137.65","15,440.40","15,749.21","16,064.19","16,385.48","16,713.19","17,047.45","17,388.40","17,736.17","18,090.89","18,452.71"
MARKETING AND PUBLIC RELATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marketing Costs,"7,796.37","7,952.30","8,111.34","8,273.57","8,439.04","8,607.82","8,779.98","8,955.58","9,134.69","9,317.38","9,503.73","9,693.81"
Group Marketing Costs,"7,659.18","7,812.36","7,968.61","8,127.98","8,290.54","8,456.35","8,625.48","8,797.99","8,973.95","9,153.43","9,336.50","9,523.23"
Donations,16278,18392,13104,17215,12454,18996,12731,18154,19762,15056,18110,13840
Total Marketing And Public Relations,"31,733.55","34,156.66","29,183.95","33,616.55","29,183.58","36,060.18","30,136.46","35,907.57","37,870.64","33,526.81","36,950.23","33,057.03"
OFFICE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Costs,"7,749.79","7,904.79","8,062.88","8,224.14","8,388.62","8,556.39","8,727.52","8,902.07","9,080.11","9,261.72","9,446.95","9,635.89"
Subscriptions,"8,444.75","8,613.64","8,785.92","8,961.64","9,140.87","9,323.69","9,510.16","9,700.36","9,894.37","10,092.26","10,294.10","10,499.99"
Insurance,"7,590.16","7,741.96","7,896.80","8,054.74","8,215.83","8,380.15","8,547.75","8,718.71","8,893.08","9,070.94","9,252.36","9,437.41"
Repairs And Maintenance,"8,262.68","8,427.93","8,596.49","8,768.42","8,943.79","9,122.67","9,305.12","9,491.22","9,681.05","9,874.67","10,072.16","10,273.60"
Utilities,"7,537.97","7,688.73","7,842.50","7,999.35","8,159.34","8,322.53","8,488.98","8,658.76","8,831.93","9,008.57","9,188.74","9,372.52"
Stationery,"8,099.82","8,261.82","8,427.05","8,595.59","8,767.51","8,942.86","9,121.71","9,304.15","9,490.23","9,680.03","9,873.64","10,071.11"
Admin Costs,"8,134.33","8,297.02","8,462.96","8,632.22","8,804.86","8,980.96","9,160.58","9,343.79","9,530.66","9,721.28","9,915.70","10,114.02"
IT Costs,"7,668.02","7,821.38","7,977.81","8,137.36","8,300.11","8,466.11","8,635.44","8,808.14","8,984.31","9,163.99","9,347.27","9,534.22"
Masawara Mgt Fee,"7,619.57","7,771.96","7,927.40","8,085.95","8,247.67","8,412.62","8,580.87","8,752.49","8,927.54","9,106.09","9,288.21","9,473.98"
Fines And Penalties,"7,231.97","7,376.61","7,524.14","7,674.62","7,828.12","7,984.68","8,144.37","8,307.26","8,473.41","8,642.87","8,815.73","8,992.05"
Total Office Costs,"78,339.06","79,905.84","81,503.96","83,134.04","84,796.72","86,492.65","88,222.51","89,986.96","91,786.69","93,622.43","95,494.88","97,404.77"
PROFESSIONAL FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auditors Remuneration,"7,112.63","7,254.88","7,399.98","7,547.98","7,698.94","7,852.92","8,009.98","8,170.18","8,333.58","8,500.25","8,670.26","8,843.66"
Legal Fees,0,0,0,0,0,0,0,0,0,0,0,0
Strategic Expenses,0,0,0,0,0,0,0,0,0,0,0,0
Directors Fees,"7,728.71","7,883.28","8,040.95","8,201.77","8,365.80","8,533.12","8,703.78","8,877.86","9,055.42","9,236.52","9,421.25","9,609.68"
Consultancy Fees,"6,992.61","7,132.46","7,275.11","7,420.61","7,569.03","7,720.41","7,874.81","8,032.31","8,192.96","8,356.82","8,523.95","8,694.43"
Total Professional Fees,"21,833.95","22,270.63","22,716.04","23,170.36","23,633.77","24,106.45","24,588.57","25,080.35","25,581.95","26,093.59","26,615.46","27,147.77"
COMMUNICATION COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telephones,"8,847.99","9,024.95","9,205.45","9,389.56","9,577.35","9,768.90","9,964.27","10,163.56","10,366.83","10,574.17","10,785.65","11,001.36"
Cellphones,"7,549.19","7,700.17","7,854.18","8,011.26","8,171.49","8,334.92","8,501.61","8,671.65","8,845.08","9,021.98","9,202.42","9,386.47"
Internet,"8,972.94","9,152.40","9,335.45","9,522.16","9,712.60","9,906.85","10,104.99","10,307.09","10,513.23","10,723.49","10,937.96","11,156.72"
Courier,"7,590.67","7,742.48","7,897.33","8,055.28","8,216.39","8,380.71","8,548.33","8,719.29","8,893.68","9,071.55","9,252.98","9,438.04"
Total Communication Costs,"32,960.79","33,620.01","34,292.41","34,978.25","35,677.82","36,391.38","37,119.20","37,861.59","38,618.82","39,391.20","40,179.02","40,982.60"
MOTOR VEHICLE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel,"8,027.74","8,188.29","8,352.06","8,519.10","8,689.48","8,863.27","9,040.54","9,221.35","9,405.78","9,593.89","9,785.77","9,981.49"
Motor Vehicle Maintenance Costs,"8,277.98","8,443.54","8,612.41","8,784.66","8,960.35","9,139.56","9,322.35","9,508.80","9,698.97","9,892.95","10,090.81","10,292.63"
Total Motor Vehicle Costs,"16,305.72","16,631.83","16,964.47","17,303.76","17,649.84","18,002.83","18,362.89","18,730.15","19,104.75","19,486.84","19,876.58","20,274.11"
OTHER COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,"14,500.00","12,475.00","10,786.25","9,368.69","8,171.22","5,904.90","5,314.41","4,782.97","4,304.67","3,874.20","3,486.78","3,138.11"
Bank Charges,"7,884.26","8,041.95","8,202.78","8,366.84","8,534.18","8,704.86","8,878.96","9,056.54","9,237.67","9,422.42","9,610.87","9,803.09"
Zimnat Grp Shared Costs Recovery Exp,"8,643.31","8,816.18","8,992.50","9,172.35","9,355.80","9,542.91","9,733.77","9,928.45","10,127.02","10,329.56","10,536.15","10,746.87"
Bad Debts Provision,159.95,"2,229.90","2,289.85","-1,780.20",419.75,"1,719.70","2,069.65","4,164.60","2,874.55","5,899.50","2,799.45",99.40
Business Acquisition,"1,620.00","2,025.00","2,484.00","2,760.00","3,312.00","3,366.00","3,927.00","4,207.50","4,275.00","4,275.00","4,275.00","4,275.00"
Total Other Costs,"32,807.52","33,588.02","32,755.38","27,887.68","29,792.94","29,238.37","29,923.79","32,140.05","30,818.90","33,800.68","30,708.25","28,062.46"
TOTAL EXPENSES,"328,361.13","324,777.94","335,307.30","352,240.29","340,610.45","357,519.56","360,517.70","373,166.43","383,127.98","383,361.09","399,271.02","375,221.54"
EBIDTA,"-318,242.01","-213,124.93","-112,507.44","-17,399.53","69,826.68","115,583.62","166,215.25","206,966.47","282,821.83","393,947.22","538,942.21","727,970.50"
INVESTMENT INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Income,0,0,0,0,0,0,0,0,0,0,0,0
Interest Received,0,0,0,0,0,0,0,0,0,0,0,0
Dividends Received,0,0,0,0,0,0,0,0,0,0,0,0
Fair Value Adjustments,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Inv Properties,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Equities,0,0,0,0,0,0,0,0,0,0,0,0
Exchange Gains/(Losses),0,0,0,0,0,0,0,0,0,0,0,0
Admin Fees,0,0,0,0,0,0,0,0,0,0,0,0
Total Investment Income,0,0,0,0,0,0,0,0,0,0,0,0
FINANCE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finance Costs,"67,811.10","67,811.10","67,811.10","67,486.10","67,486.10","65,680.36","65,680.36","64,430.36","54,013.69","54,013.69","53,430.36","45,180.36"
Third Party,0,0,0,0,0,0,0,0,0,0,0,0
Total Finance Costs,"67,811.10","67,811.10","67,811.10","67,486.10","67,486.10","65,680.36","65,680.36","64,430.36","54,013.69","54,013.69","53,430.36","45,180.36"
PROFIT / (LOSS) BEFORE TAX,"-386,053.12","-280,936.03","-180,318.54","-84,885.63","2,340.58","49,903.27","100,534.89","142,536.11","228,808.14","339,933.53","485,511.85","682,790.14"
Taxation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2% Taxation,0,0,0,0,0,0,0,0,0,0,0,0
PROFIT/(LOSS) FOR PERIOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Calculate Tax**

In [261]:
income_statement_df = income_statement.calculate_tax(income_statement=income_statement_df,tax_rate=parameters.loc['TAX_RATE'])
income_statement_df

c:\Users\HP\anaconda3\Lib\site-packages\pandas\core\arraylike.py:402: RuntimeWarning: invalid value encountered in maximum
  result = getattr(ufunc, method)(*inputs, **kwargs)

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
INCOME_STATEMENT,,,,,,,,,,,,
Interest Income,290.78,"90,123.97","187,900.90","289,132.99","354,282.78","405,013.17","453,611.32","499,318.37","575,826.00","668,308.56","806,367.53","950,524.03"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Total Revenue,"10,119.12","111,653.01","222,799.87","334,840.76","410,437.13","473,103.18","526,732.94","580,132.90","665,949.82","777,308.31","938,213.23","1,103,192.04"
MANAGEMENT EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAFF COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salaries,"27,200.00","29,420.00","32,300.00","32,200.00","34,340.00","35,780.00","38,850.00","41,975.00","44,150.00","47,450.00","48,800.00","48,800.00"
Pensions & Statutory Contributions,"3,089.92","3,342.11","3,669.28","3,657.92","3,901.02","4,064.61","4,413.36","4,768.36","5,015.44","5,390.32","5,543.68","5,543.68"
Training,"7,069.79","7,211.19","7,355.41","7,502.52","7,652.57","7,805.62","7,961.73","8,120.97","8,283.39","8,449.05","8,618.03","8,790.40"
Bonus Provision,14297,10995,17629,19467,11016,17869,16439,17892,16863,17916,18529,10878
Retrenchments,19268,14887,14859,16331,18571,18684,17208,15276,12062,10064,18006,12568
Staff Welfare,15463,12027,12695,19687,15258,15618,16736,10391,15892,13561,16184,13099
CILL,13152,11585,13943,17555,13073,11021,13843,17989,19692,16873,15675,10161
Total Staff Costs,"99,539.71","89,467.30","102,450.69","116,400.44","103,811.59","110,842.23","115,451.09","116,412.33","121,957.83","119,703.37","131,355.71","109,840.08"
TRAVEL & ENTERTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel Costs,"7,080.16","7,221.76","7,366.20","7,513.52","7,663.79","7,817.07","7,973.41","8,132.88","8,295.54","8,461.45","8,630.68","8,803.29"
Entertainment,"7,760.67","7,915.88","8,074.20","8,235.69","8,400.40","8,568.41","8,739.77","8,914.57","9,092.86","9,274.72","9,460.21","9,649.42"
Total Travel & Entertainment,"14,840.83","15,137.65","15,440.40","15,749.21","16,064.19","16,385.48","16,713.19","17,047.45","17,388.40","17,736.17","18,090.89","18,452.71"
MARKETING AND PUBLIC RELATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marketing Costs,"7,796.37","7,952.30","8,111.34","8,273.57","8,439.04","8,607.82","8,779.98","8,955.58","9,134.69","9,317.38","9,503.73","9,693.81"
Group Marketing Costs,"7,659.18","7,812.36","7,968.61","8,127.98","8,290.54","8,456.35","8,625.48","8,797.99","8,973.95","9,153.43","9,336.50","9,523.23"
Donations,16278,18392,13104,17215,12454,18996,12731,18154,19762,15056,18110,13840
Total Marketing And Public Relations,"31,733.55","34,156.66","29,183.95","33,616.55","29,183.58","36,060.18","30,136.46","35,907.57","37,870.64","33,526.81","36,950.23","33,057.03"
OFFICE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Costs,"7,749.79","7,904.79","8,062.88","8,224.14","8,388.62","8,556.39","8,727.52","8,902.07","9,080.11","9,261.72","9,446.95","9,635.89"
Subscriptions,"8,444.75","8,613.64","8,785.92","8,961.64","9,140.87","9,323.69","9,510.16","9,700.36","9,894.37","10,092.26","10,294.10","10,499.99"
Insurance,"7,590.16","7,741.96","7,896.80","8,054.74","8,215.83","8,380.15","8,547.75","8,718.71","8,893.08","9,070.94","9,252.36","9,437.41"
Repairs And Maintenance,"8,262.68","8,427.93","8,596.49","8,768.42","8,943.79","9,122.67","9,305.12","9,491.22","9,681.05","9,874.67","10,072.16","10,273.60"
Utilities,"7,537.97","7,688.73","7,842.50","7,999.35","8,159.34","8,322.53","8,488.98","8,658.76","8,831.93","9,008.57","9,188.74","9,372.52"
Stationery,"8,099.82","8,261.82","8,427.05","8,595.59","8,767.51","8,942.86","9,121.71","9,304.15","9,490.23","9,680.03","9,873.64","10,071.11"
Admin Costs,"8,134.33","8,297.02","8,462.96","8,632.22","8,804.86","8,980.96","9,160.58","9,343.79","9,530.66","9,721.28","9,915.70","10,114.02"
IT Costs,"7,668.02","7,821.38","7,977.81","8,137.36","8,300.11","8,466.11","8,635.44","8,808.14","8,984.31","9,163.99","9,347.27","9,534.22"
Masawara Mgt Fee,"7,619.57","7,771.96","7,927.40","8,085.95","8,247.67","8,412.62","8,580.87","8,752.49","8,927.54","9,106.09","9,288.21","9,473.98"
Fines And Penalties,"7,231.97","7,376.61","7,524.14","7,674.62","7,828.12","7,984.68","8,144.37","8,307.26","8,473.41","8,642.87","8,815.73","8,992.05"
Total Office Costs,"78,339.06","79,905.84","81,503.96","83,134.04","84,796.72","86,492.65","88,222.51","89,986.96","91,786.69","93,622.43","95,494.88","97,404.77"
PROFESSIONAL FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auditors Remuneration,"7,112.63","7,254.88","7,399.98","7,547.98","7,698.94","7,852.92","8,009.98","8,170.18","8,333.58","8,500.25","8,670.26","8,843.66"
Legal Fees,0,0,0,0,0,0,0,0,0,0,0,0
Strategic Expenses,0,0,0,0,0,0,0,0,0,0,0,0
Directors Fees,"7,728.71","7,883.28","8,040.95","8,201.77","8,365.80","8,533.12","8,703.78","8,877.86","9,055.42","9,236.52","9,421.25","9,609.68"
Consultancy Fees,"6,992.61","7,132.46","7,275.11","7,420.61","7,569.03","7,720.41","7,874.81","8,032.31","8,192.96","8,356.82","8,523.95","8,694.43"
Total Professional Fees,"21,833.95","22,270.63","22,716.04","23,170.36","23,633.77","24,106.45","24,588.57","25,080.35","25,581.95","26,093.59","26,615.46","27,147.77"
COMMUNICATION COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telephones,"8,847.99","9,024.95","9,205.45","9,389.56","9,577.35","9,768.90","9,964.27","10,163.56","10,366.83","10,574.17","10,785.65","11,001.36"
Cellphones,"7,549.19","7,700.17","7,854.18","8,011.26","8,171.49","8,334.92","8,501.61","8,671.65","8,845.08","9,021.98","9,202.42","9,386.47"
Internet,"8,972.94","9,152.40","9,335.45","9,522.16","9,712.60","9,906.85","10,104.99","10,307.09","10,513.23","10,723.49","10,937.96","11,156.72"
Courier,"7,590.67","7,742.48","7,897.33","8,055.28","8,216.39","8,380.71","8,548.33","8,719.29","8,893.68","9,071.55","9,252.98","9,438.04"
Total Communication Costs,"32,960.79","33,620.01","34,292.41","34,978.25","35,677.82","36,391.38","37,119.20","37,861.59","38,618.82","39,391.20","40,179.02","40,982.60"
MOTOR VEHICLE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel,"8,027.74","8,188.29","8,352.06","8,519.10","8,689.48","8,863.27","9,040.54","9,221.35","9,405.78","9,593.89","9,785.77","9,981.49"
Motor Vehicle Maintenance Costs,"8,277.98","8,443.54","8,612.41","8,784.66","8,960.35","9,139.56","9,322.35","9,508.80","9,698.97","9,892.95","10,090.81","10,292.63"
Total Motor Vehicle Costs,"16,305.72","16,631.83","16,964.47","17,303.76","17,649.84","18,002.83","18,362.89","18,730.15","19,104.75","19,486.84","19,876.58","20,274.11"
OTHER COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,"14,500.00","12,475.00","10,786.25","9,368.69","8,171.22","5,904.90","5,314.41","4,782.97","4,304.67","3,874.20","3,486.78","3,138.11"
Bank Charges,"7,884.26","8,041.95","8,202.78","8,366.84","8,534.18","8,704.86","8,878.96","9,056.54","9,237.67","9,422.42","9,610.87","9,803.09"
Zimnat Grp Shared Costs Recovery Exp,"8,643.31","8,816.18","8,992.50","9,172.35","9,355.80","9,542.91","9,733.77","9,928.45","10,127.02","10,329.56","10,536.15","10,746.87"
Bad Debts Provision,159.95,"2,229.90","2,289.85","-1,780.20",419.75,"1,719.70","2,069.65","4,164.60","2,874.55","5,899.50","2,799.45",99.40
Business Acquisition,"1,620.00","2,025.00","2,484.00","2,760.00","3,312.00","3,366.00","3,927.00","4,207.50","4,275.00","4,275.00","4,275.00","4,275.00"
Total Other Costs,"32,807.52","33,588.02","32,755.38","27,887.68","29,792.94","29,238.37","29,923.79","32,140.05","30,818.90","33,800.68","30,708.25","28,062.46"
TOTAL EXPENSES,"328,361.13","324,777.94","335,307.30","352,240.29","340,610.45","357,519.56","360,517.70","373,166.43","383,127.98","383,361.09","399,271.02","375,221.54"
EBIDTA,"-318,242.01","-213,124.93","-112,507.44","-17,399.53","69,826.68","115,583.62","166,215.25","206,966.47","282,821.83","393,947.22","538,942.21","727,970.50"
INVESTMENT INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Income,0,0,0,0,0,0,0,0,0,0,0,0
Interest Received,0,0,0,0,0,0,0,0,0,0,0,0
Dividends Received,0,0,0,0,0,0,0,0,0,0,0,0
Fair Value Adjustments,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Inv Properties,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Equities,0,0,0,0,0,0,0,0,0,0,0,0
Exchange Gains/(Losses),0,0,0,0,0,0,0,0,0,0,0,0
Admin Fees,0,0,0,0,0,0,0,0,0,0,0,0
Total Investment Income,0,0,0,0,0,0,0,0,0,0,0,0
FINANCE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finance Costs,"67,811.10","67,811.10","67,811.10","67,486.10","67,486.10","65,680.36","65,680.36","64,430.36","54,013.69","54,013.69","53,430.36","45,180.36"
Third Party,0,0,0,0,0,0,0,0,0,0,0,0
Total Finance Costs,"67,811.10","67,811.10","67,811.10","67,486.10","67,486.10","65,680.36","65,680.36","64,430.36","54,013.69","54,013.69","53,430.36","45,180.36"
PROFIT / (LOSS) BEFORE TAX,"-386,053.12","-280,936.03","-180,318.54","-84,885.63","2,340.58","49,903.27","100,534.89","142,536.11","228,808.14","339,933.53","485,511.85","682,790.14"
Taxation,0,0,0,0,0,0,0,0,0,0,0,0
2% Taxation,0,0,0,0,0,0,0,0,0,0,0,0
PROFIT/(LOSS) FOR PERIOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [262]:
income_statement_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
INCOME_STATEMENT,,,,,,,,,,,,
Interest Income,290.78,"90,123.97","187,900.90","289,132.99","354,282.78","405,013.17","453,611.32","499,318.37","575,826.00","668,308.56","806,367.53","950,524.03"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Total Revenue,"10,119.12","111,653.01","222,799.87","334,840.76","410,437.13","473,103.18","526,732.94","580,132.90","665,949.82","777,308.31","938,213.23","1,103,192.04"
MANAGEMENT EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAFF COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salaries,"27,200.00","29,420.00","32,300.00","32,200.00","34,340.00","35,780.00","38,850.00","41,975.00","44,150.00","47,450.00","48,800.00","48,800.00"
Pensions & Statutory Contributions,"3,089.92","3,342.11","3,669.28","3,657.92","3,901.02","4,064.61","4,413.36","4,768.36","5,015.44","5,390.32","5,543.68","5,543.68"
Training,"7,069.79","7,211.19","7,355.41","7,502.52","7,652.57","7,805.62","7,961.73","8,120.97","8,283.39","8,449.05","8,618.03","8,790.40"
Bonus Provision,14297,10995,17629,19467,11016,17869,16439,17892,16863,17916,18529,10878
Retrenchments,19268,14887,14859,16331,18571,18684,17208,15276,12062,10064,18006,12568
Staff Welfare,15463,12027,12695,19687,15258,15618,16736,10391,15892,13561,16184,13099
CILL,13152,11585,13943,17555,13073,11021,13843,17989,19692,16873,15675,10161
Total Staff Costs,"99,539.71","89,467.30","102,450.69","116,400.44","103,811.59","110,842.23","115,451.09","116,412.33","121,957.83","119,703.37","131,355.71","109,840.08"
TRAVEL & ENTERTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel Costs,"7,080.16","7,221.76","7,366.20","7,513.52","7,663.79","7,817.07","7,973.41","8,132.88","8,295.54","8,461.45","8,630.68","8,803.29"
Entertainment,"7,760.67","7,915.88","8,074.20","8,235.69","8,400.40","8,568.41","8,739.77","8,914.57","9,092.86","9,274.72","9,460.21","9,649.42"
Total Travel & Entertainment,"14,840.83","15,137.65","15,440.40","15,749.21","16,064.19","16,385.48","16,713.19","17,047.45","17,388.40","17,736.17","18,090.89","18,452.71"
MARKETING AND PUBLIC RELATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marketing Costs,"7,796.37","7,952.30","8,111.34","8,273.57","8,439.04","8,607.82","8,779.98","8,955.58","9,134.69","9,317.38","9,503.73","9,693.81"
Group Marketing Costs,"7,659.18","7,812.36","7,968.61","8,127.98","8,290.54","8,456.35","8,625.48","8,797.99","8,973.95","9,153.43","9,336.50","9,523.23"
Donations,16278,18392,13104,17215,12454,18996,12731,18154,19762,15056,18110,13840
Total Marketing And Public Relations,"31,733.55","34,156.66","29,183.95","33,616.55","29,183.58","36,060.18","30,136.46","35,907.57","37,870.64","33,526.81","36,950.23","33,057.03"
OFFICE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Costs,"7,749.79","7,904.79","8,062.88","8,224.14","8,388.62","8,556.39","8,727.52","8,902.07","9,080.11","9,261.72","9,446.95","9,635.89"
Subscriptions,"8,444.75","8,613.64","8,785.92","8,961.64","9,140.87","9,323.69","9,510.16","9,700.36","9,894.37","10,092.26","10,294.10","10,499.99"
Insurance,"7,590.16","7,741.96","7,896.80","8,054.74","8,215.83","8,380.15","8,547.75","8,718.71","8,893.08","9,070.94","9,252.36","9,437.41"
Repairs And Maintenance,"8,262.68","8,427.93","8,596.49","8,768.42","8,943.79","9,122.67","9,305.12","9,491.22","9,681.05","9,874.67","10,072.16","10,273.60"
Utilities,"7,537.97","7,688.73","7,842.50","7,999.35","8,159.34","8,322.53","8,488.98","8,658.76","8,831.93","9,008.57","9,188.74","9,372.52"
Stationery,"8,099.82","8,261.82","8,427.05","8,595.59","8,767.51","8,942.86","9,121.71","9,304.15","9,490.23","9,680.03","9,873.64","10,071.11"
Admin Costs,"8,134.33","8,297.02","8,462.96","8,632.22","8,804.86","8,980.96","9,160.58","9,343.79","9,530.66","9,721.28","9,915.70","10,114.02"
IT Costs,"7,668.02","7,821.38","7,977.81","8,137.36","8,300.11","8,466.11","8,635.44","8,808.14","8,984.31","9,163.99","9,347.27","9,534.22"
Masawara Mgt Fee,"7,619.57","7,771.96","7,927.40","8,085.95","8,247.67","8,412.62","8,580.87","8,752.49","8,927.54","9,106.09","9,288.21","9,473.98"
Fines And Penalties,"7,231.97","7,376.61","7,524.14","7,674.62","7,828.12","7,984.68","8,144.37","8,307.26","8,473.41","8,642.87","8,815.73","8,992.05"
Total Office Costs,"78,339.06","79,905.84","81,503.96","83,134.04","84,796.72","86,492.65","88,222.51","89,986.96","91,786.69","93,622.43","95,494.88","97,404.77"
PROFESSIONAL FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auditors Remuneration,"7,112.63","7,254.88","7,399.98","7,547.98","7,698.94","7,852.92","8,009.98","8,170.18","8,333.58","8,500.25","8,670.26","8,843.66"
Legal Fees,0,0,0,0,0,0,0,0,0,0,0,0
Strategic Expenses,0,0,0,0,0,0,0,0,0,0,0,0
Directors Fees,"7,728.71","7,883.28","8,040.95","8,201.77","8,365.80","8,533.12","8,703.78","8,877.86","9,055.42","9,236.52","9,421.25","9,609.68"
Consultancy Fees,"6,992.61","7,132.46","7,275.11","7,420.61","7,569.03","7,720.41","7,874.81","8,032.31","8,192.96","8,356.82","8,523.95","8,694.43"
Total Professional Fees,"21,833.95","22,270.63","22,716.04","23,170.36","23,633.77","24,106.45","24,588.57","25,080.35","25,581.95","26,093.59","26,615.46","27,147.77"
COMMUNICATION COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telephones,"8,847.99","9,024.95","9,205.45","9,389.56","9,577.35","9,768.90","9,964.27","10,163.56","10,366.83","10,574.17","10,785.65","11,001.36"
Cellphones,"7,549.19","7,700.17","7,854.18","8,011.26","8,171.49","8,334.92","8,501.61","8,671.65","8,845.08","9,021.98","9,202.42","9,386.47"
Internet,"8,972.94","9,152.40","9,335.45","9,522.16","9,712.60","9,906.85","10,104.99","10,307.09","10,513.23","10,723.49","10,937.96","11,156.72"
Courier,"7,590.67","7,742.48","7,897.33","8,055.28","8,216.39","8,380.71","8,548.33","8,719.29","8,893.68","9,071.55","9,252.98","9,438.04"
Total Communication Costs,"32,960.79","33,620.01","34,292.41","34,978.25","35,677.82","36,391.38","37,119.20","37,861.59","38,618.82","39,391.20","40,179.02","40,982.60"
MOTOR VEHICLE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel,"8,027.74","8,188.29","8,352.06","8,519.10","8,689.48","8,863.27","9,040.54","9,221.35","9,405.78","9,593.89","9,785.77","9,981.49"
Motor Vehicle Maintenance Costs,"8,277.98","8,443.54","8,612.41","8,784.66","8,960.35","9,139.56","9,322.35","9,508.80","9,698.97","9,892.95","10,090.81","10,292.63"
Total Motor Vehicle Costs,"16,305.72","16,631.83","16,964.47","17,303.76","17,649.84","18,002.83","18,362.89","18,730.15","19,104.75","19,486.84","19,876.58","20,274.11"
OTHER COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,"14,500.00","12,475.00","10,786.25","9,368.69","8,171.22","5,904.90","5,314.41","4,782.97","4,304.67","3,874.20","3,486.78","3,138.11"
Bank Charges,"7,884.26","8,041.95","8,202.78","8,366.84","8,534.18","8,704.86","8,878.96","9,056.54","9,237.67","9,422.42","9,610.87","9,803.09"
Zimnat Grp Shared Costs Recovery Exp,"8,643.31","8,816.18","8,992.50","9,172.35","9,355.80","9,542.91","9,733.77","9,928.45","10,127.02","10,329.56","10,536.15","10,746.87"
Bad Debts Provision,159.95,"2,229.90","2,289.85","-1,780.20",419.75,"1,719.70","2,069.65","4,164.60","2,874.55","5,899.50","2,799.45",99.40
Business Acquisition,"1,620.00","2,025.00","2,484.00","2,760.00","3,312.00","3,366.00","3,927.00","4,207.50","4,275.00","4,275.00","4,275.00","4,275.00"
Total Other Costs,"32,807.52","33,588.02","32,755.38","27,887.68","29,792.94","29,238.37","29,923.79","32,140.05","30,818.90","33,800.68","30,708.25","28,062.46"
TOTAL EXPENSES,"328,361.13","324,777.94","335,307.30","352,240.29","340,610.45","357,519.56","360,517.70","373,166.43","383,127.98","383,361.09","399,271.02","375,221.54"
EBIDTA,"-318,242.01","-213,124.93","-112,507.44","-17,399.53","69,826.68","115,583.62","166,215.25","206,966.47","282,821.83","393,947.22","538,942.21","727,970.50"
INVESTMENT INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Income,0,0,0,0,0,0,0,0,0,0,0,0
Interest Received,0,0,0,0,0,0,0,0,0,0,0,0
Dividends Received,0,0,0,0,0,0,0,0,0,0,0,0
Fair Value Adjustments,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Inv Properties,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Equities,0,0,0,0,0,0,0,0,0,0,0,0
Exchange Gains/(Losses),0,0,0,0,0,0,0,0,0,0,0,0
Admin Fees,0,0,0,0,0,0,0,0,0,0,0,0
Total Investment Income,0,0,0,0,0,0,0,0,0,0,0,0
FINANCE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finance Costs,"67,811.10","67,811.10","67,811.10","67,486.10","67,486.10","65,680.36","65,680.36","64,430.36","54,013.69","54,013.69","53,430.36","45,180.36"
Third Party,0,0,0,0,0,0,0,0,0,0,0,0
Total Finance Costs,"67,811.10","67,811.10","67,811.10","67,486.10","67,486.10","65,680.36","65,680.36","64,430.36","54,013.69","54,013.69","53,430.36","45,180.36"
PROFIT / (LOSS) BEFORE TAX,"-386,053.12","-280,936.03","-180,318.54","-84,885.63","2,340.58","49,903.27","100,534.89","142,536.11","228,808.14","339,933.53","485,511.85","682,790.14"
Taxation,0,0,0,0,0,0,0,0,0,0,0,0
2% Taxation,0,0,0,0,0,0,0,0,0,0,0,0
PROFIT/(LOSS) FOR PERIOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## **Direct Cashflow**

In [263]:
direct_cashflow_df = direct_cashflow.generate_direct_cashflow_template(
    valuation_date=VALUATION_DATE, months_to_forecast=MONTHS_TO_FORECAST
)

direct_cashflow_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
CASH INFLOWS,,,,,,,,,,,,
Receipts From Trade Receivables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Capital Repayment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Issue Of Shares,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Short Term Borrowing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Long Term Borrowing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Cash Inflows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CASH OUTFLOWS,,,,,,,,,,,,
Disbursements,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Operating Expenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Capital Expenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dividend Paid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Capital Repayment On Borrowings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tax Paid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Cash Outflows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Net Increase/Decrease In Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Opening Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Closing Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Insert Available Direct Cashflow Items**

#### **From Parameters**

In [264]:
direct_cashflow_df.loc['Receipts From Trade Receivables'] = parameters.loc['RECEIPTS_FROM_TRADE_RECEIVABLES']
direct_cashflow_df.loc['Issue Of Shares'] = parameters.loc['ISSUE_OF_SHARES']
direct_cashflow_df.loc['Tax Paid'] = parameters.loc['TAX_PAID']
direct_cashflow_df.loc['Dividend Paid'] = parameters.loc['DIVIDEND_PAID']

#### **From Calculations/Income Statement**

In [265]:
direct_cashflow_df.loc['Interest Income'] = income_statement_df.loc['Interest Income']
direct_cashflow_df.loc['Other Income'] = income_statement_df.loc['Other Income']
direct_cashflow_df.loc['Interest Expense'] = income_statement_df.loc['Finance Costs']
direct_cashflow_df.loc['Disbursements'] = new_disbursements_df["total"].reindex(
    pd.PeriodIndex(new_disbursements_df["total"].index, freq="M").strftime("%b-%Y")
)

In [266]:
direct_cashflow_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
CASH INFLOWS,,,,,,,,,,,,
Receipts From Trade Receivables,"1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00"
Capital Repayment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Income,290.78,"90,123.97","187,900.90","289,132.99","354,282.78","405,013.17","453,611.32","499,318.37","575,826.00","668,308.56","806,367.53","950,524.03"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Issue Of Shares,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,100.00,0.00,0.00
Short Term Borrowing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Long Term Borrowing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Cash Inflows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CASH OUTFLOWS,,,,,,,,,,,,
Disbursements,"490,000.00","592,000.00","706,000.00","610,000.00","622,000.00","712,000.00","808,000.00","1,010,000.00","1,160,000.00","1,450,000.00","1,585,000.00","1,585,000.00"
Operating Expenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Capital Expenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Expense,"67,811.10","67,811.10","67,811.10","67,486.10","67,486.10","65,680.36","65,680.36","64,430.36","54,013.69","54,013.69","53,430.36","45,180.36"
Dividend Paid,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,100.00
Capital Repayment On Borrowings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tax Paid,"5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00"
Total Cash Outflows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Net Increase/Decrease In Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Opening Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Closing Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Calculate Operating Expenses**

In [267]:
operating_expenses = direct_cashflow.calculate_operating_expenses(income_statement=income_statement_df)
operating_expenses

Jan-2023   299,404.18
Feb-2023   299,078.04
Mar-2023   304,602.20
Apr-2023   325,184.80
May-2023   321,003.48
Jun-2023   332,025.96
Jul-2023   336,694.64
Aug-2023   346,326.86
Sep-2023   359,085.76
Oct-2023   355,671.39
Nov-2023   374,455.79
Dec-2023   361,106.03
dtype: object

### **Insert Operating Expenses**

In [268]:
direct_cashflow_df.loc['Operating Expenses']  = operating_expenses
direct_cashflow_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
CASH INFLOWS,,,,,,,,,,,,
Receipts From Trade Receivables,"1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00"
Capital Repayment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Income,290.78,"90,123.97","187,900.90","289,132.99","354,282.78","405,013.17","453,611.32","499,318.37","575,826.00","668,308.56","806,367.53","950,524.03"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Issue Of Shares,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,100.00,0.00,0.00
Short Term Borrowing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Long Term Borrowing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Cash Inflows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CASH OUTFLOWS,,,,,,,,,,,,
Disbursements,"490,000.00","592,000.00","706,000.00","610,000.00","622,000.00","712,000.00","808,000.00","1,010,000.00","1,160,000.00","1,450,000.00","1,585,000.00","1,585,000.00"
Operating Expenses,"299,404.18","299,078.04","304,602.20","325,184.80","321,003.48","332,025.96","336,694.64","346,326.86","359,085.76","355,671.39","374,455.79","361,106.03"
Capital Expenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Expense,"67,811.10","67,811.10","67,811.10","67,486.10","67,486.10","65,680.36","65,680.36","64,430.36","54,013.69","54,013.69","53,430.36","45,180.36"
Dividend Paid,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,100.00
Capital Repayment On Borrowings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tax Paid,"5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00"
Total Cash Outflows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Net Increase/Decrease In Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Opening Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Closing Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Calculate Capital Expenses**

In [269]:
capital_expenses = direct_cashflow.calculate_capital_expenses(
    details_of_new_assets=details_of_new_assets,
    valuation_date=VALUATION_DATE,
    months_to_forecast=MONTHS_TO_FORECAST,
)
capital_expenses

Jan-2023        0
Feb-2023        0
Mar-2023        0
Apr-2023        0
May-2023        0
Jun-2023    10000
Jul-2023        0
Aug-2023        0
Sep-2023    50000
Oct-2023        0
Nov-2023        0
Dec-2023        0
Name: cost, dtype: int64

### **Insert Capital Expenses**

In [270]:
direct_cashflow_df.loc['Capital Expenses'] = capital_expenses

### **Calculate Direct Cashflow Borrowing**

In [271]:
short_term_borrowing = direct_cashflow.calculate_direct_cashflow_borrowing(
    details_of_new_borrowing=details_of_new_short_term_borrowing,
    valuation_date=VALUATION_DATE,
    months_to_forecast=MONTHS_TO_FORECAST,
)
short_term_borrowing

Jan-2023         0
Feb-2023         0
Mar-2023         0
Apr-2023         0
May-2023         0
Jun-2023         0
Jul-2023    600000
Aug-2023         0
Sep-2023    500000
Oct-2023    500000
Nov-2023         0
Dec-2023         0
Name: principal, dtype: int64

In [272]:
long_term_borrowing = direct_cashflow.calculate_direct_cashflow_borrowing(
   details_of_new_borrowing= details_of_new_long_term_borrowing, 
   valuation_date=VALUATION_DATE, 
   months_to_forecast=MONTHS_TO_FORECAST
)
long_term_borrowing

Jan-2023          0
Feb-2023          0
Mar-2023          0
Apr-2023          0
May-2023          0
Jun-2023          0
Jul-2023          0
Aug-2023     200000
Sep-2023     400000
Oct-2023    1000000
Nov-2023          0
Dec-2023          0
Name: principal, dtype: int64

### **Insert Direct Cashflow Borrowing**

In [273]:
direct_cashflow_df.loc['Short Term Borrowing'] = short_term_borrowing
direct_cashflow_df.loc['Long Term Borrowing'] = long_term_borrowing

### **Calculate Capital Repayments**

In [274]:
capital_repayment = helper.add_series(
[existing_loans_schedules['capital_repayment'].sum()
    , capital_repayment_new_disbursements_df['total']]
)
capital_repayment

Jan-2023       884.89
Feb-2023    57,064.61
Mar-2023   130,066.30
Apr-2023   219,706.55
May-2023   298,143.94
Jun-2023   381,231.98
Jul-2023   480,117.56
Aug-2023   514,505.17
Sep-2023   557,928.09
Oct-2023   609,402.17
Nov-2023   711,656.07
Dec-2023   842,349.66
Jan-2024   966,750.42
dtype: float64

### **Insert Capital Repayment**

In [275]:
direct_cashflow_df.loc['Capital Repayment'] = capital_repayment

### **Calculate Capital Repayments on Borrowings**

In [276]:
capital_repayment_on_borrowings_df = direct_cashflow.calculate_capital_repayment_on_borrowings(
        details_of_existing_long_term_borrowing=details_of_existing_long_term_borrowing,
        details_of_existing_short_term_borrowing=details_of_existing_short_term_borrowing,
        details_of_new_short_term_borrowing=details_of_new_short_term_borrowing,
        details_of_new_long_term_borrowing=details_of_new_long_term_borrowing,
        valuation_date=VALUATION_DATE,
        months_to_forecast=MONTHS_TO_FORECAST,
    )

capital_repayment_on_borrowings_df

,capital_repayment_on_new_borrowings,capital_repayment_on_existing_borrowings,total
Jan-2023,0,0,0
Feb-2023,0,0,0
Mar-2023,0,0,0
Apr-2023,0,30000,30000
May-2023,0,0,0
Jun-2023,0,120383,120383
Jul-2023,0,0,0
Aug-2023,0,125000,125000
Sep-2023,0,500000,500000
Oct-2023,0,0,0
Nov-2023,0,50000,50000
Dec-2023,0,450000,450000

### **Insert Capital Repayment on New Borrowings**

In [277]:
direct_cashflow_df.loc[
    "Capital Repayment On Borrowings"
] = capital_repayment_on_borrowings_df['total']

### **Calculate Totals**

In [278]:
direct_cashflow_df.loc["Total Cash Inflows"] = direct_cashflow_df.loc[
    "Receipts From Trade Receivables":"Long Term Borrowing"
].sum()

direct_cashflow_df.loc["Total Cash Outflows"] = direct_cashflow_df.loc[
    "Disbursements":"Tax Paid"
].sum()

direct_cashflow_df.loc['Net Increase/Decrease In Cash'] = direct_cashflow_df.loc['Total Cash Inflows'] - direct_cashflow_df.loc['Total Cash Outflows']

### **Calculate Opening and Closing Balances**

In [279]:
direct_cashflow_df= direct_cashflow.calculate_opening_and_closing_balances_for_direct_cashflows(
direct_cashflow=direct_cashflow_df, 
cash_on_hand_opening_balance= opening_balances['CASH_ON_HAND'].iat[0]
)
direct_cashflow_df

,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12
CASH INFLOWS,,,,,,,,,,,,
Receipts From Trade Receivables,"1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00"
Capital Repayment,884.89,"57,064.61","130,066.30","219,706.55","298,143.94","381,231.98","480,117.56","514,505.17","557,928.09","609,402.17","711,656.07","842,349.66"
Interest Income,290.78,"90,123.97","187,900.90","289,132.99","354,282.78","405,013.17","453,611.32","499,318.37","575,826.00","668,308.56","806,367.53","950,524.03"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Issue Of Shares,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,100.00,0.00,0.00
Short Term Borrowing,0,0,0,0,0,0,600000,0,500000,500000,0,0
Long Term Borrowing,0,0,0,0,0,0,0,200000,400000,1000000,0,0
Total Cash Inflows,"12,004.01","169,717.62","353,866.16","555,547.31","709,581.07","855,335.16","1,607,850.50","1,295,638.08","2,124,877.91","2,887,810.49","1,650,869.30","1,946,541.70"
CASH OUTFLOWS,,,,,,,,,,,,
Disbursements,"490,000.00","592,000.00","706,000.00","610,000.00","622,000.00","712,000.00","808,000.00","1,010,000.00","1,160,000.00","1,450,000.00","1,585,000.00","1,585,000.00"
Operating Expenses,"299,404.18","299,078.04","304,602.20","325,184.80","321,003.48","332,025.96","336,694.64","346,326.86","359,085.76","355,671.39","374,455.79","361,106.03"
Capital Expenses,0,0,0,0,0,10000,0,0,50000,0,0,0
Interest Expense,"67,811.10","67,811.10","67,811.10","67,486.10","67,486.10","65,680.36","65,680.36","64,430.36","54,013.69","54,013.69","53,430.36","45,180.36"
Dividend Paid,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,100.00
Capital Repayment On Borrowings,0,0,0,30000,0,120383,0,125000,500000,0,50000,450000
Tax Paid,"5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00"
Total Cash Outflows,"862,215.28","963,889.14","1,083,413.31","1,037,670.90","1,015,489.59","1,245,089.31","1,215,374.99","1,550,757.22","2,128,099.45","1,864,685.08","2,067,886.15","2,446,386.39"
Net Increase/Decrease In Cash,"-850,211.27","-794,171.52","-729,547.14","-482,123.59","-305,908.52","-389,754.16","392,475.51","-255,119.14","-3,221.54","1,023,125.41","-417,016.85","-499,844.69"
Opening Balance,331000,"-519,211.27","-1,313,382.80","-2,042,929.94","-2,525,053.53","-2,830,962.05","-3,220,716.20","-2,828,240.69","-3,083,359.84","-3,086,581.38","-2,063,455.97","-2,480,472.81"
Closing Balance,"-519,211.27","-1,313,382.80","-2,042,929.94","-2,525,053.53","-2,830,962.05","-3,220,716.20","-2,828,240.69","-3,083,359.84","-3,086,581.38","-2,063,455.97","-2,480,472.81","-2,980,317.50"

### **Calculate IMTT (2% Tax)**

In [280]:
income_statement_df.loc['2% Taxation']  = direct_cashflow_df.loc['Total Cash Outflows']*IMTT

## **Calculate Profit and Loss for the Period**

In [281]:
income_statement_df = income_statement.calculate_profit_or_loss_for_period(income_statement_df)
income_statement_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
INCOME_STATEMENT,,,,,,,,,,,,
Interest Income,290.78,"90,123.97","187,900.90","289,132.99","354,282.78","405,013.17","453,611.32","499,318.37","575,826.00","668,308.56","806,367.53","950,524.03"
Other Income,"9,828.34","21,529.03","34,898.96","45,707.78","56,154.35","68,090.01","73,121.62","80,814.54","90,123.81","108,999.76","131,845.70","152,668.01"
Total Revenue,"10,119.12","111,653.01","222,799.87","334,840.76","410,437.13","473,103.18","526,732.94","580,132.90","665,949.82","777,308.31","938,213.23","1,103,192.04"
MANAGEMENT EXPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAFF COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salaries,"27,200.00","29,420.00","32,300.00","32,200.00","34,340.00","35,780.00","38,850.00","41,975.00","44,150.00","47,450.00","48,800.00","48,800.00"
Pensions & Statutory Contributions,"3,089.92","3,342.11","3,669.28","3,657.92","3,901.02","4,064.61","4,413.36","4,768.36","5,015.44","5,390.32","5,543.68","5,543.68"
Training,"7,069.79","7,211.19","7,355.41","7,502.52","7,652.57","7,805.62","7,961.73","8,120.97","8,283.39","8,449.05","8,618.03","8,790.40"
Bonus Provision,14297,10995,17629,19467,11016,17869,16439,17892,16863,17916,18529,10878
Retrenchments,19268,14887,14859,16331,18571,18684,17208,15276,12062,10064,18006,12568
Staff Welfare,15463,12027,12695,19687,15258,15618,16736,10391,15892,13561,16184,13099
CILL,13152,11585,13943,17555,13073,11021,13843,17989,19692,16873,15675,10161
Total Staff Costs,"99,539.71","89,467.30","102,450.69","116,400.44","103,811.59","110,842.23","115,451.09","116,412.33","121,957.83","119,703.37","131,355.71","109,840.08"
TRAVEL & ENTERTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel Costs,"7,080.16","7,221.76","7,366.20","7,513.52","7,663.79","7,817.07","7,973.41","8,132.88","8,295.54","8,461.45","8,630.68","8,803.29"
Entertainment,"7,760.67","7,915.88","8,074.20","8,235.69","8,400.40","8,568.41","8,739.77","8,914.57","9,092.86","9,274.72","9,460.21","9,649.42"
Total Travel & Entertainment,"14,840.83","15,137.65","15,440.40","15,749.21","16,064.19","16,385.48","16,713.19","17,047.45","17,388.40","17,736.17","18,090.89","18,452.71"
MARKETING AND PUBLIC RELATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marketing Costs,"7,796.37","7,952.30","8,111.34","8,273.57","8,439.04","8,607.82","8,779.98","8,955.58","9,134.69","9,317.38","9,503.73","9,693.81"
Group Marketing Costs,"7,659.18","7,812.36","7,968.61","8,127.98","8,290.54","8,456.35","8,625.48","8,797.99","8,973.95","9,153.43","9,336.50","9,523.23"
Donations,16278,18392,13104,17215,12454,18996,12731,18154,19762,15056,18110,13840
Total Marketing And Public Relations,"31,733.55","34,156.66","29,183.95","33,616.55","29,183.58","36,060.18","30,136.46","35,907.57","37,870.64","33,526.81","36,950.23","33,057.03"
OFFICE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Costs,"7,749.79","7,904.79","8,062.88","8,224.14","8,388.62","8,556.39","8,727.52","8,902.07","9,080.11","9,261.72","9,446.95","9,635.89"
Subscriptions,"8,444.75","8,613.64","8,785.92","8,961.64","9,140.87","9,323.69","9,510.16","9,700.36","9,894.37","10,092.26","10,294.10","10,499.99"
Insurance,"7,590.16","7,741.96","7,896.80","8,054.74","8,215.83","8,380.15","8,547.75","8,718.71","8,893.08","9,070.94","9,252.36","9,437.41"
Repairs And Maintenance,"8,262.68","8,427.93","8,596.49","8,768.42","8,943.79","9,122.67","9,305.12","9,491.22","9,681.05","9,874.67","10,072.16","10,273.60"
Utilities,"7,537.97","7,688.73","7,842.50","7,999.35","8,159.34","8,322.53","8,488.98","8,658.76","8,831.93","9,008.57","9,188.74","9,372.52"
Stationery,"8,099.82","8,261.82","8,427.05","8,595.59","8,767.51","8,942.86","9,121.71","9,304.15","9,490.23","9,680.03","9,873.64","10,071.11"
Admin Costs,"8,134.33","8,297.02","8,462.96","8,632.22","8,804.86","8,980.96","9,160.58","9,343.79","9,530.66","9,721.28","9,915.70","10,114.02"
IT Costs,"7,668.02","7,821.38","7,977.81","8,137.36","8,300.11","8,466.11","8,635.44","8,808.14","8,984.31","9,163.99","9,347.27","9,534.22"
Masawara Mgt Fee,"7,619.57","7,771.96","7,927.40","8,085.95","8,247.67","8,412.62","8,580.87","8,752.49","8,927.54","9,106.09","9,288.21","9,473.98"
Fines And Penalties,"7,231.97","7,376.61","7,524.14","7,674.62","7,828.12","7,984.68","8,144.37","8,307.26","8,473.41","8,642.87","8,815.73","8,992.05"
Total Office Costs,"78,339.06","79,905.84","81,503.96","83,134.04","84,796.72","86,492.65","88,222.51","89,986.96","91,786.69","93,622.43","95,494.88","97,404.77"
PROFESSIONAL FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auditors Remuneration,"7,112.63","7,254.88","7,399.98","7,547.98","7,698.94","7,852.92","8,009.98","8,170.18","8,333.58","8,500.25","8,670.26","8,843.66"
Legal Fees,0,0,0,0,0,0,0,0,0,0,0,0
Strategic Expenses,0,0,0,0,0,0,0,0,0,0,0,0
Directors Fees,"7,728.71","7,883.28","8,040.95","8,201.77","8,365.80","8,533.12","8,703.78","8,877.86","9,055.42","9,236.52","9,421.25","9,609.68"
Consultancy Fees,"6,992.61","7,132.46","7,275.11","7,420.61","7,569.03","7,720.41","7,874.81","8,032.31","8,192.96","8,356.82","8,523.95","8,694.43"
Total Professional Fees,"21,833.95","22,270.63","22,716.04","23,170.36","23,633.77","24,106.45","24,588.57","25,080.35","25,581.95","26,093.59","26,615.46","27,147.77"
COMMUNICATION COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telephones,"8,847.99","9,024.95","9,205.45","9,389.56","9,577.35","9,768.90","9,964.27","10,163.56","10,366.83","10,574.17","10,785.65","11,001.36"
Cellphones,"7,549.19","7,700.17","7,854.18","8,011.26","8,171.49","8,334.92","8,501.61","8,671.65","8,845.08","9,021.98","9,202.42","9,386.47"
Internet,"8,972.94","9,152.40","9,335.45","9,522.16","9,712.60","9,906.85","10,104.99","10,307.09","10,513.23","10,723.49","10,937.96","11,156.72"
Courier,"7,590.67","7,742.48","7,897.33","8,055.28","8,216.39","8,380.71","8,548.33","8,719.29","8,893.68","9,071.55","9,252.98","9,438.04"
Total Communication Costs,"32,960.79","33,620.01","34,292.41","34,978.25","35,677.82","36,391.38","37,119.20","37,861.59","38,618.82","39,391.20","40,179.02","40,982.60"
MOTOR VEHICLE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel,"8,027.74","8,188.29","8,352.06","8,519.10","8,689.48","8,863.27","9,040.54","9,221.35","9,405.78","9,593.89","9,785.77","9,981.49"
Motor Vehicle Maintenance Costs,"8,277.98","8,443.54","8,612.41","8,784.66","8,960.35","9,139.56","9,322.35","9,508.80","9,698.97","9,892.95","10,090.81","10,292.63"
Total Motor Vehicle Costs,"16,305.72","16,631.83","16,964.47","17,303.76","17,649.84","18,002.83","18,362.89","18,730.15","19,104.75","19,486.84","19,876.58","20,274.11"
OTHER COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation,"14,500.00","12,475.00","10,786.25","9,368.69","8,171.22","5,904.90","5,314.41","4,782.97","4,304.67","3,874.20","3,486.78","3,138.11"
Bank Charges,"7,884.26","8,041.95","8,202.78","8,366.84","8,534.18","8,704.86","8,878.96","9,056.54","9,237.67","9,422.42","9,610.87","9,803.09"
Zimnat Grp Shared Costs Recovery Exp,"8,643.31","8,816.18","8,992.50","9,172.35","9,355.80","9,542.91","9,733.77","9,928.45","10,127.02","10,329.56","10,536.15","10,746.87"
Bad Debts Provision,159.95,"2,229.90","2,289.85","-1,780.20",419.75,"1,719.70","2,069.65","4,164.60","2,874.55","5,899.50","2,799.45",99.40
Business Acquisition,"1,620.00","2,025.00","2,484.00","2,760.00","3,312.00","3,366.00","3,927.00","4,207.50","4,275.00","4,275.00","4,275.00","4,275.00"
Total Other Costs,"32,807.52","33,588.02","32,755.38","27,887.68","29,792.94","29,238.37","29,923.79","32,140.05","30,818.90","33,800.68","30,708.25","28,062.46"
TOTAL EXPENSES,"328,361.13","324,777.94","335,307.30","352,240.29","340,610.45","357,519.56","360,517.70","373,166.43","383,127.98","383,361.09","399,271.02","375,221.54"
EBIDTA,"-318,242.01","-213,124.93","-112,507.44","-17,399.53","69,826.68","115,583.62","166,215.25","206,966.47","282,821.83","393,947.22","538,942.21","727,970.50"
INVESTMENT INCOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rental Income,0,0,0,0,0,0,0,0,0,0,0,0
Interest Received,0,0,0,0,0,0,0,0,0,0,0,0
Dividends Received,0,0,0,0,0,0,0,0,0,0,0,0
Fair Value Adjustments,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Inv Properties,0,0,0,0,0,0,0,0,0,0,0,0
Realised Gains On Disposal Of Equities,0,0,0,0,0,0,0,0,0,0,0,0
Exchange Gains/(Losses),0,0,0,0,0,0,0,0,0,0,0,0
Admin Fees,0,0,0,0,0,0,0,0,0,0,0,0
Total Investment Income,0,0,0,0,0,0,0,0,0,0,0,0
FINANCE COSTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finance Costs,"67,811.10","67,811.10","67,811.10","67,486.10","67,486.10","65,680.36","65,680.36","64,430.36","54,013.69","54,013.69","53,430.36","45,180.36"
Third Party,0,0,0,0,0,0,0,0,0,0,0,0
Total Finance Costs,"67,811.10","67,811.10","67,811.10","67,486.10","67,486.10","65,680.36","65,680.36","64,430.36","54,013.69","54,013.69","53,430.36","45,180.36"
PROFIT / (LOSS) BEFORE TAX,"-386,053.12","-280,936.03","-180,318.54","-84,885.63","2,340.58","49,903.27","100,534.89","142,536.11","228,808.14","339,933.53","485,511.85","682,790.14"
Taxation,0,0,0,0,0,0,0,0,0,0,0,0
2% Taxation,"8,622.15","9,638.89","10,834.13","10,376.71","10,154.90","12,450.89","12,153.75","15,507.57","21,280.99","18,646.85","20,678.86","24,463.86"
PROFIT/(LOSS) FOR PERIOD,"-394,675.27","-290,574.93","-191,152.67","-95,262.34","-7,814.32","37,452.37","88,381.14","127,028.54","207,527.15","321,286.68","464,832.99","658,326.28"

## **Loan Book**

In [282]:
loan_book_df = direct_cashflow.generate_loan_book_template(
    valuation_date=VALUATION_DATE, months_to_forecast=MONTHS_TO_FORECAST
)
loan_book_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
Opening Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
New Disbursements,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Capital Repayments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Closing Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Insert Loan Book Items**

In [283]:
loan_book_df = direct_cashflow.insert_loan_book_items(
    loan_book=loan_book_df, 
    opening_balance_on_loan_book=float(opening_balances['LOAN_BOOK'].iat[0]), 
    capital_repayment=capital_repayment, 
    disbursements=new_disbursements_df['total'].reindex(new_disbursements_df['total'].index.strftime('%b-%Y'))
)
loan_book_df

,Jan-2023,Feb-2023,Mar-2023,Apr-2023,May-2023,Jun-2023,Jul-2023,Aug-2023,Sep-2023,Oct-2023,Nov-2023,Dec-2023
Opening Balance,"2,800,000.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
New Disbursements,"490,000.00","592,000.00","706,000.00","610,000.00","622,000.00","712,000.00","808,000.00","1,010,000.00","1,160,000.00","1,450,000.00","1,585,000.00","1,585,000.00"
Capital Repayments,884.89,"57,064.61","130,066.30","219,706.55","298,143.94","381,231.98","480,117.56","514,505.17","557,928.09","609,402.17","711,656.07","842,349.66"
Closing Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Calculate Opening and Closing Balances for Loan Book**

In [323]:
loan_book_df = direct_cashflow.calculate_opening_and_closing_balances_for_loan_book(
    loan_book_df
)

loan_book_df

,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12
Opening Balance,"2,800,000.00","3,290,884.89","3,939,949.50","4,776,015.80","5,605,722.35","6,525,866.29","7,619,098.27","8,907,215.83","10,431,721.00","12,149,649.10","14,209,051.27","16,505,707.34"
New Disbursements,"490,000.00","592,000.00","706,000.00","610,000.00","622,000.00","712,000.00","808,000.00","1,010,000.00","1,160,000.00","1,450,000.00","1,585,000.00","1,585,000.00"
Capital Repayments,884.89,"57,064.61","130,066.30","219,706.55","298,143.94","381,231.98","480,117.56","514,505.17","557,928.09","609,402.17","711,656.07","842,349.66"
Closing Balance,"3,290,884.89","3,939,949.50","4,776,015.80","5,605,722.35","6,525,866.29","7,619,098.27","8,907,215.83","10,431,721.00","12,149,649.10","14,209,051.27","16,505,707.34","18,933,057.01"

## **Balance Sheet**

In [326]:
from enum import Enum

class FinalFiles(str, Enum):
    income_statement_df = "income_statement_df"
    direct_cashflow_df = "direct_cashflow_df"
    loan_book_df = "loan_book_df"

# Convert the enum to a dictionary
final_files_dict = [item.value for item in FinalFiles]

print(final_files_dict)

['income_statement_df', 'direct_cashflow_df', 'loan_book_df']

In [328]:
get_list_from_string_enum(FinalFiles)

['income_statement_df', 'direct_cashflow_df', 'loan_book_df']